[2015-07-31 08:56] Orbiter commented on #411
To see where this is leading: feature https://github.com/loklak/loklak_webclient/issues/412 will add a 'Follow' - button on that page. It is therefore important that the page is compsed of components where it is easy to add content (the button) inside the page.

[2015-07-31 09:55] Orbiter commented on #346
I just tested this and the behaviour did not change at all. Please point me to the commit where you 'fixed' this.

[2015-07-31 10:01] Orbiter commented on #180
As the 'ongoing' and 'with high priority' means: you cannot close this issue until the end of development as it applies for the final version.

[2015-07-31 10:13] Orbiter commented on #346
The same behaviour can be seen on the 'videos' view, but not on the 'photos' view where it works correctly.

[2015-07-31 13:56] fuksi commented on #346
The old solution in in here, on line 36-38 : https://github.com/loklak/loklak_webclient/blob/master/app/js/directives/globalSearchForm.js

However the solution seems obsolete with many cases. I found a way to deal with removing old map. Will create a PR today, possibly along with the solution for behavior in `videos` filter.

[2015-07-31 16:01] zyzo commented on #324
Thanks for the reference. It surely makes sense to set some fixed values for update frequency. About lifetime, I don't really understand the use case. @Orbiter could you provide some inputs so I can finely tune implementation of lifetime field ?

Another interesting thing is the test button to validate the url. As validation using json schema is already there this feature should cause no challenge

[2015-07-31 16:45] aneeshd16 commented on #407
@mariobehling, will do.
However, the card layout is buggy, and I wouldn't recommend using it as of now.

[2015-07-31 18:36] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/d5e64cc360b4c72e33c666d5b94c8eef14be4436

[2015-07-31 18:49] fuksi opened #413 "Inspect/Reproduce error on live"
When open `/map` view on live, markers are not showing up, and the error in console log is
[code]
According the debugging instructions [link](https://github.com/Leaflet/Leaflet/issues/826), it is implemented the right way at lines 65-70: https://github.com/loklak/loklak_webclient/blob/master/app/js/services/mapcreation.js

I wasn't able to find the bug on live...yet. Meanwhile, it works fine at lo

[2015-08-01 06:20] mariobehling commented on #97
Suggestion by @sudheesh001
<img width="1440" alt="screen-shot-2015-08-01-at-11 33 55-am" src="https://cloud.githubusercontent.com/assets/1583873/9020865/04528156-3826-11e5-9379-569dd2b09aae.png">

Your solution also results in more clicks and I have no clue what are "large attachments". Please follow twitters design.

Please create a mockup before you implement things.

[2015-08-01 06:36] mariobehling commented on #93
Still does not work for me

Step 1: I click "location"
![screenshot from 2015-08-01 08 32 01](https://cloud.githubusercontent.com/assets/1583873/9020909/46aa9492-3828-11e5-9ae4-fc326df92ffe.png)

Step 2: I activate share location
![screenshot from 2015-08-01 08 32 47](https://cloud.githubusercontent.com/assets/1583873/9020910/57079c0e-3828-11e5-9a9e-6de68c07e6ee.png)

Step 3: Nothing happens

[2015-08-01 07:17] mariobehling commented on #93
Just to clear this up: There are two distinct features
1. An "Add location" service, which is exactly the same as twitters "add location" to a tweet
2. An Attach map function, which is just like attaching an image to a tweet, but we attach an embedded map, that we show in loklak tweets (and we generate a photo for twitter when we crosspost it to twitter) Map attachments are discussed here: https:/

[2015-08-01 07:28] mariobehling opened #414 "Attach Map to a Tweet"
Getting more into details based on https://github.com/loklak/loklak_webclient/issues/97

Goal of the attachments of a map is: To show a map anywhere in the world as an attachment below a tweet (similar to an image). Use cases are for example - the user wants to show a location of a meetup. Things to consider:
* [x] User clicks button "Attach Map"
* [x] An expand area opens with OpenStreetMap below

[2015-08-01 07:32] sudheesh001 commented on #414
The last time I spoke @Orbiter wanted the location of the user to be tweeted instead of the user setting a location, the latitude and longitude are taken and plotted

[2015-08-01 07:34] mariobehling commented on #414
You are mixing everything up and discussing this at the wrong place. What you are writing above is not relevant at all in this issue. It seems like you have not understood the goal at all.

[2015-08-01 07:34] sudheesh001 commented on #414
The goal is to send an attachment to twitter of a map. If this is the way that has to be done, it'll be done this way.

[2015-08-01 07:37] mariobehling commented on #414
It is not "The Way" - this is one feature and you are talking about another feature. Repeat again "add location" and "attach map" are two different things.

[2015-08-01 10:47] sudheesh001 commented on #93
Fixes https://github.com/loklak/loklak_webclient/issues/357 and https://github.com/loklak/loklak_webclient/issues/93   Fixed with https://github.com/loklak/loklak_webclient/commit/9133cb5833d3e21dbab941de080282575b3ddd72

1. Get location
<img width="605" alt="screen shot 2015-08-01 at 3 52 02 pm" src="https://cloud.githubusercontent.com/assets/4545925/9021563/eb6978ee-3865-11e5-825d-86329b896701.p

[2015-08-01 12:07] mariobehling commented on #93
1. How do you get the location? It does not work here on Firefox on test.loklak.net. Please provide a link to live system with your changes.
2. How can the user correct the location if necessary like with twitter?
![screenshot from 2015-08-01 14 06 36](https://cloud.githubusercontent.com/assets/1583873/9021790/8c04fd92-3856-11e5-8381-f549b77110c1.png)

[2015-08-01 12:16] mariobehling commented on #93
Please adjust the design closer to twitter
* [ ] use twitter button as in main menu including the bird
* [ ] correct the color of the buttons to blend in (like twitter)
* [ ] change "post tweet" to "Compose new Tweet"
* [ ] all buttons should have the same color
* [ ] the blue fonts of your buttons should use the same blue color as the buttons in the top navigation bar
* [ ] the 140 character coun

[2015-08-01 16:21] sudheesh001 commented on #158
No change in deployment status, no updates to deploy

[2015-08-02 11:17] mariobehling opened #416 "Display of excluded accounts in wall"
Accounts in the wall are shown despite the fact that they are excluded. See atomsoffice here.
![screenshot from 2015-08-02 13 17 26](https://cloud.githubusercontent.com/assets/1583873/9025898/ddd88270-3918-11e5-8947-956a46e8cc5d.png)

![screenshot from 2015-08-02 13 15 48](https://cloud.githubusercontent.com/assets/1583873/9025896/c8ee376a-3918-11e5-9b25-338290d7721a.png)

[2015-08-02 12:30] aneeshd16 commented on #416
@mariobehling Could you please share the URL of the wall so that I can debug this?

[2015-08-02 12:43] mariobehling commented on #416
URL of the wall: http://test.loklak.net/mariobehling/wall/EyEPDywq

[2015-08-02 12:53] aneeshd16 commented on #416
Thanks.
@Orbiter the query that is being made is http://loklak.org/api/search.json?callback=angular.callbacks._0&q=%23netzpolitik+-from:atomsoffice+-from:SEOanders+since:2015-07-01_05:30+until:2015-09-01_00:30 (I removed the `count` parameter for checking). Is this the right way to make this query?

[2015-08-02 13:38] aneeshd16 commented on #331
1366x768 (Scrollable)
![image](https://cloud.githubusercontent.com/assets/5436027/9026334/96a39490-3949-11e5-8f79-fc2025885901.png)
![image](https://cloud.githubusercontent.com/assets/5436027/9026335/9ad7493a-3949-11e5-84c4-ef8650659181.png)

1920x1080
![image](https://cloud.githubusercontent.com/assets/5436027/9026341/c064b9b2-3949-11e5-85eb-dca89690109f.png)

[2015-08-02 13:55] mariobehling commented on #331
Looks nice for me.

The follower threshhold field seems to be out of relation a bit in comparison to the other areas that are changing the size.

[2015-08-02 13:56] aneeshd16 commented on #331
Cool. Okay, will change that.

[2015-08-02 17:35] #376 closed

[2015-08-02 17:43] #305 closed

[2015-08-02 17:44] aneeshd16 commented on #158
Deployed (no change)

[2015-08-02 21:14] mariobehling commented on #329
Please check this: I uploaded an image for a wall. It all works fine. Now I create another wall without an image. When I generate the second wall suddenly the image of the previous wall is there.

[2015-08-02 21:26] mariobehling commented on #333
In the test site I see, that you moved the "Start twitter wall". I am not sure why. Also there is no more error message if I did not enter an event name.

![screenshot from 2015-08-02 23 25 34](https://cloud.githubusercontent.com/assets/1583873/9028108/ee549c38-396d-11e5-8a72-dadc10e0d234.png)

[2015-08-02 21:28] mariobehling commented on #333
The color of "Next" is also changed making the distinction of the function less visible. Please return to former way.
![screenshot from 2015-08-02 23 27 30](https://cloud.githubusercontent.com/assets/1583873/9028116/29e3a4a6-396e-11e5-8bf4-b47586502111.png)

[2015-08-02 21:33] mariobehling opened #418 "Implement Cycle/Repeat tweets in wall"
If cycle is activated please give options
* [ ] cycle delay time
* [ ] cycle post limit

![screenshot from 2015-08-02 23 30 19](https://cloud.githubusercontent.com/assets/1583873/9028132/9aade3c2-396e-11e5-864d-095e6c074349.png)

* [ ] If cycle is deactivated do not show options
![screenshot from 2015-08-02 23 30 05](https://cloud.githubusercontent.com/assets/1583873/9028141/c5ce3606-396e-11e5-974

[2015-08-02 22:00] Orbiter commented on #416
yes, thats right!
(Detail: excluding A and B for a Query X has the logic "X AND -(A OR B)" which is equal to "X AND -A AND -B")

[2015-08-02 22:39] fuksi commented on #413
I was able to diagnose why markers are not showings on test.loklak.live. Somehow, at the end point, the problem is related from the result of the server. This is an example result from user servlet - a following.
On TEST.LOKLAK.NET
[code]

On my remote server & localhost
[code]
Shortly about debugging the initial error (backward):
- ` iconUrl not set in Icon options` => Check the iconUrl value
- I

[2015-08-03 03:20] zyzo opened #419 "Display spinner icon in waiting state."
I think we lack a spinner icon similar to twitter when loading heavy services. In loading state, the middle-top twitter bird turns into a spinner (unable to make a screenshot since it disappears too quickly..).

 The aim is to implement the spinner icon as a reusable angular service, with simple interface. All controllers could then call the service like this :

[code]

[2015-08-03 03:25] aneeshd16 commented on #419
@zyzo, http://chieffancypants.github.io/angular-loading-bar/ has already been integrated! The spinner automatically activated when an Ajax request was made. Currently, it's hidden as the white spinner wasn't visible with our white top bar. Check out https://github.com/loklak/loklak_webclient/blob/master/app/js/routes.js#L89-L90

[2015-08-03 03:33] zyzo commented on #419
Nice. That's a way better solution. Could you help activating it ?

[2015-08-03 04:01] Orbiter commented on #413
The live server should produce the same result as your test server, the live server code is identical to the code in git.

You should not write separate code!

If you see that the result from loklak.org is different from your own server, then this is strange. Please drop the url which you used to get this result.

[2015-08-03 07:21] fuksi commented on #413
Actually you can test it straight from the browser, since user servlet is available without auth:
- Live http://loklak.org/api/user.json?callback=angular.callbacks._1&followers=500&following=500&screen_name=phucdn2005
- Same link for local:
[http://localhost:9000/api/user.json?callback=angular.callbacks._1&followers=500&following=500&screen_name=phucdn2005](http://localhost:9000/api/user.json?call

[2015-08-03 08:01] aneeshd16 commented on #377
Objectives:
If cycle is activated please give options
* [ ] cycle delay time
* [ ] cycle post limit

![screenshot from 2015-08-02 23 30 19](https://cloud.githubusercontent.com/assets/1583873/9028132/9aade3c2-396e-11e5-864d-095e6c074349.png)

* [ ] If cycle is deactivated do not show options
![screenshot from 2015-08-02 23 30 05](https://cloud.githubusercontent.com/assets/1583873/9028141/c5ce3606-3

[2015-08-03 08:02] aneeshd16 commented on #418
Duplicated issue, added comments to #377

[2015-08-03 08:02] #418 closed

[2015-08-03 08:05] aneeshd16 commented on #416
But according to the query, tweets from `atomsoffice` should be excluded, but they still appear in the results.

[2015-08-03 08:28] mariobehling opened #420 "Adjust all blue colors to match "tweet" button of start page"
It looks like there are different blue colors implement across the site. Please adjust all blue colors and fonts to match the tweet button in the connect area.

![screenshot from 2015-08-03 10 25 18](https://cloud.githubusercontent.com/assets/1583873/9033722/2ea9c6a8-39ca-11e5-8ae6-5233213da1cd.png)

[2015-08-03 08:52] aneeshd16 commented on #419
Yep, just set those values to true. https://github.com/loklak/loklak_webclient/blob/master/app/js/routes.js#L89-L90

Only problem is, both the spinner and the bar are white in colour, so you might want to change their css to a different colour to make them visible against our white topbar.

[2015-08-03 09:40] mariobehling opened #421 "Implement Activity Sidebar on Map Page as "Push Transition""
An example how the "push" transition effect can work is here: http://tympanus.net/Development/SidebarTransitions/

Use an arrow on the top to push in/out.

![screenshot from 2015-08-03 11 31 13](https://cloud.githubusercontent.com/assets/1583873/9035009/71fa300a-39d4-11e5-9315-1450c76921cf.png)

[2015-08-03 09:46] fuksi commented on #406
Done with #415

[2015-08-03 09:46] #406 closed

[2015-08-03 09:47] #403 closed

[2015-08-03 09:47] #400 closed

[2015-08-03 09:47] #359 closed

[2015-08-03 09:47] #346 closed

[2015-08-03 09:47] #162 closed

[2015-08-03 09:52] fuksi commented on #405
Currently data from Home view and Map feeds comes from Twitter API (through Hello.js). This kind of data is not supported yet on loklak. https://github.com/loklak/loklak_server/issues/94

However, I can also show pictures in map feeds as well. I'll try to abstract the implementation, so when the feature is supported from the server, this can be easily modified.

[2015-08-03 10:07] mariobehling opened #422 "Show number of followers/following and number of followers/following on the map"
Currently the number of followers is shown on the map. Some followers do not have a location. Please distinguish between all followers/following and those shown on the map, e.g. Followers 1330/723 (i)

![screenshot from 2015-08-03 11 59 32](https://cloud.githubusercontent.com/assets/1583873/9035444/17ce49f0-39d8-11e5-9e6b-656c385777cd.png)

* [x] The first number is slightly less strong and shows

[2015-08-03 10:24] Orbiter commented on #59
The supporting feature has been implemented with https://github.com/loklak/loklak_server/issues/51

I wonder why this feature has not been used so far, because it should have helped in the most cases already. I can see in the log that the proxy-servlet had not been called once ever!

Here is an example call:
http://localhost:9000/api/proxy.png?screen_name=loklak_app&url=https://pbs.twimg.com/profi

[2015-08-03 10:29] mariobehling opened #423 "Show account with both followers/following if they are both followers and being followed"
Currently the map displays account info as only followers or following even if they are both. Also there is no account info.

![screenshot from 2015-08-03 12 25 25](https://cloud.githubusercontent.com/assets/1583873/9035758/2a99eaf0-39db-11e5-8992-5e77727d83d3.png)

![screenshot from 2015-08-03 12 25 42](https://cloud.githubusercontent.com/assets/1583873/9035753/223cf01e-39db-11e5-9fa7-1f73e608c0e

[2015-08-03 10:45] mariobehling commented on #59
@Orbiter M3 is closed. So, I moved it to M3.5.

[2015-08-03 10:50] Orbiter commented on #413
I can reproduce this. That is really strange. I just checked if this `profile_image_url` is overwritten anywhere, but is not. I cannot see a cause why these results are different. Right now I can just suggest that you test if the value from `profile_image_url` starts with `htttp://` and if not, take the url from `profile_image_url_https`. I will continue looking for a cause, but right now I don't

[2015-08-03 10:53] mariobehling commented on #245
There is a security issue. After I log out, I still have access to the map with followers and all tweets. This feature could be still available in the search, but it should not be available on the user account map anymore.

![screenshot from 2015-08-03 12 51 05](https://cloud.githubusercontent.com/assets/1583873/9036126/aa8c9d4a-39de-11e5-9844-0bb21140596b.png)

[2015-08-03 11:12] sudheesh001 commented on #420
For simplifying the work, the color is #55acee
I hope that helps @zyzo

[2015-08-03 11:17] sudheesh001 commented on #59
I think this is already implemented, any images which fail to load, use the image at
http://test.loklak.net/images/anon_200x200.png as a failover.

@fuksi Please confirm.

[2015-08-03 11:24] mariobehling opened #424 "Do not show features for logged in users for anonymous users and implement general search page"
* [x] Do not display options that are only available for loggedin users: home, map, wall, connect
* [x] Show search page as home page for non logged in users as below
* [x] Show search results as for logged in users, but without home, map, wall, connect
* [x] Show a trends area below
* [x] Display overlay "login" on search page if there is no activity for 7 seconds
* [x] Add search operator overla

[2015-08-03 11:29] Orbiter commented on #330
I just added the definition how to add / hide retweets, for details please see https://github.com/loklak/loklak_server/issues/81
You can implement the given rule independently of the development status of https://github.com/loklak/loklak_server/issues/81
- if 'Hide retweets' is set to NO: add the term `include:retweets` to the search terms
- if 'Hide retweets' is set to YES: do not modify the sear

[2015-08-03 11:57] Orbiter commented on #305
I will add a 'checked' mark without testing the implementation because the feature has changed so much that a test against the description does not makes sense.

[2015-08-03 12:07] Orbiter opened #425 "turn off browser built-in autocomplete for input field which are supported by loklak autocompletes"
With https://github.com/loklak/loklak_webclient/issues/162 autocomplete was implemented which is working fine. However, my firefox browser suggests input values on it's own which causes an overlay of both suggestions. The browser suggestions partly overlays the loklak suggestions and makes them unavailable.
<img width="605" alt="doublesuggestions" src="https://cloud.githubusercontent.com/assets/23

[2015-08-03 12:15] fuksi commented on #413
I actually used `profile_image_url_https`. The field wasn't there yesterday, hence the error. But now it's there so we're good to go now.

[2015-08-03 12:15] #413 closed

[2015-08-03 14:11] aneeshd16 commented on #333
I changed the colour of the next button. The reason why I moved the "Start wall" button is because I will be soon be implementing #334 and it would look like this:
![image](https://cloud.githubusercontent.com/assets/5436027/9039211/98675d38-3a17-11e5-97c8-fd1cfe9fba0e.png)

[2015-08-03 14:22] mariobehling commented on #333
Ok, I see. Well, let's not overwhelm the user with options. These are too many prominent buttons.

1. [ ] If the user does not want to save the wall on the top right is an X. (Tweetwall does not have it, but we do.) So this will let us have one button less - no need for "close without saving"
2. [ ] In Step "Info" and "Content" the user has not chosen the design. Hence, please take out the button

[2015-08-03 14:24] aneeshd16 commented on #333
I see. Sounds good.

[2015-08-03 14:30] aneeshd16 commented on #420
Is it okay if we override the style for `btn-primary` with our colour (`#55acee`)

[2015-08-03 14:41] aneeshd16 commented on #333
As for leaderboard type, there is nothing like that in the server. The leaderboard lists the top hashtags and top twitterers.
From tweetwall:

Cannot be done right now. Details: https://github.com/loklak/loklak_server/issues/81#issuecomment-127195960

This is what we have.

 This would be too slow and would take a lot of resources just to display this.

[2015-08-03 14:46] mariobehling commented on #262
Please add this trend section to the left sidebar at the search site as well, e.g. http://test.loklak.net/search?q=loklak here on the left.

[2015-08-03 14:49] mariobehling commented on #420
Which CSS is the btn-primary? Where did it come from? If this is a css that we make, please override. If this is something we take from another source, please check what other solution we have, e.g. a seperate CSS we can all follow.

[2015-08-03 14:53] aneeshd16 commented on #420
btn-primary is from bootstrap's CSS. True, we can override that, or create a custom class `btn-custombutton` which we apply to all our buttons. The advantage in overriding `btn-primary` is that no changes would have to be done in our views, all blue buttons will be changed to  `#55acee` with a 1-line change in our CSS file.

[2015-08-03 15:03] mariobehling commented on #420
With override, you mean change bootstrap CSS, right? With the next update of bootstrap we have to change that again. Please use for all custom styles a separate CSS that stores our styles. Please reuse these custom styles across the site.

[2015-08-03 15:04] zyzo commented on #420
@aneeshd16 I think it is best to create a new custom class to make it easy to change & customize later. It shouldn't take too much time to do so.

[2015-08-03 15:05] zyzo commented on #420
About the name, I'm thinking `btn-loklak-blue`. Please go ahead if you have any other suggestion.

[2015-08-03 15:06] mariobehling opened #426 "Implement "Account" Search and show accounts as in twitter"
The account search currently works different to twitter. Please discuss what is required to change that to the same way and implement it.

[2015-08-03 15:06] aneeshd16 commented on #420
`btn-loklak-blue` sounds good. :)

[2015-08-03 16:28] aneeshd16 commented on #329
@mariobehling I could not reproduce this. Can you give me the exact steps please?

[2015-08-03 16:32] mariobehling commented on #329
Ok, seems to be solved now. But at the moment tweets are not loading on any wall.
Also I get an error message from Firefox preventing the new tab for the wall.
![screenshot from 2015-08-03 18 31 48](https://cloud.githubusercontent.com/assets/1583873/9042296/10044126-3a0e-11e5-9739-16107f578a18.png)

[2015-08-03 16:39] aneeshd16 commented on #329
This is quite strange, as I have not changed that part of the code which opens these tabs. They are simple hyperlinks with `target=_blank`. If this problem was not appearing earlier, there should be no reason it is happening now unless the browser settings have changed.

Also, I just tried it in firefox and could not reproduce this.

[2015-08-03 16:40] mariobehling commented on #329
Ok, the walls are back. Seems it was a temporary glitch. Please check the wall on Fx. It might have been related to another code change.

[2015-08-03 18:08] fuksi opened #428 "Implement embed contents in home view like in search"
The implementation might be different from search view since the data are from Twitter API, not loklak, so
- Try to abstract the implementation so that when data source changes, the mark up doesn't
- Find the mininum number of tweets to show at init for a faster experience

[2015-08-03 18:18] #332 closed

[2015-08-03 18:18] #333 closed

[2015-08-03 18:56] #312 closed

[2015-08-03 22:19] mariobehling commented on #428
The goal is to generate the same view as in search with the same technology.

[2015-08-04 10:59] mariobehling commented on #311
To clarify, this should go to loklak.net/map as an option for the map.

![screenshot from 2015-08-04 12 52 46](https://cloud.githubusercontent.com/assets/1583873/9059251/9579de84-3aa8-11e5-94fb-3bb0805f4ab7.png)

[2015-08-04 12:43] mariobehling opened #430 "Map: Click on user tweet in activity feed does not show location"
Even though the user is listed on the site, it does not show up on the map.
![screenshot from 2015-08-04 14 40 29](https://cloud.githubusercontent.com/assets/1583873/9060761/1539dff8-3ab7-11e5-9664-a605a871d6e5.png)

[2015-08-04 12:48] mariobehling commented on #430
The question here is also, do we want the tweet to appear in the location of the user or do we want the tweet to use its own location - the tweet location.

[2015-08-04 14:50] aneeshd16 commented on #330
Added `include:retweets` when "Block retweets" is set to "No". Can be tested on live.

[2015-08-05 01:43] sudheesh001 commented on #158
Deployed at 8f456cacbd6d1e79092f2801825ba608aaa7b08e

[2015-08-05 03:07] aneeshd16 opened #431 "Map Layout in Wall"
Requirements:
* [ ] Accept a city/place in the wall creation phase
* [ ] Make a UI for setting a bounding box to restrict tweets within a particular area
* [x] Add the `/location` parameter when doing a search when the map layout is selected
* [x] Proposed Strategy: Load 10 tweets (pins) at every `refreshTime` (`refreshTime` is calculated in the usual way). Pins start dropping and accumulating on

[2015-08-05 04:22] prasht63 commented on #311
@mariobehling The map you see in analyze https://github.com/loklak/loklak_webclient/pull/429#issue-98835173 is not actually a map but a geochart.Its not possible to integrate it with maps as an overlay since leaflet does not support that.

[2015-08-05 06:30] zyzo commented on #420
Fixed in #427

[2015-08-05 06:30] #420 closed

[2015-08-05 08:12] mariobehling commented on #311
@prasht63 It does not make sense not to be able to display this info on our standard map. We do not need an UI that works differently on each page and follows different concepts.

The solution would be to identify the relevant technology that can help us to get this feature.

[2015-08-05 08:45] prasht63 commented on #311
I am looking for someway through which this can be done.
On Aug 5, 2015 1:42 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-08-05 09:42] Orbiter opened #432 "If the search input box has no focus (cursor not in box) then do not show suggestions"
currently, if a search was done, there is no focus on the search box (which is correct), the search result page is shown (correct) but search suggestions are showed below the search box and this overlaps with the search result, see example:
![suggestionsoverlap](https://cloud.githubusercontent.com/assets/238730/9082850/f0b9c85e-3b66-11e5-905b-d13edf87d6cd.PNG)

Please do not show the suggestions i

[2015-08-05 10:13] mariobehling commented on #431
Great sum up!

[2015-08-05 13:35] mariobehling opened #433 "Loklak Widgets Ideas and Implementation"
What widgets can be implemented with the data we collect in loklak? Please add more ideas.

User related
* [ ] country wise followers
* [ ] region wise followers
* [ ] city wise followers
* [ ] followers distribution (percentage wise distribution of followers)
* [ ] most influential followers/following (with the most followers)
* [ ] language wise distribution of followers

Trends
* [ ] trends of

[2015-08-05 14:43] Orbiter commented on #433
I don't understand the trends completely. What does it show?

To produce the necessary startistics, there are two servlets
- the /api/user.json: the front-end must evaluate (count!) the properties from the result set themself
- the /api/search.json: the aggregations for the statistics are provided by elasticsearch, use the 'fields' attributes as described in the api doc for "Search Result Aggregat

[2015-08-05 15:06] mariobehling commented on #433
Trends: Twitter shows top hashtags and regular words in tweets of all or of a regional group of users. With the data in loklak we could also generate that information for a single user.
![screenshot from 2015-08-05 17 03 30](https://cloud.githubusercontent.com/assets/1583873/9089207/437b6296-3b94-11e5-949a-41f8feb5f725.png)

[2015-08-05 15:08] mariobehling commented on #433
We can always implement a view "more" link, that creates an overlay lightbox with more items.
In this issue here, I would like to understand if there are more widgets that would be interesting and possible with the loklak data set.

[2015-08-05 16:36] aneeshd16 commented on #158
Already up to date.

[2015-08-05 20:07] Orbiter opened #434 "Twitterwall+Map: tweets do not appear correctly over marker on map"
The tweets appears not correctly centered over the marker, see screenshot:
<img width="540" alt="mapmarker" src="https://cloud.githubusercontent.com/assets/238730/9096583/45e18be4-3bbe-11e5-9f41-a69c6d71c7b4.png">
The marker and the tip of the arrow below the pop-up tweet must align vertically.

[2015-08-05 23:55] fuksi commented on #422
Instead of click on (i), the hint will show/hide on hover in/hover out. I think it's more UX friendly.

[2015-08-06 05:53] mariobehling opened #436 "Leaderboard upgrade including three column layout and top mentions"
* [ ] Increase number of top twitterer etc. to six and adapt the design accordingly
* [ ] Change to a three column leaderboard layout and include Top mentioned
* [ ] Propose a way to deal with long hashtags, that do not currently fit into the design
* [x] Look into faster loading leaderboard options

[2015-08-06 15:02] Orbiter opened #437 "Cross-Posting Message Format Description"
This is a general description for all cross-posting requirements as mentioned in https://github.com/loklak/loklak_webclient/issues/355 https://github.com/loklak/loklak_webclient/issues/97 https://github.com/loklak/loklak_webclient/issues/94 https://github.com/loklak/loklak_webclient/issues/63

This feature is supported by the push api as described in http://loklak.org/api.html#push and with the ne

[2015-08-06 15:32] Orbiter commented on #437
Please note that `created_at` value submitted to the push api should be identical to the date of the twitter-message, not just the current date.
Please also note that I removed the `provider_type` field, this will be set automatically. You don't need to submit it, it will be overwritten.

[2015-08-06 18:25] prasht63 commented on #284
closing this as already implemented on /map

[2015-08-06 18:25] #284 closed

[2015-08-07 06:38] mariobehling opened #438 "Define and integrate reports in search"
Reports can be created for a user, hashtags, words and many other things. We need to define widgets for different search options and what information will be rendered in the according report. E.g. let's say the user types in a random search term. What will the report render? Or the user defines a search with a user, what will the report display?

[2015-08-07 09:50] sudheesh001 opened #439 "Allow user to type in location name from tweet box in tweet location"
This is the same feature as already implemented in the advanced-search for location suggestions which requests the `getLocationSuggestions()` as we type, what would be the best method to reuse the suggest service ?

[2015-08-07 10:33] #287 closed

[2015-08-07 14:55] prasht63 commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/98442e54a1689ac5d53090d33ee11a266bc5cfb7

[2015-08-07 16:02] #93 closed

[2015-08-07 16:02] #262 closed

[2015-08-07 16:02] #355 closed

[2015-08-07 16:06] prasht63 commented on #225
@fuksi I am trying to implement Angel.co authorisation via their oAuth server.Guidelines here https://angel.co/api/oauth/faq . I get the code from the first step then I send a post request as they have said, to which I get a response status of 0. The code is in https://github.com/loklak/loklak_webclient/tree/Angel-oAuth branch. Ways to test . go to data connect, click on the link Angel.co and see

[2015-08-07 16:37] sudheesh001 commented on #414
Fixed via https://github.com/loklak/loklak_webclient/pull/402

[2015-08-07 16:37] #414 closed

[2015-08-07 16:38] sudheesh001 commented on #396
Fixed via https://github.com/loklak/loklak_webclient/pull/402

[2015-08-07 16:38] #396 closed

[2015-08-07 17:50] #357 closed

[2015-08-07 17:51] #95 closed

[2015-08-07 17:52] sudheesh001 commented on #391
No issues found with the regexes. Please reopen in case these similar filter issues are encountered.

[2015-08-07 17:52] #391 closed

[2015-08-07 17:54] sudheesh001 commented on #94
Markdown tool integrated. Highlight.js library included. Opened issue https://github.com/loklak/loklak_server/issues/102 related to this.

[2015-08-08 06:48] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/b0b71550363c42f64770c744770efc43371e2e06

[2015-08-08 07:30] fuksi commented on #430
The feeds are coming from Twitter API (loklak is not supported yet). The tweet itself does not have a location. The way it works at the moment is
1. Click on a feed => check the user of that feed
2. Find that user on the map
3. Open the popup

So if sth failed, that would be on step 2. The most stable way to solve this is that: all results from e.g.
http://localhost:9000/api/user.json?screen_name=

[2015-08-08 07:30] #430 closed

[2015-08-08 07:32] fuksi commented on #425
I don't see it's happening in my browsers. Added patch anyway  #435

[2015-08-08 07:32] #425 closed

[2015-08-08 07:32] fuksi commented on #424
Added in #435. Can test on test.loklak.net

[2015-08-08 07:33] fuksi commented on #421
Added in #435

[2015-08-08 07:33] #421 closed

[2015-08-08 07:33] fuksi commented on #422
Added in #435

[2015-08-08 07:33] #422 closed

[2015-08-08 07:47] fuksi commented on #59
This is already implemented with user.json servlet. It's working alright. After a search, If img src failed. A request is made to user servlet to get a working url. I believe this servlet is getting data from twitter as well :)
![image](https://cloud.githubusercontent.com/assets/6878677/9149615/a0c64600-3dba-11e5-8b84-08ec8c29ad06.png)

[2015-08-08 07:47] #59 closed

[2015-08-08 07:47] fuksi commented on #245
This is solved with https://github.com/loklak/loklak_webclient/issues/424

[2015-08-08 07:47] #245 closed

[2015-08-08 07:54] aneeshd16 commented on #416
@Orbiter bump

[2015-08-08 07:56] fuksi commented on #408
This is implemented.
- The client can do authorized request to the oauth proxy with 4 params: `servlet`, `screen_name`, `oauth_token`, `oauth_token_secret`. Service code  https://github.com/loklak/loklak_webclient/blob/master/app/js/services/authorized-search.js
- The proxy will pass a request along to the according servlet, which is only `account.json` for now. Line 42-63 in https://github.com/lo

[2015-08-08 08:11] aneeshd16 commented on #408
Suggestion, if we make this into a middleware, it can be used for other routes as well. For example, we define a function:
[code]
After that we can use this in any route.
For example, this is the handler for reading a wall object
[code]

[2015-08-08 08:30] mariobehling commented on #424
* [ ] This needs to be more defined in detail: The idea here is to display the login for users who have not been active. Once a user has been active, do not display the login again, e.g. on the search page itself.

![screenshot from 2015-08-08 10 02 40](https://cloud.githubusercontent.com/assets/1583873/9149681/dba32d52-3db4-11e5-8410-c2bf858320ff.png)

* [ ] Wall page and connect are still availa

[2015-08-08 09:36] mariobehling commented on #292
Implementation is not thought through and gets in the way of the user.
* [ ] Share location appears even for not logged in users. Currently we dont need this feature for those users.
* [ ] Share location appears on different pages, where it is not needed.
* [ ] It seems like in many cases the browser does not remember after share location was activated.

[2015-08-08 12:12] aneeshd16 commented on #431
Map prototype: http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/VJRDSK_c
The map automatically pans so that the marker and the popup are in the center. If this is okay, I will proceed with this, otherwise I can revert back to the old static map.

[2015-08-08 12:18] mariobehling commented on #431
Very nice. At the moment looks like the arrow points are not all displayed yet and seem a bit off location.

Please also use complete available screen area. (see screenshot in red.)
![screenshot from 2015-08-08 14 16 18](https://cloud.githubusercontent.com/assets/1583873/9150422/4dcd3f3a-3dd8-11e5-846f-e14523de8f16.png)

[2015-08-08 12:34] mariobehling commented on #431
The account maps show a picture of the account instead of a marker. I think that is pretty nice.

![screenshot from 2015-08-08 14 33 21](https://cloud.githubusercontent.com/assets/1583873/9150479/98a05b30-3dda-11e5-82e5-43c1487dd7e6.png)

[2015-08-08 16:47] sudheesh001 commented on #292
Since the location is integrated with the tweet functionality and like twitter, a user can open up the tweet box from anywhere during his browsing experience, the share location appears on all pages. This can be fixed using the procedure that users who aren't logged in, need not see this.

I tested this on both chrome and Firefox, There's a small crosshair picture that appears in the URL bar indic

[2015-08-08 17:14] mariobehling commented on #292
Please only activate "share location" when a user actually pushes the "tweet button" and a tweet field opens.

[2015-08-08 18:37] aneeshd16 commented on #431
Done, http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/VJRDSK_c

A lot of markers are around the same area, so some of those are hidden by the marker that is in the front. I want to bring that marker to the front when the popup is opened. @fuksi @prasht63 Any ideas?
Link: http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/4JnIHY_5

[2015-08-08 18:45] aneeshd16 commented on #431
Number of tweets to be displayed at a time has been set to 20. Whenever, the total number crosses 20, the least recent tweet is deleted.

[2015-08-08 19:42] Orbiter commented on #416
this is a bug in the query parser of loklak_server. It is currently only able to include one from-modifier, not two. I am fixing this.

[2015-08-08 19:47] Orbiter commented on #306
As far as my experiences with the deletion option in twitter are: there are some misterious rule if and when I am allowed to delete a tweet. Sometimes this works, sometimes not. We must define our own rules.

Then, a deletion in loklak_server is difficult. As soon as a tweet is received, it is stored in the dump file and dump files are always shared. That looks like a deletion does not make sense

[2015-08-08 20:26] Orbiter commented on #306
fix is up!

[2015-08-08 20:26] Orbiter commented on #416
fix is up!

[2015-08-09 05:39] sudheesh001 commented on #437
@Orbiter For a tweet this is the response I can provide after posting to twitter, what are the fields you'd need here ? Is there anything other than
[code]
I also noticed that the `created_at` value needs a response like `2015-03-03T19:30:43.000Z`, Can the server also handle the response as `Sun Aug 09 05:33:46 +0000 2015`
[code]

[2015-08-09 05:46] sudheesh001 commented on #158
Deployment remains at b0b71550363c42f64770c744770efc43371e2e06

[2015-08-09 06:34] aneeshd16 commented on #416
@mariobehling Please check, this should be fixed. No change was required client side.

[2015-08-09 14:12] Orbiter opened #442 "Make number of Top-Twitterers and Top-Hashtags configurable"
If we start a wall with statistics, then we see exactly three top twitterers and three top hashtags in the right column. I believe this is not enough and there is also space left!

<img width="1336" alt="more-top-on-wall" src="https://cloud.githubusercontent.com/assets/238730/9155228/480b823a-3eb1-11e5-9e44-1828ff6327f7.png">

Because we don't know how much more would fit there, it would be nice t

[2015-08-09 14:14] mariobehling commented on #442
Maybe the simplest option for now, increase the value to 6 (like in tweetwall). Making the number configurable we need to look at the UI of the wall editor as well.

[2015-08-09 15:13] mariobehling commented on #331
The options are displayed, but it does not show up on the wall as desired. If user chooses "Display Images Only", then only images should show up and a tweet text can be displayed similar to tweetbeam. This was discussed at the beginning of the project e.g. compare: http://www.tweetbeam.com/show?query=loklak

[2015-08-09 15:27] mariobehling commented on #416
Great! Thanks a lot.

[2015-08-09 15:27] #416 closed

[2015-08-10 03:16] #292 closed

[2015-08-10 03:16] #257 closed

[2015-08-10 03:39] sudheesh001 commented on #424
Now fixed via #440

[2015-08-10 09:57] hpdang opened #444 "Wall: Calendar not displayed in full"
Cannot see the bottom of the calendar. See below.
![screen shot 2015-08-10 at 1 51 22 pm](https://cloud.githubusercontent.com/assets/1658742/9168120/a93870b6-3f67-11e5-9b76-eda11aed959c.png)

[2015-08-10 10:04] hpdang opened #445 "Wall: Activity Calendar should have months view instead of dates of months"
I tried out a wall that starts in January for #GSoC. The activity on the wall shows certain dates. As the period is long, it should rather show months.

See screenshot button right:
![screen shot 2015-08-10 at 1 56 59 pm](https://cloud.githubusercontent.com/assets/1658742/9168457/d40a3490-3f68-11e5-8685-596284881f60.png)

[2015-08-10 12:00] fuksi commented on #408
@aneeshd16, good point. I can wrap the authorized process in a reusable method with a callback.

[2015-08-10 14:59] sudheesh001 commented on #388
Markdown can successfully be attached but the server stub of markdown needs enhancements which are listed as follows in the issues
https://github.com/loklak/loklak_server/issues/106 Markdown stub enhancements
https://github.com/loklak/loklak_server/issues/102 Highlighting code segments when sent as markdown attachments

Cross posting is being separately discussed on https://github.com/loklak/lokla

[2015-08-10 14:59] #388 closed

[2015-08-10 15:29] sudheesh001 commented on #97
This issue contains a mix of many things and was mainly catered to the markdown editor integration.

As suggested

Integrated that editor as the markdown editor.

The cross posting will all be tracked and discussed in one place https://github.com/loklak/loklak_webclient/issues/437

[2015-08-10 15:29] #97 closed

[2015-08-11 07:19] #434 closed

[2015-08-11 07:23] mariobehling opened #447 "Add and view data sets"
Follow up issue to https://github.com/loklak/loklak_webclient/pull/394#issuecomment-129701455 and https://github.com/loklak/loklak_server/pull/83#issuecomment-124116874

Regarding Login to add and view messages

Users already need to authenticate for a number of functions. Please follow this implementation.

The user needs to login to loklak (at the moment through twitter) in order to add and view

[2015-08-11 07:48] Orbiter opened #448 "'Add Map' shows strange viewpoint, broken map and marker not possible"
- click on 'compose new tweet'
- click on 'attach map'
you then see that:
<img width="1129" alt="attachmap" src="https://cloud.githubusercontent.com/assets/238730/9192737/e6c210b2-400d-11e5-92a5-8a19fd37a17a.png">

Things to fix:
- better viewpoint (if available, current location of user, taken from browser location data, in center)
- zoom in in such a way that at most 1 mile around is visible
- t

[2015-08-11 08:40] prasht63 commented on #225
![image](https://cloud.githubusercontent.com/assets/2105062/9193646/90818442-4032-11e5-8fba-58e56b88a902.png)
Start ups now show on the map.
@mariobehling Do we need to show it as an overlay on the /map or should we have a separate page for startups, /startups

[2015-08-11 11:24] mariobehling opened #449 "Connect: Add "Open File", "Map" View and "Shared by""
We are still figuring out, what are the best ways to visualize open data and IoT. It would be helpful to start with this in the connect area for now. Please add three fields in the table at the end (on the very right side):
* [x] "Item" (header) and "File" link in the row, which opens an overlay with the actual imported file
* [x] "Map" (header) and "View" in the row, which opens an overlay with a

[2015-08-11 11:39] sudheesh001 commented on #448
<img width="1440" alt="screen shot 2015-08-11 at 5 07 22 pm" src="https://cloud.githubusercontent.com/assets/4545925/9196709/8eb0529c-404b-11e5-8354-bdc43046bea5.png">

[2015-08-11 11:50] mariobehling commented on #424
* [ ] Operators overlay partly hidden below top bar. It should be over complete page.

![screenshot from 2015-08-11 13 49 59](https://cloud.githubusercontent.com/assets/1583873/9196880/fd700c8e-402f-11e5-8002-f4c8bf5ec07c.png)

[2015-08-11 11:57] mariobehling commented on #424
* [ ] Add button line and Copyright 2015 loklak | About

[2015-08-11 12:01] mariobehling opened #450 "Create a simple About page and keep the top bar"
Create a simple about page at loklak.net/about in the three bar layout. Add some sample content for the beginning. Keep the top bar for both anonymous and logged in users.

[2015-08-11 12:01] mariobehling commented on #450
Related to https://github.com/loklak/loklak_webclient/issues/424

[2015-08-11 12:09] mariobehling commented on #225
This should be available through the search UI. What would I have to enter to get this map in search?

[2015-08-11 12:43] mariobehling opened #452 "Merge "Home" and "Map" View into one view "Home""
* [x] First add an "Arrow" pointing to the left to the map view (on the right next to the right pointing arrow). See below ![screenshot from 2015-08-11 14 21 21](https://cloud.githubusercontent.com/assets/1583873/9197677/9fa850fa-4036-11e5-993b-419deed368ee.png)

Clicking this arrow will result in the following view, which is similar to the current home view:
![screenshot from 2015-08-11 14 24 44]

[2015-08-11 12:54] mariobehling opened #453 "Add Tweets of Accounts "Following" to the Map View"
* [ ] The map view should display the last 50 tweets of the accounts the user follows. What icon should we use here? Probably the same icon (orange point) as in the search?
* [ ] The map view also has a relation to the activity bar. As the user scrolls down and more tweets are loaded the tweets that show up in the activity bar are also loaded with their location onto the map.
* [ ] In the top bar

[2015-08-11 13:29] mariobehling opened #454 "Implement Map view vs. Timeline Search View"
The definition has not been clear until now. We have mixed views and search results. A prototype view showing results in a timeline view vs. a map view has been implemented for the user accounts. Next step is to implement the same views for search results and to add search results for data. The goal is to implement:
* [ ] implement icons and arrows for different views similar to
* [ ]  user views

[2015-08-11 13:34] mariobehling commented on #225
@prasht63 My idea would be to show results in a search view like here https://github.com/loklak/loklak_webclient/issues/454 What do you think? Still wondering what syntax we can use to get the relevant results.

[2015-08-11 14:46] aneeshd16 commented on #319
Test link for new wall card layout: http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/VJRDSK_c

[2015-08-11 14:57] prasht63 commented on #225
@mariobehling Currently what is shown on map is just a list of start-ups.Maybe we can do something location specific, User can search for "startups+berlin" or maybe "startups:berlin" .I have doubt here, currently I am showing this map on a separate page since oAuth was associated.So should I continue this approach..Currently this map is at localhost:3000/startups

[2015-08-11 15:01] mariobehling commented on #319
Let's bring this closer to tweetwall's design:
* [ ] move user photo to button area
* [ ] increase size of tweet font
* [ ] show photos in larger size and add twitter text in smaller size below or on the side (Let's see what makes more sense)
* [ ] decrease size of gray are between tweet tiles

[2015-08-11 15:22] mariobehling opened #455 "Improve layout of Wall List View"
* [ ] Increase size of photos to use complete height of available area

![screenshot from 2015-08-11 17 07 04](https://cloud.githubusercontent.com/assets/1583873/9201331/c323cce2-404c-11e5-8965-672b6be83619.png)

* [x] get rid of line breaks in tweets
* [x] adjust tweet design to match photo size on left
* [x] avoid overlap of tweet content with account info
* [x] decrease unused space between sho

[2015-08-11 15:33] mariobehling commented on #225
We need to understand your approach more in detail.
1. Please list the steps a user can connect his account with angel.co.
2. What data are you specifically importing?
3. What data is account specific for the user? What data is general information of angel.co?

[2015-08-11 15:41] Orbiter commented on #448
yeah! where can I test that?

[2015-08-11 15:44] mariobehling commented on #448
* [ ] Please change "Tweet" button to blue as on home page top bar.

[2015-08-11 15:56] mariobehling opened #456 "Start Screen shows up shortly when loading loklak page on new window/tab"
Even though I am logged in, the "What's going on" start screen for anonymous users shows up for a second or so.
* [x] Avoid loading screen for logged in users.

![screenshot from 2015-08-11 17 53 54](https://cloud.githubusercontent.com/assets/1583873/9202453/3886c43a-4052-11e5-93b8-56f6903db5ec.png)

[2015-08-11 16:31] zyzo commented on #447
By this do you mean that the user can make their imported data public or private (can or cannot be seen by other users) ? My suggestion is, for the sake of simplicity, any imported data can be seen by any user.

Currently when a message is pushed to loklak, 2 things are saved : the message itself, and an Import Profile, which contains several info about the push : message id, owner user, creation

[2015-08-11 16:42] mariobehling commented on #447
Sounds ok for now.

How about achieving "this data has been shared by x number of people"? Do you know how to do this?

[2015-08-11 16:43] zyzo commented on #447
This is a concern I raised in #394, that will be cleared out, if we accept the proposition that any imported data can be seen by any user. Therefore there's no need for server to verify that the client is logged in as what https://github.com/loklak/loklak_webclient/issues/408 is dealing with.

[2015-08-11 16:45] mariobehling commented on #447
Well, we ultimately need this feature. Think of private data that users want to see on their map, but do not want to change publicly. Any current development should already ensure, that this "privacy feature" can be added.

[2015-08-11 16:45] mariobehling commented on #447
Regarding offering users "add and share this data to your account": Do you know how to do this? This would also mean, that users would have the option of adding a certain data set to their own account as well. Again this is similar to "like" on FB. "Add and share on your account".

[2015-08-11 16:47] mariobehling commented on #447
Look, e.g. we also want to add "address books" and connect to Linkedin Apis in the connect area. Of course this has to be private. Authentication is already implemented. Please talk to fuksi about it, if needed.

[2015-08-11 16:55] zyzo commented on #447
It is possible, by searching for import profiles that points to that data, and retrieve the user from each profile. But that does sound like an overkill. An obvious solution is to save the list of shared users as message field.

Yes, implement private data just requires that the server is able to check if and which user is authenticated. @fuksi could you provide inputs on how we can achieve this ?

[2015-08-11 16:59] mariobehling commented on #447
I discussed this with @Orbiter already some time ago. Please follow up with him in chat. I think there are lots of small questions, that you could clear out that way.

This has also been discussed in a number of issues. Please use the github search function and chat to @fuksi. He already asked you in chat today about this. Unfortunately there was not a reaction from your side. Please add the concl

[2015-08-11 17:01] mariobehling commented on #447
Relevant here: https://github.com/loklak/loklak_webclient/issues/449

[2015-08-11 17:04] mariobehling commented on #419
Any update on this? M3.5 is tomorrow.

[2015-08-11 17:41] sudheesh001 commented on #448
Test link at http://loklak.cloudapp.net:3001/

[2015-08-11 18:52] prasht63 commented on #225
1.Currently the flow is like
The user clicks on Data Connect --> There Angel.co is present as active source--> User clicks on Angel.co --> Its takes it to login page of Angel.co where he authenticates himslef and gets an access token(basic oAuth step) and is redirected to /startups where he sees startups on the map.

2.As per now Angel.co does not support any personal data api, we can get data abo

[2015-08-11 21:52] fuksi commented on #432
This is now can be checked on live.

[2015-08-11 21:52] #432 closed

[2015-08-11 21:54] fuksi commented on #428
We're not getting as much content from HelloJs comparing to Loklak. However the results are still very positive. Please open this again if there is new support from the server & a need for enhancement.

[2015-08-11 21:54] #428 closed

[2015-08-11 22:01] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/51cd9bf6bb7a00b8812d3aa06f2eb4fa85ca51f6

[2015-08-11 22:04] mariobehling opened #458 "Use same CSS and font sizes for "trends sidebar" on search page as on home page"
* [x] use same CSS for all sidebars
* [x] use same font and font size
* [x] use same colors for all sidebars

![screenshot from 2015-08-12 00 00 50](https://cloud.githubusercontent.com/assets/1583873/9211958/ad5ca576-4085-11e5-8dbf-211a60fcd9f0.png)

[2015-08-11 23:23] pguth opened #459 "PrivacyBadger compatibility"
In my case EFFs [PrivacyBadger](https://www.eff.org/privacybadger) broke LokLak: it blocked `api.twitter.com` completely. I guess we should check whether that endpoint can be reached. Currently there is no indicator of what went wrong if Twitters API is unreachable.

[2015-08-12 06:42] fuksi commented on #426
The way I'm implementing this:
- Do a normal search
- Gather all the accounts (screen_name)
- For each of the accounts, make a request to user servlet for detailed information (including banner picture, description, etc... in order to make it like twitter)

Currently I don't see user servlet blocking consecutive requests. However this is bad practice and unnecessary heavy on the server

Possible e

[2015-08-12 07:02] #448 closed

[2015-08-12 07:34] #419 closed

[2015-08-12 08:23] mariobehling opened #460 "Reports not displaying account user, country wise info and having style issues"
1. Clicking on "report" results in "Sorry we did not find anyone with this account".
![screenshot from 2015-08-12 10 19 55](https://cloud.githubusercontent.com/assets/1583873/9219528/c9b05a8c-40db-11e5-9faa-482de54c68b5.png)

2. Correct: report:username Incorrect: report:@username.

3. It does not look like fitting into the style and there are round edges between the columns.
![screenshot from 201

[2015-08-12 08:26] sudheesh001 commented on #158
Deployment 1 : 6e620383f8a0dbd9edc3bb68f1859e38c3d79b9d
Deployment 2 : 26009f87a4b8c04cbd5a0c6b5e29b032194dedd1

[2015-08-12 08:28] zyzo opened #461 "Connect : Fix remaining design issues & improve UX on dataConnect page"
There are some several issues left with `/dataConnect` page, that need to be fixed soon for the feature to make sense for user. Specifically :

- [x] Fix error message `[$rootScope:inprog] $apply already in progress` when clicking on a source type
- [x] Most of the time, user doesn't have to worry about harvesting frequency, and lifetime. To not to scare them, display those inputs as advanced opti

[2015-08-12 09:02] mariobehling commented on #461
* [ ] Please use the actual logo of Freifunk and center all logos
![screenshot from 2015-08-12 10 43 24](https://cloud.githubusercontent.com/assets/1583873/9220045/db13de9e-40df-11e5-82b4-cad76a6d2fc8.png)

* [ ] And please avoid scrollbars if not necessary (why to scroll here? there is no content to scroll to in all three steps at the moment.)

* [ ] a) Please use correct spelling and capitals: "

[2015-08-12 09:13] zyzo commented on #461
I just thought it would be nice to use this logo for freifunk wifi routers, and the official logo for freifunk communities. What do you think ?

![screenshot from 2015-08-12 16 07 46](https://cloud.githubusercontent.com/assets/6483446/9220449/e08fb938-410c-11e5-9b6e-4bfcb2035b22.png)
I can't replicate this at my dev env (or at test.loklak.net). Which browser & screen resolution are you on ?

[2015-08-12 09:18] mariobehling commented on #225
1. The Data Connect page has been updated now. Please add Angel.co now.

2. Please tell me, where is this information stored in loklak?

3. How could we use a search syntax to search for specific questions?

4. Please create a table here as an example with all info from Angel.co

[2015-08-12 09:24] mariobehling opened #462 "Avoid scroll bars if not needed"
Please get rid of the scroll bar, that does not fullfill a need here, specifically in step 1.
![screenshot from 2015-08-12 11 23 16](https://cloud.githubusercontent.com/assets/1583873/9220694/a358868a-40e4-11e5-9144-fad0133d5329.png)

[2015-08-12 09:27] mariobehling commented on #461
I think we need a designer to think about this. The image you created is not up to standard.

Testing in different resolutions and browsers should always be part of your testing. Then this issue will come up at one point. Just hit Shift+ and you will probably also see that. I already posted a screenshot with the issue. What reply do you expect from me now? If I have this issue, then others will al

[2015-08-12 09:29] mariobehling commented on #461
@zyzo Please do fix these things quickly. I have not seen how the actual data can be displayed and searched in loklak. There are tons of things to do. Please speed up.

[2015-08-12 10:30] fuksi commented on #458
The background color of the trends are different between home view & search view in twitter (one is white and one is nothing/grey). I'm guessing that in seaching, they want to implement the search result in search view.

[2015-08-12 10:39] #408 closed

[2015-08-12 10:40] fuksi commented on #408
Implemented, please checkout lines 45-85 for how to/ an example
https://github.com/loklak/loklak_webclient/blob/master/oauth-proxy/api.js

[2015-08-12 10:42] fuksi commented on #261
Done with this PR https://github.com/loklak/loklak_webclient/pull/409
Example:
![image](https://cloud.githubusercontent.com/assets/6878677/9222138/f94af7d6-40f7-11e5-8826-5f3e0a4c23b1.png)

[2015-08-12 10:42] #261 closed

[2015-08-12 10:52] mariobehling opened #464 "Adapt report page design to match search page design"
Currently the report page looks a bit messy. Please help to adapt it to the standard search page, e.g. reuse the same style for the white secondary menu bar.

Specifically use the top bar structure with the white bar below (with Followers/Following/IoT) as seen in search.
![screenshot from 2015-08-24 22 05 16](https://cloud.githubusercontent.com/assets/1583873/9450989/484c92e6-4aac-11e5-8200-6f38e

[2015-08-12 10:55] mariobehling commented on #458
Background color should be white on all sidebars. Heading design should be like in the first screenshot. Please make the heading like in the twitter design. See below.
![screenshot from 2015-08-12 12 54 05](https://cloud.githubusercontent.com/assets/1583873/9222343/65defcd2-40f1-11e5-9325-afa789663c5e.png)

[2015-08-12 10:57] mariobehling commented on #458
Who is they? Search is your project! When it is written all design bars should be the same design, I am confused you are asking more. What is unclear here? It does not work if everyone implements different designs on each page. We need a common feel and flow.

[2015-08-12 11:15] fuksi commented on #458
Sorry I missused a word there, it should be

By they, I meant Twitter. The difference I mentioned is between: https://twitter.com/ (logged in) & https://twitter.com/search?q=%23vow&src=typd. Please notice the background-color in the screenshots below.

![image](https://cloud.githubusercontent.com/assets/6878677/9222452/8c2435b6-40fa-11e5-8332-e2306a5a1e2c.png)

![image](https://cloud.githubusercon

[2015-08-12 11:20] mariobehling commented on #458
Yes

[2015-08-12 12:28] Orbiter commented on #426
I will implement an aggregated request/response for this as you suggested.
Please consider that then you don't get a 'user' object but a 'users' object containing a list of user objects.
I won't have time today as I am traveling but I can do that tomorrow.

[2015-08-12 15:38] zyzo commented on #461
This is not really relevant since the field name is different for each source. It is why we need mapping rule.

All items are fixed via https://github.com/loklak/loklak_webclient/pull/465. A concept introduced in this PR is dynamic mapping rules that depend on each source type. For source type that doesn't require map rules (internally supported by loklak), a message `This step is not required for

[2015-08-12 16:35] aneeshd16 commented on #319
Card layout update: http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/VJRDSK_c
![image](https://cloud.githubusercontent.com/assets/5436027/9230126/3448f22a-413e-11e5-9a51-2acc85918cfe.png)

[2015-08-12 16:40] aneeshd16 commented on #319
There are 3 possible widths:
* If the tweet contains an image, card is `col-xs-6`.
* If not then
    * If tweet text > 70 characters, card is `col-xs-4`
    * else card is `col-xs-3`

[2015-08-12 16:44] aneeshd16 opened #466 "Time filter needs to update every fixed interval of time"
This part:
![image](https://cloud.githubusercontent.com/assets/5436027/9230337/4b13ec52-413f-11e5-81f1-d5ca465ae8e2.png)
displays the time since the timestamp of the tweet. However, it does not update.

[2015-08-12 17:02] aneeshd16 commented on #466
Solution turned out to be pretty easy. Used this: https://github.com/urish/angular-moment#timeago-directive
(angular-moment was already included)

[2015-08-12 17:07] aneeshd16 commented on #319
Currently, layout gets messed up if leaderboard is enabled

[2015-08-12 17:11] #461 closed

[2015-08-12 19:20] aneeshd16 commented on #319
Updated, variable size images do not waste space any more
http://aneesh-ojl02abl.cloudapp.net/aneeshd16/wall/VJRDSK_c
![](https://files.gitter.im/loklak/zKFw/blob)

[2015-08-12 19:49] #329 closed

[2015-08-12 20:00] prasht63 commented on #225
1. I am planning to add it to Active Data Source.Something like this
![image](https://cloud.githubusercontent.com/assets/2105062/9234994/bf6b0b70-4159-11e5-94d2-99fa6e2b3787.png)
2.No information is stored in Loklak regarding start-ups because Angel.co API strictly says that API should not be used to clone data from Angel.co [https://angel.co/api/terms]
3.I am thinking something like "berlin : sta

[2015-08-12 20:10] aneeshd16 commented on #331
Currently I am following tweetwall's implementation. The type of wall displayed by tweetbeam is completely different from what has been done till now, both from a UI and code perspective. tweetbeam's wall does look good, but as you mentioned, it is conflicting with the designs we have of existing layouts. We can have another layout called the "image wall" which would look similar to that. Somethin

[2015-08-12 22:55] mariobehling commented on #331
@aneeshd16 Awesome ideas and great implementation of layout plugins! Thanks! Please create another issue for an image wall.

[2015-08-12 23:31] mariobehling commented on #225
The import data source wizard does not seem suitable for Angelo.co as it is not a data file or URL.

The API connect is more something similar to an app as it is used in twitter and linkedin. Also the flow is not the same as for the source. Please rather do something like below.

![screenshot from 2015-08-13 01 01 25](https://cloud.githubusercontent.com/assets/1583873/9239327/fb59abea-415a-11e5-9a

[2015-08-13 01:31] Orbiter commented on #426
just implemented this: https://github.com/loklak/loklak_server/commit/a261a98776b5fef92b61891ad64f4c4829d8acde which means its working now as you suggested with multi-requests. Try http://localhost:9000/api/user.json?screen_name=loklak_app,0rb1t3r,aneeshd16,lklknt,tldr42,loklak_tune

[2015-08-13 02:38] zyzo commented on #449
By "overlay with the actual imported file", do you mean this ? :
![screenshot from 2015-08-13 09 33 27](https://cloud.githubusercontent.com/assets/6483446/9241500/933ad0fe-419e-11e5-981d-03e551d4bd57.png)

It is an popup showing message content, when clicking on the message in loklak map. I could find a way to reuse this popup in connections list.

[2015-08-13 05:36] prasht63 commented on #225
Sure, but I don't see Active Apps category on test.loklak.net/dataConnect.Should I create that section?

[2015-08-13 06:44] mariobehling commented on #225
Yes, that is the idea.

The steps you describe are different to the data import steps. Please reflect this in the UI. So, the app import can have its own import UI for now. Something similar to below.

![bf6b0b70-4159-11e5-94d2-99fa6e2b3787](https://cloud.githubusercontent.com/assets/1583873/9244016/6dd27684-4197-11e5-85ba-bcbd0340c435.png)

[2015-08-13 06:50] prasht63 commented on #225
I am thinking
![image](https://cloud.githubusercontent.com/assets/2105062/9244101/9f6d76d0-41b5-11e5-9551-87c09b57d1ab.png)
On clicking Add App will open a modal dialog which will have Angel.co API and Instagram(at a later stage).What do you think?

[2015-08-13 07:20] mariobehling commented on #225
Yes, that is what I just proposed with this screenshot. Please adjust according to the import process.

![bf6b0b70-4159-11e5-94d2-99fa6e2b3787](https://cloud.githubusercontent.com/assets/1583873/9244016/6dd27684-4197-11e5-85ba-bcbd0340c435.png)

[2015-08-13 07:27] mariobehling commented on #449
Where is that page with that popup? Please create a page that acts the same as the import overlay page, but: With a map and the data displayed.

![screenshot from 2015-08-13 09 26 08](https://cloud.githubusercontent.com/assets/1583873/9244649/83c8e058-419d-11e5-9c4e-3003fc7ea85e.png)

[2015-08-13 07:33] mariobehling commented on #319
Would be great also to avoid empty areas on the right of the screen. I think adding new decks on the left and then moving them to the right as discussed before could be nice.

[2015-08-13 07:35] mariobehling commented on #459
Thanks for testing. Could you help looking into this?

[2015-08-13 07:53] #119 closed

[2015-08-13 07:56] #334 closed

[2015-08-13 08:00] mariobehling commented on #296
This issue was closed automatically through your commit, but I do not see it solved on live.

[2015-08-13 08:59] prasht63 commented on #296
@mariobehling #311 is similar issue.So I have moved it there.
On Aug 13, 2015 1:30 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-08-13 16:43] #466 closed

[2015-08-13 16:53] fuksi commented on #458
Fixed. Can be tested on live (might need a refresh)

https://github.com/loklak/loklak_webclient/commit/ee3b4d9fa6ce7e4ac11fe2322e6c3f65c5eaaea3

[2015-08-13 16:53] #458 closed

[2015-08-13 16:55] fuksi commented on #426
It's nice the that responding time is not at all slower than retrieving info from one user. Also thank you for making it  an array but only when screen_name has many values :)

Fixed and deployed on live: https://github.com/loklak/loklak_webclient/commit/2cf4d0290cafb8406e65ff65cf674917b3892f6f

[2015-08-13 18:35] aneeshd16 commented on #431
When the map is dragged/panned/moved/etc the coordinates of the center and the zoom level is added to the URL. This URL can now be shared, and when this wall-map opens, it takes the values from the URL. Use case: Person creates a wall-map for cccamp15, sets "Cycle tweets" to "No" and pans and zooms the map so the desired map is shown. Now, the person can directly share the URL and the center coord

[2015-08-13 19:00] aneeshd16 commented on #158
Deployed at 3db7a7587f887f0d7458bea72c5ca18c6276c373

[2015-08-14 08:15] sudheesh001 commented on #94
Markdown tool enhanced on the server. Client side implementation and data packing is done line by line and follows markdown procedures as mentioned in http://lab.lepture.com/editor/

Pending, cross posting, tracking the cross posting all at once at https://github.com/loklak/loklak_webclient/issues/437

[2015-08-14 08:15] #94 closed

[2015-08-14 11:18] mariobehling commented on #424
Please change color and size of font in bottom bar to match twitter.

loklak: ![screenshot from 2015-08-14 13 11 42](https://cloud.githubusercontent.com/assets/1583873/9272809/5adf5e76-4286-11e5-97de-3dc6d9080e47.png)

twitter:
![screenshot from 2015-08-14 13 16 27](https://cloud.githubusercontent.com/assets/1583873/9272870/e6ca795c-4286-11e5-98d3-d414df328964.png)

[2015-08-14 11:22] mariobehling opened #472 "Create area with loklak info to show up on bottom of right hand sidebar home, search, report etc."
* [x] Add button line as in comment and image https://github.com/loklak/loklak_webclient/issues/424#issue-98722644
* [x] © 2015 loklak
* [x] About (link to /about)
* [x] Blog (link to http://blog.loklak.net) - new tab
* [x] Github (link to http://github.com/loklak) - new tab
* [x] Facebook (link to http://facebook.com/loklakmessages) - new tab
* [x] Match twitter design with white background

![sc

[2015-08-14 11:45] fuksi commented on #452
@mariobehling . The first version of this implementation is here. I moved the "Map >" to the top of the user banner (I think it looks very inbalance if it is placed on the far left, especially when the browser width is squeezed) and define 0.5s transition between timeline & map.

http://gofullstack.me:3001/

Please comment here if there is some change necessary. If it's ok I can move forward & add

[2015-08-14 15:09] Orbiter opened #473 "Map Tweet box shall have a size of 2:1"
The map view with the location marker shall have an exact side-size-relation of 2:1.
That means i.e. if the width is 800 pixel, then the height must be 400 pixel. Thats just an example. Please make the size in such a way that is has the same width as it is right now and make the height in such a way that it is half of the width.

[2015-08-14 15:17] sudheesh001 opened #474 "Bug shows post login screen even when not logged in"
I couldn't reproduce this multiple times, but this screen shows up for a while before it moves to the home page with the search bar and then authenticates

<img width="1440" alt="screen shot 2015-08-14 at 8 45 41 pm" src="https://cloud.githubusercontent.com/assets/4545925/9277100/9fe5dd8a-42c5-11e5-8cf0-356a9a446724.png">

[2015-08-14 15:35] Orbiter opened #476 "The 'Tweet a Map' function must transmit the bounding box of the view of the map when calling loklak_server"
To be able to create the exact identical view of the map as the user sees the map, the loklak_webclient must submit the bounding box and zoom level of the current view when the marker is submitted with /vis/map.png

The view shall submitted as parameter `bbox=lon_west,lat_south,lon_east,lat_north`
The zoom level shall be submitted as `zoom=<zoomlevel>`

[2015-08-14 16:14] Orbiter opened #477 "wall not working on loklak.net"
After I moved test.loklak.net to loklak.net, the wall is not working any more. The javascript terminal shows the following error:
[code]

[2015-08-14 16:19] smokingwheels commented on #477
What about permissions, just a though.
http://stackoverflow.com/questions/18344551/move-file-as-root-preserving-ownership-linux

[2015-08-14 17:29] #473 closed

[2015-08-14 18:24] aneeshd16 commented on #477
This was caused by multiple problems:
1. The `domain` field in the config file was not updated to reflect the domain change.
2. oauth-proxy had to be restarted to load the new settings
3. The wall display was hidden due to a faulty `ng-show` in the body tag of index.html.

Now fixed: http://loklak.net/aneeshd16/wall/4yrbG0i5
Solved with d513cecb6003a026a748b1138e4145aac24e9831

[2015-08-14 18:24] #477 closed

[2015-08-16 08:01] fuksi commented on #424
The rest of this issue overlaps with #472, closing this.

[2015-08-16 11:12] mariobehling commented on #423
Very nice work. Is it possible to make the effect like a slide in/slide out effect of the map (just like the activity sidebar) and instead of loading the side expanding the central *activity bar* to become the main area?

[2015-08-16 11:32] mariobehling commented on #452
Very nice work. Is it possible to make the effect like a slide in/slide out effect of the map (just like the activity sidebar) and instead of loading the side expanding the central *activity bar* to become the main area?

Check out http://tympanus.net/Development/SidebarTransitions/

Maybe something like "slide on top" over the map where also additional content is added? Is this feasible?

[2015-08-17 03:04] zyzo commented on #449
The current implementation looks like this :
![screenshot from 2015-08-17 10 02 08](https://cloud.githubusercontent.com/assets/6483446/9297286/281b9336-44c7-11e5-8fd5-6785b62c299e.png)

@mariobehling where & how should I implement a share button ? Without which, shared by column is useless.

[2015-08-17 05:40] #296 closed

[2015-08-17 06:42] #476 closed

[2015-08-17 06:47] zyzo commented on #447
Privacy option added for imported data
![screenshot from 2015-08-17 13 45 43](https://cloud.githubusercontent.com/assets/6483446/9299473/7886df5a-44e6-11e5-8b81-150c98a3fb75.png)
![Uploading Screenshot from 2015-08-17 10:02:08.png…]()

[2015-08-18 05:48] prasht63 commented on #293
Instagram API allows us to get the photos posted by the user.The response type contains the information about the location of the Media too.A example response type looks like
[code]
Currently I am planning to show latest 100 photos posted by a user on the map.
The flow of the process will be like

Then on clicking Add App user will be taken to Instagram site for oAuth then, from there to loklak.ne

[2015-08-18 07:51] mariobehling commented on #460
@prasht63 As this is live, this is a top priority.

[2015-08-18 07:58] mariobehling opened #483 "Search bar buggy and regularly disappears"
The search bar actions are not working as expected yet.
* [x] bar disappears regularly (sometimes refreshing the page works)
![screenshot from 2015-08-18 09 54 09](https://cloud.githubusercontent.com/assets/1583873/9324994/7752d4d2-458f-11e5-8b85-7a4bb42f8978.png)
![screenshot from 2015-08-18 09 53 50](https://cloud.githubusercontent.com/assets/1583873/9324993/774de198-458f-11e5-856c-447a359cb26a.

[2015-08-18 08:46] mariobehling opened #484 "Change login logo and sign in button"
* [x] The login overlay shows a twitter logo. Please exchange this big logo with the loklak logo. Keep the twitter bird here "sign up with twitter".
![screenshot from 2015-08-18 11 15 41](https://cloud.githubusercontent.com/assets/1583873/9326507/7e4a703c-459a-11e5-871c-8120a2ea1b63.png)

* [x] Change the text to "Not on loklak? Get more out of your twitter and weibo! Use maps, create walls, see t

[2015-08-18 09:22] mariobehling opened #485 "Search bar suggestions bugs"
When adding a search the search bar offers suggestion. Please make the suggestions work as in other services including
* [x] entering suggestion on the main page, suddenly the result page shows suggestions on top right
* [x] clicking outside of suggestion bar should close suggestions
* [ ] please test this feature in more detail and fix other potential bugs

 ![screenshot from 2015-08-18 11 18 24]

[2015-08-18 09:25] mariobehling opened #486 "Search results displaying slowly"
The display of search results is very slow even though loklak_server provides instant results. Please fix and document the issue here.

![screenshot from 2015-08-18 11 26 57](https://cloud.githubusercontent.com/assets/1583873/9326707/15bf1318-459c-11e5-87ed-b91a5f4d1482.png)

[2015-08-18 09:55] #281 closed

[2015-08-18 09:57] mariobehling commented on #404
Closed due to inactivity. Reopen if needed.

[2015-08-18 09:58] mariobehling commented on #268
Has been implemented before.

[2015-08-18 09:58] #268 closed

[2015-08-18 09:59] mariobehling commented on #364
Let's define an issue for this, when it comes up.

[2015-08-18 09:59] #364 closed

[2015-08-18 10:01] #404 closed

[2015-08-18 11:09] mariobehling commented on #449
Sorry to say that, but I have no clue what you are implementing and it is very tiresome to look at some many details, that after you are working on this since midterm, are still not clear. Some issues I see:
* [ ] View map shows mariobehling with hackerspace.sg - why? It should be similar to the fossasia api including possibly showing the three most recent blog entries e.g. here:
![screenshot from

[2015-08-18 11:15] mariobehling commented on #449
* [ ] I have added a URL. There wizard does not close. After "submit" the wizard should close and the new file should show up in the list.

* [ ] the bottom of the wizard is out of design. See screenshot.

![screenshot from 2015-08-18 13 13 33](https://cloud.githubusercontent.com/assets/1583873/9328688/229c060e-45ab-11e5-9810-726178c7c644.png)

[2015-08-18 11:22] mariobehling opened #487 "Change "followings" to "following""
We have used the term "followings" as a short form to say "accounts the user follows" or "the user is following accounts..". This does not mean in the interface the term "followings" should be used. Please change "followings" to "following" on all relevant areas.

[2015-08-18 11:26] mariobehling commented on #452
The current slider effect does not seem to achieve the desired result. The challenge is to have a good view square of the map. Please change it the "Push" effect and let's see how that works. Cheers.  http://tympanus.net/Development/SidebarTransitions/

[2015-08-18 14:01] zyzo commented on #449
Hi @mariobehling

It is because, we decided to attach the pushed data to logged in user. It can't show hackerspace.sg as owner, since that username doesn't exists anyway. The popup template is reused from loklak map, which shows the user avatar and screen_name, and data content.

screenshot from 2015-08-18 13 00 45

This is because, the data format in loklak is message-based & very different from

[2015-08-18 16:23] mariobehling opened #489 "Add more info on personal Info Bar"
Twitter has more info in the personal bar.

* [ ] Which of these additional info can we add in the personal bar on loklak?
* [ ] Please add what is possible and make a list of items that currently cannot be added. Create an issue for the missing items.
* [ ] Please make items clickable if possible, e.g. hashtags

![screenshot from 2015-08-18 18 22 21](https://cloud.githubusercontent.com/assets/158

[2015-08-18 16:33] mariobehling commented on #426
The search results of twitter are still very different to loklak, e.g compare

1) http://loklak.net/search?q=loklak%2B%2Faccounts
2) https://twitter.com/search?f=users&q=loklak

It seems loklak displays results with a different set of parameters including:
* search term has been mentioned on timeline

An additional question is: Can we implement a relevance sorting here? E.g. display results that h

[2015-08-18 16:38] mariobehling opened #490 "Account Search missing links to profiles/list of tweets and no links to hashtags etc."
Please implement in accounts search:
* [x] links to all tweets/profile of the account
* [x] links to hashtag/URLs etc.
* [x] show if user follows account
* [x] show if searched accounts are following user

Current state with missing features:
![screenshot from 2015-08-18 18 35 27](https://cloud.githubusercontent.com/assets/1583873/9336148/4460487c-45d8-11e5-9d0d-27a5163666d1.png)

* [x] Adapt size

[2015-08-18 16:51] mariobehling opened #491 "Decrease size between boxes on home page, search and all relevant pages"
Currently the size between boxes is very large. Please decrease the size. Compare to twitter for example.

* [x] home page
* [x] search pages
* [x] other pages

Loklak
![screenshot from 2015-08-18 18 46 38](https://cloud.githubusercontent.com/assets/1583873/9336458/ff9835f4-45d9-11e5-85a0-96c82ded9ac4.png)

Twitter:
![screenshot from 2015-08-18 18 48 40](https://cloud.githubusercontent.com/assets/

[2015-08-18 16:58] prasht63 commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/7b1b9a87054956df7862d2758efae03304fb4d9e

[2015-08-18 17:00] fuksi commented on #450
Done with the PR above.

[2015-08-18 17:00] #450 closed

[2015-08-18 17:00] mariobehling commented on #449
Look the goal is to follow the overall design, but of course the view needs to be displayed in a way that makes sense for a user. The way you implemented that is not useful.

We do not expect to match FOSSASIA. The goal is to show the relevant data here. We do not aim to follow other designs. We expect to see the relevant data here, just like it is on the FOSSASIA maps or other maps.

[2015-08-18 17:00] fuksi commented on #472
Done with the PR above

[2015-08-18 17:00] #472 closed

[2015-08-18 17:00] fuksi commented on #424
Done with the PR above

[2015-08-18 17:01] fuksi commented on #456
Solve with the PR above.

[2015-08-18 17:01] #456 closed

[2015-08-18 17:01] mariobehling commented on #449
Where are those fields - blog, facebook etc. - in the popup on loklak?
![screenshot from 2015-08-18 19 01 18](https://cloud.githubusercontent.com/assets/1583873/9336760/90881808-45db-11e5-88f8-7622e87c0cac.png)

[2015-08-18 17:03] prasht63 commented on #460
@mariobehling I am working on it.Will send a PR in a couple of hours

[2015-08-18 17:03] fuksi commented on #474
Can't reproduce this. The picture is above is also an old version. Home & Map are merged :) Please open this again if the bug occurs on live.

[2015-08-18 17:03] #474 closed

[2015-08-18 17:09] #331 closed

[2015-08-18 17:10] #431 closed

[2015-08-18 17:17] mariobehling commented on #449
Here is a mockup how the FOSSASIA items could look on the map.
![screenshot from 2015-08-18 19 01 18](https://cloud.githubusercontent.com/assets/1583873/9337126/b453b3f8-45dd-11e5-98c0-cb9782244993.png)

[2015-08-18 17:25] mariobehling commented on #449
I am not clear which data set to enter for each API. Please give an example URL for each API.
* [ ] Freifunk Node
* [ ] GeoJSON
* [ ] Netmon
* [ ] Nodelist
* [ ] OpenWifiMap

[2015-08-18 18:08] fuksi commented on #486
I did a manual profiling and the processing times are, as you can see, 0.015s & 0.026s. (The time in console in from between when user presses enter & when the result is shown - in miliseconds).

![2015-08-18 20_52_58-photos](https://cloud.githubusercontent.com/assets/6878677/9338149/e062dbaa-45eb-11e5-861b-08c076ca2b00.png)

The test was done in local. Loklak server (live) takes quite long to loa

[2015-08-18 18:17] mariobehling commented on #486
Ok, thanks!

@Orbiter What are your ideas about this?

[2015-08-18 19:54] mariobehling commented on #424
It looks like the login screen on the home/search page is displayed right away. Let's only display overlay "login" on search page if there is no activity for 7 seconds.

![screenshot from 2015-08-18 21 53 57](https://cloud.githubusercontent.com/assets/1583873/9341021/a5bbfe8e-45f3-11e5-94dc-2a84a0218164.png)

[2015-08-18 21:08] mariobehling commented on #486
@fuksi The issue is also, that results are sometimes not displayed at all and the page stops loading on Firefox. Entering the same search term and hitting enter - no result.

![screenshot from 2015-08-18 23 07 10](https://cloud.githubusercontent.com/assets/1583873/9342752/e6efa61c-45fd-11e5-86db-9d2032105fb2.png)

[2015-08-18 21:42] mariobehling opened #492 "Create a follower/following page for loklak"
Here is a first mockup idea how those pages can look like.

![screenshot from 2015-08-18 23 16 30](https://cloud.githubusercontent.com/assets/1583873/9343501/a8bfcdb8-4602-11e5-83c5-4ab939817808.png)

[2015-08-18 22:02] fuksi commented on #486
Oh, about this, I forgot to put it to discussion. Anyway, when a user opens a search link, say: http://loklak.net/search?q=london, there are at least 2 requests are made:
- One to get the trends (the 1st successul one in the screenshot. Nevermind the 2nd, it just hello.js non-critical bug that it authenticates twice)
- One to get the search results (the 3rd request).

The problem is, even two requ

[2015-08-18 22:18] fuksi commented on #483
Regarding the first point: what I was trying to do is to show only 1 search box to user at a time. (This is also the same at twitter). Will fix the strange behavior in the next PR

[2015-08-18 22:26] #423 closed

[2015-08-19 01:49] zyzo commented on #449
- For freifunk routers wifi urls can be extracted from each community url in https://raw.githubusercontent.com/freifunk/directory.api.freifunk.net/master/directory.json. I collected them into a list here which might be useful :
https://github.com/zyzo/ff2ll/blob/master/urls.json

[2015-08-19 05:55] mariobehling commented on #449
Not working for me:
* [ ] ffmap
* [ ] nodelist
* [ ] GeoJSON (e.g. try the listed files on right sidebar here: http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php)

Import Working
* netmon
* OpenWifiMap

But: Does not show a map.
![screenshot from 2015-08-19 07 47 26](https://cloud.githubusercontent.com/assets/1583873/9349458/964cfdf6-4646-11e5-85f0-b3cb496e7d25.png)

[2015-08-19 05:56] mariobehling commented on #449
As you do not have a test system up, maybe merge current progress and continue on the issues.

[2015-08-19 06:03] mariobehling commented on #486
@fuksi How long is the delay? Please proceed with the work around and let's see @Orbiter's input.

@Orbiter What do you think?

[2015-08-19 06:48] zyzo commented on #449
Merged #482.

[2015-08-19 08:27] mariobehling opened #495 "Report: User photos in banner are scaled wrongly"
Please compare the user account photo in loklak and twitter e.g. in the home banner or account search. The height/width are distorted. Please fix this.

Loklak
![screenshot from 2015-08-19 10 26 52](https://cloud.githubusercontent.com/assets/1583873/9351833/d433e236-465c-11e5-866b-4664c36415ba.png)

Twitter
![screenshot from 2015-08-19 10 23 13](https://cloud.githubusercontent.com/assets/1583873/9

[2015-08-19 11:28] sudheesh001 commented on #495
### Accounts View
Before
<img width="314" alt="screen shot 2015-08-19 at 4 56 26 pm" src="https://cloud.githubusercontent.com/assets/4545925/9355070/45a52250-4693-11e5-8a91-26d619bab576.png">
After
<img width="303" alt="screen shot 2015-08-19 at 4 56 42 pm" src="https://cloud.githubusercontent.com/assets/4545925/9355072/483b6cae-4693-11e5-9fd4-ba8fc3cd17fd.png">
Note the quality of the image.

[2015-08-19 11:31] mariobehling commented on #495
Ok, please also compare this: Some user photos are displayed "stretched together", meaning people appear thinner.

[2015-08-19 11:34] mariobehling opened #497 "Map not showing up regularly when clicking around in loklak"
After being logged in users goes back to "home page". Here the map regularly does not show up. It works sometimes, if the user refreshes.

![screenshot from 2015-08-19 13 33 34](https://cloud.githubusercontent.com/assets/1583873/9355191/064a1884-4677-11e5-92d3-24e46c675e9c.png)

[2015-08-19 11:52] mariobehling opened #498 "Please add "location unspecified" to report"
The report location diagrams and tables currently only show real locations. Please also add "location unspecified" for accounts without geolocation information.

* [ ] Add "Unspecified" to each table
* [ ] Add "Unspecified" to circle diagrams

[2015-08-19 12:32] mariobehling opened #499 "Create a map view within user reports"
* [ ] Add image and heading "followers/following" on overview /report page - clicking results in opening of overlay
![5097830a-4671-11e5-8262-7c6cc1f8d593](https://cloud.githubusercontent.com/assets/1583873/9356191/519b0dfe-467f-11e5-82e6-2cc340cdab75.png)

* [ ] overlay page with option to display followers/following (just like in user home page)
* [ ] add "loklak report:username" on bottom left

[2015-08-19 13:32] fuksi commented on #486
The delay is 3s. The delay is not referring to when a search is done. The trends is requested when application is loaded, regardless of the view. It is requested once and used for all view.

[2015-08-19 13:35] mariobehling commented on #486
3 seconds or 3 miliseconds?

Three seconds is an eternity for the web! What other solutions do you propose?

[2015-08-19 15:16] fuksi commented on #486
3 seconds was unnecessary. I reduced it 1 second. I just tested on live and it is not block by DDos :) (the delay can be seen in difference in green bars position).
![image](https://cloud.githubusercontent.com/assets/6878677/9360268/fdec2a7a-469d-11e5-842d-42b1e1309f79.png)

[2015-08-19 16:05] zyzo commented on #449
I believe the reason why this doesn't work is because of missing `mtime` value. The stack trace should have something like this :
[code]
This was a constraint for geojson data. The constraint was removed in https://github.com/loklak/loklak_server/pull/110 & will be fixed after the merge

[2015-08-19 16:55] fuksi commented on #452
Live at http://gofullstack.me:3001/
- Activity feed `Push` effect is implemented.
- Regarding slide in/slide out of the map. I implemented it anyway but here my thoughts:
  + Sliding big content usually hurt the eyes.
  + I used native css animation for the best performance, but still the content area are really big, you can still see some uncomforting flickering in transition. The animation was s

[2015-08-19 19:44] sudheesh001 opened #501 "Tweet functionality broken"
Regression done, safe point https://github.com/loklak/loklak_webclient/commit/0a03fe7c87d42484838eadfbe76b9d2ba124a123

PR tracking at https://github.com/loklak/loklak_webclient/pull/500

Pending other patches to fix are the map view merge, followers, following stats, copyright buttons and other home page views.

Cherry picking the commits made causing the breaking tweet functionality and fix them

[2015-08-20 05:19] sudheesh001 commented on #501
Controller changed and new directive created.
- [ ] Regular tweets
- [ ] Get Location and set another nearby location
- [ ] Markdown attachments
- [ ] Attach map

[2015-08-20 08:31] #460 closed

[2015-08-20 09:02] mariobehling commented on #452
Ok, I see. I guess it is difficult to explain. The question is in regards to mobile. I think, we should start to focus on mobile now that we get to a stable release. However, maybe the image I have in mind is not working out here.

So, the idea is, that you click on the button and the area "activity" expands. Currently the area disappears and you have a completely new screen moving in from the rig

[2015-08-20 09:51] mariobehling commented on #486
Actually, everyone is aiming for improving on miliseconds and here we delay the request. It really does not make sense. What other options are there? Can the trends be cached regularly and handled independently from other requests?

[2015-08-20 12:00] mariobehling opened #503 "Data: Public and Private Option and Settings"
Public/Private: We only need this option, if we require authentication from a user.

* Public - everything that is public on the Internet should be public.
* Private - this option can only be used when we add apps, that require user specific authentication.

Prashant is working on adding apps that require authentication. If a user shares data that requires authentication, the user should stay in c

[2015-08-20 16:12] #484 closed

[2015-08-20 16:12] #501 closed

[2015-08-20 16:29] fuksi commented on #486
As I explained early, with the current server state, making 2 requests at the same time to the same servlet is not possible, and I think it's absolutely normal for security reason.

The only solution is if there is a separate servlet for trends aggregation. @Orbiter can give more info on this when he's back :)

Although I don't believe UX is changed/nor bad because of this delay, because
- Most vi

[2015-08-20 16:39] fuksi commented on #485
Done with the PR above

[2015-08-20 16:39] #485 closed

[2015-08-20 16:39] fuksi commented on #483
Done with the PR above

[2015-08-20 16:39] #483 closed

[2015-08-20 17:08] mariobehling commented on #486
Search results should be immediate. Speed is very important. We got feedback of a number of people complaining about the slow speed. Let's see with @Orbiter if a separate servlet could be the solution. Moving this to M4.5 then.

[2015-08-20 17:23] #487 closed

[2015-08-20 17:24] sudheesh001 commented on #495
@mariobehling The accounts and other areas with bad image quality is changed, is there still an issue in this ?

[2015-08-20 17:26] mariobehling commented on #495
Please deploy and we will test in detail.

[2015-08-20 17:48] fuksi commented on #424
Done with the PR above.

[2015-08-20 17:48] #424 closed

[2015-08-20 17:49] fuksi commented on #405
Done in the Pr above.

[2015-08-20 18:05] mariobehling commented on #405
Thank you for the update!

This is still using the Twitter-Api though, correct? Therefore I do not regard this as solved and move this to 4.5.

[2015-08-20 18:39] mariobehling opened #504 "Show overlay login only once per session and increase time to show to 10 seconds"
Currently the overlay shows up every 7 seconds without activity.
* [ ] increase this time to 10 seconds
* [ ] show login overlay only once per session (or day?). If user has clicked it away, keep it away.

![screenshot from 2015-08-20 20 36 52](https://cloud.githubusercontent.com/assets/1583873/9392184/76b062e0-477b-11e5-864a-6b0b2ab57f9a.png)

[2015-08-20 18:42] mariobehling opened #505 "Account Search: Fix bugs and Implement Load on Scroll"
Apart from
* [x] missing links to accounts
* [x] missing header images and
* [x] sometimes missing user account images

please also implement
* [x] load on scroll instead of loading all search results right away.

[2015-08-20 18:45] mariobehling opened #506 "Search results not showing up"
Please use any keyword and click back and forth through all options (live, accounts, photos, videos) of search. Currently results are regularly missing.

![screenshot from 2015-08-20 20 43 45](https://cloud.githubusercontent.com/assets/1583873/9392311/47c77968-477c-11e5-96d1-e0d9479189da.png)

[2015-08-20 19:41] mariobehling opened #507 "Report not showing up"
This bug has been mentioned several times in PR comments etc.: User report does not show up on clicking on "/report"/

Reproduce:
1. Login
2. Click on report
3. User report does not show up
(User report usually shows up if user clicks "Analyze" again, but that is not the expected behaviour.)

Expected Behaviour:
User report shows up after account user clicks "report" right away.
![screenshot from

[2015-08-20 19:49] mariobehling opened #508 "Report: Data incorrectly displayed and evaluated"
* [x] Country data shows up in city table
* [ ] countries and cities that are same, e.g. Singapore show different numbers in country and city table
* [ ] City locations like "Phnom Penh, Cambodia" and "Phnom Penh" should show up as one location
![screenshot from 2015-08-20 21 47 13](https://cloud.githubusercontent.com/assets/1583873/9393887/20353fa8-4785-11e5-98d0-ef0f64a22d4d.png)

* [ ] numbers

[2015-08-20 22:51] fuksi commented on #497
I can't reproduce this, but this is my analysis of the error from what I see: if you can't see the map, chances are, in that session (until refreshed), you won't be able to see `Followers`, `Followers` on `Timeline` view, and you won't be able to do a search either

Reason: you are blocked from loklak server for a short period of time, and all of the data mentioned above are from loklak server. I

[2015-08-21 05:38] sudheesh001 commented on #497
@fuksi Unable to reproduce, the map seems to load correctly. But another problem I noticed is that the map seems to pushed to a zoom level 2 and slightly off the center on retina displays. Looks centered on non retina displays.

[2015-08-21 05:43] mariobehling commented on #497
@sudheesh001 Screenshot?

[2015-08-21 08:19] fuksi commented on #453
This will take longer than expect since feeds from Twitter Api doesn't include geo location, however I might have found an alternative approach:
- The location of the feed will the based on the location of user (remember exceptions for user without location)
- The location is in place form:
![image](https://cloud.githubusercontent.com/assets/6878677/9404216/33ae5b8e-47f6-11e5-8a77-118429727cf5.png

[2015-08-21 08:29] mariobehling commented on #453
Hang on: This is supposed to be based on loklak, not on the twitter-API, just like in loklak search on the map, e.g. http://loklak.net/search?q=loklak%2B%2Fmap

It should be implemented in the same way. If there is a blocker that you depend on the server, please mention it here and move this to a later milestone.

[2015-08-21 08:44] fuksi commented on #453
Hmm, I think the blocker will be there for a long time, since it's a lot of work https://github.com/loklak/loklak_server/issues/94

I also thought of another approach, which is closer to the Loklak API
- We still using the hello.js (twitter API), but just to get the `id_str` from each of the feed
- Use that `id_str` to get content, along with location from loklak API, since I just discovered, this

[2015-08-21 09:05] mariobehling commented on #453
Using only `id_str` this will mean we will show the actual tweets from loklak though?

[2015-08-21 13:41] fuksi commented on #453
That's true. (The result of the query above, http://pastebin.com/5Qh8KpQL )

Should I go through with this approach?

[2015-08-21 13:44] mariobehling commented on #453
Yes, this sounds like a very nice temporary solution. Once loklak offers the stream info as well, we can switch completely.

[2015-08-21 18:55] sudheesh001 commented on #437
- [x] Cross posting simple content complete

[2015-08-21 18:57] sudheesh001 commented on #495
@mariobehling Any update ?

[2015-08-21 19:18] prasht63 commented on #508
@mariobehling For this @Orbiter will have to add a generic name for every city.Since many people have added "Berlin" , "Berlin,Germany" , "Berlin,Europe" so all these get classified differently.I am proposing that while storing the followers data in Loklak a generic place name field to be added in the response which will map all variants of one city to its name and that shall be used.

For Singapo

[2015-08-21 21:14] mariobehling commented on #508
@prasht63 Good approach. Please create an issue for this.

[2015-08-21 21:32] mariobehling commented on #495
It looks like in loklak account photos are not scaled wrongly and made into a square even though the base image is not a square. The result: The photo on loklak make the user image stretch/squeezed together. See the image below, the user photo makes the user appear thinner than in reality.

Twitter
![screenshot from 2015-08-21 23 29 40](https://cloud.githubusercontent.com/assets/1583873/9419506/89

[2015-08-21 22:17] mariobehling commented on #491
Please also cover
* [ ] space below top bar
* [ ] space above and below boxes (not just left and right)
* [ ] also make all corner styles equal - round corner is different of different fields and center part is not round - all of them should have the same round corner including the top button "open map/timeline"
* [ ] ensure left and right areas are aligned with top bar (just like twitter)

![scre

[2015-08-21 23:46] #452 closed

[2015-08-22 07:51] #507 closed

[2015-08-22 08:03] mariobehling opened #511 "Plugin accounts to loklak"
In the first phase we implemented loklak as a client for twitter. However the idea of loklak is to allow users to plugin other twitter like services as well, e.g. weibo, or to plugin photo streams into the timeline e.g. flickr.

### USER NAMES and ACCOUNT URLS
So, we need to make some decisions how to display data, specifically in the URL. For example loklak.net/twitterusername to display profile

[2015-08-22 08:13] prasht63 commented on #508
Issue created here https://github.com/loklak/loklak_server/issues/118

[2015-08-22 08:31] mariobehling opened #512 "Empty areas showing up while generating report"
Confusing for the user is, that empty areas still show up while the /report is being generated
* [ ] left hand side shows up until report is available

![screenshot from 2015-08-22 10 27 04](https://cloud.githubusercontent.com/assets/1583873/9423154/c30b1778-48b8-11e5-9197-73073b9ded17.png)

* [ ] empty right hand side shows up very briefly and is then hidden. The user wonders "what is it".
![scre

[2015-08-22 08:40] prasht63 commented on #512
@mariobehling This happens because the charts can't be drawn in a hidden div. Issue link [ https://github.com/jtblin/angular-chart.js/issues/29 ].I was also facing this.A workaround is that I render the charts in hidden div but in that case it flags a error in console and sometimes affects the workflow
Its a small fix, I will send a commit soon for this.

[2015-08-22 10:28] fuksi commented on #453
Some basic implementation are included in the working branch:

Blocker isssue is defined: https://github.com/loklak/loklak_server/issues/119
Let's continue with this when Michael is back:

[2015-08-22 13:44] fuksi commented on #125
@Orbiter the sort parameter doesn't seem to have effect
http://loklak.org/api/search.json?timezoneOffset=-180&q=jaha&sort=favourites_count

[2015-08-22 13:45] fuksi commented on #399
This is overlapped with https://github.com/loklak/loklak_webclient/issues/411

[2015-08-22 13:45] #399 closed

[2015-08-22 13:47] fuksi commented on #267
Done in the PR above

[2015-08-22 13:47] #267 closed

[2015-08-22 16:28] mariobehling opened #514 "Avoid loading/showing fall back images and empty area on loading home screen"
When a user loads the home screen for a short time fall back images and empty areas on the home screen appear. Please
* [x] do not load fall back images when actual account images are available
* [x] do not show empty areas

![screenshot from 2015-08-22 18 25 31](https://cloud.githubusercontent.com/assets/1583873/9424844/7e0f13fc-48fb-11e5-9d1e-470665ed1049.png)

[2015-08-22 17:29] mariobehling opened #515 "Show number of newer tweets in timeline just as in search"
After the initial search, the number of newer tweets is shown on the top.
* [x] Please implement the same feature - show number of newer tweets - for the timeline.
* [x] Please automatically update the times of the tweet, e.g. currently the tweets always show the time when they were loaded.

![screenshot from 2015-08-22 19 28 03](https://cloud.githubusercontent.com/assets/1583873/9425088/011f67f8-

[2015-08-22 22:30] fuksi commented on #411
First version is implemented with the PR above.

Additional features those can be implemented in MS 4.5
- The search result contains data from other sources. Separate those other sources than twitter. Show in sidebar is there is any (create some logic to balance the layout)
- Following/Followers tab can also be created
- Disable (grey out, not hide) temporarily Favorites & Lists tabs until further

[2015-08-23 06:29] aneeshd16 commented on #436
My solution to this: Instead of keeping a fixed number on the leaderboard, let it be defined by the screen size. The histogram would always stick to the bottom of the page, and the number of leaderboard items will depend on how much space is available above the histogram. For example:
**Still in progress**
1366x768
![image](https://cloud.githubusercontent.com/assets/5436027/9427214/30876f92-498e-1

[2015-08-23 09:09] mariobehling commented on #436
Good idea! Thank you.

[2015-08-24 08:08] #363 closed

[2015-08-24 14:19] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/565849f4f5fbfc538757f15ae48a2a14cffb80dd

[2015-08-24 15:52] fuksi commented on #515
I watched twitter timeline to see how often the page is updated. The interval is 10secs. Since we're not twitter & we're using their API, I'll implement an interval of 20s, to prevent possible blocking from twitter for too many requests/hour.

[2015-08-24 17:30] aneeshd16 commented on #436
1366x768 (regular view)
![image](https://cloud.githubusercontent.com/assets/5436027/9446735/d06d61b0-4ab0-11e5-8ef1-924757d53c22.png)
1366x768 (full screen)
![image](https://cloud.githubusercontent.com/assets/5436027/9446750/e2435b9c-4ab0-11e5-829d-4080ede61f15.png)
1920x1080
![image](https://cloud.githubusercontent.com/assets/5436027/9446923/1ba5e912-4ab2-11e5-8449-375b33bc47f2.png)

The bar char

[2015-08-24 17:39] mariobehling commented on #436
Looks all good for me. Please proceed.

[2015-08-24 18:51] mariobehling commented on #515
Which specific calls / how many are you making in a 15 minute frame? Please compare to https://dev.twitter.com/rest/public/rate-limiting or https://dev.twitter.com/rest/public/rate-limiting. Which limits are relevant to us here?

[2015-08-24 19:25] fuksi commented on #515
I believe this is the one

Rate limits on “reads” from the system are defined on a per user and per application basis, while rate limits on writes into the system are defined solely at the user level. In other words, for reading rate limits consider the following scenario:

Then user A launches application X, and app X calls user A’s mention timeline 3 times, then app X has 12 calls left for that

[2015-08-24 19:28] sudheesh001 commented on #515
This long polling procedure is really good. :+1:

[2015-08-24 19:40] mariobehling commented on #515
@fuksi Yes, sounds good. In my opinion actually the exact timing is not so important. Important is, that we have this feature at all and that we see newer tweets posted on top at some point. Cheers!

[2015-08-24 20:11] aneeshd16 commented on #442
duplicate issue #436

[2015-08-24 20:11] #442 closed

[2015-08-25 15:33] aneeshd16 commented on #252
Tasks mentioned originally have been completed.

[2015-08-25 15:33] #252 closed

[2015-08-25 17:50] aneeshd16 commented on #455
![image](https://cloud.githubusercontent.com/assets/5436027/9474691/cb2e82cc-4b7f-11e5-9c31-1ece75d36873.png)

[2015-08-25 17:55] mariobehling commented on #455
The issue above comes up when there is a photo. I do not see, that you test with a photo.

[2015-08-25 18:04] aneeshd16 commented on #455
Posted a wrong screen grab, this should make more sense

![image](https://cloud.githubusercontent.com/assets/5436027/9475007/a311e39a-4b81-11e5-961a-6e90a3489f8c.png)
With CSS Borders to check alignment
![image](https://cloud.githubusercontent.com/assets/5436027/9475024/b687fbd0-4b81-11e5-84b9-cf056c21aaea.png)

[2015-08-25 18:05] mariobehling commented on #455
So, if it does not come up when there is a leaderboard, it looks good to me.

[2015-08-25 19:12] mariobehling commented on #274
The idea is that a thumbnail is like a screenshot of the actual wall. I think this feature is not a top priority. We can reopen it in the future, when other more important things are done.

[2015-08-25 19:12] #274 closed

[2015-08-25 21:45] mariobehling commented on #455
Regarding the leaderboard, I am still thinking the proportions. Before we had two fields on top that provided information. Now we have a rather empty area on the right. There would be different options to improve the space usage:
Either: Cycle Top Twitterers and Top Mentions on the left and keep Top Hashtags on the right
Or: Reduce the leaderboard sidebar in size e.g. 20% or similar
What is your i

[2015-08-26 03:00] #439 closed

[2015-08-26 03:12] sudheesh001 commented on #158
Deployed at 62cc8b4b0302b99d4957df40b60b097ae94bec98

[2015-08-26 07:20] mariobehling opened #520 "Wall: Increase used area of horizontal images"
* [ ] Please try to use maximum height of images in available area
![screenshot from 2015-08-25 23 24 00](https://cloud.githubusercontent.com/assets/1583873/9480068/23ae5642-4b81-11e5-9f9f-d9feceef282b.png)

[2015-08-26 07:40] mariobehling commented on #495
![screenshot from 2015-08-26 09 39 45](https://cloud.githubusercontent.com/assets/1583873/9487942/6f80625e-4bd6-11e5-8160-c98b92db7b24.png)

Design is out of order, overlaps and is not a square anymore.

[2015-08-26 07:41] mariobehling commented on #495
Please compare to twitter. Such a pity you do not realize this yourself.

[2015-08-26 08:54] #436 closed

[2015-08-26 08:54] #444 closed

[2015-08-26 08:54] #462 closed

[2015-08-26 09:08] fuksi commented on #464
Done with the PR above

[2015-08-26 09:08] #464 closed

[2015-08-26 09:09] fuksi commented on #515
Done with the PR above

[2015-08-26 09:09] #515 closed

[2015-08-26 09:15] fuksi commented on #506
This happened when the loklak server was down for a while.
Although, if you switch filter fast enough and contiuously, the application will be blocked from loklak server due to high frequency of requests.
![image](https://cloud.githubusercontent.com/assets/6878677/9489737/e51521fc-4beb-11e5-8413-52188717f053.png)

While we can hope for the users to be sane, I'm proposing to disable filters bar (gr

[2015-08-26 09:18] mariobehling commented on #506
Which area is "filters bar" exactly?

[2015-08-26 09:30] fuksi commented on #504
This is implemented among other commits. Can be checked on live.

[2015-08-26 09:30] #504 closed

[2015-08-26 09:37] sudheesh001 commented on #495
Plrease refer https://github.com/loklak/loklak_webclient/pull/517#issuecomment-134920731

[2015-08-26 09:40] fuksi commented on #506
This is the filters bar
![image](https://cloud.githubusercontent.com/assets/6878677/9490262/6d31e19e-4bef-11e5-800c-aedf9930d6a5.png)

When a search is running, it can be shown like this (and the functionality of course must be disabled temporarily until the search is done).
![image](https://cloud.githubusercontent.com/assets/6878677/9490285/89a33152-4bef-11e5-90da-33de7e55c211.png)

[2015-08-26 10:18] mariobehling commented on #506
Ok, got it. To disable seems a different user experience to what people are used to at twitter, google..

It the user starts a new search or changes the filter, how could the current request just be canceled and the new requests be performed.

If as a user I want to look at another search, that my current search, - currently I have to wait until the first search is finished, right? This is not ver

[2015-08-26 10:22] mariobehling commented on #506
Would it be an option to define the loklak webclient as a priority client and allow more requests to the server? Maybe we could introduce authentication of clients and increase the number of allowed requests for authenticated web clients to loklak.org server?

[2015-08-26 11:19] fuksi commented on #506
Says my ip is `4.5.6.7`
- When I open `loklak.net` in my browser
- And then do a search
- The loklak server will address me as `4.5.6.7`, not loklak.net
So if we define a priority for the client, that would apply for all client, and it doesn't even have to be the loklak_webclient we build, and that increases even more risk in DDos:ing to loklak server. So I don't think that this is option

The pro

[2015-08-26 11:41] mariobehling commented on #506
Greying out is not an option. It does not happen on other services and contradicts what users experience elsewhere. Twitter allows certain clients of companies that pay them to perform more requests. We have a different architecture.

* Nevertheless, what could be a way to distinguish requests from loklak.net or other clients to loklak.org? Client authentication, limit IPs?

* Are there ways to ca

[2015-08-26 12:57] fuksi commented on #506
Twitter is avoiding it by refreshing the page:
- Starting from https://twitter.com/search?vertical=default&q=%23vow&src=typd
- This is what happenned in console when I clicked continously on photos filter:
![image](https://cloud.githubusercontent.com/assets/6878677/9493835/17cebf58-4c0b-11e5-9fc0-23d40980af34.png)

- After this the page is refreshed instantly

[2015-08-26 13:23] mariobehling commented on #506
What do we need to implement a similar solution?

[2015-08-26 14:33] mariobehling opened #522 "Install loklak on IBM Bluemix"
Startup Services talked to me today about running loklak on IBM Bluemix. There is a free tier and we have the opportunity to scale up with IBMs startup program. Before we do that, please test loklak on Bluemix: https://console.ng.bluemix.net

[2015-08-26 22:01] fuksi commented on #506
This is solely logic from the client side, so we don't need anything to implement this. I have thought of this before, however in my opinion, refresh is always the last resource.

But in this case, this is suitable because:
   - it works
   - & loklak server can still maintain tight DDos settings.
   - user experience is not affected much by refreshing since this is a relatively rare case.

I'll i

[2015-08-27 05:37] #498 closed

[2015-08-27 11:57] sudheesh001 commented on #522
Steps performed so far
1. Started a CF App with the basic nodejs starter and changed it to the existing loklak webclient application by using this repo
2. Used the add git and integrated it with the hub.jazz.net from IBM for hosting the git code.
3. Used cf to push the app to the git repository by changing the `package.json` to the `package.json` on the web client git repo for downloading the depe

[2015-08-27 15:16] #512 closed

[2015-08-27 15:21] mariobehling opened #525 "Add followers/following widgets to /report"
* [x] These two widgets could probably best fit on the left hand side right now at /report.
* [x] Please also reduce the widgets on /home and /report to 3 rows.
* [ ] If possible sort the accounts by who followed/following recently (so show the most recent followers/following on top).

![screenshot from 2015-08-27 17 19 33](https://cloud.githubusercontent.com/assets/1583873/9524611/098e8538-4ce0-1

[2015-08-27 15:42] fuksi commented on #505
About load on scroll, I'll implement it, although here's some related info about this feature
- This type of filter is not supported by loklak server at the moment, meaning that I took a normal search and gathered all the user screen_name
- Then I made a new request to the user servlet for more information about those users

=> the number of result is rather limited. I tried get 500  normal search

[2015-08-27 15:50] mariobehling commented on #505
Ok, thanks got it. Should this solution stay or do you suggest to find another solution with loklak server? Also, I see that twitter sorts the accounts according to most relevant on top e.g. with the search term in the user name or user screen name. What is your idea here?

[2015-08-28 07:56] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/14b4bf8aa3a92cb84054958f73989fbe4711055f

[2015-08-28 08:17] zyzo commented on #503
Mail discussions concerning public/private data :

@zyzo:

The use case of private data is different from public data in several ways : the user that imports the data, is in control of the data. That means only that user is allowed to update/delete, allow/prohibit other people from seeing the data. In order to implement these criterias, I believe following code additions are needed :
1. Add new pr

[2015-08-28 10:35] sudheesh001 commented on #522
Update: Error now flagging at
[code]
Added to this I was unable to find something like `screen` which could be installed and executed by a system shell script, the custom build area is more of a `cf` command area than a terminal equivalent.

This looks like another option, experimenting with this now https://www.npmjs.com/package/bluemix

[2015-08-28 12:19] fuksi commented on #514
Solved with the PR above

[2015-08-28 12:19] #514 closed

[2015-08-28 12:19] fuksi commented on #506
Solved with PR above

[2015-08-28 12:19] #506 closed

[2015-08-28 12:33] fuksi commented on #505
Done with the PR above.
About enhancement, like sorting for example, the current data from search.json won't suffice from 100 search results, I could find out who tweeted about a term the most and do some sorting, but then how about the next 100 search results, and so on.

Other than above, I can't find another temporary solution on the client. So in my opinion support from the server for account

[2015-08-28 12:33] #505 closed

[2015-08-28 12:55] fuksi commented on #511
I don't know about the current status of user implementation. I believe @aneeshd16 can give some more info about it here. Anyway here are my thoughts

If we want to converge different accounts from a user, we'll need a loklak user base (hence the user implementation above). Assuming the user base is implemented:
-  What happens if a user wants to disconnect his/her twitter account from the loklak

[2015-08-28 12:55] mariobehling commented on #505
Thank you.

@fuksi Please open an issue for this feature on loklak_server.

[2015-08-28 13:45] fuksi commented on #497
I still can't reproduce this by click around, log in/out/in/out
Also recently the source for markers in Map view is changed to loklak (previously is twitter api), so there is even less chance this error could happen. Let's close this!

[2015-08-28 13:45] #497 closed

[2015-08-28 14:05] mariobehling opened #528 "Enable fade out of message "user location not enabled""
Currently the message "the user your are searching does not have location enabled" stays once it is there.

* [ ] Please make it fade out automatically.
* [ ] Also add a "x" close button on the area on the top right
![screenshot from 2015-08-28 16 03 29](https://cloud.githubusercontent.com/assets/1583873/9548039/5dbfe6f6-4d9e-11e5-9534-6a41e4b5e067.png)

[2015-08-28 14:12] mariobehling opened #529 "Searches embed user info instead of actual image or media"
Please test with this link for example: http://loklak.net/tweet?q=id:616301041139740672
![screenshot from 2015-08-28 16 11 12](https://cloud.githubusercontent.com/assets/1583873/9548211/7dba06c0-4d9f-11e5-926d-8dc990e872ae.png)

[2015-08-28 14:31] mariobehling opened #530 "Report: Banner Image shows up from former search, if new search does not have a user with a banner"
The user "ng_hongquan" does not have a banner. After searching "mariobehling" the banner less header is not updated to "ng_hongquan" report.

Expected behaviour choose neutral header or banner color of user.
![screenshot from 2015-08-28 16 17 52](https://cloud.githubusercontent.com/assets/1583873/9548651/00d9787c-4da2-11e5-8198-30d57e12b842.png)

[2015-08-29 16:28] fuksi commented on #525
Unfortunately sorting is for now not possible due to limited information from user.json servlet

[2015-08-29 18:10] sudheesh001 commented on #158
Deployed at 1c72a4bccdfbe60b24c26a879b76495d362aa519

[2015-08-30 14:25] mariobehling opened #532 "Report: Add "Most retweeted" and "Most favourited" tweets"
Add two boxes in "reports"
* [ ] 3 most retweeted tweets of user
* [ ] 3 most favourited tweets of user

[2015-08-31 11:27] pqdeep opened #533 "sorry to interrupt sir - trying to reach you - perry@augur.net"

[2015-08-31 11:43] #533 closed

[2015-08-31 22:06] Orbiter commented on #453
as https://github.com/loklak/loklak_server/issues/119 is not a bug, we should solve this using the implementation of https://github.com/loklak/loklak_server/issues/94

[2015-09-01 11:42] mariobehling commented on #522
@sudheesh001 Any update or other specific questions coming up?

[2015-09-01 14:11] sudheesh001 commented on #522
I haven't been able to work on it for the past 2 days because of The August Fest conference. I worked on it today and I still face the same issue with the nodejs pack

[2015-09-01 15:29] mariobehling opened #534 "Ensure left and right sidebars match top bar edges on report and search results"
The design of the left and right sidebars is out of line. Please ensure the design edges match on the left and right in
* [x] /report
![screenshot from 2015-09-01 17 20 52](https://cloud.githubusercontent.com/assets/1583873/9608487/e20b1f6a-50ce-11e5-86ca-fb6cb860d904.png)
* [x] /search results
![screenshot from 2015-09-01 17 21 13](https://cloud.githubusercontent.com/assets/1583873/9608493/e8d759

[2015-09-01 15:31] mariobehling opened #535 "Loklak search page on loklak.net/search should show search bar just as start screen"
![screenshot from 2015-09-01 17 26 24](https://cloud.githubusercontent.com/assets/1583873/9608508/131e877c-50cf-11e5-9e19-cbf538860a75.png)

Expected behavior:
![screenshot from 2015-09-01 17 31 15](https://cloud.githubusercontent.com/assets/1583873/9608542/44ada156-50cf-11e5-85f9-b64b7b6ca54d.png)

[2015-09-02 06:31] zyzo commented on #449
File view, Map View and Shared by columns added to connection lists. Fixed with https://github.com/loklak/loklak_server/pull/117 https://github.com/loklak/loklak_webclient/pull/502.

[2015-09-02 06:31] #449 closed

[2015-09-02 11:36] Orbiter commented on #503
The content of the `collection` field would not directly denote that a message is either private or public. It would refer to a profile where the profile owner can set the private or public status.

So by default the field `collection`should be empty or NULL to show that there is no collection assigned; such messages should be public.

Then a user should be able to set a collection metadata with a

[2015-09-19 06:34] smokingwheels opened #536 "User information un viewedable when at top of map"
When clicking a dot on the map towards the top of the information is cut off or behind menu.

![user cut off on map](https://cloud.githubusercontent.com/assets/11748913/9974939/8873d80a-5edb-11e5-9a4f-cebaf932e8a6.JPG)

[2015-10-13 12:36] mariobehling opened #537 "Wall does not utilize data after Sep 24"
Even though I enter a data scale after Sep. 24, the wall does not show the data e.g. for the hashtag Mozilla. Data actually is in the system as the search shows.
![screenshot from 2015-10-13 14 33 06](https://cloud.githubusercontent.com/assets/1583873/10454775/729b46b4-71b7-11e5-8c25-7b62a51b657e.png)

[2015-10-13 15:25] Orbiter commented on #537
due to most recent additions for a detailed query logging I can see exactly what happend:

[code]

The date is limited to 2015-10-30_17:00 which means most recent results cannot be in the results.

[2015-10-13 15:34] mariobehling commented on #537
From a user perspective the dates have been set to
a) start on Sep 21
and b) end on 13 Oct. 2015 (which is in the future)

All tweets in this timeframe should show up.

![screenshot from 2015-10-13 17 32 47](https://cloud.githubusercontent.com/assets/1583873/10459572/754ec606-71d0-11e5-8b60-00e5e54eb2f2.png)

[2015-10-13 19:02] Orbiter commented on #537
arr, sorry, yes the date modifer is correct and should work. There may be othe reasons that this does not work but it includes at least the at this time missing `include:retweets` modifier in loklak_server, see https://github.com/loklak/loklak_server/issues/81 and https://github.com/loklak/loklak_server/issues/100

[2015-10-14 00:01] Orbiter commented on #537
hm, that was also not the cause of the problem. I added more test attributes which you can evaluate now.
Please re-test, then open http://loklak.org/api/access.json and locate the query result for the wall. Look for the value "event_result_count": this should appear with value 0 (for aggregation-results) and with value 100 (for tweet results). If you can locate a value > 0 here, then this is proba

[2015-10-14 16:44] Orbiter commented on #508
The "Singapore" question is not an error. Consider that some people give the location "Singapore, Chinatown", then this does not show up in the statistic and creates the glitch. But this cannot be corrected easily. If in another example someone would haven given "Singapore, Singapore" (i.e. "City, Country"), then this problem would be corrected with https://github.com/loklak/loklak_server/issues/1

[2015-10-14 16:44] #508 closed

[2015-10-17 09:53] Orbiter commented on #537
fixed with https://github.com/loklak/loklak_webclient/commit/783924decd4df9e9538cae73d2749bc9e5f1379b and following commits replacing === with ==

[2015-10-17 09:53] #537 closed

[2015-10-17 10:19] Orbiter commented on #330
I have to re-open this issue because the wall is currently not able to make a query like "#vds OR vorratsdatenspeicherung". The reason is, that the main hashtag is always made AND by default with all other query attributes, whatever they are. If you currently enter '#vds' as main hashtag and 'vorratsdatenspeicherung' as 'Any of these words', then the resulting query is "#vds vorratsdatenspeicherun

[2015-10-17 10:25] mariobehling commented on #537
Great!

[2015-10-17 10:59] mariobehling opened #538 "Report Search Button Design"
The "Create New Report" button is attached/overlapping with report box. Maybe also change "Create New Report" to "Create Report" to keep it shorter.
![screenshot from 2015-10-17 12 55 47](https://cloud.githubusercontent.com/assets/1583873/10558425/b44a80e2-74ce-11e5-9ce6-c47e8239362a.png)

[2015-10-17 23:49] Orbiter commented on #538
I know, I already messed around at that button. 'Stealing' CSS code from other buttons did not help to fix the design. I actually don't know why those other buttons have a different font and this one not.

[2015-10-19 08:09] smokingwheels commented on #62
Also try the Zoom in Function it puts the leader board etc at the bottom of the page.in 1024 X 768.
If you iframe it its ok on a webpage.
![screenshot from 2015-10-19 16_06_05](https://cloud.githubusercontent.com/assets/11748913/10572520/cca91bf4-767b-11e5-8992-8992ba6c1d08.png)

[2015-10-22 06:27] sudheesh001 opened #539 "Creating a loklak wall redirects to /wall/undefined"
Previous walls created are also not available.

[2015-10-23 04:41] smokingwheels commented on #539
Also I had random Tweets show up in my wall and thats when I closed the iframe to a link.

[2015-10-24 11:57] aneeshd16 commented on #539
@sudheesh001 Could you please re check? I tried it 5 min back and could not reproduce this error. Also try a cache clear. There were some updates recently.

[2015-10-25 08:47] mariobehling opened #540 "In search results clicking on @username gives erroneous result pages"
Reproduce:
1. Conduct any search
2. On result page find any @username and click on it
3. Result page shows e.g. "http://loklak.net/search?q=@denkerhaus%3C%2Fa%3E,"

[2015-11-02 17:19] mariobehling opened #541 "Results in Wall not relevant to search terms"
Results in wall are not relevant, e.g. searching for "gsoc" and "#gsoc"
http://loklak.net/fossasia/wall/VypzmYxfx

![screenshot from 2015-11-02 18 18 46](https://cloud.githubusercontent.com/assets/1583873/10888730/2e36d754-818e-11e5-8203-e1444aa80ea9.png)

![screenshot from 2015-11-02 18 19 14](https://cloud.githubusercontent.com/assets/1583873/10888746/3e153864-818e-11e5-9e61-9e9b1d335c28.png)

[2015-11-03 14:02] aneeshd16 commented on #541
This is the request by the wall:
http://loklak.org/api/search.json?callback=angular.callbacks._6&count=10&fromWall=true&q=gsoc+OR+%23gsoc+-%2Fprofanity+include:retweets
The server seems to be giving strange results

[2015-11-03 23:15] Orbiter commented on #541
I tried to fix this with https://github.com/loklak/loklak_server/commit/c767379f07441d790a74e17dbb96096ea4603fa0 but that was not successful (yet). I will continue..

[2015-11-05 01:01] Orbiter commented on #541
fixed

[2015-11-05 01:01] #541 closed

[2015-11-07 19:17] d33tah opened #542 "A problem with the dumps"
Not sure if it's the right repository to report that, but I took a look at your dump repository and found it's not valid JSON:

[code]

You can see unescaped `"`. Found somewhere in http://loklak.org/dump/messages_201506_68404958.txt.gz.

[2015-11-08 07:41] mariobehling opened #543 "Cannot add more filters for "Show tweets that contain NONE of these""
* [ ] number of filter items is limited
* [ ] filters do not show up, if the number of items is more than "two lines"

![screenshot from 2015-11-08 08 39 23](https://cloud.githubusercontent.com/assets/1583873/11019308/7ef77198-85f4-11e5-9995-eb52bff713ff.png)

[2015-12-09 18:44] mariobehling opened #545 "Add Support for plurk"
http://www.plurk.com

[2015-12-17 04:21] #540 closed

[2015-12-18 00:38] mariobehling commented on #522
Please test if this is working for you too.

Installing loklak on Bluemix with Docker

0. Install docker on your system

1. Get a Bluemix Account with this URL: http://ibm.biz/joinbluemix
1.1 Press Sigup and type in your credentials
1.2 Check your email and press the validation link
1.3 Sign in to bluemix

2. Make shure you are in US South. The URL is https://console.ng.bluemix.net
   (beside US S

[2015-12-20 09:30] #543 closed

[2015-12-25 17:36] mariobehling opened #548 "Walls disappear if loklak.org switches to backup server"
Currently walls work, but if the main server is down and loklak.org switches to the back up server all the walls are gone. What solutions are there? Should we save all data in the web client instead?

![screenshot from 2015-12-25 18 34 26](https://cloud.githubusercontent.com/assets/1583873/12003968/66df8462-ab36-11e5-86a1-dcf5d28f51ca.png)

[2015-12-25 17:49] sudheesh001 commented on #548
I think this issue is more about the server, saving the walls in the webclient would mean that we'd have to maintain either a database / in-memory keystore like that of redis to store "username" and the walls they've created, so that it the server moves to the backup server, the `apps` configuration part of the `user` profile isn't affected, But I still believe snapshots taken to the backup server

[2015-12-25 18:46] mariobehling commented on #548
@sudheesh001 Yes, the question is if we store the wall config in a db or keystore or keep it info in the server. I think keeping the web clients and the server separate makes sense. Looking at how people are interested in the system, we should focus on providing data with loklak.org and running app on loklak.net or elsewhere. loklak apps would just be like twitter apps. They cannot store info on t

[2015-12-26 15:18] codethejason commented on #548
The same thing happened to me. I created a wall yesterday and now it's gone.

[2016-01-01 09:07] DengYiping commented on #542
@d33tah  Please move to loklak_server repo

[2016-01-01 09:54] d33tah commented on #542
https://github.com/loklak/loklak_server/issues/175

[2016-01-01 09:54] d33tah commented on #542
@DengYiping

[2016-01-01 15:25] #542 closed

[2016-01-11 19:27] Abuissink opened #550 "Typos with the English on LokLak.net"
Just fixing up the actual words on the website. Doing this for GCI15.

[2016-01-11 20:23] sudheesh001 commented on #522
Installed with bluemix on containers and tested via multiple tasks in GCI

[2016-01-11 20:23] #522 closed

[2016-01-11 20:25] #550 closed

[2016-01-11 20:25] Abuissink commented on #550
https://github.com/loklak/loklak_webclient/pull/551

[2016-01-21 18:31] markspolakovs opened #558 "Wall creation UI date picker right and left arrows missing"
![As shown in this screenshot](https://cloud.githubusercontent.com/assets/2904440/12490196/a0f14a98-c074-11e5-88f9-afb2e188e642.PNG)The left and right arrow icons in the date picker UI are not showing up. I'm using Chrome 47 on Windows 10, User-Agent string `"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36"`.

[2016-01-22 05:16] lily283 opened #559 "Buffering animation appears in set up screen despite being loaded"
The buffering logo appears on the 'wall' page even though all features have loaded and the internet connection works for all other pages. Also, the animation appears at the top of the set up options page even though the page has completely loaded and works.
![screen shot 2016-01-22 at 4 07 56 pm](https://cloud.githubusercontent.com/assets/16831259/12502994/7c72e776-c123-11e5-860b-1334d7685cbe.png)

[2016-01-22 05:18] lily283 opened #560 "Buffering animation appears in set up screen despite being loaded"
The buffering logo appears on the 'wall' page even though all features have loaded and the internet connection works for all other pages. Also, the animation appears at the top of the set up options page even though the page has completely loaded and works.
![screen shot 2016-01-22 at 4 07 56 pm](https://cloud.githubusercontent.com/assets/16831259/12502994/7c72e776-c123-11e5-860b-1334d7685cbe.png)

[2016-01-22 05:19] #560 closed

[2016-01-22 05:21] lily283 opened #561 "Wall being made disappears if the page is changed"
After creating a wall and waiting for it to finish loading, the wall will disappear when changing from the current page to another one. Users should be able to explore other pages while waiting for their wall to be made.

[2016-01-22 06:11] codethejason opened #562 "Loading icon not in line"
When the wall is being loaded, the loading circle in the header is not aligned to the center of the page:

![align](http://puu.sh/mF0tX/ef1c9c3bae.jpg)

[2016-02-07 11:39] aneeshd16 commented on #559
This usually happens when there are some requests pending to the server. @lily283 Can you reproduce this by having the Networks tab in Chrome/Firefox developer tools open before visiting the site and seeing if there are any pending requests?

[2016-02-07 12:20] aneeshd16 commented on #558
![image](https://cloud.githubusercontent.com/assets/5436027/12872201/e83e2efc-cdc1-11e5-883b-2ceae0914274.png)

@marksomnian Should be fixed via #563

[2016-02-07 12:21] aneeshd16 commented on #562
![image](https://cloud.githubusercontent.com/assets/5436027/12872215/bde7aec0-cdc2-11e5-8b9f-3bf6f3a6491d.png)

@codethejason Should be fixed via #563

[2016-02-13 00:09] SilentFlame commented on #532
Interested to work on this.
can you please guide me to the sources where I need to look to get a better understanding of the issue. @mariobehling

[2016-02-14 19:48] SilentFlame commented on #562
is it resolved or still open??

[2016-02-15 09:04] sopu commented on #520
I think the issue has been fixed.

[2016-02-15 09:13] sopu commented on #548
+1 @mariobehling

[2016-02-15 09:15] aneeshd16 commented on #562
@SilentFlame will be fixed once #563 gets merged.

[2016-02-15 09:43] sopu opened #564 "Bug: Connection refused by oauth proxy (port 3002) on loklak.org"
![screenshot from 2016-02-15 15 14 10](https://cloud.githubusercontent.com/assets/6399612/13044944/cbedf454-d3f6-11e5-88ae-2dc1a305f38d.png)

See this ^

[2016-02-15 10:13] sopu opened #565 "Bug: Incorrect domain port in configFile.json"
`"domain": "http://localhost:3001"` --> `"domain": "http://localhost:3000"`
Since the site is opened on port 3000, the domain name should be put accordingly.
Therefore port should be changed to 3000.

[2016-02-15 12:07] sudheesh001 commented on #564
Not able to reproduce. @aneeshd16 Can you check this please

[2016-02-15 12:09] sudheesh001 commented on #520
@sopu did you try resizing the screen and checking if the issue still exists ?

[2016-02-15 12:11] aneeshd16 commented on #564
@sopu Can happen if you are behind a firewall. Also try logging out and logging back in.

[2016-02-15 12:15] sopu commented on #564
@aneeshd16 thanx a lot :+1:

[2016-02-15 12:17] aneeshd16 commented on #564
@sopu What worked? Were you behind a firewall or did you log out/in. Good to close this issue?

[2016-02-15 12:18] sopu commented on #564
Yes, I was behind a firewall!
Closing...

[2016-02-15 13:42] sopu commented on #520
@sudheesh001 I beg your pardon. The issue still persists as the data is being reduced in size as screen-size decreases whereas the card size and profile pic size remains the same.
Moreover notice that "tweets frequency" card is dangling with change in screen-size.

[2016-02-15 13:43] sudheesh001 commented on #520
Could you send a patch to that in case you're interested :smile:

[2016-02-15 13:45] sopu commented on #520
@sudheesh001 Sure will do :+1:

[2016-02-15 17:45] aneeshd16 commented on #564
I looked into the logs, there seems to be a problem with the response from loklak server. oauth-proxy is unable to parse the server's response. Will look into it.

[2016-02-25 08:39] SilentFlame commented on #539
@sudheesh001 anyone working on this?
I would like to give it a try.

[2016-02-25 08:44] sudheesh001 commented on #539
@SilentFlame Please go ahead and give it a try :smile:

[2016-02-25 08:55] SilentFlame commented on #539
@sudheesh001  can you please guide me as to where should I look to understand this issue.
As I'm going through the codes, your help would be great to get a grip. :)

[2016-02-25 14:12] sopu commented on #520
@sudheesh001 Please check the PR I put for this issue.

[2016-02-28 13:14] #445 closed

[2016-02-29 21:57] SilentFlame commented on #379
@Orbiter , @mariobehling , @sudheesh001

Is there a Gitter chatroom for ```loklak_server``` and ```loklak_webclient``` repo's.

[2016-03-02 07:39] sopu commented on #377
@aneeshd16 why is this issue still open?
There are several such issues on which a lot of work has been done but have not been closed. IMO these should be closed and the new issues should be opened mentioning only the unfinished part of the feature/bug/design-check.
It would be easier to address them.
Cheers!!

[2016-03-03 09:02] sopu commented on #548
The API should be totally separate from what the applications (based on it) require or do.
It would be better if the metadata is stored on client side for removing dependence of loklak.org on loklak.net and other apps similar to it.

[2016-03-03 09:51] aneeshd16 commented on #548
At this moment there is no client side datastore. All data is stored/retrieved from the loklak server running on the same host. Running our own db would pose many challenges. How do we sync data from local db and loklak server? How do we handle conflicts if the data is different in both?
If the server switches to a back up one, the backup server should have a backup of the data as well, right?

Co

[2016-03-03 14:01] sopu commented on #511
As already commented by @fuksi , It will require a user base and a potential loklak login as well (if required).
I agree on the fact that loklak can act as the common site for different social media services.
I think the open questions have been aptly answered.

[2016-03-04 07:10] #562 closed

[2016-03-04 07:13] aneeshd16 commented on #158
@sudheesh001 Deployed version is ~20 commits behind. Can you please test if we are good for deployment?

[2016-03-05 05:03] sopu commented on #520
I believe this can be closed now?

[2016-03-05 05:05] #520 closed

[2016-03-06 17:33] sopu commented on #538
Refer the PR #571 and please suggest modifications!

[2016-03-06 17:56] sopu commented on #536
I believe this problem can be fixed if the pop-ups which overlap with the menu are opened downwards rather than upward.
Working on it!

[2016-03-06 19:24] sopu commented on #536
One solution could be to start the map below the menu. @aneeshd16 @sudheesh001 suggestions?

[2016-03-07 04:50] aneeshd16 commented on #536
If we start the map below the menu, that will not solve this problem. If a user clicks somewhere far in the north (greenland etc), the popup will still not be visible, right?

[2016-03-07 05:37] sopu commented on #536
As far as I understand, when the leaflet is going out of bounds, the map is shifted downward to incorporate the pop-up.
I will put up a PR for it using this approach. Please see if it solves the issue.

[2016-03-07 07:15] SilentFlame opened #572 "Import errors while gulp-dev"
When I was developing the `webclient` I came across the following errors.
[code]
this is because of the presence of file `X.css` and `_X.scss`.
Either we add this all in the readme.md file or can remove it so as to have low conflicts.

[2016-03-07 07:18] aneeshd16 commented on #572
@SilentFlame This should have been fixed via 086e7b55e174a0bed287e86c70bc806408b678c0. Please pull the new changes and try again. You might also need to do a `npm install` to update the libraries.

[2016-03-07 07:20] SilentFlame commented on #572
That's great, Let me try then.

[2016-03-07 08:37] SilentFlame commented on #572
Ok this works fine.
closing this Isuue.

[2016-03-07 08:37] #572 closed

[2016-03-07 17:41] SilentFlame opened #574 "getting problems with running webclient locally."
Home page works fine.
![pic01](https://cloud.githubusercontent.com/assets/9693795/13577652/88d078a8-e4b9-11e5-8725-d995d4ceae50.png)
some problem with the report page.
![pic02](https://cloud.githubusercontent.com/assets/9693795/13577669/9b3ad0b0-e4b9-11e5-9af0-e99d29fe4f7b.png)
Twitter walls are empty every other times I visit this.
![pic03](https://cloud.githubusercontent.com/assets/9693795/13577

[2016-03-07 17:52] aneeshd16 commented on #574
You also need to have the loklak server running

[2016-03-07 18:17] SilentFlame commented on #574
@aneeshd16 doesn't the `gulp-dev` runs one server for itself?

Let me try once. Thanks

[2016-03-07 18:28] SilentFlame commented on #574
@aneeshd16 do I need to change the port for loklak_server?

[2016-03-08 05:24] aneeshd16 commented on #574
Have you made a custom_configFile.json? That file should contain all configuration options including server urls and ports. If you make a copy of configFile.json, it should have the correct default values.

[2016-03-08 10:28] SilentFlame commented on #574
ya  I do made it, that's why the webclient is running that way I guess.

[2016-03-09 21:09] SilentFlame commented on #574
@aneeshd16  what are the fields which I need to change in the `custom_configFile.json` . coz now the home page is too not opening properly.

[2016-03-10 05:51] aneeshd16 commented on #574
From the docs:

1. Set the twitterConsumerKey var in custom_configFile.json to set the Consumer Key (API Key) from your Twitter app
2. Set the twitterConsumerSecret var in custom_configFile.json to set the Consumer Secret from your Twitter app
A twitter app is valid only for a domain (defined when creating the app). So the credentails above need to be changed also according to the domain (e.g. you

[2016-03-10 06:21] SilentFlame commented on #574
@aneeshd16 that's all I followed but unable to follow the last point. `you'll need to create 2 twitter apps separately for a clone in localhost and for a clone in a remote server`
what exactly I have to do here?

[2016-03-14 06:36] akigupta131 opened #575 "Profile does not show on Reports page"
<img width="1280" alt="screen shot 2016-03-14 at 12 12 36 pm" src="https://cloud.githubusercontent.com/assets/4313602/13736721/1c6395dc-e9dd-11e5-950b-2d291cd6f458.png">

[2016-03-14 07:28] akigupta131 commented on #575
@aneeshd16  In home page, user information is fetched from root, e.g. for User's name, `root.twitterSession.name` is used while in Report page, user data is fetched calling the user.json API. On top of that, as I can see data object does not contain user object in it.
<img width="1280" alt="screen shot 2016-03-14 at 12 58 37 pm" src="https://cloud.githubusercontent.com/assets/4313602/13737527/0f60

[2016-03-14 07:55] akigupta131 commented on #575
Can I please get the contributor access?
Thanks

[2016-03-14 08:00] aneeshd16 commented on #575
@akigupta131 in custom_configFile.json set `domain` to `http://localhost:3000`

[2016-03-14 08:27] akigupta131 commented on #575
@aneeshd16 Already had done that.
1. Is there any documentation, where some description of what each page/feature is associated with?
2. On the reports page, the profile box is for the user(me) or for the one I am creating report for?

[2016-03-15 08:30] akigupta131 opened #577 "Current view topnav item not being highlighted"
<img width="1280" alt="screen shot 2016-03-15 at 2 03 02 pm" src="https://cloud.githubusercontent.com/assets/4313602/13771759/20a68ab2-eab6-11e5-9417-91a245498740.png">

This is happening in case of Report and Connect etc

[2016-03-15 09:09] sopu commented on #577
Thanx for suggesting it @akigupta131. Working on it!

[2016-03-15 09:18] akigupta131 commented on #577
@sopu Solved! Checkout the Pull Request #578

[2016-03-15 09:19] akigupta131 commented on #575
Solved! Checkout the Pull Request #576

[2016-03-15 09:22] sopu commented on #577
:+1:

[2016-03-15 09:49] sopu commented on #535
This can be closed imo @mariobehling

[2016-03-15 11:11] akigupta131 commented on #564
I am in the institute and proxy is there. Not working! Throws webpage not available.

[2016-03-15 15:37] SilentFlame commented on #575
@akigupta131 how did you got all things running?
can you help me please?
as I'm facing some problems.

[2016-03-15 16:43] akigupta131 commented on #575
@SilentFlame Documentation is really cool and straightforward.
1. First you will have to get your loklac_server running on your machine. Follow simple [instructions](https://github.com/loklak/loklak_server#how-do-i-install-loklak-download-build-run). After this you should be able to run http://localhost:9000 successfully.
<img width="1280" alt="screen shot 2016-03-15 at 10 13 08 pm" src="https://c

[2016-03-15 18:09] SilentFlame commented on #575
@akigupta131
after Initial some tries now I'm unable to even generate the Home page well.
nothing works for me here.
![shot2](https://cloud.githubusercontent.com/assets/9693795/13788770/28cfac72-eb07-11e5-9874-be9b43e90a1d.png)
Is there a different setup if I'm behind a proxy?

unable to understand the problem.

[2016-03-15 18:29] SilentFlame commented on #575
@aneeshd16 @akigupta131 is this might the reason?

[2016-03-15 18:39] aneeshd16 commented on #575
@SilentFlame try doing `gulp prod` once and then `gulp dev`

[2016-03-15 20:42] SilentFlame commented on #575
@aneeshd16  the problem persists still.
any idea as if it works well behind proxies or not?

[2016-03-16 12:21] sopu opened #580 "Spaces between inline search filters"
![afb34792-eb9f-11e5-8acc-a644496200c7](https://cloud.githubusercontent.com/assets/6399612/13954672/cd401e62-f067-11e5-88b1-d3451c2e53b6.png)

Opening a PR for it ASAP!

[2016-03-18 03:15] #565 closed

[2016-03-21 13:31] akigupta131 opened #585 "Emoji in the tweets are too big in size"
<img width="1280" alt="screen shot 2016-03-21 at 6 58 18 pm" src="https://cloud.githubusercontent.com/assets/4313602/13920121/5a943252-ef97-11e5-85df-90f1c988f24d.png">

[2016-03-21 13:47] sudheesh001 commented on #585
This is quite a simple fix
[code]
class should have width as somewhere between 4 - 7 %

Would you like to send a pull request to fix this ?

[2016-03-21 13:50] akigupta131 commented on #585
#586

[2016-03-22 14:24] sopu commented on #580
@aneeshd16 @sudheesh001 PR #581 was for this issue. Look at the screenshot above!

[2016-03-26 13:26] shubheksha opened #588 "Link to Github project for loklak is broken"
This is the link: http://labs.fossasia.org/github.com/loklak

[2016-03-26 13:30] #588 closed

[2016-03-26 16:31] daminisatya commented on #585
#587 587

[2016-03-27 04:39] #585 closed

[2016-03-28 06:12] #535 closed

[2016-03-28 06:16] #580 closed

[2016-03-28 06:18] sudheesh001 commented on #564
@aneeshd16 Anything on this ?

[2016-03-28 06:37] aneeshd16 commented on #564
I guess such type of proxies block connections on non-regular ports (ports apart from 80,443, etc). (Not sure about this). The only solution I see is to maybe map `loklak.net:3002` to something like `api.loklak.net`. Of course, this is a configuration issue, and can be fixed without any changes in the code.

[2016-03-28 22:31] sopu opened #589 "Buggy tweetMention filter"
Please see the screenshots below!
![screenshot from 2016-03-29 03 39 48](https://cloud.githubusercontent.com/assets/6399612/14092173/c9e4edec-f562-11e5-9357-bc072014d764.png)
![screenshot from 2016-03-29 03 45 54](https://cloud.githubusercontent.com/assets/6399612/14092172/c9e38f92-f562-11e5-9cbb-e668d5da3811.png)

tweetMention filter incorrectly includes </a> from second mention onward in a tweet

[2016-04-03 14:05] smokingwheels opened #591 "CPU usage maybe lowered with ufw firewall and Defending SYN Flood Attack settings"
I have found these settings lowered my CPU usage an a VM [See loklak server ](https://github.com/loklak/loklak_server/issues/283)

[2016-05-13 16:26] mariobehling opened #592 "Cannot login to web client - No connection"
![screenshot from 2016-05-13 18 25 53](https://cloud.githubusercontent.com/assets/1583873/15254681/44f7b93a-1938-11e6-829a-127297a1c950.png)

[2016-05-13 16:50] mariobehling commented on #545
Closing it as priorities have changed.

[2016-05-13 16:50] #545 closed

[2016-05-13 16:52] mariobehling commented on #447
Closing it as changes depend on new server implementations.

[2016-05-13 16:52] #447 closed

[2016-05-13 16:53] mariobehling commented on #224
Closing it as it is unclear what is defined as commercial usage.

[2016-05-13 16:53] #224 closed

[2016-05-13 16:56] mariobehling commented on #221
Depends on server implementation. Closing it for now.

[2016-05-13 16:56] #221 closed

[2016-05-13 16:58] mariobehling commented on #324
Closing it due to changed priorities.

[2016-05-13 16:58] #324 closed

[2016-05-13 17:01] mariobehling commented on #293
This should be implemented as a crawler first: https://github.com/loklak/loklak_server/issues/343

[2016-05-13 17:01] #293 closed

[2016-05-13 17:01] #290 closed

[2016-05-13 17:04] mariobehling commented on #222
Closing it as it depends on https://github.com/loklak/loklak_server/issues/344

[2016-05-13 17:04] #222 closed

[2016-05-13 17:05] #39 closed

[2016-05-13 17:06] #511 closed

[2016-05-13 17:06] #503 closed

[2016-05-13 17:07] #134 closed

[2016-05-13 17:11] #223 closed

[2016-05-13 17:11] #341 closed

[2016-05-13 17:12] #219 closed

[2016-05-13 17:13] #217 closed

[2016-05-13 17:14] #215 closed

[2016-05-13 17:14] #205 closed

[2016-05-13 17:15] #228 closed

[2016-05-13 17:43] mariobehling commented on #212
We need to define a data structure for this in loklak server and then follow up here. Closing this for now therefore.

[2016-05-13 17:43] #212 closed

[2016-05-13 17:46] #120 closed

[2016-05-13 21:06] #218 closed

[2016-05-13 21:16] mariobehling commented on #352
Closing this due to inactivity. Currently it is not a focus, I believe.

[2016-05-13 21:16] #352 closed

[2016-05-13 21:19] mariobehling commented on #225
Another approach is to implement a web crawler rather than using the API. Let's follow up on this here: https://github.com/loklak/loklak_server/issues/346

[2016-05-13 21:19] #225 closed

[2016-05-13 21:20] mariobehling commented on #226
To be implemented in server.

[2016-05-13 21:20] #226 closed

[2016-05-14 04:14] sudheesh001 commented on #592
I think this is internet connection specific, I was able to reproduce that error on a proxy connection but not on a direct mobile hotspot/noproxy internet connection. Could you retry this @mariobehling I've mentioned on gitter about the same

[2016-05-14 04:15] sudheesh001 opened #593 "loklak.net and www.loklak.net though are the same hit a CORS error while creating walls"
The walls only work on loklak.net and not with www.loklak.net they'll forever load, Would it be possible to redirect all traffic from www.loklak.net => loklak.net from the DNS settings ?

[2016-05-14 13:22] treba123 commented on #593
Or probably just in nginx

[2016-05-14 14:05] sopu commented on #490
I have added a PR for it! I have fixed part-2 and 5. Will be adding more fixes soon.

[2016-05-15 13:10] mariobehling commented on #592
working again. not sure, what it was. closing it. Thanks!

[2016-05-15 13:10] #592 closed

[2016-05-15 13:35] mariobehling commented on #577
We postpone the connect feature. Closing this for now therefore.

[2016-05-15 13:35] #577 closed

[2016-05-15 13:36] #589 closed

[2016-05-15 13:36] mariobehling commented on #575
This is related to loklak server. Closing it here therefore.

[2016-05-15 13:36] #575 closed

[2016-05-15 13:37] mariobehling commented on #574
Set up needs to be improved. This will be part of a bigger update of code. Closing this issue therefore.

[2016-05-15 13:37] #574 closed

[2016-05-15 13:37] #564 closed

[2016-05-15 13:42] mariobehling commented on #459
Closing this due to inactivity. We need to look into this later.

[2016-05-15 13:42] #459 closed

[2016-05-15 13:42] #158 closed

[2016-05-15 13:43] #125 closed

[2016-05-15 13:43] mariobehling commented on #109
Postponing this. Let's reopen this feature request when needed.

[2016-05-15 13:43] #109 closed

[2016-05-15 13:46] #63 closed

[2016-05-15 13:46] #60 closed

[2016-05-15 13:46] #61 closed

[2016-05-15 13:46] #438 closed

[2016-05-15 13:46] #75 closed

[2016-05-15 13:47] mariobehling commented on #62
This is expected to be understood now.

[2016-05-15 13:47] #62 closed

[2016-05-15 13:48] mariobehling commented on #100
Postponing this feature and reopen issue when needed.

[2016-05-15 13:48] #100 closed

[2016-05-15 13:49] mariobehling commented on #122
We need to adapt to new implementations of conversation views and discuss this in a new issue as things have changed.

[2016-05-15 13:49] #122 closed

[2016-05-15 13:51] mariobehling commented on #220
This can be a separate app and a mini-project: https://github.com/fossasia/labs.fossasia.org/issues/136

[2016-05-15 13:51] #220 closed

[2016-05-15 13:55] mariobehling commented on #180
Closing it now as this should be understood as a continuous task.

[2016-05-15 13:55] #180 closed

[2016-05-15 13:59] #190 closed

[2016-05-15 13:59] #306 closed

[2016-05-15 13:59] #437 closed

[2016-05-18 09:01] Orbiter opened #594 "remove dependency on loklak_server user accounts"
loklak_webclient shall become self-contained in the future. As far as I know there is only one dependency, the storage of twitter accounts and twitterwall specifications. This dependency shall be removed and the information shall be stored within loklak_webclient itself.

Therefore you must choose a storage solution for such information in a node application. Please discuss options and please cons

[2016-05-18 09:05] Orbiter commented on #594
@leonmak @niteshkhadanga please join in here

[2016-05-18 09:28] sopu commented on #594
@Orbiter : "This dependency shall be removed and the information shall be stored within loklak_server itself." I dont understand this. If we are trying to make webclient self contained then all kind of info should be there only right?

[2016-05-18 09:47] mariobehling commented on #594
@sopu The information shall be installed in the loklak webclient. Currently there are dependencies on the server. Please remove them. We need an accounting system in the web client, ACL etc.

[2016-05-21 11:30] sudheesh001 commented on #593
[code]
Should be enough for a 301 redirect from www to non-www, What do you think @treba123 @Orbiter

[2016-05-24 07:22] Orbiter commented on #74
@mariobehling what user accounts shall be valid in the future wall? loklak.net should have it's own wall managment now, but how is an user authenticated? Only twitter or also other methods?

[2016-05-26 17:31] sopu commented on #534
I believe it has been fixed #579
Closing!

[2016-05-26 17:31] #534 closed

[2016-05-26 17:51] sopu commented on #538
#571 fixes it!
Closing.

[2016-05-26 17:51] #538 closed

[2016-05-27 08:04] mariobehling commented on #594
@leonmak Could you please help with this issue?

[2016-05-27 08:57] leonmak commented on #594
@mariobehling Sure, I didn't see the assignment before sry

[2016-05-27 09:51] leonmak commented on #594
I'm not too experienced with user accounts, but can something like passportjs, node_acl, and mongodb for storage be considered?

[2016-05-27 10:06] mariobehling commented on #594
@leonmak Yes, you can consider those solutions. What solution do you prefer? @sopu Any input?

[2016-05-28 15:14] leonmak commented on #594
@mariobehling I meant using those together (passportjs for auth, node_acl for permissions, mongoose for storage), if I understand the requirements right

[2016-05-28 17:31] jig08 opened #595 "Refusal to connect on SignUp with Twitter"
It's been quite a few days. Whenever it is tried to `Sign Up using Twitter` the following `loklak.net refused to connect.` error is displayed (refer screenshot attached)
Without signing in, [loklak.net](http://loklak.net/) works just fine.
Enabling/Disabling firewall doesn't help too.

![screenshot from 2016-05-28 22 56 50](https://cloud.githubusercontent.com/assets/9291400/15628765/a072e50a-2527-

[2016-05-28 19:02] sudheesh001 commented on #595
This is known issue because the server side proxy for this has stopped and crashing because an existing pm2 instance is crashing. I've tried to restore the pm2 services but they just keep erroring. Looks like it needs a clean reinstall, we'll do it soon.

@aneeshd16 Could you help a little here ?

[2016-05-30 15:17] leonmak commented on #594
for auth hello.js is used, I'm still trying to figure that out

[2016-05-31 17:26] jig08 commented on #595
@sudheesh001 @aneeshd16
Works fine now. Closing this issue. Thanks :v:

[2016-05-31 17:26] #595 closed

[2016-05-31 17:39] jig08 opened #599 "Glitch to create reports in Loklak"
Been quite a few tries, unable to create reports by clicking `Click a new report` in [loklak.net](http://loklak.net/).

![screenshot from 2016-05-31 23 01 12](https://cloud.githubusercontent.com/assets/9291400/15684203/a9f7b228-2783-11e6-817a-853a0dffc4cb.png)

[2016-05-31 19:38] mariobehling commented on #599
Reports will be refactured. Let's not work on the current report code.

[2016-05-31 19:38] #599 closed

[2016-06-01 10:53] sudheesh001 commented on #595
Resolved this yesterday.

[2016-06-01 10:56] #529 closed

[2016-06-01 14:02] leonmak opened #601 "Substitute home page contents with search page"
As discussed in gitter loklak_webclient, after login the home page with twitter timeline will be replaced with the same search page for now

[2016-06-01 14:06] leonmak opened #602 "Remove connect page and tweet client button"
Removing the connect page and tweet client button as it is not finalized

[2016-06-03 08:49] #601 closed

[2016-06-03 14:23] #602 closed

[2016-06-05 11:14] leonmak opened #605 "Sign up form lacks email verification and validation"
It should use an email service to confirm registration.
Also should check register/login form for empty fields, invalid email, etc

[2016-06-05 11:18] niteshkhadanga commented on #605
@leonmak You mean the Sign up form ?

[2016-06-05 11:24] niteshkhadanga opened #606 "Remove the name field and add sign in button"
This issue aims to make changes to the recently updated home page by @leonmak.  As the name field is not required and the sign in button has not been added, so the former one would be removed and the latter one is to be added.

[2016-06-05 11:25] shivenmian commented on #605
@leonmak add a confirm password box to the signup form as well.

[2016-06-05 11:26] mariobehling commented on #605
@shivenmian @leonmak Please keep it very simple. Many signup processes only require to enter the password once. If people put it in wrongly, they can ask for a reset link. Please let's keep it very simple.

[2016-06-05 11:40] leonmak commented on #605
@mariobehling ok, I'll take pinterest.com as a reference.

[2016-06-05 11:44] shivenmian commented on #605
@leonmak The current one is ok. Just remove the name field and sign up button.

Also tell me. In this page, is "Sign Up" and "Sign In" the same thing? Because you have a "Signup with twitter" and now a "Signup with email". So I guess there's no need of having a sign-in option, is there?

[2016-06-05 11:55] shivenmian commented on #605
@leonmak The current one is ok. Just remove the name field and confirm password.

Also tell me. In this page, is "Sign Up" and "Sign In" the same thing? Because you have a "Signup with twitter" and now a "Signup with email". So I guess there's no need of having a sign-in option, is there?

[2016-06-05 12:14] mariobehling commented on #605
Please here add option:
*  [ ] use loklak instead of twitter
![screenshot from 2016-06-05 14 11 59](https://cloud.githubusercontent.com/assets/1583873/15805346/93a8e3b4-2b27-11e6-831a-9efff8d756e7.png)

Next steps: Support registered twitter API as soon as it is implemented.

[2016-06-05 12:41] shivenmian commented on #605
@mariobehling Is the Sign Up option by email the same as sign in? Like for Twitter we have "Signup with Twitter" option in loklak webclient so probably it's the same thing.

[2016-06-05 14:12] mariobehling commented on #605
@shivenmian I am getting confused with Signup or signin. There are tons of services, where you can first login with a twitter, facebook or gmail account. Then in a second step an account on the service is created. In future people can login either with their twitter, fb, g+ ID or with the email. Check out how Pinterest does it for example.

[2016-06-05 14:32] shivenmian commented on #605
@mariobehling Even pinterest has separate Sign Up and Login. You can continue with Facebook, else, you can Sign Up with your email and create an account, and then later you just login to Pinterest with that account.

<img width="1280" alt="screen shot 2016-06-05 at 7 55 51 pm" src="https://cloud.githubusercontent.com/assets/14081800/15806028/a610ad36-2b57-11e6-85e6-c633bf2f0057.png">

[2016-06-05 14:47] mariobehling commented on #605
Ok, so now you understand. Pinterest let's people think they can continue with their facebook ID and then prompts them to create an account and they have already all the data. This is also what we want.

[2016-06-06 08:00] #407 closed

[2016-06-06 08:01] #528 closed

[2016-06-06 08:01] #525 closed

[2016-06-06 08:03] #492 closed

[2016-06-06 10:21] #490 closed

[2016-06-09 02:20] leonmak opened #608 "Connect local accounts to logged in session"
Currently $rootScope.root.twitterSession is used to display the menus, search bar, etc. after the user logs in through twitter, so the local accounts does not show the menu etc after log in

[2016-06-09 11:46] leonmak opened #609 "Store wall data locally"
Currently the wall data are stored in the loklak_server through /account.json. They should be stored with the accounts locally

[2016-06-09 13:29] mariobehling commented on #609
How do you plan to implement this? Could we store them as a json and would it make sense to work this out by implementing an wall API?

[2016-06-09 17:56] leonmak commented on #609
Yea sry I meant using the logged in user's id to query the api

[2016-06-09 23:57] leonmak opened #611 "Allow login with other social media accounts"
Other than email, services like twitter and fb can be used, using the passport strategies to link various accounts

[2016-06-09 23:58] leonmak opened #612 "Add premium options and payment gateway"
Stripe can be used to add payment options and more customization / layouts for the twitter wall

[2016-06-10 00:04] leonmak opened #613 "Make reports independent of twitter"
Show a start page “type in user account to show reports”, and query loklak_server for the user information instead of twitter

[2016-06-10 03:50] #605 closed

[2016-06-10 03:50] #608 closed

[2016-06-11 07:30] sudheesh001 commented on #609
@leonmak When you update the apps object in case there are other walls created, you need to resend the entire `json` dict to the apps object again. I think it'd be best if that's not the case. What do you think about this issue https://github.com/loklak/loklak_server/issues/558

It's currently blocking efficient IOT implementation

[2016-06-12 10:37] shivenmian commented on #606
@leonmak Can you solve this? This really doesn't look like it should take so many days to do.

Just remove the Confirm Password Field and create a small Sign In page (or you could have a Sign In button which on clicking will lead you to the Sign In page. Alternatively, you could have the Sign In page and its fields on the same dialog box in which the Sign Up fields are).

Signing In through email

[2016-06-13 07:09] #594 closed

[2016-06-13 07:10] #613 closed

[2016-06-13 13:34] #606 closed

[2016-06-13 16:10] leonmak commented on #609
@sudheesh001 I think this method of bucketing the walls to each user fits the 1-to-few access pattern for now. As mentioned above, I take it that each user only has a few walls, around tens at most, so when accessing the wall route, I can query for the user, then search that user's walls. The alternative I think would be to create a collection for all the walls, then find the wall that matches bot

[2016-06-14 01:38] leonmak commented on #612
transferring to loklak_walls

[2016-06-14 01:38] #612 closed

[2016-06-14 01:39] leonmak commented on #611
transferring to loklak_walls

[2016-06-14 01:39] #611 closed

[2016-06-14 01:39] leonmak commented on #609
transferring to loklak_walls

[2016-06-14 01:39] #609 closed

[2016-07-20 21:42] mariobehling commented on #591
As this project is currently not a focus and mainly for showcasing features, I am closing this issue.

[2016-07-20 21:42] #591 closed

[2016-07-20 21:51] mariobehling opened #617 "Provide setting for future contributions and prototype showcase"
The loklak web client has a number of features help us to convey the idea what is possible with loklak. This is a prototype project that helps us to envision the next steps. Apart from that there are a number people who are interested to try out the project and we would love to show them what has been done that far. Therefore, please help with the following:
- [x] Delete all unnecessary branches
-

[2016-07-21 16:03] sopu commented on #617
Removed all merged branches. For unmerged ones, asking the concerned developers for status. Also looking into them if they are duplicate.

[2016-07-23 21:02] mariobehling commented on #617
Good job! I changed the development branch to be the default branch.

[2016-07-25 07:06] sopu commented on #617
Added hound-ci and codecov tests. Codeclimate is already there, codacy is similar to codeclimate. Looking at selenium and gemnasium.

[2016-07-25 16:20] sopu commented on #617
Checking how to make config editable in Heroku. Looking for best practices. Rest script is ready.

[2016-08-22 09:03] mariobehling commented on #617
Please let us know what is the outcome of this issue.

[2016-09-10 13:31] #593 closed

[2016-09-10 13:32] #532 closed

[2016-09-10 13:32] #536 closed

[2016-09-10 13:32] #539 closed

[2016-09-10 13:32] #548 closed

[2016-09-10 13:32] #558 closed

[2016-09-10 13:32] #74 closed

[2016-09-10 13:32] #107 closed

[2016-09-10 13:32] #240 closed

[2016-09-10 13:32] #283 closed

[2016-09-10 13:32] #291 closed

[2016-09-10 13:32] #314 closed

[2016-09-10 13:32] #335 closed

[2016-09-10 13:32] #336 closed

[2016-09-10 13:32] #337 closed

[2016-09-10 13:32] #362 closed

[2016-09-10 13:32] #377 closed

[2016-09-10 13:32] #405 closed

[2016-09-10 13:32] #411 closed

[2016-09-10 13:32] #412 closed

[2016-09-10 13:32] #426 closed

[2016-09-10 13:33] #216 closed

[2016-09-10 13:33] #248 closed

[2016-09-10 13:33] #271 closed

[2016-09-10 13:33] #273 closed

[2016-09-10 13:33] #309 closed

[2016-09-10 13:34] #311 closed

[2016-09-10 13:34] #319 closed

[2016-09-10 13:34] #330 closed

[2016-09-10 13:34] #356 closed

[2016-09-10 13:34] #398 closed

[2016-09-10 13:34] #433 closed

[2016-09-10 13:34] #454 closed

[2016-09-10 13:34] #455 closed

[2016-09-10 13:34] #486 closed

[2016-09-10 13:34] #489 closed

[2016-09-10 13:34] #491 closed

[2016-09-10 13:34] #559 closed

[2016-09-10 13:34] #561 closed

[2016-09-10 13:35] #453 closed

[2016-09-10 13:35] #495 closed

[2016-09-10 13:35] #499 closed

[2016-09-10 13:35] #530 closed

[2016-09-10 16:04] mariobehling commented on #617
@sudheesh001 It would be great, if you could help finishing this task to set up the automatic deployment to Heroku.

[2016-10-01 22:59] rusrushal13 commented on #617
Can I help you with automatic deployment task?

[2016-10-01 23:26] mariobehling commented on #617
@rusrushal13 Yes, would be great. Please help to finish this task. Thank you.

[2016-10-02 09:56] rusrushal13 commented on #617
@mariobehling Hey, I am looking into the issue but being a beginner, I am not able to do the things what you really needed. Could you help me out on this how to proceed.
I am checking stack overflow and Heroku Dev Documentations

[2016-10-03 17:32] mariobehling commented on #617
@rusrushal13 If this is too difficult for now, please choose another issue. Keep it up!

[2016-10-03 18:44] rusrushal13 commented on #617
@mariobehling Ok. I will try to find some solutions online if I could find something till the issue is open I will reply you back. Thanks

[2016-11-20 13:52] PremkumarAgrawal commented on #86
Facing issues while initializing MEAN project with,

Error: Cannot find module 'cookie-parser'

[2017-01-09 15:54] Rohanhacker commented on #617
Hey can I work on this ??

[2017-01-10 03:32] mariobehling commented on #617
@Rohanhacker Sure, go ahead.

[2017-01-11 08:19] Rohanhacker commented on #617
seems like loklak-web is not available

[2017-01-12 03:34] mariobehling opened #620 "Set up deployment of loklak_webclient on Heroku"
Currently the main loklak deployment on Heroku is broken. Please set up a deployment on your Heroku account and do the necessary. Once it is working we can do the same for the automatic deployment from the repo.

[2017-01-12 03:35] mariobehling commented on #617
@Rohanhacker I think this issue might be confusing by now as it involved a number of different tasks. I am closing it there in favor of: https://github.com/fossasia/loklak_webclient/issues/620

The goal is clearer here, I think. If you would like to take on the new issue, please ping us there. Cheers.

[2017-01-12 03:35] #617 closed, assigned to Rohanhacker

[2017-05-24 10:33] palnabarun commented on #620
@mariobehling Can you please explain the issue? Is it regarding adding a script to automatically deploy the application on Heroku?

[2017-11-06 05:58] aashutoshrathi opened #623 "Update README heading"
Change `#loklak webclient` to `# loklak webclient`, for proper markdown rendering.

[2017-11-06 07:55] mariobehling commented on #623
This project is a previous prototype and no longer active. Therefore no improvements are needed here, especially such minor issues.

[2017-11-06 07:55] #623 closed, assigned to nobody

[2017-12-12 09:47] abishekvashok commented on #620
@mariobehling, working on it I will send a link of the app once I deploy it to heroku. Then we can move on with automatic deployment.

[2017-12-12 16:29] abishekvashok commented on #620
@mariobehling giving up, we can't deploy to heroku now, the web-client is not correctlyinstalled, ./install_heroku.sh return random errors after fixing one after other. Further the packages, dependencies used etc are really out of dat. We would nee a great amount of code refractor

[2017-12-15 13:50] shikhar-scs commented on #620
Is this still up ? @mariobehling

[2017-12-15 15:19] mariobehling commented on #620
Open for anyone who would like to try.

[2017-12-15 17:18] shikhar-scs commented on #620
Ok I'm on it

[2017-12-16 04:40] shikhar-scs commented on #620
I've followed all the procedures and steps for building the webclient.
i.e setting up the api credentials, the apiURL, the loklak_server [here](https://github.com/loklak/loklak_server) which actually gets built and is working .
next running the node server at iframely, basically all of it.

However, whenever I run gulp dev as the final step I get this error
[code]

Also the tests for youtube-scrap

[2017-12-16 04:59] abishekvashok commented on #620
@shikhar-cs this is because of old node modules and a new node, updating will lead to other errors though.

[2018-02-16 10:04] simsausaurabh opened #624 "Invalid google forum link"
The given google groups link in the README doesn't exist, says 'There is no group named “loklak”.'
Current link: https://groups.google.com/forum/#!forum/loklak

[2018-02-16 10:51] simsausaurabh opened #625 "README states error generating command for npm"
`sudo npm install -g gulp` command mentioned in README.md leads to core dumped error.

![screenshot from 2018-02-16 16-11-17](https://user-images.githubusercontent.com/16608864/36304353-57746736-1335-11e8-9427-2173d3a54d27.png)

[2018-02-16 11:58] singhpratyush commented on #625
Works for me. Using `sudo` is the correct way to do global installations as you will be writing files at locations which require superuser permission. The cause of error should be something else in your case, please recheck.

Closing.

[2018-02-16 11:58] #625 closed, assigned to nobody

[2018-02-21 08:07] simsausaurabh opened #627 "Failing travis build"
- node version -  ```"node": ">=0.12.x"``` is defined in package.json and travis is set to node version - ```"0.10.26"``` leads to failing of travis build.

![screenshot from 2018-02-21 13-04-30](https://user-images.githubusercontent.com/16608864/36468705-7a1b4a06-170a-11e8-89d1-b1250112409b.png)

- ```gulp prod``` command in ```install_heroku_script.sh``` leads to connection error.

- ```npm test