[2015-06-20 16:03] fuksi commented on #170
A map is available at the moment, but content is not as rich as other search filter.
http://test.loklak.net/search?q=%23loklak%2B%2Fmap&timezoneOffset=-180

This feature is on hold until other solution like #202 is provided from @prasht63
If 2 days until the end milestone 2 no other solution is provided. I'll create a new one.

[2015-06-20 18:09] fuksi commented on #90
Before advancing with this, I want to confirm available features from the search API (so I can try to implement the rest manually the from raw result). Please tick the feature which is working/available and if it does work, give an quick example in the comment.

- [ ] Count
Changing the number of count in query is not valid at the moment.In the result, the changed field is `itemsPerPage`, but it i

[2015-06-20 18:11] mariobehling commented on #90
@Orbiter I think you should be able to answer this.

[2015-06-20 22:03] Orbiter commented on #90
these had beed actual bugs, some of them introduced lately (since & until was working before). I fixed them right now.

[2015-06-21 10:32] mariobehling commented on #166
@prasht63 This was assigned 7 days ago. What is the progress?

[2015-06-21 10:32] mariobehling commented on #93
@prasht63 This was assigned 6 days ago. What is the progress?

[2015-06-21 10:32] mariobehling commented on #92
@prasht63 This was assigned 6 days ago. What is the progress?

[2015-06-21 10:33] mariobehling commented on #62
@prasht63 This was assigned 10 days ago. What is the progress?

[2015-06-21 10:38] mariobehling commented on #110
I am closing this issue, as we are working on more specific map issues now and the sample implementation was successful.

[2015-06-21 10:38] #110 closed

[2015-06-21 10:53] sudheesh001 commented on #92
@mariobehling Prashant has sent a PR https://github.com/loklak/loklak_webclient/pull/204 It needs a few fixes

[2015-06-21 10:56] mariobehling commented on #92
@prasht63 @sudheesh001 Please actively use the issue tracker and provide updates here. Some things might have been mentioned on the chat, but "chatting" and keeping a history in the issue tracker are two different things. We need to be able to follow the developments here.

[2015-06-21 11:10] mariobehling commented on #169
For the output view of the tweets on the map, something like the following would be nice, where we can actually see a photo and the tweets of people: https://www.campaignmonitor.com/worldview/demo/

[2015-06-21 11:19] mariobehling commented on #169
Collecting links, that might be relevant (even if they are for Google Maps)
http://www.sitepoint.com/embellishing-your-google-map-with-css3-and-jquery/

[2015-06-21 11:41] prasht63 commented on #62
Reassigning to @sudheesh001  since he is handling design issues.

[2015-06-21 11:42] prasht63 commented on #166
Reassigning to @sudheesh001 since he is handling design issues.

[2015-06-21 11:44] prasht63 commented on #166
It has already been implemented with https://github.com/loklak/loklak_webclient/pull/179. Closing

[2015-06-21 11:46] prasht63 commented on #166
@sudheesh001 Add Add Photo and Add Location features to lightbox. Reopening

[2015-06-21 11:58] mariobehling opened #207 "Implement Data Handling for Plotting Tweets on the map"
Other areas dealing with markers, popups animations anything you see on the map, is in this issue: https://github.com/loklak/loklak_webclient/issues/169

[2015-06-21 11:59] mariobehling commented on #169
Note: This issue is taking with anything that deals with markers, popups animations and whatever the user sees on the map.

[2015-06-21 12:02] mariobehling commented on #205
Please create a project plan with Milestones and cooperate on getting data into loklak e.g. check out this issue: https://github.com/loklak/loklak_webclient/issues/206

[2015-06-21 12:34] mariobehling commented on #169
Here is a link to a worldmap from a send out of FOSSASIA. There are a number of JS that might be relevant for us. Please compare: https://fossasia.createsend.com/reports/wv/t/F48F8442ED58EDD3

[2015-06-21 13:01] aneeshd16 commented on #72
Can we close this? This has been solved by https://github.com/loklak/loklak_webclient/pull/191

[2015-06-21 13:10] #72 closed

[2015-06-21 17:18] sudheesh001 commented on #158
Deployed at 19a1885d39fcc38bed6f49ff659ab80a9fe3e60b

New design deployments at
http://loklak.cloudapp.net:3001/

[2015-06-21 17:50] mariobehling commented on #158
@sudheesh001 This issue is regarding the deployment on test.loklak.net. The cloudapp installation is still not working here.

[2015-06-21 18:03] sudheesh001 commented on #158
To keep this stable, only reviewed patches from the `master` branch will move to test.loklak.net Once the twitter branch merges to master, the changes will happen accordingly.

[2015-06-22 05:36] #200 closed

[2015-06-22 05:45] sudheesh001 commented on #194
I think this can be safely closed. Finished with the latest pull request #208

[2015-06-22 06:49] aneeshd16 commented on #158
Deployed using the new method. Instructions are in readme.setup. Posting them here for convenience:
1. The iframely and oauth-proxy processes should be running forever with pm2. Check if they are running or not by "pm2 list". If they are running or do not need to be updated, skip to step 5.
2. If those processes need to be updated, you need to stop them first by "pm2 stop <pm2-id>". You can get th

[2015-06-22 08:29] aneeshd16 commented on #73
Blocker:
In the wall, two types of requests are being sent. One for the tweets to show in the wall, the other for showing statistics in the wall (if enabled by the user). Both are JSONP requests. The trouble is that Angular requires a hardcoded callback parameter called "JSON_CALLBACK". So whenever I called the two request methods, the first request's callback got called with the second requests p

[2015-06-22 09:09] Orbiter commented on #73
I cannot reproduce the problem. Just call this:
[code]
and you get what you need. Please post the urls which do not work here.

[2015-06-22 09:19] aneeshd16 commented on #73
@Orbiter, the URLs work perfectly fine. For eg:
For search, i have `/search.json?q=loklak&callback=JSON_CALLBACK`
For statistics, I have `/search.json?q=loklak&source=cache&count=0&fields=created_at,screen_name,mentions,hashtags&callback=JSON_CALLBACK`
Both URLs work perfectly fine independently. However since the `callback` parameter for both requests is `JSON_CALLBACK`, when I send the second re

[2015-06-22 10:40] Orbiter commented on #206
the server part which receives this information is described in https://github.com/loklak/loklak_server/issues/35

[2015-06-22 10:53] zyzo commented on #206
FOSSASIA/Freifunk API data consist of community json files that follow this specification https://github.com/fossasia/api.fossasia.net/blob/master/specs/1.0.1.json.

To be short, this is the complete list of properties :

1. api metadata (api version)
2. **community name**
3. metacommunity (bigger community that this community belongs to)
3. **location (city, country, address, coordinates)**
4. **

[2015-06-22 10:57] zyzo commented on #206
To integrate FOSSASIA/Freifunk API data into loklak, a few questions come up :

* what kind of adapter / processor need to be written to dump the data into loklak ?
* where's the part of code should I look at for examples of these kinds of adapter ?

Just to clarify things a bit, API data consist of a lot of information about a community, like names, location, services. From the name and location,

[2015-06-22 11:11] prasht63 commented on #73
Angular's $http.jsonp converts the request querystring parameter from callback=JSON_CALLBACK to callback=angular.callbacks._0.
you can add id at the end like
angular.callbacks._1 and use it as a separate callback parameter instead of using JSON_CALLBACK
Try it, it should do

[2015-06-22 13:47] fuksi opened #210 "Search view and responsiveness"
Some of the subview in search view is not working properly in smaller screensize. Make major layout style changes before end of milestone2. Focus on **usability**, not trivial stuffs.
Update here changes here as they come, as future peer review can be handy.

[2015-06-22 19:26] aneeshd16 commented on #73
Blocker solved by https://github.com/loklak/loklak_webclient/commit/5fc3cc82da159773629195f2d05a2953b206a702. Manually constructed the URL instead of passing parameters.

[2015-06-22 20:44] aneeshd16 commented on #73
![image](https://cloud.githubusercontent.com/assets/5436027/8292485/8b90ef06-194d-11e5-8db1-4c93da488b57.png)

[2015-06-23 03:56] sudheesh001 commented on #73
This looks nice. A few ideas
- For piecharts you can show the labels inside the chart itself, here's a sample http://jsfiddle.net/wbkwdn79/
- I think using piecharts would be nice here as a widget below the `Leaderboard`.
- Can we make the bar chart spannable, so that it could hold more values and people could drag it left and right, i don't know if its possible but that kind of an interaction wou

[2015-06-23 07:33] mariobehling commented on #73
@aneeshd16 Good job! Two things:
* Please add a "#" in front of the hashtags
* The leaderboard should animate people to tweet. So, we need a list of people with a photo. Think of gamification! Everyone wants to be the first.
![leaderboard](https://cloud.githubusercontent.com/assets/1583873/8300977/a64e4874-198a-11e5-8733-fc088e2ce6f9.jpg)

@sudheesh001 The wall is mainly intended to work without u

[2015-06-23 09:13] aneeshd16 commented on #73
@mariobehling, correct the pie charts are too small and the text is unreadable. Loklak server doesn't give profile image urls in its aggregations object, but I can think of a workaround for that.
Will add the '#' in front of hashtags.

[2015-06-23 11:33] mariobehling commented on #206
@zyzo

What is your proposal?

We are just getting started with it.

How can we pump all this data to loklak? Actually we diverted from the original meaning of "API" a bit and also included more to it. In my opinion - let's focus with the API on the core topic and let other services display the data e.g. the Freifunk blog, Loklak and others.

[2015-06-23 14:52] mariobehling commented on #120
Something to look at as well: Javascript based viewer for the netjson plugin of olsrd2. It uses XMLHttpRequests to load its data without reloading the webpage and uses the vis.js (http://visjs.org/) API to display the graph data: https://github.com/almende/vis

[2015-06-23 15:37] prasht63 commented on #93
@loklak/loklak_developers I am facing a blocker over here.With hello.js I am not able to send image with the tweet which is required for this feature.
Hello.js  me/share POST request has two parameters
[code]
Here the message will contain the tweet text and the file contains the image data.
Now for this feature the server provides the image as http://loklak.org/vis/map.png?text=Test&mlat=1.28373&m

[2015-06-23 16:00] Orbiter opened #211 "send current map display range as search attribute to loklak_server"
if the user can see a map from https://github.com/loklak/loklak_webclient/issues/170 then the user probably wants to zoom into the map. Each time the user zooms into the map or changes the view, then another search must be send to loklak_server with the latest boundaries of the visible map area.

The feature https://github.com/loklak/loklak_server/issues/47 now supports this. Instead of sending on

[2015-06-23 16:02] Orbiter commented on #170
please add https://github.com/loklak/loklak_webclient/issues/211 (zoom into search region using an extension of `/location` constraint)

[2015-06-23 18:39] aneeshd16 commented on #73
![image](https://cloud.githubusercontent.com/assets/5436027/8314123/0ec85ca8-1a05-11e5-80e5-ad4b9204c5e7.png)

[2015-06-23 21:24] mariobehling commented on #73
@aneeshd16 Veru nice. Let's increase the size of the fonts of people in the leaderboard a bit. Do you have an idea how to show the date in the tweet frequency in a shorter forms, so it does not use so much space?

[2015-06-23 21:26] mariobehling commented on #73
@aneeshd16 What if people actually only use the twitterwall one day? Will the tweet frequency show up per hour? Or what if they use it one year. Then does it show up per month?

[2015-06-23 21:49] mariobehling opened #212 "Integrate sensor data from weather stations, wind temperature and other sensors on the loklak map"
A starting point to do this could be Pocket Science Lab. Right now pocket science lab is able to generate data (Temperature, Relative Humidity and wind speed) and fetch it periodically and save it as .dat file.  The data is of the form | |x1,y1,z1|, |x2,y2,z2|, ....| where x , y and z are vectors, for example time,temperature and humidity. What are the steps to integrate this data into loklak?

[2015-06-23 21:50] mariobehling commented on #212
@prasht63 Please talk with @wavicles about the integration. @wavicles can you actually implement GeoJson in Pocket Science?

[2015-06-24 05:28] aneeshd16 commented on #73
Yes, i was thinking the same about the font size.
About your second question, loklak server handles all that automatically. From the docs:
`A special field is the "created_at" field which will create a date histogram if listed in the GET-attribute 'fields'. The date histogram resolution depends on the time frame as given in the query modifer with the 'since' and 'until' time limits: minutes if the

[2015-06-24 06:05] mariobehling commented on #90
Very good outcome. Please also ensure, that the search string shows up in the search box when you show the outcome and show the final result in the standard search output page (similar to twitter).

![adv-search-output](https://cloud.githubusercontent.com/assets/1583873/8323664/d695c5d0-1a47-11e5-9410-2c763528f3ef.png)

[2015-06-24 06:07] mariobehling commented on #90
Please change the time search from to since xxxx until xxxx in loklak
![since-until](https://cloud.githubusercontent.com/assets/1583873/8323683/19413e64-1a48-11e5-85e9-483a7b88064e.png)

[2015-06-24 06:13] mariobehling commented on #90
Tried to add different search terms, but could not add current date, as I could not scoll anymore. ![cannot scroll](https://cloud.githubusercontent.com/assets/1583873/8323749/cedd9236-1a48-11e5-9c1c-7aff11315b20.png)

[2015-06-24 06:17] mariobehling commented on #90
When I enter lots of different options, I only get results back for the keyword.

[2015-06-24 08:23] Orbiter commented on #90
@mariobehling https://github.com/loklak/loklak_webclient/issues/90#issuecomment-114740244  `from: ` is already a keyword to search for tweets from a specific user. That word can therefore not be used for date ranges. I therefore choosed `since:` and `until:`

[2015-06-24 09:19] Orbiter commented on #90
the OR operand is now available, like `berlin OR frankfurt`. The operand works currently not in combination with explicit AND (like ` AND ` in query) or implicit AND (space). I made a quick-and-dirty implementation which will at least support OR usage in wall which is necessary for queries like `ots15 OR ots2015`

[2015-06-24 12:42] mariobehling opened #215 "Integrate Marine Traffic in Loklak"
More information is here: http://www.marinetraffic.com/en/ais-api-services

[2015-06-24 12:43] mariobehling commented on #90
@Orbiter @fuksi Please change "since... since..." to "since... until...."

[2015-06-24 12:47] Orbiter commented on #90
?

[2015-06-24 12:52] mariobehling commented on #215
How should we do this? Idea:
* Create an account "MarineTraffic"
* Add connect API to loklak
* Every ship gets an IoT-ID and tweets every time position or other data is updated.
* People can then follow ships (just like twitter accounts)

[2015-06-24 12:55] aneeshd16 commented on #71
What's left:
* Modify design. Simplify step 2 to make it user friendly. Right now its too complex.
* Enable fields when OR support gets added on loklak server.

[2015-06-24 12:56] mariobehling opened #216 "Implement search views on map e.g. pictures, videos, trends, IoT devices"
For an example of a trendsmap see http://trendsmap.com

[2015-06-24 14:32] fuksi commented on #90
- Added new behavior with operands "OR".
  - Fixed typo "since ... until", fixed minor styles
  - Added new behavior for location search, using `/location...` feature from the server

[Visit the PR for more info](https://github.com/loklak/loklak_webclient/pull/213#issue-90517783)

[2015-06-24 14:41] mariobehling opened #217 "Implement support for Airplane/Flight data"
Websites like Flightradar (http://www.flightradar24.com) show plane data. There are resources that offer these data (apart from flightradars private/commercial data collection).

The How to page (http://www.flightradar24.com/how-it-works) mentions the Federal Aviation Authority of the US for example (https://www.faa.gov/data_research/aviation_data_statistics/), but I have not found the live data y

[2015-06-24 15:51] prasht63 commented on #215
Isn't this a paid service? http://www.marinetraffic.com/en/ais-api-services/detail/api-service:25

[2015-06-24 16:35] mariobehling commented on #215
Yes, if we can implement this, we will learn and support a standard to show ships on the map. I do not find specific info about the API cost - http://www.marinetraffic.com/en/p/plans

We should also look out for more open data and see what are the strategies to keep the cost in balance. Also, it would be great, if we could see how we define a JSON format for ships, e.g. if people want to add their

[2015-06-24 16:51] prasht63 commented on #93
I was trying to set the form data manually but that can't be done due to security reasons.
http://stackoverflow.com/questions/1696877/how-to-set-a-value-to-a-file-input-in-html
Does anybody have any other workaround.

[2015-06-24 16:52] mariobehling opened #218 "Enable Users to add their Safecast Data to loklak (and script import of users and devices)"
Is the following method possible?
1. A user signs up for loklak
2. User clicks on "connect"
3. User chooses "IoT connect"
4. Users adds link to his/her device(s) on safecast
5. Device and Measurement Data is imported and hardtagged with "safecast" (but user can also add more tags)
6. The loklak map shows all devices tagged "safecast". Every time a measurement is updated there is a device tweet.

-

[2015-06-24 17:13] mariobehling opened #219 "Integrate Public Transport Data into Loklak"
An example of an interesting service is here: http://tracker.geops.ch
Technologies: http://geops.de/blog/technologien?language=en
Github is here: https://github.com/geops

Where does this project get the live data? I think our focus should be on live data providers too.

Every time a train arrives and leaves at a station it can tweet the coordinates and additional data on loklak and people can fol

[2015-06-24 17:26] mariobehling opened #220 "Track Emojis on Twitter and show them on a map"
Let's get inspired by the Emoji tracker: https://github.com/mroth/emojitracker

Can we show emojis used on twitter on a map and generate statistics for regions to track the mood of people around the world?

[2015-06-24 17:38] prasht63 commented on #220
Awesome idea! Maybe we can add a heatmap layer to qualitatively show the mood across the world map.The big picture is going to be so cool!

[2015-06-24 17:41] mariobehling opened #221 "Wikipedia - What data is relevant for loklak and maps?"
Wikipedia is an awesome Open Data resource. Which parts are relevant for loklak? What should we implement?

[2015-06-24 17:44] mariobehling commented on #220
I see you get the idea! Great.

[2015-06-24 17:46] mariobehling opened #222 "Implement support for postal services"
Implement support for postal services. I think we can get single tracking items out of DBs, but how about showing a map with lots of points where postages are? How much info can we get from providers like UPS for example? Would not it be awesome if postages could tweet?
https://www.usps.com/business/web-tools-apis/technical-documentation.htm

[2015-06-24 17:48] mariobehling opened #223 "Add support for weather information from US National Weather Service"
What makes sense for loklak? What should the weather be tweeting?
Reference: http://graphical.weather.gov/xml/

[2015-06-24 17:53] mariobehling opened #224 "Implement Campaign Donations on a Map"
OpenSecrets collects political donations in the US and I do not see a map yet (http://www.opensecrets.org/overview/topmetro.php)! How can this data be tweeted?

What are your ideas?

Check out the API: http://www.opensecrets.org/resources/create/apis.php

[2015-06-24 18:08] mariobehling opened #225 "Integrate Angel.co and show startups and investors on a map"
All details for the API are here: https://angel.co/api

[2015-06-24 18:31] mariobehling opened #226 "Add meetup.com gatherings to a map on loklak and implement tweets"
When should events tweet?
a) When events are posted, changed or canceled
b) When events start
c) When events end
d) When someone posts a comment or photo
e) When someone joins the group
f) When someone signs up for a meetup

Reference: http://www.meetup.com/meetup_api/

[2015-06-24 18:32] #92 closed

[2015-06-24 18:32] #181 closed

[2015-06-24 18:33] prasht63 commented on #181
Merged #209

[2015-06-24 20:59] mariobehling commented on #62
@prasht63 I do not think this is well-tested yet. Please close this after checking with all kinds of designs. Please document which designs you tested the different views including search and maps.

[2015-06-24 21:01] mariobehling commented on #166
Please compare this design first with twitter and check the differences. There is still a lot to do. Please only close issues after you confirmed, that they are 100% finished.

![tweetbox](https://cloud.githubusercontent.com/assets/1583873/8341409/f9064a18-1ac4-11e5-86a0-1caae75f4442.png)

[2015-06-24 21:16] mariobehling commented on #66
It does not seem to be present in the new design anymore. Could you check, please?

[2015-06-24 21:20] mariobehling opened #227 "Fix Start page design and features"
As referenced in previous issues e.g. https://github.com/loklak/loklak_webclient/issues/92 and partly implemented before, please fix start page after login similar to twitter.
![loklak-home](https://cloud.githubusercontent.com/assets/1583873/8107965/b4e56f98-104d-11e5-8291-97fc4a547d52.png)

Currently I get this one
![startpage](https://cloud.githubusercontent.com/assets/1583873/8341779/84b1f3f8-1

[2015-06-24 21:24] mariobehling commented on #227
Also, there was a settings option with links and possibility to logout already. Now disappeard.

![settings-loklak](https://cloud.githubusercontent.com/assets/1583873/8341847/1c32d698-1ac8-11e5-9299-36969071398b.png)

Compare to:

![settings-twitter](https://cloud.githubusercontent.com/assets/1583873/8341850/22304e5e-1ac8-11e5-99c6-ae424db79546.png)

[2015-06-24 21:58] mariobehling opened #228 "Implement Data from EU Environmental Agency on a map"
Refer to http://discomap.eea.europa.eu/home.html

[2015-06-25 07:00] prasht63 commented on #93
I have incorporated get Location with the new twitter design.Preview
![image](https://cloud.githubusercontent.com/assets/2105062/8348883/d9f14b3e-1b35-11e5-970c-f6e4ebdb26c6.png)
However I am still facing the blocker described above.

[2015-06-25 07:24] mariobehling commented on #93
Where can we test it?

[2015-06-25 07:33] Orbiter commented on #93
@prasht63 regarding https://github.com/loklak/loklak_webclient/issues/93#issuecomment-114548974 do you mean http-post form-data? Thats not a specific image encoding, thats a http request format. I don't see any way to do a 'form-data' output of the image because there is no such thing. Is this maybe simply a misunderstanding of the problem?

[2015-06-25 08:11] prasht63 commented on #93
@mariobehling I am deploying it on my test server.I will update with link.
@Orbiter Problem is with hello.js limitations.Hello.js does something like this to send a image with tweet.
[code]
The problem is we have our location tile image as URL while hello.js supports through fie upload.

[2015-06-25 08:13] Orbiter commented on #93
yes then you must download the image first before uploading that with hello.js. Is that not possible with javascript? I believe it should be.

[2015-06-25 08:15] prasht63 commented on #93
We can not upload the image through Javascript.That is disabled due to security reasons.Refer https://github.com/loklak/loklak_webclient/issues/93#issuecomment-114939710 .Only the user can.

[2015-06-25 17:50] prasht63 commented on #221
@mariobehling I found out this API provided by wikipedia which allows you to see articles near a area.https://www.mediawiki.org/wiki/Extension:GeoData#API . Please have a look

[2015-06-25 17:53] mariobehling commented on #221
Yes, nice. What other ideas do you have? How about birth/death dates of people and the location? What other interesting location data do we have? What is the most interesting?

[2015-06-25 18:09] prasht63 commented on #221
That is one interesting thing! We can have something like this,you click at
a location and you see a pop up of famous people who lived or died nearby
.People will want to click at random points on the world map to see which
famous personality is related to that.But for this I will have to look up
more in the API

On Thu, Jun 25, 2015 at 11:23 PM, Mario Behling <notifications@github.com>
wrote:

[2015-06-26 11:04] fuksi commented on #59
This is now moved to milestone 3 until further support.

[2015-06-26 11:44] #170 closed

[2015-06-26 11:45] fuksi commented on #90
@Orbiter, please open this again, when any new features are available from server :+1:

[2015-06-26 11:46] fuksi commented on #66
Fixed with the new codebase change.

[2015-06-26 11:46] #66 closed

[2015-06-26 15:51] #169 closed

[2015-06-26 15:59] mariobehling opened #231 "Top Bar - UI Design Fixes"
Please fix the
A) Center "Loklak Logo"
B) Switching between "Home" View and "Map" View shows that to top bar is not aligned identically
C) In different screen sizes and resolutions the top bar behaves differently. See screenshots below
![screenshot from 2015-06-26 17 56 08](https://cloud.githubusercontent.com/assets/1583873/8381622/06887d1e-1c2d-11e5-8323-ecc8496a1eb8.png)

--
![screenshot from 20

[2015-06-26 16:13] mariobehling opened #232 "Develop Map Page as an alternative Home Screen. Show Followers, Following, Tweets of Following on the map"
http://test.loklak.net/map Please add the following features:
1. Followers on the map (in one color)
2. Following (people) on the map (in another color)
3. Last 100 Tweets of following
4. New tweets pop up automatically (and we keep the last three tweets open. If a new tweet comes up the oldest tweets closes.)

Show an overlay box on the right, where users can show if they display 1-4.

[2015-06-26 17:33] mariobehling opened #233 "Special characters and emoticons not displaying"
Special characters don't display correctly.
![screenshot from 2015-06-26 19 32 25](https://cloud.githubusercontent.com/assets/1583873/8383398/23d86304-1c3a-11e5-9d0c-cdc024039279.png)

![screenshot from 2015-06-26 19 32 11](https://cloud.githubusercontent.com/assets/1583873/8383399/240a87ee-1c3a-11e5-97a0-2df15a37bc46.png)

[2015-06-26 17:36] mariobehling commented on #90
Let's use the standard search layout with advanced search. Or do you have another suggestion?

![screenshot from 2015-06-26 19 35 48](https://cloud.githubusercontent.com/assets/1583873/8383456/afc3d40c-1c3a-11e5-8e8c-b22c77bd731e.png)
![screenshot from 2015-06-26 19 35 34](https://cloud.githubusercontent.com/assets/1583873/8383457/afca6916-1c3a-11e5-9551-6b6d862a14db.png)

[2015-06-26 17:49] mariobehling commented on #231
Also please look into the following:
1. ensure 0 px between underline and below area (at the moment there is a white line)
2. Match color of blue with blue color of tweet button
3. Currently the effect to change blue color is delayed. Please make the effect immediate.

![screenshot from 2015-06-26 19 45 12](https://cloud.githubusercontent.com/assets/1583873/8383745/71fb2a88-1c3c-11e5-9723-1629a08d

[2015-06-26 18:01] fuksi opened #234 "Add scroll to show feature to search result"
Please also comment here what plugin will be used.

[2015-06-26 18:23] fuksi commented on #233
This is not exactly a bug. This is what provided by the server at the moment. For now I can't think of a solution to convert this to an image, because they're also not the original images neither are HTML entities, they are just alternative values (please see `alt` in the screenshot below).

http://loklak.org/api/search.json?timezoneOffset=-180&q=id%3A614486035557425152

@Orbiter, what is your tak

[2015-06-26 20:17] mariobehling commented on #233
Ok, I understand this about emojis. What about special characters like Apostrophs ('). I see here a "9" shows up for example.

[2015-06-26 20:19] mariobehling commented on #234
What options do we have?

[2015-06-26 22:10] Orbiter commented on #233
The 9's are caused by the scraper. Strange. Must debug this.

[2015-06-27 07:48] Orbiter commented on #233
I just updated loklak_server with a bugfix for bad decoded characters, including the strange 9-instead-apostroph thing.

[2015-06-27 08:30] fuksi commented on #234
Options that I have found. I'm likely to go with the first one.

- Vanilla javascript plugin: https://github.com/imakewebthings/waypoints
- jQuery plugin: http://www.infinite-scroll.com/
- Vanilla javascript

What making it slow is not getting the result from the server, but it is the process of loading rich contents (embed pictures from insta, imgur, video from youtube, twitter, facebook ..v..)
S

[2015-06-27 08:34] fuksi commented on #233
Thank you.

[2015-06-28 06:32] sudheesh001 commented on #126
This can be closed as we're safely moving away from the AdminLTE design. Please feel free to reopen in case its needed.

[2015-06-28 06:32] #126 closed

[2015-06-28 09:21] #189 closed

[2015-06-28 11:10] mariobehling commented on #227
Moving to M2.5 and assigning to @fuksi

[2015-06-28 11:12] mariobehling commented on #231
Where can I test this?

[2015-06-28 11:17] mariobehling commented on #207
@aneeshd16 Please close this issue, if it is finished.

[2015-06-28 11:17] sudheesh001 commented on #231
@mariobehling point 1 you said for is done, point 2 and 3 are pending, i'll push the patch for point 2 by the end of the day and it'll be visible in todays deployment. It's just that I am unable to figure out where the animations of the change blue effect is coming from. I've cleaned up most of the unused content in the repository. Hopefully this should be fixed soon.

[2015-06-28 11:18] mariobehling commented on #211
In howfar is this related to #207 ? Are you using the same method?

[2015-06-28 11:19] #199 closed

[2015-06-28 11:21] #166 closed

[2015-06-28 11:22] mariobehling commented on #158
@prasht63 Did you deploy the latest version yesterday?

[2015-06-28 11:24] mariobehling commented on #156
Details in statistics view.

[2015-06-28 11:24] #156 closed

[2015-06-28 11:26] mariobehling commented on #103
@aneeshd16 This is an issue for a long time already. What is the status?

[2015-06-28 11:29] mariobehling commented on #103
Related issue: https://github.com/loklak/loklak_webclient/issues/102

[2015-06-28 11:30] mariobehling commented on #102
@aneeshd16 Do you have an update here?

[2015-06-28 11:30] mariobehling commented on #97
@sudheesh001 M2 has passed. Do you have an update here?

[2015-06-28 11:33] mariobehling commented on #96
Closing this issue. Relevant issue to follow up discussions seems to be this one: https://github.com/loklak/loklak_webclient/issues/97

[2015-06-28 11:33] #96 closed

[2015-06-28 11:33] mariobehling commented on #96
Closing this issue. Relevant issue to follow up discussions seems to be this one: https://github.com/loklak/loklak_webclient/issues/97

[2015-06-28 11:39] mariobehling commented on #74
This seems to be overlapping with #102 and #103
What is the progress here?

[2015-06-28 11:40] mariobehling commented on #73
Eager to see the remaining options being implemented.

[2015-06-28 11:48] mariobehling commented on #231
@sudheesh001 What about the issues I first mentioned? A, B, C?

[2015-06-28 11:50] mariobehling commented on #210
@fuksi What is the update here? What is the specific issue? Screenshots are always good to understand what is going on. Some of the subview? Which ones?

[2015-06-28 11:51] sudheesh001 commented on #231
- [x] ensure 0 px between underline and below area (at the moment there is a white line)
- [x]  Match color of blue with blue color of tweet button. (On local, sending a PR)
- [ ] Currently the effect to change blue color is delayed. Please make the effect immediate.

[2015-06-28 11:54] mariobehling commented on #231
Did you look at the top of this issue?

[ ] Center "Loklak Logo"
[ ] Switching between "Home" View and "Map" View shows that to top bar is not aligned identically
[ ] In different screen sizes and resolutions the top bar behaves differently

[2015-06-28 11:57] sudheesh001 commented on #231
@mariobehling For those problems I mentioned something about it in https://github.com/loklak/loklak_webclient/pull/235#issue-91562495

Pasting the same back here.
The main problem I noticed while debugging the designs so far is that the top navigation has another module embedded along with it which is kept as signin-twitter and is being called to load that file, The topnav will have lesser problem

[2015-06-28 11:57] mariobehling opened #236 "Top Bar Architecture Design"
Questions from @sudheesh001 : https://github.com/loklak/loklak_webclient/pull/235 The main problem I noticed while debugging the designs so far is that the top navigation has another module embedded along with it which is kept as signin-twitter and is being called to load that file, The topnav will have lesser problems if we can integrate the functionality of signin-twitter with that of the same t

[2015-06-28 11:58] mariobehling commented on #236
Closing. Please discuss here: https://github.com/loklak/loklak_webclient/issues/231

[2015-06-28 11:58] #236 closed

[2015-06-28 12:07] sudheesh001 commented on #97
@mariobehling https://github.com/loklak/loklak_webclient/issues/95 is a subset to this problem, the problem that we are facing currently is posting the image (read as any media) content using the hello.js API, As discussed on gitter, Because of a security reason, we can't reupload an image to a hidden element in a form, so I requested for a base64 to be generated, I am looking into the issue of ho

[2015-06-28 12:09] mariobehling commented on #97
Thanks for the reference! Moving it to 2.5

[2015-06-28 12:11] sudheesh001 commented on #109
Needs support from https://github.com/loklak/loklak_webclient/issues/74 @aneeshd16 Lets discuss on what we need to do to move towards this.

[2015-06-28 12:13] mariobehling commented on #109
Before that is M2.5 Before we need this feature, there are lots of issues to solve.

[2015-06-28 12:21] mariobehling commented on #93
@sudheesh001 As @prasht63 has a lot of IoT tasks, please take over this task again. Cheers.

[2015-06-28 12:27] mariobehling commented on #74
I am renaming this issue. @aneeshd16 Can you help please and implement the account feature in regards to all of loklak instead of only the wall?

[2015-06-28 12:37] sudheesh001 commented on #93
@mariobehling Sure :smile:

[2015-06-28 12:38] sudheesh001 commented on #93
@prasht63 Can you send the diff of the code you have so far on the branch related to this issue

[2015-06-28 13:14] aneeshd16 commented on #74
Yes, will do. Currently only the wall needs to store user data. The access to storage functions on loklak_server will be via the node server (oauth-proxy). I will develop a system that will allow other apps to store arbitrary data on loklak_server. Support for this already exists server side.

[2015-06-28 13:16] mariobehling commented on #74
Ok, moving this to M2.5 then.

[2015-06-28 13:21] aneeshd16 commented on #37
This is the same as #73, we can close this so that #73 can be the single issue to track all discussion related to showing stats in the wall.

[2015-06-28 13:27] aneeshd16 commented on #102
#102, #103, and #74 are to be implemented together.Can we move this to M2.5?

[2015-06-28 13:27] aneeshd16 commented on #103
#102, #103, and #74 are to be implemented together.Can we move this to M2.5?

[2015-06-28 13:36] mariobehling commented on #103
Yes, please do. Maybe unify some of the issues if possible.

[2015-06-28 13:37] mariobehling commented on #37
Done.

[2015-06-28 13:37] #37 closed

[2015-06-28 15:10] prasht63 commented on #93
https://github.com/loklak/loklak_webclient/tree/Issue/%2393 has work done till now. Currently on clicking get location in the tweet modal, a location tile is displayed just below the tweet textarea.See preview above.

[2015-06-28 15:40] prasht63 commented on #158
@mariobehling  The last deployment by me was day before yesterday after introducing the wall-map with auto popup.After that no changes were made to master yesterday.So did not deploy.

[2015-06-28 16:17] fuksi commented on #211
This is not related to #207.
The init map search will load 300 results, but in most case, there are more. It is of course possible to load, said 1000 results in the beginning, but I witness how long it took the render the results, so more than 300 can create some bad UX, hence comes this issue/approach: zoom to load more.

Short version for the PR above:
   - Listen to `zoom` event
   - Get new ge

[2015-06-28 18:59] fuksi commented on #231
@sudheesh001, @prasht63, @aneeshd16
If you checked the html rendered in developer tools, angular directive is rendered as is, nothing is blocking your change in UI. You can do html and css just as you do in others. **Angular is only dealing with the data**. The only blocker is the template HTML. I removed all the old code and create a new navbar. Please in the future, if you want to use template c

[2015-06-29 07:37] mariobehling opened #239 "Implement Top Nav Bar to fit different screen sizes"
Implement changes for:
* change size of tweet button depending on screen size
* change size of search area depending on screen size
* make text of top bar items disappear and show icons only for small screen sizes.

Compare the behaviour with the twitter top bar:

![screenshot from 2015-06-29 09 32 44](https://cloud.githubusercontent.com/assets/1583873/8403140/19898f72-1e42-11e5-8f24-746c6ed17f8f.

[2015-06-29 07:59] mariobehling commented on #158
@sudheesh001 Please assign the deployment to Aneesh at the end of today.

[2015-06-29 07:59] mariobehling commented on #158
@prasht63 You should then assign to the next person in line. Please keep the deployments going and assign at the end of the day to the next person.

[2015-06-29 10:31] mariobehling opened #240 "Implement Settings Sections and Pages"
![settings-loklak](https://cloud.githubusercontent.com/assets/1583873/8341847/1c32d698-1ac8-11e5-9299-36969071398b.png)

Compare to:

![settings-twitter](https://cloud.githubusercontent.com/assets/1583873/8341850/22304e5e-1ac8-11e5-99c6-ae424db79546.png)

Related to: https://github.com/loklak/loklak_webclient/issues/227

[2015-06-29 10:34] mariobehling commented on #227
@fuksi Center following stream is missing at the moment. Please add it back.

[2015-06-29 10:34] fuksi opened #241 "Remove transition effect in all views"
List here where transitions have been removed.

[2015-06-29 10:52] mariobehling commented on #233
Still seems to appear in user names.

![screenshot from 2015-06-29 12 51 47](https://cloud.githubusercontent.com/assets/1583873/8406538/a7481f8e-1e5d-11e5-8084-786a9d2b5761.png)

![screenshot from 2015-06-29 12 51 28](https://cloud.githubusercontent.com/assets/1583873/8406539/a74e81c6-1e5d-11e5-8819-a692cd93a84c.png)

[2015-06-29 11:01] mariobehling opened #242 "Load new tweets when user changes search filter view"
At the moment search view already shows if there are new tweets on top. If I change the view e.g. switch from "live" to "photos" new results should be added on top of "photos".

At the moment the info "xx new tweets" still comes up after I changed the view.

Expected behaviour: All new tweets are loaded.

![screenshot from 2015-06-29 14 28 26](https://cloud.githubusercontent.com/assets/1583873/840

[2015-06-29 13:56] Orbiter commented on #233
I just fixed and deployed a fix for this; however, it applies only on new users scraped after the fix was active.

[2015-06-29 16:36] sudheesh001 commented on #158
Moving to @aneeshd16 Todays' deployment done at 04c054754c2164318ae13100c912690321c4575b

[2015-06-29 16:44] mariobehling commented on #158
@sudheesh001 What does it mean?

Please include all PRs of today!

[2015-06-29 16:49] mariobehling commented on #95
@sudheesh001 What has been the progress here today?

[2015-06-29 18:35] sudheesh001 opened #243 "Unreliable showcase of tweets from people you follow after auth on home page"
The data seems to be loading correctly, and in order, even the functions work perfectly and the data can be successfully console logged, but it's just highly unreliable. This needs a fix.

[2015-06-29 18:43] sudheesh001 commented on #158
Update: Deployed at efc692fc726d6a81d9f3adaad690ef194e850366

[2015-06-29 19:27] mariobehling commented on #233
Ok, I am closing this then. I am still seeing user's like that. I wonder if it is possible to re-import these user again. @Orbiter I leave it to you then. Cheers!

[2015-06-29 19:27] #233 closed

[2015-06-29 19:29] sudheesh001 commented on #95
Solving this would also resolve
- #93
- #97
- #94 (Markdown support yet needed from server)
The progress is that I can use the oauth values statically and push tweets but unable to retrieve the user auth values post login into the node part of the application. Will be looking into it.

[2015-06-29 19:34] Orbiter commented on #211
The webclient send integer values to the back-end, which makes result bad and invisible once the zoom level is high. The bug is obviously caused by `parseInt`, see https://github.com/loklak/loklak_webclient/commit/131d25cd955f99fb620f89639385c9b513e08c82 at line 330-333. These values must be double.

[2015-06-29 19:52] prasht63 opened #245 "Use the search service to render the map at /map"
If we can make this map created through a search request we can use the same code basis as the search.So that when the code changes for search the /map reflects the same changes

[2015-06-29 22:03] mariobehling commented on #232
Just a thought: I would like to see where the followers of Justin Bieber come from. There is usually a location tag in users profile.

[2015-06-30 04:59] sudheesh001 commented on #241
I've seen all the views that are there actually very few transitions,
1. The top nav bar has the transitions of the items on hover.
2. In the search view, the filter options have a transition on hover.
3. Sign in and Tweet buttons have transitions of the modal boxes / lightboxes.
4. Wall has a large modal box that's present with a transitions between the 3 sub windows.

I am not really sure what's

[2015-06-30 05:21] aneeshd16 commented on #207
Solved by https://github.com/loklak/loklak_webclient/pull/214

[2015-06-30 05:21] #207 closed

[2015-06-30 05:35] #243 closed

[2015-06-30 06:57] sudheesh001 opened #247 "Allow favorite and retweet to work via the hello API"
http://adodson.com/hello.js/#helloapi

POST /me/like
POST /me/share

Parameters required, tweet "id"

Currently the tweets shown have an ID thats available with each one, we have the favorite and the retweet buttons available too, the above two APIs can implement the functionality of these buttons.

[2015-06-30 07:08] sudheesh001 opened #248 "Page showing followers and following for the user after being logged in."
Implementation after : https://github.com/loklak/loklak_server/issues/61

Once loklak would be able to scrape the followers and following information of the user, we should be able to show case the list of followers and people whom you follow on loklak too.

It'll look similar to https://twitter.com/<user_handle>/followers and https://twitter.com/<user_handle>/following

[2015-06-30 07:11] mariobehling commented on #241
Make the transition time 0.

[2015-06-30 11:55] aneeshd16 commented on #73
With the current view, there is no space to show "top mentions". Squeezing it alongside top twitterers and top hashtags will be too congested. Either we can drop "top mentions" altogether or squeeze it somewhere between the leaderboard and histogram. Frankly, I don't see how that can be done.

Another option is to have the user choose what to show on the wall. Any two options from - top twitterers

[2015-06-30 12:03] mariobehling commented on #73
Yes, I see you understand where we want to go -> towards widgetization. Let the users choose. We can do this later like Wordpress does it. The user can drag and drop widgets. For now just make it simple, please.

[2015-06-30 12:08] aneeshd16 commented on #73
Okay, we won't show "top mentions" for now.

Regarding the histogram, I will be implementing histogram binning, which will be a better representation of the data rather than showing just the last 25 points.

[2015-06-30 12:16] mariobehling commented on #210
![screenshot from 2015-06-30 14 14 28](https://cloud.githubusercontent.com/assets/1583873/8430491/737aba1a-1f32-11e5-8ec0-19afae57c674.png)
* [ ] Please also try to keep all search filters in one row

[2015-06-30 13:01] mariobehling opened #252 "Fix design of twitter wall"
There a lot of things that need improvements. Look for example the screenshots below
* [x] scroll bar shows up - it shouldn't!
* [x] number of tweets should adapt to size of available screen (compare tweetwall!)
* [x] number of tweet should not cover logo or face too much in the sidebar: The face is the important thing! People want to see who is number one
* [x] map view still have lots of issues

[2015-06-30 13:05] mariobehling opened #253 "Fix characters and shorten URL views"
![screenshot from 2015-06-30 15 02 32](https://cloud.githubusercontent.com/assets/1583873/8431354/299fdde2-1f39-11e5-9b6c-fcacee602f52.png)
* [x] fix wrong characters that still show up for old tweets (if possible)
* [x] take out "http" or "https" from links
* [x] autoconvert long links to show only the link beginning and "..."

[2015-06-30 13:07] aneeshd16 commented on #252
These are known bugs, thanks for creating the issue. I am working on them.

[2015-06-30 13:09] mariobehling commented on #252
Ok, good! Related to the display length of tweets is https://github.com/loklak/loklak_webclient/issues/253

[2015-06-30 13:45] Orbiter commented on #253
The wrong characters cannot be fixed for old tweets :(
The issue with character parsing is fixed, but for already parsed tweets the fix is too late.

[2015-06-30 15:35] mariobehling commented on #241
Tweet button still has a transition, that is too slow.

[2015-06-30 21:21] #241 closed

[2015-06-30 22:33] mariobehling commented on #231
* [ ] In last version the top bar misses white edges on both sides in map search view.

![screenshot from 2015-07-01 00 31 52](https://cloud.githubusercontent.com/assets/1583873/8443639/b985069a-1f88-11e5-9c91-924d9528a319.png)

[2015-06-30 22:38] mariobehling commented on #231
The following views slightly move the top bar
* [ ] search in account view
* [ ] wall view top bar (switch between home and wall and see the top bar moving, why?)

Other
* [ ] tweet button disappears in some resolutions.

(Please click on all fields including in former comments, what is solved)

[2015-07-01 04:23] aneeshd16 commented on #158
Deployed yesterday night.

[2015-07-01 08:17] sudheesh001 commented on #95
Blocked by #249 , commit for fixing https://github.com/loklak/loklak_webclient/issues/118 which makes the add photo a file picker.

[2015-07-01 09:04] sudheesh001 opened #255 "Clean up duplicate style files which are present in the application"
There are a few files which are still present in the application and not being used at all. This bug will be to clear those files.

[2015-07-01 12:22] #255 closed

[2015-07-01 16:12] #118 closed

[2015-07-01 16:12] #247 closed

[2015-07-01 16:15] sudheesh001 opened #257 "Show some visible output on favorite / retweet action being triggerred"
This is a follow up to #247 which successfully implements the functionalities but offer no visual feedback to the user, the main problem is that
- Even if the visual feedback of changing the star color etc.., is given, it'll disappear on refresh of the page
- The loklak server doesn't give the list of who liked it so its hard for the sessions of the logged in user to ensure that he has favorited o

[2015-07-01 16:17] mariobehling commented on #247
Just to ensure, I understand everything correctly: The tweets are saved with their complete dataset (e.g. including IP and Geolocation info) in loklak and crosstweeted to Twitter, correct?

[2015-07-01 16:18] mariobehling commented on #257
As this is related to the server, please also discuss this with @Orbiter.

[2015-07-01 16:19] mariobehling commented on #118
For new functionality, please offer a link to a place, where can we test this? It is also advisable to add a screenshot of new visual features.

[2015-07-01 16:20] mariobehling commented on #247
Also the favs are served in the loklak DB or not?

[2015-07-01 16:21] sudheesh001 commented on #247
This is just the retweet / favorite action being performed on the existing tweets which are present from the server, the tweet ID information is being taken from the content served by the loklak server, the retweet action using this ID from the server is taken and then sent over to Twitter, After this the scraper does its job, All the content that's initially been present with the tweet is also th

[2015-07-01 16:23] mariobehling commented on #247
@Orbiter Is this the preferred way?

[2015-07-01 16:31] sudheesh001 commented on #118
Tweet interface with the new file picker option as a button instead of the usual file picker.
![screen shot 2015-07-01 at 9 58 44 pm](https://cloud.githubusercontent.com/assets/4545925/8459683/8a4c9e38-203c-11e5-88d0-d4bfa33177a5.png)
Action post clicking on the Add Image button.
![screen shot 2015-07-01 at 10 00 02 pm](https://cloud.githubusercontent.com/assets/4545925/8459684/8d2c2e66-203c-11e5-

[2015-07-01 17:48] fuksi commented on #231
Noted

[2015-07-01 19:14] mariobehling commented on #212
@wavicles What is your update?

[2015-07-01 19:31] fuksi commented on #231
VIews slightly moves because of the appearance/disappearance of scrollbar.

![image](https://cloud.githubusercontent.com/assets/6878677/8462921/a490882e-203f-11e5-856d-c6d0baa35f16.png)

- Search in account view: This I can mimick to prevent the moving top bar because the results are always long enough. This is fixed with PR #259

- Switching between wall - home: For a logged in user, the timeline

[2015-07-01 19:43] fuksi commented on #239
Regarding https://github.com/loklak/loklak_webclient/pull/237#issuecomment-116650242
It's true that most sites have items listed verticaly
![image](https://cloud.githubusercontent.com/assets/6878677/8463239/7e340140-2041-11e5-80a4-bc58fbfb4944.png)

However, our view I suggest keeping the horizontal list for now, because our view's name is very short, until there is a need to have vertical list.

[2015-07-01 19:47] mariobehling commented on #231
Please check if the window width is smaller the tweet button disappears indeed. Please also compare the behaviour with twitter in detail with different screen widths. Let's look more at details.

![screenshot from 2015-07-01 21 46 13](https://cloud.githubusercontent.com/assets/1583873/8463465/bbe900e6-203a-11e5-9446-c83ccb782895.png)

[2015-07-01 19:49] wavicles commented on #212
Hello Mario
Please find the attached .dat file generated using weather station.
I did logging for past few hours and fetched data every 30 minutes.

   - First column is time in minutes
   - Second column is temperature in Degree Celsius (used LM35 sensor)
   - Third column is wind speed in km/h (using home-made anemometer)
   - Fourth column is relative humidity in %  (using DHT11 sensor)

I am n

[2015-07-01 19:55] mariobehling opened #260 "Home list of tweets unordered in loklak"
The list of home tweets is usually ordered according to last tweets on top. The list on loklak is unordered.

![screenshot from 2015-07-01 21 53 27](https://cloud.githubusercontent.com/assets/1583873/8463574/c7886832-203b-11e5-9439-9b5fdd7bfa06.png)

[2015-07-01 19:57] mariobehling commented on #212
@wavicles This is an issue on github. I think you replied by email and attachments get stripped. Please upload the file somewhere and link it for us. Please sign in to github and verify your messages. Thanks!

[2015-07-01 20:00] mariobehling commented on #239
Please compare your solution with the twitter bars on the top as a reference and you will see, that there are a number of improvements necessary before we can close this issue.

[2015-07-01 20:02] mariobehling commented on #239
Please also read more carefully the description of the issue and mark for us, what has been implemented:

* [ ] change size of tweet button depending on screen size
* [ ] change size of search area depending on screen size
* [ ] make text of top bar items disappear and show icons only for small screen sizes.

[2015-07-01 20:14] wavicles commented on #212
Hello Mario
The original file is here
https://drive.google.com/file/d/0B61l01VLhQ1MVnRxbkN0bVBkcWc/view?usp=sharing

[2015-07-01 20:35] wavicles commented on #212
I am working on the program to get both temperature and relative humidity from a single sensor DHT 11. The time will be taken directly from the system instead of elapsed time.

[2015-07-01 20:38] mariobehling commented on #231
Except for the missing tweet button, let's move the other details to M3. We want to progress with other features as well.

[2015-07-01 21:23] fuksi commented on #231
Fix missing tweet button in #259.

[2015-07-01 23:10] fuksi commented on #239
I would have no probs/obstacles implementing the above, however, IMO the contexts are clearly different.
For a twitter user, it easy to look at these and guess what they are, because they're using twitter!
![image](https://cloud.githubusercontent.com/assets/6878677/8466498/1c12d462-205c-11e5-8caa-b6fb2f73032b.png)
But for a new loklak user, would this be friendly UX? ![image](https://cloud.githubu

[2015-07-01 23:14] fuksi commented on #121
Authentication and session is already completed with Hello.js from milestone 2. Implementation of JWT in then irrelavent.

[2015-07-01 23:14] #121 closed

[2015-07-02 05:37] prasht63 commented on #232
am able to get the list of followers from the Twitter using hello.js api however the location in the response is the name of the place.To plot on the map I need the coordinates.I tired using Google Maps API to geocode the location but that's too slow since they put a cap of 5 results per second.Thus we need loklak to provide Geocoding Service.A issue has been created
Requires https://github.com/lo

[2015-07-02 05:43] prasht63 commented on #158
Updat Deployed at https://github.com/loklak/loklak_webclient/commit/64c87d4c5767bca0c82c92d8d8aaa2db49e4b107

[2015-07-02 05:54] prasht63 commented on #212
@wavicles Can you describe the data a bit.I see this
[code]
Can you add column names and a bit of description.Also it possible to live stream this data?

[2015-07-02 06:45] wavicles commented on #212
Hi Prashant

First column is Time elapsed in minutes.
Second column is temperature in degree Celsius.
Third column is wind speed in kmph.
Fourth column is relative humidity in %.

Regards
Praveen

[2015-07-02 06:56] sudheesh001 commented on #260
The sorting function was implemented here which was removed because it kept resulting into a timeout, this needs to be put in correctly so that we avoid the delays.
https://github.com/loklak/loklak_webclient/commit/26ef0f69fa91acd1e2f879fc678e4e27f8290bff#diff-4c242643d0a18b0152c046e9ed637055L46

[2015-07-02 07:23] mariobehling commented on #260
@sudheesh001 If you take out basic functionality, please create an issue and assign to the responsible. We cannot just get rid of features that are implemented once. Thanks for solving the issue, but it is not completely solved until the functionality is there. Hence: Create an Issue in future!

[2015-07-02 07:31] fuksi commented on #260
I'll solve this today.

[2015-07-02 07:35] mariobehling commented on #95
* [ ] Please ensure that the photo thumbnail shows up once the image is uploaded
* [ ] Resize a copy of the photo to the maximum dimension allowed in twitter

[2015-07-02 07:44] mariobehling opened #261 "Tweet location erroreous despite seemingly clear location information"
Checking the tweet map, I see that lots of locations are wrong e.g. Reuters reports "Washington...", but the tweet shows up in Africa. Or someone makes a tweet #cuba, but it shows up in Asia.

@Orbiter What can be done to improve the tweet map locations?

![screenshot from 2015-07-02 09 41 17](https://cloud.githubusercontent.com/assets/1583873/8472119/c6c43b5c-209e-11e5-96e5-c9ef1b78cb2b.png)

[2015-07-02 07:59] fuksi commented on #260
@sudheesh001, why is it resulting in a timeout?
I just looked back and the sort function is accurate and place at the right place to not interrupt anything.
Sorting ~ 30 statuses is very fast - 0.064s - You can't notice that.

Please compare the live version on PR #260 and http://test.loklak.net/

[2015-07-02 08:16] mariobehling commented on #239
Yes, good input.

1. Please make the smaller version of the tweet button with the twitter bird then. This should be easier to understand. Also a square around the tweet button might be an option. We can experiment this later as well with a designer. For now it is important to have a smaller button as well.

2. Please also make the icons bigger in relation to the text. See how the icons itself are

[2015-07-02 08:18] mariobehling commented on #239
We also need a button for the top nav bar item "Connect". Here we want to show all services and devices (IoT) that are connected to loklak. What icon could you think of?

[2015-07-02 13:10] #242 closed

[2015-07-02 13:12] mariobehling opened #262 "Create a Trend Section in the Sidebar on Search"
The current section "trends" is a place holder. Implement a real trends are in the sidebar.

[2015-07-02 13:30] sudheesh001 commented on #239
These look like possible icons for the task in my opinion
http://fontawesome.io/icon/heartbeat/
http://fontawesome.io/icon/puzzle-piece/
http://fontawesome.io/icon/sitemap/
http://fontawesome.io/icon/magic/
http://fontawesome.io/icon/umbrella/

[2015-07-02 13:32] mariobehling commented on #90
* [ ] Please make two location buttons into one. Let's make it easier for the user to make less clicks.
(compare with twitter)
![screenshot from 2015-07-02 15 30 43](https://cloud.githubusercontent.com/assets/1583873/8478094/7cd0a716-20cf-11e5-971e-d4d7aa02899c.png)

![screenshot from 2015-07-02 15 27 16](https://cloud.githubusercontent.com/assets/1583873/8478095/7cece994-20cf-11e5-8ca2-3f158d6385

[2015-07-02 15:33] Orbiter opened #263 "Double request when searching tweets"
when at the loklak_webclient a search is submitted, two search request are submitted to loklak_server.
This is not expected, only one request shall be submitted. Submitting two requests very fast after each other may cause unexpected behaviour, i.e. by DoS limitations of loklak_server

Steps to reproduce (this is always reproducible, for all search terms):
- cd into `/home/loklak/loklak/data` on l

[2015-07-02 15:40] Orbiter opened #264 "No /location constraint used when searching the map with first request"
After a search (which shows the tweets) you can click on the map view. As soon as you click on the map view, you expect locations on the map. This sometimes fail (nothings shows up) or is unsatisfying. Here is the reason: the search query to the map is missing the `/location` constraint, which select tweet with locations on the server side.

Steps to reproduce (this is always reproducible, for all

[2015-07-02 15:50] Orbiter opened #265 "re-load locations on map pan"
When the webclient shows a map, it always submits a fresh request to loklak_server when the map is zoomed in or out. Thats good but we want to show more locations also if the map is moved in any directions.

Please submit a search query for all changes of the map, including map pan.

[2015-07-02 15:55] Orbiter commented on #211
Has been fixed!

[2015-07-02 15:55] #211 closed

[2015-07-02 16:28] mariobehling commented on #206
@sudheesh001 Why has this been closed? Where can I test the implementation?

[2015-07-02 19:08] mariobehling opened #266 "Render Map page without scrollbars in most usual resolutions"
Similar to other map sites like Google maps or our own map search page, please render test.loklak.net without scrollbars.

![screenshot from 2015-07-02 21 06 14](https://cloud.githubusercontent.com/assets/1583873/8485496/4901e4d4-20fe-11e5-98f5-d41689dc54eb.png)

[2015-07-02 20:58] Orbiter opened #267 "show individual tweet when clicking on date on tweet-pop-up on map"
If you click on a marker on the map, you see the tweet for that location. At the bottom, there is the date of the tweet. Consistently, the date should be clickable and if clicked on the tweet the individual tweet view shall be shown. Currently there is no link behind the date. Just add a link behind the date and link to the individual tweet view inside loklak.

[2015-07-02 21:04] Orbiter opened #268 "don't show search constraints in the search box for map/accounts/video/photos"
when a search was done and one of the map/accounts/video/photos options are clicked, the corresponding constrained is shown in the search box as well. This is confusing and nothing the user should see. The information that the view is currently on map/accounts/video/photos must be kept somwhere else in the view status, but not in the search box.

While the constraint should not be visible in the s

[2015-07-02 21:08] Orbiter opened #269 "keep the current view if a new search is submittet. Applies to all map/accounts/video/photos"
Consider that a search was made and a different view than 'life' was selected. If a user then submits a new search term, then the current view of map/accounts/video/photos shall be selected, not 'live' by default.

This actually applies also to the current view selection of the map. If the user has zoomed into a specific part of the map and a new search term is submitted, then the next view with s

[2015-07-02 21:41] mariobehling commented on #268
Not sure, if I understand that right, cause the idea is, that the user can also enter the search constraint him/herself and then it would show up. Also with additional constraints the user could create specific views like in advanced search. So, I am not clear why these constraint are confusing or are we thinking about different things?

[2015-07-03 04:48] sudheesh001 commented on #268
@mariobehling I think I understand it this way.

Remove the show of constraints in the blue search bar, so instead of showing `FOSSASIA+/photos` etc.., we'll apply the photo filter and change the URL but the content should remain `FOSSASIA` so that it doesn't look like there's a long complex string present in there.

[2015-07-03 04:50] sudheesh001 commented on #206
@mariobehling I think this got closed because of the term `Fix #206` which was present in the pull request content https://github.com/loklak/loklak_webclient/pull/259 I've been adding a label `Checked` in case it works and is actually supposed to be closed.

[2015-07-03 05:58] mariobehling commented on #253
Just to be sure: This issue applies to all views including walls, home screen, search etc.

[2015-07-03 06:00] aneeshd16 commented on #253
Absolutely. I am modifying the `tweetTextLink` filter, which would automatically affect any view that's using the filter.

[2015-07-03 06:04] Orbiter commented on #232
the geocoding servlet is now available. See https://github.com/loklak/loklak_server/issues/62 for details.

[2015-07-03 08:19] zyzo commented on #206
@sudheesh001 I think you meant `#260` ?

[2015-07-03 11:55] mariobehling commented on #232
Let's keep this issue open and keep info here to smoothen this feature and implement all details.

[2015-07-03 12:19] prasht63 commented on #232
Yes

[2015-07-03 12:24] aneeshd16 commented on #253
Before:
![image](https://cloud.githubusercontent.com/assets/5436027/8499063/4347971a-21ac-11e5-867a-4a0bac4a5a57.png)
After:
![image](https://cloud.githubusercontent.com/assets/5436027/8499051/21e92336-21ac-11e5-807f-0eda09a2f05c.png)

The link length is kept to 22 characters, same as Twitter.

[2015-07-03 12:42] mariobehling commented on #253
@Orbiter @sudheesh001 I don't understand why the "we've" is again rendered as "we9ve".

[2015-07-03 13:41] mariobehling opened #271 "Propose and implement wall main page"
Let's rethink the interface of a wall. We want to achieve several goals:
1. Show a wall on a big screen
2. Show a wall on mobile phones (without opening another tab for a better user experience)
3. Embed walls in websites
4. Implement "likes" and sharing features

Let's think of the wall in the way of a page on Facebook or Vimeo embedded item?

For simplicity the wall currently opens in a new tab.

[2015-07-03 13:45] mariobehling opened #273 "Popular Walls Deck"
Add a deck item "Popular Walls" to the test.loklak.net/walls

[2015-07-03 13:46] mariobehling opened #274 "Show Thumbnails of Walls on Main Wall Page"
Walls should be shown as thumbnails on the main wall page.

[2015-07-03 15:00] mariobehling commented on #74
Thoughts on accounts:
* user should be able to login with email address
* user gets an account link generated by system e.g. loklak.net/sdigf2dsf98sj
* user can add an account name of his choice e.g. loklak.net/favouriteusername, but we will charge 1 USD per year for this (let's use Paypal for the beginning)
 * how to implement this? Think of how Facebook allows people to register their page. You

[2015-07-04 03:28] sudheesh001 commented on #253
@mariobehling I think @Orbiter  has made the patch to fix the appearance of 9 inplace of apostrophe to the server and it works but the only problem being that the tweet might have been scraped in the past when this patch wasn't there so its already late to correct them, we'll look forward to solutions where we can try replacing existing contents. Lets discuss that

[2015-07-04 05:48] mariobehling opened #277 "Delete unused Google Maps Api and unnecessary links/references required by Advanced Search and preferentially substitute with loklak integrated solution"
Delete unused Google Maps Api and unnecessary links/references e.g.

http://maps.googleapis.com/maps/api/js?key=AIzaSyBE1JH_NZ0LvGeGAjV4n78pH_t7jkeKPCo&libraries=places&sensor=true" is on the search page. Why?

http://test.loklak.net/search?q=obama

According to @fuksi This is required for Autocompletion of Advanced Search

[2015-07-04 06:06] mariobehling commented on #227
On settings area "view profile" should direct to loklak user page not to twitter.

[2015-07-04 06:51] fuksi commented on #227
Done straight on master. Now will direct to home view, which is the current loklak user page.

[2015-07-04 07:28] Orbiter opened #278 "use location_mark instead of location_point for marker locations on the map"
The `location_mark` is the position where the markers on a map shall be painted, not on `location_point`, which is the 'real' position. The marker is the location plus applied fuzziness to see several markers instead of one if there are severals in search results.

I see location_point at
https://github.com/loklak/loklak_webclient/blob/ebb233e3e57ee888d76c1648aa78097619563769/app/js/directives/map

[2015-07-04 07:47] mariobehling commented on #227
@fuksi Please check the different between home page and user page on twitter and implement it in the same way. The user page is not the same.

[2015-07-04 07:55] mariobehling commented on #278
This is related to https://github.com/loklak/loklak_webclient/issues/232

[2015-07-04 07:57] mariobehling commented on #278
@fuksi This is also related to the map search.

[2015-07-04 08:00] mariobehling commented on #103
Could you provide a mockup about your ideas, please? Is the wall main page and a dashboard the same?

[2015-07-04 08:02] aneeshd16 commented on #253
Closed via 216e8428825fb3b347d24d42cedfc6766fef6432

[2015-07-04 08:02] #253 closed

[2015-07-04 08:28] aneeshd16 commented on #103
Yes, the main wall page and dashboard should be the same.

Anon user:
![image](https://cloud.githubusercontent.com/assets/5436027/8507177/8ee75c84-2254-11e5-8cc6-091a62d4db1e.png)

Logged in user:
![image](https://cloud.githubusercontent.com/assets/5436027/8507179/97e211a8-2254-11e5-982b-b2ebf5ce68a1.png)

[2015-07-04 08:33] mariobehling commented on #103
What about analytics?

[2015-07-04 08:34] mariobehling commented on #103
Ok, this looks like a good start, that people can use I guess.

[2015-07-04 09:03] prasht63 commented on #278
Fixed with #279

[2015-07-04 09:09] mariobehling commented on #278
Assiging this to fuksi. Please check in howfar this is relevant to the map search.

[2015-07-04 09:15] Orbiter commented on #194
the link is correclty coloured and clickable, however clicking on the link replaces the current view and does not open a new window tab as requested. Please add a `target="_blank"` to the link which will create the required functionality.

[2015-07-04 09:16] prasht63 commented on #278
@mariobehling I have changed it everywhere.At all places we are plotting maps as suggested by @Orbiter .So this is good to close.

[2015-07-04 09:17] Orbiter opened #280 "all links (hashtags, user names, http references) in tweets must be underlined on mouseover"
We already have all links in tweets clickable and in the right color, but on twitter the behaviour on mouseover is, that the link is underlined. Please add underlines for all links in tweets - but ONLY on mouseover. If the tweet is visible without any mouseover, the links shall NOT be underlined.

[2015-07-04 09:17] mariobehling commented on #278
Awesome!

[2015-07-04 09:18] #278 closed

[2015-07-04 09:23] mariobehling commented on #277
[code]

[2015-07-04 09:23] Orbiter opened #281 "clicking on the 'Map' option removes the blue headline showing the current search term"
if a search was done and the tweet list is visible, click on the 'Map' option. The blue headline disappears. This behaviour is different from the other search options, where the blue top-bar stays in place. Please keep the blue headline when clicking on the map option.

[2015-07-04 09:24] mariobehling commented on #277
@mariobehling, At some point we're depending on another API and libraries, e.g OSM, what is important now is that the API should be free and last for a long time.  Anyway I understand. I'll try to find a open source service that we can implement locally.

@Orbiter What are your ideas?

[2015-07-04 09:25] mariobehling commented on #277
@fuksi Could you please explain again, whey this is showing up on all kinds of pages?

[2015-07-04 09:31] mariobehling commented on #281
I would also like to discuss this. One one hand it is good to have the additional info on the blue line. On the other hand the line takes valuable space in the interface, e.g. if we add it to the map search page, the map on my 15 inch screen will be even smaller.

[2015-07-04 10:01] sudheesh001 commented on #194
@Orbiter This is not reproducible, all the links in the search open up in a new tab. https://github.com/loklak/loklak_webclient/blob/master/app/js/filters/tweetTextLink.js#L21

[2015-07-04 10:07] Orbiter commented on #194
is this deployed?

[2015-07-04 10:19] sudheesh001 commented on #194
Yes, just tested on Loklak Test

[2015-07-04 10:20] sudheesh001 commented on #158
Deployed at 9601dc50c76f1cef6b16ce17c4d8c68bcb10a3d8

[2015-07-04 10:45] mariobehling opened #283 "Create User Profile Page"
What is on that page?
1. Compare to twitter
2. A view of the user data on a map

What is the URL?
http://loklak.net/-ashorturl
for a unique username people could pay.

This is related to accounts and twitter wall account implementation issues and UI https://github.com/loklak/loklak_webclient/issues/227

[2015-07-04 10:45] Orbiter commented on #194
it's working!

[2015-07-04 10:45] #194 closed

[2015-07-04 10:46] mariobehling commented on #227
I am closing this issue as settings and profile pages a quite a big feature and can be discussed separately. https://github.com/loklak/loklak_webclient/issues/283

[2015-07-04 10:46] #227 closed

[2015-07-04 10:53] Orbiter commented on #160
This is not working. When I click on the tweet age, the tweet view changes (shows date below message) but that is not the expected behaviour. If the tweet age is clicked, the individual view of the tweet shall be shown directly.

[2015-07-04 10:58] mariobehling commented on #160
@Orbiter I think twitter changed that and it looks to me we are mimicking the same as twitter currently.

[2015-07-04 11:01] mariobehling commented on #160
It looks to me there is no way to directly open a twitter feed in a single click anymore. It is just possible to copy the URL from a share as a tweet or DM. Any ideas?

![screenshot from 2015-07-04 12 59 43](https://cloud.githubusercontent.com/assets/1583873/8507670/a9e652e0-224c-11e5-8933-05c158716793.png)

[2015-07-04 11:03] Orbiter commented on #278
I just tested this on the live map and it looks interesting! Did you try out the effect? However, it's working, great!

[2015-07-04 11:07] prasht63 opened #284 "Show followers and following on different Layers on the map."

[2015-07-04 11:11] mariobehling commented on #284
@prasht63 As you are working on the UI as well: Please check if you can also implement that the scrollbars do not show up for the views as described here https://github.com/loklak/loklak_webclient/issues/266

[2015-07-04 11:24] Orbiter opened #286 "selection of hashtag-link sometimes fails"
hashtags shall be marked as link. That moslty works, but in some cases not:

<img width="646" alt="hashtagfail" src="https://cloud.githubusercontent.com/assets/238730/8507736/dc594a5e-224f-11e5-96a6-304ecb38553f.png">

This may be a problem with umlaute, but strangely it works with the word "Köln" but not with "München".

[2015-07-04 11:30] sudheesh001 commented on #286
The hastag regex has
[code]
so the ü character is missing and has to be converted into
[code]
But this would just solve it for this case, what are the other possible cases in which this could fail ?

[2015-07-04 11:31] Orbiter opened #287 "Show place name in individual tweet pop-up in case that the place was submitted by twitter"
When investigating if the place mapping was done correctly, some tweets can be seen which obviously do not have a place name within their tweet text. Therefore it is not transparent why that tweet appears on that specific location on the map. Therefore place names submitted by twitter is an important context information which should be shown together with the tweet text.

In contrast to the visibi

[2015-07-04 11:32] mariobehling commented on #286
Please try out all kinds of special local characters and other languages as well. @sudheesh001 Please do some tests as well.

[2015-07-04 11:43] Orbiter opened #288 "links from tweet view on map shall go to loklak, not twitter"
all links which refer to users on the map view of tweets are currently pointing to twitter. They must point to loklak instead. Two simple rules:
- links *about* a `<user>` shall create a link to a loklak search for `from:<user>`
- links *mentioning* a `@<user>` shall create a link to a loklak search for `@<user>`

see example:
<img width="344" alt="tweetm" src="https://cloud.githubusercontent.com/

[2015-07-04 12:16] aneeshd16 commented on #158
Deployed at 8a6f34f951700b270a7009b7770676f3f8071a48

[2015-07-05 05:01] #286 closed

[2015-07-05 06:15] mariobehling opened #290 "Define Source as Search Parameter"
As we are adding different data sources and IoT to the search, the question is, if we ad a source parameter to the search.

The current search with the hashtag #USA for example should display all results from all sources in the system: http://test.loklak.net/search?q=%23USA

How can we define to only show results from the source twitter?

[2015-07-05 07:00] aneeshd16 commented on #102
Process to be followed:
[code]

Incremental updates are not possible as of now due to the nature of the API, so the the entire user data has to be loaded and saved everytime.

[2015-07-05 08:53] mariobehling opened #291 "Implement Email Newsletter integrated with Mailchimp API"
Emails newsletters can usually be configured in the settings. For the beginning we want to focus on the loklak application and let Mailchimp take care of newsletters. Other signup email features need to be implemented in loklak nevertheless.

Related to https://github.com/loklak/loklak_webclient/issues/240

[2015-07-05 08:55] aneeshd16 commented on #283
Can we move this to M3? I need more time for user acc mgmt and wall dashboard.

[2015-07-05 09:00] mariobehling commented on #283
done.

[2015-07-05 11:28] mariobehling commented on #260
It is working now. Thank you!

[2015-07-05 11:28] #260 closed

[2015-07-05 11:38] mariobehling opened #292 "Get location information from browser (share location) and add it to tweet when posting from loklak"

[2015-07-05 11:41] mariobehling commented on #216
Releated to https://github.com/loklak/loklak_webclient/issues/284

[2015-07-05 12:19] mariobehling opened #293 "Integrate instagram to show (own) photos on a map"

[2015-07-05 15:40] Orbiter opened #294 "Error: [$parse:lexerr] Lexer Error: Unexpected next character at columns 0-0 [#] in expression [#signupModal]."
I got this when I tested the wall. Steps:
- open firebug console
- start a wall for search term "Greferendum".
- firebug reports:
[code]

[2015-07-05 15:54] aneeshd16 commented on #294
yes, this error has been present for quite some time, but it wasn't causing any problems. It's most probably related to the sign up modal. @sudheesh001 thoughts?

[2015-07-05 16:18] Orbiter opened #295 "Wall stops working when loklak_server is temporary offline"
In case that a wall is active and the loklak_server is restarted, the wall stops working. This may be caused by a failed request from the wall to the backend which stops the wall from working completely.

The expected behaviour is, that that wall re-tries to contact loklak_server after some waiting time (say 10 seconds) when a contact fail occurrect.

[2015-07-06 01:52] prasht63 commented on #158
depolyed at loklak/loklak_webclient@fbe530a
@fuksi you are up

[2015-07-06 04:11] sudheesh001 commented on #294
self assigned this because I made this issue, Fixed via https://github.com/loklak/loklak_webclient/commit/9a061376683d9606d0dbf05d0d5d9dd007ec6e38

[2015-07-06 05:35] aneeshd16 commented on #74
@mariobehling, This would require a lot of support from loklak_server. OR we can implement all that logic in our node server. We need to discuss this in detail.

My thoughts:
* User should be able to log in with both twitter and email id. In case the user logs in with twitter, we will ask for the email id if we are unable to get it from twitter.
* Can we auto-generate the account link based on the

[2015-07-06 06:20] mariobehling commented on #74
Twitter is just one service. We should also support login with Facebook. In this logic we should then generate a URL with the FB account. Also, people should be able to create their own ID without Twitter soon.

Twitter is the starting point for loklak and not the only reference. Why should we limit users to the account names of twitter? There are many unused accounts on twitter as well. We are an

[2015-07-06 06:30] mariobehling commented on #95
Where can we test this?

[2015-07-06 06:39] sudheesh001 commented on #95
The PR is pending review from @prasht63 Once he reviews it, it should be good to test on test.loklak

[2015-07-06 07:27] fuksi commented on #90
This will be changed along with #227

[2015-07-06 07:27] #90 closed

[2015-07-06 07:32] aneeshd16 commented on #74
Agree on  your thoughts about being an independent service on not relying too much on Twitter.

Sure, loklak already has basic user details, so we can easily display that page using loklak instead of twitter. This would be done when #283 is complete anyway.

At the very basic stage, we can have a badge for each user which will be that user's role. If we want to support admin accounts, then admin a

[2015-07-06 07:42] fuksi commented on #234
The first version of this is here: http://gofullstack.me:3001/search?q=%23london (just try to scroll down)
and there is an obstacle that I haven't been able to show yet.

The approach of all plugins above is to:
- Take a look of the last element, in this case, a status
- Get its offset top position
- Assign a listen to scroll/move down event
- If browser window top positio meets the offset top pos

[2015-07-06 08:04] fuksi commented on #277
There are 3 places we placing our dependencies/libraries in our application:
1. Node modules, will be included when we required in our code (angular components)
2. Components those not available from node package indexing, placed manually in `app/components`
3. Dynamic components: those changes through time, can't be included with a file, but has to go through a CDN (else it can be outdated very f

[2015-07-06 08:14] fuksi commented on #277
@Orbiter You have mentioned that why do I need lat/long included for this query: http://loklak.org/api/suggest.json?q=singa

I can clarify the steps I intend to implement again: In advanced search, when a user use location search
- He/she will enter a city name
- Said, he/she wrotes "Hel"
  + A request will be sent to server for suggestion of location "Hel"
  + A list will be show from the suggest

[2015-07-06 08:32] mariobehling commented on #234
Scroll bar does not show up in Firefox browser current version. Though, I can go down with page down buttons.

![screenshot from 2015-07-06 10 31 57](https://cloud.githubusercontent.com/assets/1583873/8518440/5ba818e6-23ca-11e5-8d51-7a488db278b1.png)

[2015-07-06 08:38] aneeshd16 commented on #234
Maybe this would be useful?
http://binarymuse.github.io/ngInfiniteScroll/demo_basic.html

[2015-07-06 10:00] mariobehling commented on #74
@aneeshd16 The question is also if and how we differentiate between user's role and products? E.g. a user gets different additional wall features. What are your ideas?

[2015-07-06 10:42] mariobehling opened #296 "Implement "show followers/following around the world in percentagewise distribution""
This kind of feature can be viewed at different services e.g. https://tweepsmap.com/Map

![screenshot from 2015-07-06 12 39 13](https://cloud.githubusercontent.com/assets/1583873/8520618/33294bb2-23dc-11e5-9f23-ee5d193db9b2.png)

[2015-07-06 10:53] mariobehling commented on #284
Where can we test this?

[2015-07-06 11:19] zyzo commented on #234
I used this for a project http://manos.malihu.gr/jquery-custom-content-scroller/.

It has a callback named `onTotalScroll` – triggers when content has scrolled all the way to bottom or right, which from my experience worked well.

The code : https://github.com/fossasia/timeline.api.fossasia.net/blob/master/timeline.js#L106

[2015-07-06 11:19] mariobehling opened #297 "Map with followers/following empty on reload or switch between top bar items"
If I reload the map, it is often empty.

![screenshot from 2015-07-06 13 18 34](https://cloud.githubusercontent.com/assets/1583873/8521187/a8928bde-23e1-11e5-8020-d5f165123f1f.png)

[2015-07-06 12:32] mariobehling commented on #277
@fuksi Thanks for outlining how you implemented it. It is great to learn lots of things in the process! So, as discussed, we have some of this functionality already on the loklak server and we want to use as much as possible the loklak server in order to stay independent. Most commercial Apis require payments at some points and we want to be independent. So, as loklak grows, the goal is to be able

[2015-07-06 14:16] fuksi commented on #277
First solution here: https://github.com/loklak/loklak_webclient/pull/299

[2015-07-06 14:37] Orbiter commented on #125
a solution for the sort order in loklak_server is now imlemented with https://github.com/loklak/loklak_server/issues/46

example:
http://localhost:9000/api/search.json?timezoneOffset=-120&q=fossasia&sort=favourites_count&source=cache

[2015-07-06 15:10] Orbiter commented on #100
Here is the process on how to show rich-text tweets, which is regulated with the message form convention for rich-text tweets in https://github.com/loklak/loklak_server/issues/66:
- for each message: check if the string `\n***\n` appears. If it appears, the message is a rich text tweet.
- separate the text into two parts: the text in front of `\n***\n` is the normal tweet message which shall be di

[2015-07-06 15:14] Orbiter commented on #97
Here is the process on how to show rich-text tweets, which is regulated with the message form convention for rich-text tweets in https://github.com/loklak/loklak_server/issues/66:

- when posting a rich text attachment to a tweet message, create the image for the rich text with https://github.com/loklak/loklak_server/issues/40
- You need a method to compose the rich text into the message to-be pos

[2015-07-06 15:15] Orbiter commented on #94
Here is the process on how to show rich-text tweets, which is regulated with the message form convention for rich-text tweets in https://github.com/loklak/loklak_server/issues/66:

- when posting a rich text attachment to a tweet message, create the image for the rich text with https://github.com/loklak/loklak_server/issues/40
- You need a method to compose the rich text into the message to-be pos

[2015-07-06 15:20] Orbiter commented on #284
This feature shall be supported by the loklak_server, the corresponding feature is https://github.com/loklak/loklak_server/issues/64

If https://github.com/loklak/loklak_server/issues/64 is implemented, the loklak_webclient must use the api provided by https://github.com/loklak/loklak_server/issues/64 to fetch followers and following and remove the currently implemented fetch method.

[2015-07-06 15:32] Orbiter commented on #63
Here is an overview of the process to post rich tweets:
- let the user compose the message
- convert non-tweetable content into an image
- tweet the message with the rich-content as image
- IMPORTANT: save the tweet id of that tweet posted to twitter
- compose a tweet for loklak_server
- set the field `canonical_id` according to https://github.com/loklak/loklak_server/issues/64 with the content of

[2015-07-06 18:42] Orbiter opened #300 "no line breaks within words in tweets on the wall"
The tweet view in the wall does not recognize words or word endings. Words *must not* be divided within the word. Never. A line break may only occur where a whitespace is.

See example:
<img width="729" alt="grexit" src="https://cloud.githubusercontent.com/assets/238730/8530094/2d409a5a-241f-11e5-833f-5e0886e22b80.png">
I don't understand why you have not seen this before, this should not be somet

[2015-07-06 19:34] aneeshd16 commented on #300
Before:
![image](https://cloud.githubusercontent.com/assets/5436027/8531247/9b2234e2-2443-11e5-9380-4f9778b37f48.png)
After:
![image](https://cloud.githubusercontent.com/assets/5436027/8531266/b2c53018-2443-11e5-994c-c3925f8d8107.png)

The CSS `word-break` property was mistakenly set to `break-all` everywhere. Changed it to `keep-all`.

[2015-07-06 19:46] #277 closed

[2015-07-07 01:52] #294 closed

[2015-07-07 05:43] sudheesh001 commented on #281
I am giving my personal view here about this, I think when we deal with maps and things like that we need to give the user more space on the screen for enhancing the user experience and keeping the excitement of clicking on the screen, zooming and exploring different regions.

The blue bar would take up a lot of valuable screen size and the interaction space if its added to the map and I believe i

[2015-07-07 07:22] aneeshd16 commented on #300
Good to close?
http://test.loklak.net/wall/display?data=%7B%22headerColour%22:%22%233c8dbc%22,%22headerPosition%22:%22Top%22,%22layoutStyle%22:%222%22,%22headerForeColour%22:%22%23FFFFFF%22,%22images%22:%5B%22both%22%5D,%22videos%22:%5B%22both%22%5D,%22audio%22:%5B%22both%22%5D,%22allWords%22:%5B%5D,%22anyWords%22:%5B%5D,%22noWords%22:%5B%5D,%22allHashtags%22:%5B%5D,%22from%22:%5B%5D,%22to%22:%5B%

[2015-07-07 07:27] aneeshd16 commented on #158
Just FYI, `sh deploy.sh` works unless an `npm install` is required. Can we automate this quickly without spending too much time on it?

[2015-07-07 07:52] sudheesh001 commented on #292
related https://github.com/loklak/loklak_webclient/issues/93

[2015-07-07 09:16] zyzo commented on #206
This went live http://test.loklak.net/dataConnect

[2015-07-07 09:57] aneeshd16 opened #302 "Saved user data gets erased when user logs in again"
Need to modify `oauth-proxy/index.js` Currently it just calls the `account.json?action=update&data=` endpoint and updates it with the tokens. However, any info in the `apps` section is lost. So the procedure now is to query all data from server, modify it and push the new data back to the server. Basically, everytime any user data needs to be updated on the server, a read should be done first.

[2015-07-07 11:11] Orbiter opened #304 "Too much wasted space in tweets on wall"
See example:
<img width="1003" alt="toomuchspace" src="https://cloud.githubusercontent.com/assets/238730/8544880/65f709da-24a9-11e5-9811-a753f30acf66.png">
Why is there so much space wasted? Is this a placeholder for something else (i.e. other media)?

@mariobehling How can we handle this? Please write your opinion and then lets turn this into a bug/feature

[2015-07-07 11:31] Orbiter opened #305 "wrong query for wall content design values"
See example, this is what I have set up:
<img width="842" alt="ots15" src="https://cloud.githubusercontent.com/assets/238730/8544998/9963e88c-24aa-11e5-84c1-f48a14a97fe8.png">

now navigate to `/home/loklak/loklak/data` and call `tail -f loklak.log | grep ots`
What you get is:
[code]
That means, the wall makes the following query: `#ots15 ots15 ots2015` which essentially means `#ots15 AND ots15 AN

[2015-07-07 11:35] Orbiter commented on #305
add-on for people:

Field | Values
----- | -----
All of these words | *not allowed, disable this field if 'Any of these words' or 'These Hashtags' are given*
None of these words | *not allowed, disable this field if 'Any of these words' or 'These Hashtags' are given*
Any of these words | A
These Hashtags | B
From these accounts | C
Mentioning these accounts | D
To these accounts | E

Query: `A OR

[2015-07-07 11:36] mariobehling commented on #304
@Orbiter Aneesh is still working on the design and has difficulties with the card design. He is progressing steadily. So, I hope this will be solve in the upcoming days.

[2015-07-07 11:48] aneeshd16 commented on #305
Thank you! This helps a lot! This will be done by EOD.

[2015-07-07 11:57] mariobehling commented on #93
Regarding CORS @Orbiter made this comment in the gitter channel

Please correct me if I am wrong. But I don’t see it.

[2015-07-07 11:58] mariobehling commented on #93
@sudheesh001 I have not seen a message from your about that. Any feedback?

[2015-07-07 12:09] #300 closed

[2015-07-07 12:10] sudheesh001 opened #306 "Deletion of a particular tweet should be allowed, purge of tweets"
- [ ] Tweets that are scraped and deleted from twitter
- [ ] Tweets that the user wants to delete from the loklak webclient
- [ ] Tweets from the application to purge on the loklak_server

How are we planning to tackle this on the server ?

[2015-07-07 12:24] sudheesh001 opened #307 "tweetLink filter href has no value and target is missing when rendered."

[2015-07-07 12:27] sudheesh001 commented on #93
Sending a header along with the `$http` request which is can be done by breaking the current request into
[code]
but sending a header specifically is failing and still throwing up an XHR error on CORS as mentioned above.

[2015-07-07 12:30] fuksi commented on #307
Just `pic.twitter...` link. The rest works fine!

[2015-07-07 12:50] aneeshd16 commented on #305
Maybe you entered `#ots15` in step 1?

So if someone enters in "All words" or "No words", I also need to disable the people section.

This is solved in PR #308. :)

[2015-07-07 13:38] mariobehling opened #309 "Ensure all followers are displayed on loklak map correctly"
There are lots of followers of me who entered Berlin as a location. However, only two show up. Also Tweepsmap shows that 17.1% of my followers are in Berlin.

* Tweepsmap
![screenshot from 2015-07-07 15 35 25](https://cloud.githubusercontent.com/assets/1583873/8547246/d3d68656-24bd-11e5-8e2a-8db36b86295f.png)

* Loklak: Only two followers
![screenshot from 2015-07-07 15 37 00](https://cloud.github

[2015-07-07 13:55] mariobehling opened #310 "Implement Tweets on Home Page as in Twitter and Loklak Search"
Looking at the start page: The tweets are not showing up in the same way as twitter, e.g. images are missing. My understanding was, that this gets implemented in the same way as the search, but there is no change here?

This was partly discussed here: https://github.com/loklak/loklak_webclient/issues/227

![loklak-home](https://cloud.githubusercontent.com/assets/1583873/8107965/b4e56f98-104d-11e5-

[2015-07-07 14:24] mariobehling opened #311 "Implement a followers/following map with percentage view according to location in /map and search"
An example of a similar feature is tweepsmap.

![screenshot from 2015-07-07 16 22 27](https://cloud.githubusercontent.com/assets/1583873/8548331/814fe272-24c4-11e5-874b-d707e4aff1b0.png)

[2015-07-07 14:46] mariobehling opened #312 "Implement Regional Origin List View of Followers/Following"
An example here is Tweepsmap

![screenshot from 2015-07-07 16 45 05](https://cloud.githubusercontent.com/assets/1583873/8548856/ad0bdc42-24c7-11e5-8894-29d7e82ae9c5.png)

[2015-07-07 15:01] mariobehling commented on #95
when can this be tested on test.loklak.net?

[2015-07-07 15:04] mariobehling commented on #232
Let's experiment with the size of the image of followers/following. Can you reduce the size to 30x30 pixel, please?

[2015-07-07 15:09] mariobehling opened #313 "Implement beautiful design and additional info for followers/following map"
This issue is related to https://github.com/loklak/loklak_webclient/issues/232

Step 1: Make a list of useful design features
Step 2: Implement features

Some thoughts about useful features:
* [ ] scroll over effect of pictures on map shows larger image, followers/following info and link "more"
* [x] click on photo shows larger image, followers/following info and latest three tweets

[2015-07-07 15:15] mariobehling opened #314 "Add "share and embed" functionality to loklak tweets, maps and walls"
Imagine you see a tweet, map or wall on loklak and want to embed it on your blog or share it on Facebook.

[2015-07-07 16:28] aneeshd16 commented on #102
Closed via 67308b8826bb565873bf95432965f8dacca9c2cd

[2015-07-07 16:28] #102 closed

[2015-07-07 16:36] sudheesh001 commented on #95
It can be tested now with latest deployment

[2015-07-07 17:13] sudheesh001 commented on #158
Deployed at d1795260852d67a81cf2825f6b5d8f534205629c

[2015-07-07 18:00] mariobehling commented on #103
Please do not use a scrollbar, instead make a grid system with css that adapts to the width and moves walls to the next row.

![screenshot from 2015-07-07 19 59 06](https://cloud.githubusercontent.com/assets/1583873/8553313/d94d9a82-24e2-11e5-9eb4-e83bf22e1799.png)

[2015-07-07 18:51] aneeshd16 commented on #103
That's funny, i already did exactly that in https://github.com/loklak/loklak_webclient/pull/316!

[2015-07-07 19:19] mariobehling commented on #103
Awesome!

[2015-07-07 20:16] mariobehling commented on #205
@prasht63 Please have a look at this project outline again and the information that we added. We have missed to follow up with you on a plan. Your plan is still missing. Please add it for the following milestones. What will you achieve in GSoC? Thank you.

[2015-07-07 21:32] fuksi commented on #288
Done with #315

[2015-07-07 21:33] fuksi commented on #269
Done with #315

[2015-07-07 21:33] #269 closed

[2015-07-08 03:47] sudheesh001 commented on #307
<img width="1440" alt="screen shot 2015-07-08 at 9 11 43 am" src="https://cloud.githubusercontent.com/assets/4545925/8562651/f892e6b2-2551-11e5-8cb8-c0c827e5d28e.png">

Somehow the code seems to be working fine when the URL Regex is passing so this means its not the filter, Need to look into why this is causing a problem when executing it.

[2015-07-08 03:52] aneeshd16 commented on #307
Maybe the filters after this are causing it? Try removing all filters after this one and check if it happens?

[2015-07-08 05:11] sudheesh001 commented on #307
Will be fixed with the next merge.

[2015-07-08 05:43] aneeshd16 opened #319 "Card Layout for wall"
Tracker for all card related issues:

#304

I am currently using https://github.com/akoenig/angular-deckgrid for a fixed width layout.

Will post updates here.

[2015-07-08 08:09] Orbiter opened #320 "Map sends several search requests when zooming in at once"
When a map from a map search is zoomed, loklak_webclient sends several (either two or three) search requests directly after each other to loklak_server. Because loklak_server has a DoS protection feature, it reduces the number of results to 10, instead delivering the requested 100.

To reproduce this bug, do the following:
- navigate to `/home/loklak/loklak/data`
- run `tail -f loklak.log | grep h

[2015-07-08 08:26] aneeshd16 commented on #103
![image](https://cloud.githubusercontent.com/assets/5436027/8566088/2aca0c24-2579-11e5-8391-7668c19195bf.png)

[2015-07-08 08:28] aneeshd16 commented on #305
@Orbiter, this is live, kindly test :)

[2015-07-08 08:31] aneeshd16 commented on #302
Solved via https://github.com/loklak/loklak_webclient/commit/521e03bdd161461074bab04f17dbe550ff8a339c

[2015-07-08 08:31] #302 closed

[2015-07-08 08:33] aneeshd16 commented on #158
Deploy 1 at 521e03bdd161461074bab04f17dbe550ff8a339c
To be updated.

[2015-07-08 09:51] mariobehling commented on #103
Does work if I have three walls next to each other. If width is limited it is expected that all the walls display below each other.

![screenshot from 2015-07-08 11 49 27](https://cloud.githubusercontent.com/assets/1583873/8567669/9625ea18-2567-11e5-9b64-2adbd592bb6f.png)

![screenshot from 2015-07-08 11 49 54](https://cloud.githubusercontent.com/assets/1583873/8567673/9966dc32-2567-11e5-9189-c286

[2015-07-08 10:30] mariobehling opened #321 "If Tweets do not have geo-location info, show them from the location of the user account on the map (if account has location info)"
In the search on the map, currently only tweets with some kind of geolocation info are displayed. If there is not geo info, they are not displayed. A way to increase the number of tweets showing up: If Tweets do not have geo-location info, show them from the location of the user account on the map. Prerequisite is of course, that the account has location info of some sort.

[2015-07-08 11:49] Orbiter commented on #305
This looks good with one exception: the wallOptions.mainHashtag is still included in the query. Thats the main hashtag from step one. This shall not be included in the query. Thats in wallDisplay.js in line 44+45.

I admit that actually the main hashtag should always appear in the wall query, but it is confusing if that is included from the first page. A better solution would be to copy the main h

[2015-07-08 13:11] #297 closed

[2015-07-08 13:46] Orbiter commented on #93
I just added the CORS header in https://github.com/loklak/loklak_server/commit/be178b1f151da241cd71e232f078214afc2ebf6c
I'm still not convinced that we will need that in future production, but right now you are right: it's needed since in test environments the server ports of loklak_webclient and loklak_server are different.

[2015-07-08 14:09] aneeshd16 commented on #103
This is solved now. test.loklak.net/wall

[2015-07-08 14:15] mariobehling commented on #103
Fantastic! What do you need to implement Popular Walls now?

[2015-07-08 14:17] aneeshd16 commented on #305
if the user fills in the mainhashtag on step 1, there are two cases:
1. The "these hashtags" field is empty. In this case, just make it the default value.
2. The "these hashtags" field has been filled. In this case the `mainhashtag` will be added as an value to that field.
This approach should do it. I'll update it by tonight and then we can test.

[2015-07-08 14:20] aneeshd16 commented on #103
@mariobehling , comments here #273

[2015-07-08 14:20] aneeshd16 commented on #273
For popular walls, i was thinking of using the hashtags from the "trends" feature that @sudheesh001 is currently implementing. These walls will have some fixed settings, and will be editable (for the current session). We can have a `#loklak` wall permanently at the top.

[2015-07-08 14:33] mariobehling commented on #273
@Orbiter What are your ideas to show popular walls in the walls area? How to achieve this?

[2015-07-08 15:23] fuksi commented on #261
The example user was indeed a traveler:

[2015-07-08 15:33] mariobehling commented on #261
As I understand the geolocation information to show tweets come from the hashtags currently. Or what is the relevant information to show a tweet in a certain location? How can we make this transparent?

[2015-07-08 15:47] mariobehling commented on #252
Are you testing the wall on different layouts? Are you implementing a refreshment of new tweets? The oldest tweet should be substituted by the newest tweet. It looks like a lot of tweets are loaded but are not shown on the wall. You seem to solve this by deactivating the scroll bar. However tweets are still loaded, but why? See below for example.

![screenshot from 2015-07-08 17 43 48](https://clo

[2015-07-08 16:45] aneeshd16 commented on #252
For the linear layout, 10 tweets are loaded at a time. This is to allow for various screen sizes. On a 1366x768 screen, about 3 tweets are shown. On a 1920x1080 screen, around 5 and a half tweets are shown. This is to give an effect that as your screen height increases, more tweets should be shown. This is exactly the same behavior as that of tweetwall. Only difference is that tweetwall loads 15 t

[2015-07-08 18:14] Orbiter commented on #261
The location can also come from the place name submitted by twitter. If such a place name is attached to the tweet, it is currently invisible. To make it visible, I already opened https://github.com/loklak/loklak_webclient/issues/287 - it should show the place name if a place name exist and was submitted by twitter.

[2015-07-08 18:15] Orbiter commented on #305
no. Following these rules, it would be completely intransparent for the user how the search is composed. Please make it s I suggested.

[2015-07-08 22:19] fuksi commented on #287
Please link/refer to #261 when this is done.

[2015-07-08 22:19] fuksi commented on #261
I put this on hold until progress on this mentioned issue.

[2015-07-08 22:32] mariobehling commented on #234
Syntax error in query generates wrong results in scroll down features.

![screenshot from 2015-07-09 00 31 04](https://cloud.githubusercontent.com/assets/1583873/8583941/ed72d19a-25d1-11e5-96d8-c059dc3c07c8.png)

[2015-07-09 00:02] Orbiter commented on #234
Details to the syntax error:
- when the search result is scrolled, the loklak_webclient submits request like this:
[code]

- the right query would be
[code]

[2015-07-09 06:41] prasht63 commented on #309
@mariobehling Sometimes a bad response comes from the Twitter side through hello.js.That is causing this.I will implement a statistics visualiser with Issue #296 . It should clear things up for the viewer. So moving it to #296

[2015-07-09 08:08] mariobehling commented on #309
@Orbiter suggested, that accounts might be displayed above each other and therefore do not show up. It is possible to implement an algorithm to display accounts in a circle.

[2015-07-09 08:10] mariobehling commented on #309
Also see here https://github.com/loklak/loklak_webclient/issues/278

[2015-07-09 08:10] fuksi commented on #245
Currently `/map` is showing the list of followers/followings.
@mariobehling, do you have any preference to what needed to be showed on `/map`?
An alternative that I can think of is:
- If user is logged in: Show the timeline in the `home` view as tweet in map
- If not logged in: Just show 1000-2000 latest tweets in the global view.

[2015-07-09 08:13] mariobehling opened #323 "Map not centered"
There were already some discussions about requests to center the map. As there is no issue to follow up, I am adding one here. Please ensure a centered logic display of the map.

![screenshot from 2015-07-09 09 50 07](https://cloud.githubusercontent.com/assets/1583873/8590687/254b506e-2623-11e5-931f-ad30022c1816.png)

Compare to a centered map here:

![screenshot from 2015-07-07 16 22 27](https://

[2015-07-09 08:19] mariobehling commented on #245
@fuksi Do you know the Facebook activity feed on the top right? The idea is that we have a feed like that on the right. This feed can be swiped away by the user.

Content of the activity feed is: Tweets of people user follows (=following), own IoT devices, other data sources

The user will ultimately be able to control what gets into the feed.

At the moment it is not easily possible to get all tw

[2015-07-09 09:50] zyzo opened #324 "Implement data from Freifunk router network"
Freifunk network map : http://www.freifunk-karte.de/

Map repo : https://github.com/ffansbach/de-map

This map currently gets data from freifunk api data https://raw.githubusercontent.com/freifunk/directory.api.freifunk.net/master/directory.json. In each community json file, there is `node` and `nodeMaps` fields, which in turn contain information about community router nodes.

An example of router

[2015-07-09 14:10] mariobehling opened #327 "Wall load slow and using lots of resources leads to regularly slow or unresponsive browsers"
![screenshot from 2015-07-09 16 06 37](https://cloud.githubusercontent.com/assets/1583873/8597321/fcdcd422-2654-11e5-84da-72eade869d6e.png)

[2015-07-09 14:32] mariobehling opened #328 "System Message "no walls" shows up shortly even though walls have been created"
![screenshot from 2015-07-09 16 30 43](https://cloud.githubusercontent.com/assets/1583873/8597829/f3024d08-2657-11e5-8d6d-9d6b2e25373f.png)
Even though user has create wall, a system message as above shows up shortly and then disappears.

[2015-07-09 14:43] mariobehling opened #329 "Implement logo upload and automatic scaling, reuse implementation of module to upload images to tweet if possible"
![screenshot from 2015-07-09 16 44 29](https://cloud.githubusercontent.com/assets/1583873/8598201/ca1fe704-2659-11e5-9ca8-1fe64bbabb44.png)

The wall does not offer an image upload yet. Please reuse existing ways in loklak if possible/

[2015-07-09 14:50] mariobehling opened #330 "Implement clearer design of content area of wall"
Let's follow some sample services for the wall and implement a clearer content area.

![screenshot from 2015-07-09 16 48 24](https://cloud.githubusercontent.com/assets/1583873/8598366/8d9243d0-265a-11e5-8c75-262606d0d5df.png)

Please also add buttons/areas for features coming soon. Please make them show up, but also make them grey and add "coming soon" behind them.

[2015-07-09 15:18] mariobehling opened #331 "Implement a thought through choice of media items for wall"
Currently there are options that do not make sense, e.g. the user can choose "only images", but can also choose "show videos". There are choices that exclude each other. Please implement the following functionality and UI.

* [x] add a section below the left hand side area "What do you want to show on the wall?" (as described here https://github.com/loklak/loklak_webclient/issues/330) with the tit

[2015-07-09 15:31] mariobehling opened #332 "Move "Show statistics" to "Design area" and rename to "Leaderboard""

[2015-07-09 15:40] mariobehling opened #333 "Implement additional design options in "design" area for wall"
Implement additional design options in "design" area for wall:
* [ ] Leaderboard Type
* [ ] Show event name
* [ ] Show loklak Logo

![screenshot from 2015-07-09 17 32 51](https://cloud.githubusercontent.com/assets/1583873/8599560/823add38-2661-11e5-8ef5-1d2da7babb41.png)

[2015-07-09 15:48] mariobehling opened #334 "Add option to save twitter wall at each step and continue later"
![screenshot from 2015-07-09 17 46 03](https://cloud.githubusercontent.com/assets/1583873/8599778/ab7a6708-2662-11e5-9b07-16ffc29ac7f0.png)

[2015-07-09 16:12] mariobehling opened #335 "Implement Payment System for Wall, Private Accounts etc."
An income strategy for loklak is to offer additional paid features for
a) the wall (Profanity filter, moderation queue)
b) map (Show data and devices on a private map, but do not share it publicly. Offer organization accounts)

A payment system needs to be implemented and some features need to be available only after payments are done.

See an example below:

![screenshot from 2015-07-09 17 51 50]

[2015-07-09 16:14] mariobehling opened #336 "Integrate Paypal Api for Payment System"
Related issue is https://github.com/loklak/loklak_webclient/issues/335

[2015-07-09 16:21] mariobehling opened #337 "Implement Admin Page for each Wall to get an Overview of Displayed Tweets and Moderation"
Please research the comment moderation UI of wordpress for example, that many people know and provide mockups.
![screenshot from 2015-08-03 09 57 48](https://cloud.githubusercontent.com/assets/1583873/9033305/35db319a-39c6-11e5-9b51-e1527ff12e2d.png)
Implement
* [ ] List view of displayed messages
* [ ] List view of blocked messages
* [ ] List view of messages in moderation queue and buttons "post

[2015-07-09 16:23] mariobehling commented on #337
@Orbiter Do we have statistical data on which tweets have been displayed and how many times the twitter wall has been shown? How should this be approached?

[2015-07-09 17:02] aneeshd16 opened #338 "If text has too many hashtags, the line doesn't break"
Wall:
![image](https://cloud.githubusercontent.com/assets/5436027/8601488/f64b7912-2689-11e5-86d5-b3853a895c0e.png)

Search:
![image](https://cloud.githubusercontent.com/assets/5436027/8601524/2716e9f0-268a-11e5-8000-eea15d11953d.png)

We probably need to implement something (new filter/CSS maybe?) to fix this. This is an app-wide problem.

[2015-07-09 17:35] sudheesh001 opened #340 "Mentions filters fails on encountering special characters"
Current regex implementation is /@([\wäöå]+)/gi which fails for samples with ôò etc.., Random samples as
[code]

[2015-07-09 18:53] prasht63 commented on #228
I haven't found any map related data here in the API.

[2015-07-09 19:00] prasht63 commented on #223
http://openweathermap.org/api This api has useful data.I am planning to use this.

[2015-07-09 19:08] mariobehling commented on #228
Ok, I am clearing this from the milestone then. Please focus on the other data tasks then.

[2015-07-09 19:22] prasht63 commented on #205
Plan : The plan is divided in coming milestones.Since we have so much data to visualise and not so much time so I have segregated a few data which are more useful, popular and unique.The goal is to visualise data which has not been visualised before in a way that it leaves a impression on the user.Since that is main aim of data visualisation on map, presenting the big picture around the globe on a

[2015-07-09 21:43] #239 closed

[2015-07-09 21:45] mariobehling opened #341 "Integrate data like Thingsinspace on a map"
Website data and info on https://github.com/jeyoder/ThingsInSpace

[2015-07-09 21:48] mariobehling commented on #240
As we see the section has been set up. So, well-done! Thank you. The settings page itself should now get implemented in M3.

[2015-07-09 21:49] fuksi commented on #245
I missed the last point and did a quick one for demonstration anyway. It's still live for one day on:
http://gofullstack.me:3001/map (requires login to twitter)

![image](https://cloud.githubusercontent.com/assets/6878677/8607679/699d522e-269d-11e5-827b-97e87462c539.png)

This can be a foundation for future implementation during Milestone3

[2015-07-09 21:49] mariobehling commented on #252
This task is ongoing. So, we continue that one in M3. Good job!

[2015-07-09 21:52] mariobehling commented on #257
I am moving it to M3. Please also give some suggestions about your ideas and ping @Orbiter on chat.

[2015-07-09 21:53] mariobehling commented on #225
As you discussed in the milestone umbrella issue, this feature is important to be implemented as a showcase for M3. https://github.com/loklak/loklak_webclient/issues/205#issuecomment-120116543

[2015-07-09 21:55] mariobehling commented on #327
Any idea what is the reason and potential solution? Can this be fixed before we start the next sprint?

[2015-07-09 21:57] mariobehling commented on #323
Showing a map centered to Russia makes a bad showcase and getting this right is a high priority before we start working on M3.

[2015-07-09 21:58] mariobehling commented on #319
As there are a number of related issues and design items I moving this to M3 now as an ongoing issue.

[2015-07-09 21:59] mariobehling commented on #304
Please give us an update in this issue before starting to work on M3 and close if this has been solved.

[2015-07-09 22:02] mariobehling commented on #271
As these are advanced features and there is a lot of stuff to implement before that, I am moving it to M3.5

[2015-07-09 22:13] mariobehling commented on #205
Ok, sounds good. In which milestone will you implement Instagram? I see you linked meetup.com - Great! Also, please link the issue to angel.co.

[2015-07-09 22:30] mariobehling commented on #245
Ok, looks good, but in my screen it goes over the edge. I am worried we develop on top of something, that is not fixed.

* [ ] This page should not be scrollable. The map should end on the bottom of the screen, just like Google Maps etc.

* [ ] Regarding the activity feeds - yes, nice. If I scroll over the feed or click it, there must be some action on the wall, e.g. show the feed location on the

[2015-07-09 22:33] mariobehling commented on #245
@fuksi Let's move that to the end of M3 or depending if the server supports it to M3.5. Currently the feed content is not working as expected, but it looks very nice already!

[2015-07-10 06:23] prasht63 commented on #205
@mariobehling sure!

[2015-07-10 07:14] aneeshd16 commented on #319
@Orbiter

<img width="1003" alt="toomuchspace" src="https://cloud.githubusercontent.com/assets/238730/8544880/65f709da-24a9-11e5-9811-a753f30acf66.png">
Why is there so much space wasted? Is this a placeholder for something else (i.e. other media)?

[2015-07-10 07:14] aneeshd16 commented on #304
This is directly related to #319. I have added Michael's comments there. We can close this so that all discussion can be held there.

[2015-07-10 07:29] #304 closed

[2015-07-10 08:17] aneeshd16 commented on #327
I will try to fix this today, it looks like an infinite loop or maybe overuse of memory...shouldn't happen normally. This does not happpen with all walls, I have had walls running for hours without any problem.
Link for reference:
http://test.loklak.net/wall/display?data={%22headerColour%22:%22%232c88c9%22,%22headerPosition%22:%22Top%22,%22layoutStyle%22:%222%22,%22headerForeColour%22:%22%23FFFFFF

[2015-07-10 08:19] fuksi commented on #123
Breakdowns of step
- Create a modal, add listen on retweet button
- Embed basic info of the current tweets
![image](https://cloud.githubusercontent.com/assets/6878677/8614729/5696a70e-26f5-11e5-8d85-43942be51719.png)
- Retweet request is not available on hello.js docs, but functionality are still there: https://github.com/MrSwitch/hello.js/blob/master/dist/hello.all.js

[2015-07-10 08:29] sudheesh001 commented on #123
@fuksi Retweet functionality with hello.js required the ID to be passed, the function is already written, the modal seems like a great idea :+1:

[2015-07-10 09:22] prasht63 commented on #205
Instagram will be done in 4th Milestone

[2015-07-10 19:13] #234 closed

[2015-07-10 19:13] #263 closed

[2015-07-10 19:13] #264 closed

[2015-07-10 19:13] #265 closed

[2015-07-10 19:13] #320 closed

[2015-07-10 19:15] #210 closed

[2015-07-10 19:36] fuksi commented on #124
This is partly overlapped. The current implementation of all views already enable user to use a string right away from the address bar.

Consider if needed to add a share gadget to share across social media.

[2015-07-10 19:38] mariobehling commented on #231
* [ ] Also check not to include the top bar in scroll down (Please compare to twitter and FB)

[2015-07-10 19:40] fuksi commented on #62
@aneeshd16, you might want to modify the width of the popup to fix in 1024 * 768 size. [Example link](http://i.imgur.com/zcsZGF6.png)

[2015-07-10 19:50] mariobehling commented on #124
Ok, so the next step is a sharing and embedding functionality https://github.com/loklak/loklak_webclient/issues/314

I guess we can close that then. Reopen, if there is anything missing. Thanks!

[2015-07-10 19:50] #124 closed

[2015-07-10 20:04] mariobehling commented on #310
Is this live? Does not seem to work on test.loklak.net

[2015-07-11 05:43] zyzo commented on #324
Actually, this task is decomposed into four different tasks, as sources are in 4 different data formats. Some of them are known formats to represent wifi routers that are used anywhere, not just at freifunk :

1- **openwifimap** http://openwifimap.net/

Examples :
* http://api.openwifimap.net/view_nodes
* http://mapapi.weimarnetz.de/view_nodes

2- **netmon** http://netmon.ca/

Examples :
* https:/

[2015-07-11 05:50] sudheesh001 commented on #63
The plan for the upcoming deadlines are:
### Milestone 3
1. Implementing the deletion functionality from the loklak interface. #306
2. Page showing followers and following information at a user profile `/<user>/<followers>` and `/user/<following>` hoping that the /user is built by the account creation method view.
3. Cleaning up the unused libraries in npm which are making the repositories bulky a

[2015-07-11 05:59] aneeshd16 commented on #71
Closing this since discussions have moved to #305 and #330

[2015-07-11 05:59] #71 closed

[2015-07-11 05:59] #73 closed

[2015-07-11 05:59] aneeshd16 commented on #74
Moving to M3 as its an ongoing discussion.

[2015-07-11 06:00] aneeshd16 commented on #103
This has been implemented. Further enhancements and modifications are in other issues.

[2015-07-11 06:00] #103 closed

[2015-07-11 07:13] mariobehling commented on #63
Please provide a list for feature issues for the milestones until 4.5
 Milestone 3, Due by July 25, 2015
 Milestone 3.5 Sprint, Due by August 12, 2015
 Milestone 4, Due by August 21, 2015
 Milestone 4.5, Due by August 31, 2015

[2015-07-11 07:15] mariobehling commented on #205
Ok, great. We have defined some milestone dates. As we go on, please continue to add details to plans until M4.5

 Milestone 3, Due by July 25, 2015
 Milestone 3.5 Sprint, Due by August 12, 2015
 Milestone 4, Due by August 21, 2015
 Milestone 4.5, Due by August 31, 2015

[2015-07-11 07:15] mariobehling commented on #75
Please add details and a list for feature issues for the milestones until 4.5
 Milestone 3, Due by July 25, 2015
 Milestone 3.5 Sprint, Due by August 12, 2015
 Milestone 4, Due by August 21, 2015
 Milestone 4.5, Due by August 31, 2015

[2015-07-11 08:31] Orbiter opened #345 "no webpages available because http://cdnjs.cloudflare.com unavailable"
loklak_webclient loads a css file from ```http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css``` which is unavailable right now. Therefore NO weblclient page loads. We should not depend on such resources.

Because such services will kill our online service if they are unavailable, we should integrate the css into our repository instead of loading that from their (unavailable) servers.

[2015-07-11 10:12] prasht63 commented on #323
@mariobehling where do you think the center should be? I had centered the map to USA but @aneeshd16 felt that it should be at world center . Please clear my doubt about where the center should be.I will apply at once.

[2015-07-11 11:34] Orbiter opened #346 "Map search and video search replaces new search word with old one"
This is a really strange effect, you should have seen it yourself when doing a unit-test.

- Open test.loklak.net
- search for "stone"
- click on the map - > this shows results for stone (so far ok)
- enter in the search box "water"
- the map shows again in the search box the word "stone" and shows results for "stone" (but far less, but thats another problem)

[2015-07-11 12:09] aneeshd16 commented on #274
Closing this as this has been implemented.

[2015-07-11 15:07] prasht63 commented on #232
Implemented with #313

[2015-07-11 15:07] #232 closed

[2015-07-12 05:03] sudheesh001 commented on #97
Moving this to M3, Needs a little more work to keep it stable, buggy behaviour on requests being made

[2015-07-12 05:04] sudheesh001 commented on #93
Moving this to M3 because its a subset of #97

[2015-07-12 07:28] #123 closed

[2015-07-12 07:36] mariobehling commented on #323
@prasht63 I do not understand the question. There is a standard display of maps. I already posted an image above. Reposting it below. Check any world map on the net. Almost all will display it as in the following image.

![screenshot from 2015-07-07 16 22 27](https://cloud.githubusercontent.com/assets/1583873/8548331/814fe272-24c4-11e5-874b-d707e4aff1b0.png

[2015-07-12 07:52] mariobehling commented on #323
We are just looking to see the most standard map page. It is a surprise that there are questions.

https://en.wikipedia.org/wiki/Web_Mercator

![openstreetmap_homepage](https://cloud.githubusercontent.com/assets/1583873/8636953/94a4e77c-287b-11e5-9300-2821014a61ae.png)

[2015-07-12 08:12] mariobehling commented on #287
@prasht63 Yesterday, we read you are working on this issue, but there is no update here. Please keep us more in the loop. So we can give input if any.

[2015-07-12 08:15] mariobehling commented on #100
@fuksi Any update on this issue? What are the next steps? Does this have to be moved to M3?

[2015-07-12 08:26] mariobehling opened #347 "Twitter wall displays irrelevant results"
the hashtag is: mozweekend

![screenshot from 2015-07-12 10 25 53](https://cloud.githubusercontent.com/assets/1583873/8637052/6d9a5b94-2880-11e5-9e9e-b07249309b27.png)
http://test.loklak.net/wall/display?data={%22headerColour%22:%22%233c8dbc%22,%22headerPosition%22:%22Top%22,%22layoutStyle%22:1,%22headerForeColour%22:%22%23FFFFFF%22,%22images%22:[%22both%22],%22videos%22:[%22both%22],%22audio%22:[

[2015-07-12 08:27] mariobehling commented on #327
Seems to be fixed, but wall displays irrelevant results now https://github.com/loklak/loklak_webclient/issues/347

[2015-07-12 08:27] #327 closed

[2015-07-12 08:29] aneeshd16 commented on #347
@Orbiter, the wall is making this query for the link posted above:
http://loklak.org/api/search.json?callback=angular.callbacks._1&count=10&q=%23mozweekend+OR+%23mozweekend+since:2015-07-01_14:30+until:2015-07-31_01:30

[2015-07-12 08:32] mariobehling commented on #313
Please mark that each point has been closed before closing this issue. Where can we test this?

[2015-07-12 08:35] mariobehling commented on #274
Where is the thumbnail? Where can we test it?

[2015-07-12 08:36] mariobehling commented on #274
Anyways, there is more important stuff. So, I am adding this issue to a later milestone.

[2015-07-12 08:39] mariobehling commented on #305
This issue is related to design choice in M3 as well, which are currently not clear in the existing design: https://github.com/loklak/loklak_webclient/issues/330

[2015-07-12 08:40] prasht63 commented on #313
http://test.loklak.net/map

[2015-07-12 08:40] prasht63 commented on #313
If you dont see the changes try in incognito.

[2015-07-12 08:56] mariobehling commented on #345
@fuksi Where is the cloudflare dependency documented? Who has got the admin access? I do not remember that we actually decided together to use cloudflare. Any additional info on that?

[2015-07-12 09:07] mariobehling commented on #248
Looking at this issue, it seems to be related to accounts, settings and less to the "loklak tweets" project. So I am assigning this issue to @aneeshd16

[2015-07-12 09:09] aneeshd16 commented on #248
Seems to be a part of #283

[2015-07-12 09:15] prasht63 commented on #345
@fuksi Since this is related to followers map I am taking care of this.Thanks :)

[2015-07-12 09:22] mariobehling commented on #248
Just compare to https://twitter.com/following and https://twitter.com/followers
The question is how do we deal with this. We should probably give users in future the possibility to follow each other within loklak, but we can display followers/following from twitter for now on loklak.net/following or /followers and later add a section of loklak internal followers above that.

[2015-07-12 09:29] mariobehling commented on #63
@sudheesh001 Currently your list of features in the milestones looks like a list of random ideas. This is not helping us to achieve the goal to make loklak into a service that can be used by the end of the summer. Let's go step by step. We would like to see a list of features from you first that are related to "tweets". Please fill in the Google doc I sent to you.

[2015-07-12 13:42] #307 closed

[2015-07-12 13:42] #310 closed

[2015-07-12 13:42] #338 closed

[2015-07-12 13:42] #340 closed

[2015-07-12 19:26] mariobehling commented on #292
I never receive any request from the browser to "share the location". I also wonder where you store the IP address. If this issue is really closed. Please document here, where you save the info and how you implemented it.

[2015-07-12 19:33] mariobehling opened #349 "Top image not displaying on home page"
Top photo not showing. See below.

Twitter
![screenshot from 2015-07-12 21 32 09](https://cloud.githubusercontent.com/assets/1583873/8639551/84aa7f78-28dd-11e5-9de5-0465f84c9da5.png)

Loklak
![screenshot from 2015-07-12 21 31 21](https://cloud.githubusercontent.com/assets/1583873/8639552/84aff17e-28dd-11e5-8fda-aeba861a1f86.png)

[2015-07-12 22:29] fuksi commented on #345
@mariobehling as what it is at the moment, it's not about cloudfare, but it's how we included the library. It should not have been like this.

@prasht63 Sorry I already took care of it on Saturday, I just forgot to put up the PR :) It's not exactly only about followers map, we have a lot of libraries, those are included in a not so optimized way.

Fixed in https://github.com/loklak/loklak_webclien

[2015-07-12 22:38] fuksi commented on #100
I was slow on this. I just asked on gitter for an example query since, although the instructions are clear, it can't be checked without real data.

I'm not expecting is a challenge here. This will be implemented in this week as soon as an example query is available.

[2015-07-13 06:12] prasht63 commented on #287
@mariobehling I will be working today, was finishing up #313 with adding a few designs.

[2015-07-13 07:51] aneeshd16 commented on #75
Will update by Wednesday (15th).

[2015-07-13 13:34] #347 closed

[2015-07-13 13:37] Orbiter commented on #347
fixed with https://github.com/loklak/loklak_server/commit/e529743f9db88ed83987951037796ea7df136509

Big news: AND and OR can now be mixed in search requests. OR binds stronger than AND.
`A OR B C` is equal to `(A OR B) AND C`.
This behaviour was tested on search.twitter.com and it is the same there.

[2015-07-13 13:40] aneeshd16 commented on #347
This is great!
I just need to construct the query such that all the OR params are first, and then come all the AND params.

[2015-07-13 13:49] Orbiter commented on #347
no you can mix then also:

`A B OR C D OR E /images` would be interpreted as `A AND (B OR C) AND (D OR E) AND /images`

[2015-07-13 15:06] Orbiter commented on #100
Here are the methods for each type of rich tweet:

for locations, see https://github.com/loklak/loklak_server/issues/39
User the `location_source="USER"` when pushing them to loklak and select them with `/location=USER` and `/location=1.2,3.4,5.6,7.8,USER`

(more to come)

[2015-07-13 15:33] prasht63 commented on #158
Deployed

[2015-07-13 16:23] zyzo commented on #324
I'm looking for schemas of these sources. This is where I've gotten so far

* openwifimap doesn't seem to have a json schema : https://github.com/mnin/freifunk_ios/issues/14. However the data format is well documented here https://github.com/freifunk/openwifimap-api.

* netmon is in xml format ! The simplest solution is to consider this a corner case and do not validate xml at all. I don't think a

[2015-07-13 16:34] mariobehling commented on #345
@fuksi Nevertheless as this questions comes up, we would like to know now, how does cloudflare end up in the code? Who has made a user account there? Who has access? Where did you document this? Why is it necessary?

[2015-07-13 17:20] fuksi commented on #345
@mariobehling, I already removed it in the PR. It was `leaflet` so I guess that @prasht63 included this when he started the map. No one made an account there at Cloudfare. Cloudfare is just what leaflet is using for CDN: http://leafletjs.com/download.html , it could have been any other CDN, like MaxCDN, Azure, etc..

It's a common habit to include libraries with CDN links, so that, said if loklak

[2015-07-13 17:27] mariobehling commented on #345
Ok, got it. We are using Cloudflare in other projects as well, but free usage is limited and the service should also work without a CDN. Thanks for the clarification!

[2015-07-13 17:27] #345 closed

[2015-07-13 18:14] prasht63 commented on #287
@Orbiter I have added the location to show along with the tweet.Only the tweets which have location_source as "REPORT" will show tweet location as name.However I could not get any tweet with location_source as REPORT.All of them were ANNOTATION based location sources.Can you suggest some test cases?

[2015-07-13 18:27] #349 closed

[2015-07-14 04:56] zyzo commented on #324
Another free wifi network http://map.ninux.org

The integration of ninux is promising since their api is in geojson, and we already have a geojson push service :

nodes: https://ninux.nodeshot.org/api/v1/nodes.geojson?format=json
links: https://ninux.nodeshot.org/api/v1/links.geojson?format=json

[2015-07-14 06:33] prasht63 commented on #296
@Orbiter Is there a way loklak_server can relate a place name to a Country. For ex Berlin-->Germany , Delhi-->India

[2015-07-14 06:47] prasht63 commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/fe296c950548c9533b55ed390eb0f28f59068a46

[2015-07-14 07:02] sudheesh001 opened #352 "Mozilla location services on the map"
There's a beautiful dataset that Mozilla publicly gives as a part of Mozilla Location Services
https://location.services.mozilla.com/downloads

Can we do something about this as a possible data source into Loklak ? This issue is just a question on which we could brainstorm and see what we could do, the data sample looks as follows

![mls](https://cloud.githubusercontent.com/assets/4545925/8668030/

[2015-07-14 08:44] mariobehling commented on #352
Awesome! Let's put this on the map. Which milestone does that fit in?

[2015-07-14 10:37] Orbiter commented on #296
right now I have the ISO-3166 2-letter country code available in my data set. I am currently looking for a  ISO-3166 -to- geolocation table so that I could send you a coordinate where you can plot the accumulated info to.

To access this information efficiently, you would need to make an aggregation search on the (to-be-implemented)  ISO-3166 field in the search index which I would enrich with loc

[2015-07-14 11:25] Orbiter commented on #287
We only have REPORT if the message was imported by a geojson import (@zyzo: please provide an import example here so @prasht63  can reproduce this for his tests) or if the message was created by loklak using a rich tweet with location attachment (which we don't have by now, as far as I know)

[2015-07-14 12:50] zyzo commented on #287
@prasht63 : You could add fossasia geojson messages to your local loklak, using this command :
[code]

[2015-07-14 14:11] mariobehling opened #354 "Twitter previews show up as empty images on loklak search"
Twitter seems to display previews for links or similar images. When we have a search on loklak these image areas are empty and the image does not show up.

http://test.loklak.net/search?q=Something%20I%20gave%20a%20talk%20on
![screenshot from 2015-07-14 16 04 54](https://cloud.githubusercontent.com/assets/1583873/8675138/831bd8b2-2a42-11e5-865f-c7081c7dcaca.png)

https://twitter.com/elioqoshi/stat

[2015-07-14 14:24] mariobehling opened #355 "Implement Tweet Attachment "map" and cross post as image to twitter"
The attachment typ "map" allows users to attach a map location and show this similar to an image below the tweet. For twitter the idea is to cross post this map as an image.

Related to: https://github.com/loklak/loklak_webclient/issues/94 | https://github.com/loklak/loklak_webclient/issues/292 | https://github.com/loklak/loklak_webclient/issues/93

[2015-07-14 14:28] mariobehling opened #356 "Propose and implement email integration for system user and admin messages/notifications"

[2015-07-14 14:37] mariobehling commented on #63
@sudheesh001 I have updated your plan and took out things out of scope. I also added goals for each milestones. Let's focus first on the current milestone. Do you think you can implement all the issues in the current milestone 3?

Other than that: I took out "Page showing followers and following information at a user profile" as this is currently assigned to Aneesh while he is taking care of accou

[2015-07-14 14:40] mariobehling opened #357 "Get location info from mobile device and ask user to activate share location"
This task is related to https://github.com/loklak/loklak_webclient/issues/292 "Get location information from browser (share location) and add it to tweet when posting from loklak" but it is specifically focusing on mobile devices. There are also subtasks, e.g. automatically identify IP adresses location, cell tower etc. and zoom in the area where the user is currently located, when the user choose

[2015-07-14 18:26] prasht63 commented on #313
I am closing this as it has been implemented and can be tested at test.loklak.net/map

[2015-07-14 18:26] #313 closed

[2015-07-14 18:32] prasht63 commented on #296
I am looking for something like https://github.com/loklak/loklak_server/issues/62 where along with the location name you add the name of the country to the response
[code]

[2015-07-14 19:31] Orbiter commented on #296
ok, I already added the field `place_country` and `place_country_center` to search results. The country can also be retrieved with aggregations, like:
[code]
This gives you aggregations for the countries but not the country name and not the country center location. I try to find a solution for that in the fashion you suggested above.

[2015-07-15 06:00] zyzo commented on #324
Data from ninux can be simply added using this link :
http://localhost:9000/api/push/geojson.json?url=https://ninux.nodeshot.org/api/v1/nodes.geojson?format=json&source_type=NINUX&map_type=name:screen_name&user:user.screen_name&user:user.name&details:link.

(Althoug this request currently failed because `mtime` field is missing. Will be fixed with strategy discussed in https://github.com/loklak/lo

[2015-07-15 06:00] mariobehling opened #359 "Very few Followers displayed / Following missing"
![screenshot from 2015-07-15 07 59 00](https://cloud.githubusercontent.com/assets/1583873/8691782/7d19b242-2ac7-11e5-8c90-3ff48652fe8e.png)

[2015-07-15 06:08] mariobehling commented on #323
This is the current view on loklak, which shows that the map is not in the center of the screen: ![screenshot from 2015-07-15 08 05 51](https://cloud.githubusercontent.com/assets/1583873/8691869/8a1feb9a-2ac8-11e5-993d-9f2fb02d491d.png)

This is a view how it should be centered.
![screenshot from 2015-07-15 08 06 27](https://cloud.githubusercontent.com/assets/1583873/8691881/aa645918-2ac8-11e5-85b

[2015-07-15 06:29] mariobehling commented on #205
@prasht63 I hope this helps you to get a better sense of direction: I have updated the list of features for milestone. Does M3 work for you? Also, please check the ongoing tasks. For the following milestones we can add more details as we proceed.

Can you pledge that you will finish the tasks of M3, please?

[2015-07-15 07:27] prasht63 commented on #296
Thanks

[2015-07-15 07:42] mariobehling commented on #225
Are you clear about the flow for the user? The goal is that the user can add Angel.co Api-Data to his map. User actions to include e.g.:
1. Add data source in "connect" area
2. Automatically create layer for Angel.co on map

![screenshot from 2015-07-15 09 40 05](https://cloud.githubusercontent.com/assets/1583873/8693216/d06dcdd0-2ad5-11e5-81c5-79bf3492eda5.png)

[2015-07-15 07:51] prasht63 commented on #225
Yes Mario I am thinking on the same terms.I will add a mock up in a couple
of hours, once I finish putting up the number of followers.

On Wed, Jul 15, 2015 at 1:12 PM, Mario Behling <notifications@github.com>
wrote:

[2015-07-15 07:57] mariobehling opened #360 "Reduce size of top bar to max 46px height"
Match top bar closer to twitter style including:
* [x] decrease size of "tweet" button (especially height)
* [x] decrease size of photo
* [x] match size of distance to left/right similar to twitter
* [x] decrease size of logo in center
* [x] round up edges of search bar

[2015-07-15 09:51] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/702cddbecaf6e5dfe2ee6370b06c2b8df9e059f1

[2015-07-15 09:55] #231 closed

[2015-07-15 09:58] fuksi commented on #160
Now can open single tweet by:
- The twitter way: Click on status area to show more detail, then click on `Details`
- Other way: click on three dots above, then click on optiops `Open this single tweet`

On coming features:
* [ ] Enable copy link on click

[2015-07-15 14:04] fuksi commented on #354
This bug is bigger than it seems.
- Here the result from local service http://gofullstack.me:8061/oembed?url=http://buff.ly/1De2NqH , which return the wrong thumbnail url
- And from the iframely home page  http://iframe.ly/Ix8ga6.oembed , which is much more sophisticated.

I alread tried update the repo but apparently, the version https://github.com/itteco/iframely/tree/master is still dated from

[2015-07-15 14:32] Orbiter opened #362 "provide loklak share button snippets and share service"
Twitter provides a guide how to create 'share' buttons. If a user pushes on such a button that was generated, then the user tweets in his name. Pushing therefore also forces that the user has to log in into the corresponding plattform. Twitter provides this function here: https://about.twitter.com/de/resources/buttons#tweet

I believe we should have something similar, so people are able to plug-in

[2015-07-15 14:50] Orbiter commented on #362
The 'share' button has a counter attached. That counter shows how many times a specific link was shared. We already have the function to compute this number using the `/link=<url>` constraint, i.e.

http://loklak.org/api/search.json?timezoneOffset=-120&count=0&source=cache&q=/link=http://fossasia.org

returns a search result with 0 entries, but in the `hits` property you get the counter for the nu

[2015-07-15 16:48] Orbiter commented on #280
underlining works! - but unfortunately if I mouseover a link the colour of the (then-) underlined link text is a bit brighter! It's actually only a very small difference, but there is a difference. I guess the css colour for the underlining is different for any reason. Please fix that detail as well.

[2015-07-15 16:54] Orbiter commented on #288
If I click on the user name (the big title line) then the link still goes to twitter!

also: this also applies to individual tweet view and the list view of the tweet. There none of the links are fixed. Please change *ALL* links to twitter with links to loklak. Just make a search in the code for 'twitter.com' and replace all where applicable

[2015-07-15 17:24] sudheesh001 commented on #158
No changes since 702cddbecaf6e5dfe2ee6370b06c2b8df9e059f1 , Branch stable. Pending PRs reviewed and feedback given before merge and deployment https://github.com/loklak/loklak_webclient/pull/361

[2015-07-15 17:39] mariobehling commented on #119
Please be inspired by twitter. Please follow up on this when accounts are done and we have a way for people to login to loklak without twitter. Moving it to 3.5 as I am not sure, when @aneeshd16 will get accounts implemented.

![screenshot from 2015-07-15 19 36 29](https://cloud.githubusercontent.com/assets/1583873/8705316/21cca518-2b29-11e5-9bb8-0698d23a0ba9.png)

[2015-07-15 18:08] mariobehling commented on #119
What do you want to achieve exactly?

[2015-07-15 18:16] mariobehling opened #363 "Define Views and Features for Logged in and not registered users"
This is related to a number of features, e.g. how does the login page look like, modal view etc. (e.g. https://github.com/loklak/loklak_webclient/issues/119)

[2015-07-15 21:13] Orbiter opened #364 "custom map layers, show tweets on *other* maps"
Will it be possible to show a custom map (instead our own) with our loklak messages shown live on it?
The custom map would be something like http://campmap.mazdermind.de/

If yes, I would consider this an option for the wall, where:
- the user adds an url pointing to the overlay of the *other* map
- the user defines a fixed viewport on the map to have only things visible from the overlay of the *o

[2015-07-16 07:16] prasht63 commented on #359
@mariobehling I am planning to add a drawer navigation showing stats and info about the followers/following which will also be helpful in showing data for other Map Issues like startups on map and other IOT Issues.I will send a PR today for the followers following map.Preview
![image](https://cloud.githubusercontent.com/assets/2105062/8717331/08a1881c-2bb8-11e5-9749-77794a6bc920.png)
![image](http

[2015-07-16 07:25] zyzo commented on #324
Helper script to import (all) freifunk data into loklak : https://github.com/zyzo/ff2ll

[2015-07-16 09:25] fuksi commented on #321
@Orbiter, currently there is no location info in the `user` field in the search result. At the moment I can think of 2 way to proceed with this:
- Check for `place_name`. If has `place_name`, request to the loklak API to convert `place_name` to `lat, lng`
- From user screen_name, get location of the user

I'm guessing that loklak API already storea `lat,lng` related to place name so the first opti

[2015-07-16 11:54] Orbiter commented on #321
The server already should compute location positions from the `place_name`, if this does not happen it's a bug.

Getting the user information with location info is a matter of adding user information to loklak_server at all. Therefore this is related to https://github.com/loklak/loklak_server/issues/64
I am actually working on this right now. I had some successfull testing using the twitter4j api

[2015-07-16 14:31] mariobehling commented on #364
So you are talking about the base map - the background map - right? It depends if they offer an API similar to Google or OpenStreetMap.

[2015-07-16 14:42] Orbiter commented on #364
Yes the base map optional with an already existing overlay. The idea is, that there is a conference building layout or a large area like the CCCamp as given in the example above. This would enrich the tweets appearing on the map with the necessary background information which would show how exactly tweets and event map belong together.

[2015-07-16 17:56] aneeshd16 commented on #158
Deployed at 702cddbecaf6e5dfe2ee6370b06c2b8df9e059f1

[2015-07-17 04:40] zyzo commented on #324
http://localhost:9000/api/push/geojson.json?url=https://ninux.nodeshot.org/api/v1/nodes.geojson?format=json&source_type=NINUX&map_type=name:screen_name,user:user.screen_name,user:user.name,details:link,description:text,updated:mtime

[2015-07-17 05:33] #160 closed

[2015-07-17 06:05] mariobehling commented on #324
In your standup you wrote:

What search will give me results to see freifunk nodes info?

[2015-07-17 07:13] zyzo commented on #324
@mariobehling This info is available on local environment only, as freifunk routers branches are not merged into master (a PR will be opened after https://github.com/loklak/loklak_server/pull/77 is merged).

Steps to reproduce the bug on local environment :
1. Compile & run loklak_server, branch wifi-routers-push-service
2. Clone repo https://github.com/zyzo/ff2ll, and run importer script : `php i

[2015-07-17 08:34] mariobehling commented on #324
@zyzo Do you have a server where you could set up loklak and we can test it there, if we have feedback. It is not possible to deploy all branches of different developers and test it.

[2015-07-17 08:51] Orbiter commented on #172
I changed the auth settings in loklak_server. Since then, the log-in with twitter does not work. I guess this feature is not working. Please check.

[2015-07-17 08:54] Orbiter commented on #172
To check if this working, open a command shell on loklak.org and run:
```curl http://localhost:9000/api/settings.json```
Please DO NOT PASTE ANY TEST DATA HERE FROM THE SERVER; SINCE THIS IS A SECRET!

Then, debug your loklak_webclient application and check if these values are correctly used.

[2015-07-17 09:07] Orbiter opened #370 "pop-up of tweet details on the map not on the right position / broken"
steps:

- search something on the map
- click on a dot
- this shows up:

![markerbroken](https://cloud.githubusercontent.com/assets/238730/8743909/32827cac-2c73-11e5-83e1-8b17d16d72ad.PNG)

You can see that there is a marker sign (with the arrow down) which overlaps with the message box. The box should be above the marker, not the marker inside.

**This is one of the many totally superfluous and e

[2015-07-17 09:21] mariobehling commented on #160
Screenshot would be good with those kind of issues. Where can we test this?

[2015-07-17 09:24] mariobehling commented on #354
Do you have a screenshot? Is the solution not to show the image?

[2015-07-17 11:56] fuksi commented on #354
The solution is to change and engine to get embed code. The solution was merged. The deployment was slow today. I just deployed again. Let's try the same link again

http://test.loklak.net/search?q=%23mozweekend

[2015-07-17 11:59] fuksi commented on #160
The deployment was slow, I just deployed again today. You can test on any search.
![image](https://cloud.githubusercontent.com/assets/6878677/8746656/46486fdc-2c94-11e5-8b85-20d34a131cb6.png)

Clear instructions are also given in the merged PR: https://github.com/loklak/loklak_webclient/pull/368

[2015-07-17 14:28] mariobehling commented on #354
Not getting any result on the link given at the moment.

![screenshot from 2015-07-17 16 28 03](https://cloud.githubusercontent.com/assets/1583873/8749271/df53f50a-2ca0-11e5-9544-bb8546b548e3.png)

[2015-07-17 17:50] #280 closed

[2015-07-17 19:48] aneeshd16 commented on #330
@Orbiter this is how the wall creation modal looks now. What should be the appropriate query for this? Since there is only 1 object in the "Any of these" fields, that object should be optional. Tweets may or may not contain that. But if there is only 1 object, what will it be ORred with?
![image]https://files.gitter.im/loklak/JkIA/blob)

[2015-07-17 22:11] #360 closed

[2015-07-18 05:21] sudheesh001 opened #372 "Search breaks when search encounters json with special characters"
`Uncaught SyntaxError: Unexpected token ILLEGAL`
[code]
Error flagged at :
[code]
Sample present in response is
[code]

[2015-07-18 07:54] Orbiter commented on #330
I like this new design! The query term would be easy to construct. Consider you have:
All of these: A B C
Any of these: D E F
None of these: G H I

Then the query you must construct would be simply `A B C D OR E OR F -G -H -I`
The query parser considers OR stronger than AND which would result in the logic:
`A AND B AND C AND (D OR E OR F) AND (NOT G) AND  (NOT H) AND (NOT I)`
I believe this is als

[2015-07-18 08:06] aneeshd16 commented on #330
Awesome. Thanks!

[2015-07-18 11:02] fuksi commented on #354
Apparently loklak server was down for a while. You can try again now: http://test.loklak.net/search?q=%23mozweekend

[2015-07-18 11:04] fuksi commented on #288
Done with https://github.com/loklak/loklak_webclient/commit/1c8987aa6a1eccaac1d1de618f7cfc1d1d0a8657

[2015-07-18 11:04] #288 closed

[2015-07-18 11:04] #354 closed

[2015-07-18 12:12] mariobehling commented on #330
Please also add buttons/areas for features coming soon. Please make them show up, but also make them grey and add "coming soon" behind them.
* [ ] Cycle/Repeat Tweets
* [ ] Block tweets with profanity
* [ ] Block retweets
* [ ] Hide retweets
* [ ] Follower threshold
* [ ] Moderation

Please add helper text and "coming soon" to each point
* [ ] helper text

[2015-07-19 09:03] #295 closed

[2015-07-19 11:10] Orbiter commented on #172
@fuksi solved the problem

[2015-07-19 11:10] #172 closed

[2015-07-19 11:35] aneeshd16 commented on #330
![image](https://cloud.githubusercontent.com/assets/5436027/8765709/4a9de8aa-2e38-11e5-8796-8b369ee55ca9.png)

[2015-07-19 11:58] fuksi commented on #261
This was solve from #287, in https://github.com/loklak/loklak_webclient/commit/702cddbecaf6e5dfe2ee6370b06c2b8df9e059f1, with the rule

- if (and only if) the field location_source contains the exact string REPORT then write below the tweet text:
- left-aligned a "place mark" (that thing like a upside-down drop)
- right to the mark the text from the field place_name

The result are can't be easily

[2015-07-19 16:47] Orbiter commented on #321
Please implement the reading of locations from the server. You can call
`http://localhost:9000/api/account.json?screen_name=<screen_name>` and then you get a `user` object which has a `location_mark` and `location_point` attribute attached, containing the location as `[lon, lat]` values. Please use the `location_mark` value.

[2015-07-19 17:39] mariobehling commented on #359
Just tested the currently deployed version.
a) Followers: Only ten are displayed (before there were dozens already)
b) Following: Currently zero are displayed

[2015-07-19 17:40] mariobehling commented on #359
Followers/Following info as a sidebar sounds interesting. Please move the sidebar to the right and keep it similarly small to the activity sidebar like in Facebook.

[2015-07-19 18:09] mariobehling commented on #329
@aneeshd16 What options do we have? I saw this comment from you in the standup:

[2015-07-19 18:29] aneeshd16 commented on #329
I found a module, https://github.com/adonespitogo/angular-base64-upload that would make this task trivial. However, I need @fuksi and @sudheesh001 views, if we need to go for something more general. IMO, this should be fine.
Demo: http://embed.plnkr.co/MTzfQASN8ZVeocAq7VcM/preview

[2015-07-19 18:37] #142 closed

[2015-07-19 19:28] fuksi commented on #329
This implementation looks good for me, it's actually a lot more compact of what we're using here at:
- https://github.com/loklak/loklak_webclient/blob/master/app/js/services/file.js
- & 34-39 in https://github.com/loklak/loklak_webclient/blob/master/app/js/controllers/tweet.js

Please implement this directive and then refer to here your experience with it so we can make the decision to change code

[2015-07-19 19:30] aneeshd16 commented on #329
Okay, I will go with this, will take me day to implement.

[2015-07-19 19:35] mariobehling commented on #262
Please provide a screenshot for new features. Where can we test it? Where is it running on your web server?

[2015-07-20 04:11] sudheesh001 commented on #329
@aneeshd16 Looks good with this present but also for hellojs the file has to be uploaded as a file instead of base64. So I believe building the directive to take a file instead would be better and would suit the overall implementation that's needed.

[2015-07-20 04:13] sudheesh001 commented on #158
Deployed at e914c3d8d0fea4e0414cdb55483fb268f54c47d5

[2015-07-20 04:20] sudheesh001 commented on #262
The trends should appear like this, I have deployed the changes to test.loklak but the trends list isn't appearing on it for some reason but when I investigate from the console the request is being made and the response is being returned.

Keeping this open until furthur seen

<img width="1440" alt="screen shot 2015-07-20 at 9 38 53 am" src="https://cloud.githubusercontent.com/assets/4545925/87698

[2015-07-20 04:50] sudheesh001 commented on #262
Now present on test.loklak.net

[2015-07-20 08:54] Orbiter commented on #330
I like the profanity / retweet / hide option but how are those features implemented? I guess this is the task of the server, but then we must negotiate a protocol extension. I believe that this feature is incomplete as long as we don't know how the new options are implemented. Please write down what happens if the options are selected.

[2015-07-20 09:32] mariobehling commented on #330
@aneeshd16 Yes, please follow up on how to implement this. As mentioned,
* [ ] please make the font of the non-existing feature Grey and
* [ ] add in front "Coming soon"
* [ ] Please make use of the white space (behind the yes/no button). Why don't you use the whole area and spread the text more? I wish you would see these kind of things yourself.

[2015-07-20 17:23] aneeshd16 commented on #158
Deployed

[2015-07-21 02:23] aneeshd16 commented on #330
Done.
![image](https://cloud.githubusercontent.com/assets/5436027/8791807/5574688a-2f7d-11e5-8c68-7a3984e998e9.png)

[2015-07-21 02:25] aneeshd16 commented on #330
@Orbiter, correct. That functionality does not exist on the server yet. I will follow it up in separate issues.

[2015-07-21 02:26] aneeshd16 commented on #329
@sudheesh001 , we can use the custom parser mentioned here https://github.com/adonespitogo/angular-base64-upload#custom-parser to directly work with the file object.

[2015-07-21 05:48] Orbiter commented on #330
Thats good. I believe those filters will be trittered with our typical constraint schema, like `-/profanity` to exclude profanity. Please open separate feature issues at loklak_server for each required filter.

[2015-07-21 06:33] zyzo commented on #324
After analysis, the problem is found (!). When searching things on map view, the location constraint is present in search query, and the server side will only searches for messages with `place_context=from` ([code](https://github.com/loklak/loklak_server/blob/master/src/org/loklak/data/QueryEntry.java#L628)). So the messages with `place_context=about` are not returned. (however when creating new m

[2015-07-21 09:07] mariobehling commented on #324
This is confusing. The issue is about Freifunk routers - actual devices. It is not directly related to communities.

[2015-07-21 09:29] aneeshd16 opened #376 "Wall breaks when images are used"
The wall has all its parameters in the URL.
If i upload an image, the image is converted to base64 and is added as a property to the wall params. The URL becomes this:
[code]

As you can see, the base64 image data is also included in the URL and makes it too long. The problem arises when the wall makes a request to loklak_server. On the frontend, the javascript console shows
`Failed to load resour

[2015-07-21 09:47] Orbiter commented on #376
use HTTP POST to communicate with the server.

[2015-07-21 09:48] mariobehling commented on #330
Not sure, why you mark "Cycle/Repeat Tweets" as solved. I am not seeing this feature.

[2015-07-21 09:55] mariobehling commented on #330
![5574688a-2f7d-11e5-8c68-7a3984e998e9](https://cloud.githubusercontent.com/assets/1583873/8797946/3590c55a-2f9f-11e5-874d-ee6f24245ada.png)
* [ ] Keep design in line
* [ ] Make better use of space and expand areas

[2015-07-21 12:42] zyzo commented on #324
@mariobehling  the screenshots are just for demo purpose. The bug analysis applies for all cases, when data are imported into the backend : Freifunk routers AND Fossasia communities & other things as well.

[2015-07-21 12:50] zyzo commented on #324
as of why the demo do not show freifunk data, it's only because the freifunk router feature and search by source_type feature are on parallel branch. But it doesn't matter as the issue affects all cases.

[2015-07-21 13:02] mariobehling commented on #324
@zyzo This is confusing. There is an issue here, that is related to the Freifunk/FOSSASIA API https://github.com/loklak/loklak_webclient/issues/206 You could also add another issue that focuses on the API.

Please do not mix different topics. This issue specifically relates to the router network. We should put things where they belong. Please separate the issues.

[2015-07-21 13:34] aneeshd16 commented on #376
woah. Didn't know the server supported POST. Will test and report back.

[2015-07-21 13:56] Orbiter commented on #376
*all* servlets accept POST requests :wink:

[2015-07-21 16:46] fuksi commented on #290
I believe there is a parameter in the query that can help us with that. e.g. `source=twitter` (other options are `cache`, `backend`, `all` as default). Api link: http://loklak.org/api.html. It's hard to demonstrate now since I can't see any other source but `"source_type" : "TWITTER"` in the search result. When there are other sources, I'm sure can create a filter-like option in search to define t

[2015-07-21 16:55] fuksi commented on #372
I believe the cache is already updated. You won't be seeing this status anymore. This was a test and unfortunately it contains non white space character.

About the error: If you copy and paste that `a***and` to the text editor and inspect it, you can see the illegal token. Our application won't be able to parse this since the protocol is JSONP & callback=angular, which will treat this whole JSON

[2015-07-21 16:55] #372 closed

[2015-07-21 17:05] zyzo commented on #290
@fuksi please take a look at PR https://github.com/loklak/loklak_server/pull/79. I believe this is what you're looking for ?

To search only twitter data, the search query would be `/search?q=%23USA%20%2Fsource_type%3DTWITTER`

[2015-07-21 17:33] aneeshd16 commented on #330
![image](https://cloud.githubusercontent.com/assets/5436027/8807837/9d65d6e0-2ffc-11e5-8d90-c1d42e6ca22b.png)

[2015-07-21 17:57] prasht63 commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/e914c3d8d0fea4e0414cdb55483fb268f54c47d5

[2015-07-21 18:01] prasht63 commented on #370
@fuksi I think this started after the design changes regarding moving CSS files.Can you look into it?

[2015-07-21 21:39] fuksi commented on #370
I already noticed and fixed this four days ago at https://github.com/loklak/loklak_webclient/commit/719f55c6429cfb86e0246d9f490d2c8ca5960658

http://test.loklak.net/search?q=%23fossasia%2B%2Fmap

[2015-07-21 21:39] #370 closed

[2015-07-22 00:19] mariobehling commented on #330
Looks good!

Please show us the cycle tweet feature as well.

[2015-07-22 06:03] aneeshd16 opened #377 "Cycle/repeat tweets on wall"
The search results are sorted by created_at. The most recent one is at the top. Currently the following happens:
* a sorted array of tweets is maintained (`nextStatuses`). The most recent tweet is the first tweet.
* The initial search results are sorted by default, so `nextStatuses` becomes the same as the search results array.
* Another function (`$interval`) gets the first tweet from `nextStatus

[2015-07-22 06:07] aneeshd16 commented on #330
Sorry, missed that :smile:
![image](https://cloud.githubusercontent.com/assets/5436027/8819041/dcaadbd4-3065-11e5-8653-c0231bb17d93.png)

[2015-07-22 06:25] aneeshd16 commented on #376
Getting a CORS error on making the POST request.
This is the relevant code:
[code]

[2015-07-22 11:57] fuksi commented on #290
@zyzo Thank you, the PR clears this up. Can you prefer to this issue again when the PR is merged. And if possible, a example query that contains results from `source_type=FOSSASIA_API`  as well.

[2015-07-22 12:08] fuksi commented on #376
Try `$http.jsonp(..)`, like in the `app\js\services\search.js`

[2015-07-22 13:18] Orbiter commented on #376
use jsonp using the `callback=?` option

[2015-07-22 13:19] Orbiter commented on #376
@fuksi  :+1:

[2015-07-22 13:44] aneeshd16 commented on #376
@fuksi , that is what I was using before.

[2015-07-22 15:26] aneeshd16 commented on #376
Possible solution:
* When the wall is started save to server and generate a unique id for the wall. For eg, if i save my wall, the url of the wall display will become `/wall/display/aneeshd16/abcd1234`
* When the user goes to the wall url `/wall/display/aneeshd16/abcd1234`, the data corresponding to that id and user is read from the server again and the wall is shown.

[2015-07-22 17:25] pguth opened #379 "Gitter chatroom private"
... but advertised as "chat with devs" in the README.

[2015-07-22 19:49] fuksi commented on #100
This issue is heavily based on the process of other, let's track it here:

- [ ] based of #93  identify and attach exact geographic coordinates and maps
- [ ] based of #97 attach video and/or audio content
- [ ] based of #94 attach larger texts with simple markdown (i.e. https://guides.github.com/features/mastering-markdown/) as used in github or maybe wikitext, code citations (with code pretty-pr

[2015-07-22 19:51] fuksi commented on #97
Please refer back to #100 when this is done, along with a query example results in a status the rich content mentioned on top.

[2015-07-22 19:51] fuksi commented on #93
Please refer back to #100 when this is done, along with a query example results in a status with the rich content mentioned on top.

[2015-07-22 22:24] Orbiter commented on #379
@mariobehling when I added that chatroom comment in the README I did not know that it is private. Should we keep that?

@pguth good to know that you want to get in contact. please contact me @0rb1t3r (twitter) or @mariobehling (twitter) to ask anything.

[2015-07-23 03:47] sudheesh001 commented on #379
@Orbiter We currently have an organization chatroom, keeping this private, we can create a chatroom for this repository and keep it public, also then we'd need to change the gitter join badge in the readme

[2015-07-23 04:40] aneeshd16 opened #382 "Create a RESTful API for loklak apps."
This API will be a part of the oauth-proxy code.

The required routes are:

1. GET /:user/:app/ (list)
2. GET /:user/:app/:id (read one)
3. POST /:user/:app/ (create)
4. PUT /:user/:app/:id (update)
5. DELETE /:user/:app/:id (delete)

Once these routes are added, it will be easy to add authentication as middleware. Also, these routes can be used by any loklak app. Currently, only the "wall" app wi

[2015-07-23 04:49] sudheesh001 commented on #382
For moving towards IoT, we also need to have the following
1. GET /:user/tweets
2. GET /:user/:tweet/:id
3. POST /:user/:app/:tweet
4. POST /:user/:app/:tweet/:media
5. DELETE /:user/:app/:id

What do we do for IoT devices, do they need to have a twitter account ? There should be a way to save the tweets from these devices from an app for the device.

[2015-07-23 07:17] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/1f3f9d3bc0b68f399105fe107f3bb795e1786bb0

[2015-07-23 11:31] fuksi commented on #290
In the meantime, I'll define source = twitter as default

[2015-07-23 11:37] fuksi opened #383 "Refactor search.js"
This controller has almost 500 lines of code.
https://github.com/loklak/loklak_webclient/blob/master/app/js/controllers/search.js
A lot of the method can be shared between other controllers/services. Things to do
- [x] Separate those mutal methods to services, comment here about new services
- [x] Refactor length of methods
- [x] Similar refactoring for advanced search as well

[2015-07-23 18:43] Orbiter commented on #311
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:43] Orbiter commented on #245
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #312
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #248
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #63
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #205
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #296
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #225
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:44] Orbiter commented on #359
please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details

[2015-07-23 18:46] Orbiter commented on #309
The retrieval of followers from the twitter client inside loklak_webclient should be replaced by a retrieval of those data from loklak_server. Therefore I re-open this issue: please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details.

[2015-07-23 18:47] Orbiter commented on #284
The retrieval of followers from the twitter client inside loklak_webclient should be replaced by a retrieval of those data from loklak_server. Therefore I re-open this issue: please retrieve the follower list from loklak_server, documentation is online at http://loklak.org/api.html#account .. please scroll down to "Retrieval of Twitter User Account Data" for details.

[2015-07-24 04:15] zyzo commented on #206
This is what current implementation looks like, with loklak_server new feature https://github.com/loklak/loklak_server/pull/83:

![screenshot from 2015-07-24 11 08 47](https://cloud.githubusercontent.com/assets/6483446/8867527/b26cf16e-31f4-11e5-9f2b-e6ef4bde5871.png)

TODO :

* option to modify the datasource directly from web client.
* for geojson source, there is map_type parameter. User should

[2015-07-24 05:21] zyzo commented on #206
This feature can be reviewed at http://loklak-client.danghaian.com/dataConnect
(Server : http://loklak-server.danghaian.com)

[2015-07-24 06:19] aneeshd16 commented on #382
The CREATE route (POST /:user/:app/) accepts JSON in the body, creates a unique id using the npm package shortid https://www.npmjs.com/package/shortid.

[2015-07-24 06:54] mariobehling commented on #376
Please update this issue with the information from gitter chat. I see, that changing parameters will not be possible simply by adapting the URL. I am not sure, if that would be a nice thing to keep.

[2015-07-24 07:13] mariobehling commented on #206
@zyzo Nice! loklak-client seems to be down though. Cannot test.

[2015-07-24 07:18] mariobehling commented on #383
@fuksi Are you planning to finish this until tomorrow for M3?

[2015-07-24 07:24] mariobehling commented on #379
@pguth Good to see you here! I invited you to the organization. Please join the discussion on https://gitter.im/loklak

[2015-07-24 07:48] zyzo commented on #206
My bad, @mariobehling could you please test again ?

[2015-07-24 07:58] mariobehling commented on #206
Login screen for twitter stays empty - cannot login.

![screenshot from 2015-07-24 09 58 06](https://cloud.githubusercontent.com/assets/1583873/8869985/7fe82efc-31ea-11e5-98b0-a83d7891292f.png)

[2015-07-24 08:05] zyzo commented on #206
There is an unknown problem with twitter auth indeed, but the datasource interface can currently work without logging in to twitter.

[2015-07-24 08:06] mariobehling commented on #206
Ok, a few questions. I could see my connections without logging in.
* Where does the data of http://cmap-fossasia-api.heroku.com/ffGeoJsonp.php come from? How is it generated?
* What does the user have to do in "source type"? How should a user know what to do here?
* What does a user have to do in mapping rules and tweet field?

[2015-07-24 08:25] fuksi commented on #383
Yes, main tuning for search.js is done. I'll do the same with advanced search as well, but the process will be quicker. It will be done before M3 :)

[2015-07-24 08:27] fuksi commented on #321
Done with #378

[2015-07-24 08:27] #321 closed

[2015-07-24 12:05] zyzo commented on #206
@mariobehling  :
* when adding new data source (Add Data Source), the source is pushed via `api/push/geojson.json`. The geojson push servlet do two things : save the messages & the import profile (information about source url, created time, source type, harvesting frequence.. cf. https://github.com/loklak/loklak_server/issues/35). Then the list of import profiles are retrieved via `api/import.json

[2015-07-24 12:40] mariobehling commented on #206
@mariobehling

1. http://cmap-fossasia-api.heroku.com/ffGeoJsonp.php Whose server is it? Who creates this data ffGeoJsonp.php? Why do we need a server running php to offer data for loklak? How can we get the data directly from the communities in github. Think of the use case "I want to add my community to the map" (e.g. https://raw.githubusercontent.com/fossasia/fossasia-communities/master/Singapo

[2015-07-24 13:12] zyzo commented on #206
This is really just a json file that serves http://cmap-fossasia-api.herokuapp.com/ffGeoJson.json, nothing important (It is `.php` to deal with jsonp). And it is used to demo here because at the moment I could only push messages in `geojson` format. Now, there is `/api/push/fossasia.json` that can be used to push data in fossasia api format. The feature just got merged into master. As said I will

[2015-07-24 18:15] aneeshd16 commented on #376
#382 is the solution for this. Opened a PR #384 for this.

[2015-07-25 05:25] zyzo commented on #206
Interface to add fossasia api data :
![screenshot from 2015-07-25 12 20 54](https://cloud.githubusercontent.com/assets/6483446/8888067/e7c61c04-32c7-11e5-8d0b-98654a1778b3.png)

If no format is specified in route parameter `/addConnection/:format`, or if format=geosjon, user will get following form which is a little bit different :

![screenshot from 2015-07-25 12 21 09](https://cloud.githubuserco

[2015-07-25 05:56] #323 closed

[2015-07-25 06:02] sudheesh001 commented on #158
Deployed at e050507f5d79f46117e527dc40e43e335517bbe7

[2015-07-25 06:40] mariobehling commented on #266
Scroll bar still there.

![screenshot from 2015-07-25 08 39 45](https://cloud.githubusercontent.com/assets/1583873/8888305/c18d621e-32a8-11e5-89cf-f9bb921d2ba9.png)

[2015-07-25 06:41] prasht63 commented on #266
I think the changes have not reflected on test.loklak.net. I will redeploy

[2015-07-25 06:56] mariobehling commented on #359
1. Ok, I see the sidebar and I do not understand what feature you try to implement here. There are some followers/following showing up in a sidebar. I cannot click on them and show them and they show on a map or I cannot see their tweets or anything. These might be interesting features, but I do not see them on our list. Also, there is no mockup or anything where you actually explained what you ar

[2015-07-25 07:02] prasht63 commented on #359
@mariobehling The side bar is just temporary until we have support from loklak for followers and following both.The current side bar just lists out all the followers plotted so that you know how many followers/following are there on the map.As it is an added option as a drawer which does not obstruct the view, I don't see any point removing it for now. Although it can be removed easily if you want

[2015-07-25 07:03] prasht63 commented on #359
For the erroneous display of followers.Thats strange, I am looking into that.

[2015-07-25 08:24] fuksi commented on #383
All map creation related method are moved to MapCreationService

[2015-07-25 08:26] mariobehling commented on #359
Why do we need it? Where is the issue relevant to get this?

It does not do that. And the sidebar design displays people in a view with all kinds of things.
 It is not clear what you want to achieve.

![screenshot from 2015-07-25 10 15 29](https://cloud.githubusercontent.com/assets/1583873/8888672/57fe7888-32b7-11e5-8e82-2787208f54ec.png)

If you just want to show the number of followers/following

[2015-07-25 08:28] mariobehling commented on #383
What issue?

[2015-07-25 08:43] prasht63 commented on #359
Okay I will remove this.

[2015-07-25 09:51] sudheesh001 opened #388 "Markdown tweet attachment tracker"
- [x] Be able to post the attachment text to loklak, retrieve markdown and attach to twitter
- [x] Allow tweet to be sent along with markdown content attachment.

Quoting @Orbiter

This is how I am looking forward to solve this.

1. There should be an option similar to in emails to attach a large text attachment
2. Clicking on this extends the current tweet box and shows up the text editor space w

[2015-07-25 10:33] sudheesh001 opened #389 "List of possible editors that can easily be configured with npm"
Or maybe https://github.com/jbt/markdown-editor ? Or, if possible, let the user choose which editor he wants to use.

Tracking for #388

[2015-07-25 10:58] fuksi commented on #245
I have one blocker left in implementing this:
- `account.json` does return list of the followers, but the result doesn't contain the lastest status from that followers => we'll need to still, use hello.js to get to twitter API for the new feeds, and of course there are always limtis
- If i'm using hello.js for the feeds, I can't plot the feed on the map because there are no location information ab

[2015-07-25 11:54] mariobehling commented on #359
The whole point of this issue was to identify why there are only so few followers/followings displayed. The good thing is, that you put up the number. Why are there only 13 followers displayed? What can we do to get more people?

[2015-07-25 11:58] mariobehling commented on #245
@Orbiter Why is not possible to use the data from loklak? What do you need with "latest status from that followers"? Which status?

[2015-07-25 12:15] fuksi commented on #245
The new feeds should contain statuses from people you're following( like the home view in twitter when you logged in).

Meanwhile, the new servlet `account.json` only retrieve the list of people you're following (& following you), along with user details, like this http://pastebin.com/t7GCVSDZ

[2015-07-25 12:59] prasht63 commented on #245
@fuksi you can go ahead with it.

[2015-07-25 13:03] prasht63 commented on #359
The problem is that we are still plotting followers from Hello.js and it has limitations on it put by Twitter.I am working on removing this dependency on Hello.js and bring Loklak into since now Loklak supports followers info.

[2015-07-25 13:17] mariobehling commented on #245
@fuksi So with "status" you mean "tweets". Now the tweets, where it is usually the account information. I missed that change. It does not make sense. The position of the tweet should - there needs to be the account info. Please change that. Regarding tweets on the map, I will open a separate issue. If we do not show tweets "statuses" then there is no need for the twitter API, right?

[2015-07-25 13:21] mariobehling commented on #355
Where can I test this? Please let us test this on your server. Please provide screenshots for new features.

[2015-07-25 13:23] mariobehling commented on #94
Please provide a link to a test system.

[2015-07-25 13:25] mariobehling commented on #292
Where to test this?

[2015-07-25 13:25] mariobehling commented on #357
Test link, please.

[2015-07-25 13:26] mariobehling commented on #97
Test link, please.

[2015-07-25 13:40] mariobehling commented on #330
Currently deployed version is still missing this commit.

[2015-07-25 13:49] mariobehling commented on #95
![screenshot from 2015-07-25 15 45 29](https://cloud.githubusercontent.com/assets/1583873/8889673/97c0bf12-32e4-11e5-81db-5f5d44d32225.png)

Buggy implementation: More than 4 photos can be uploaded. The design of the thumbnails attached to each other. Please test more in detail yourself. Potentially more issues.

[2015-07-25 13:57] mariobehling commented on #355
* [ ] Tweet location not showing up after "share location"

[2015-07-25 13:59] mariobehling commented on #95
That is bad :( My unfinished tweet shows up after I login with another account.

![screenshot from 2015-07-25 15 56 50](https://cloud.githubusercontent.com/assets/1583873/8889717/2fe6fbb6-32e6-11e5-8d4e-af217b21d23e.png)

[2015-07-25 14:13] mariobehling commented on #355
* [ ] location not posted as image
![screenshot from 2015-07-25 16 02 45](https://cloud.githubusercontent.com/assets/1583873/8889759/c6014290-32e7-11e5-84b8-ed905838266a.png)

It seems you did not follow the idea of "map attachment". This means "attach a map". It then shows up a map and people should be able to click on a point on the map and attach it. In your loklak stream this then should show

[2015-07-25 14:18] mariobehling commented on #97
Cannot see map tiles working.

![screenshot from 2015-07-25 16 18 09](https://cloud.githubusercontent.com/assets/1583873/8889786/c9cd2870-32e8-11e5-9610-5b780bab7f03.png)

[2015-07-25 15:30] aneeshd16 commented on #330
True, I will be opening a PR as soon as the current PR is merged.

[2015-07-26 06:33] mariobehling commented on #388
There are relevant comments here https://github.com/loklak/loklak_webclient/issues/97#issuecomment-106980363
Please consider:
* Markdown text is an attachment - this means the twitter text itself does not offer markdown capabilities.
* There needs to be a separate text field for markdown text below similar to emails with a) Tweet text and b) click "Markdown" and get a field below, where people can

[2015-07-26 07:13] mariobehling commented on #94
I do not see that this feature is finished.

[2015-07-26 07:26] mariobehling commented on #206
Currently loklak-client is not available.

If the format is not specified, we should have a validation form, that automatically matches the right format. This can be a follow up issue. Regarding the import of API data, please have a look how other services like mailchimp do this: http://kb.mailchimp.com/lists/growth/import-subscribers-to-a-list

[2015-07-26 08:52] Orbiter commented on #245
When I retrieve the user data from twitter using the twitter API, then there is actually the latest status embedded. I Then remove this status, because:
- account.json must deal with mass-retrieval of user  and therefore does a caching of all that data. Because such data does not change so fast, a response from the cache is valid. Using the cache will allow us to provide mass-data at this interfac

[2015-07-26 10:54] aneeshd16 opened #391 "Links with the # character are not correctly parsed"
Example:
Original tweet: https://twitter.com/Gaydio/status/625234239055896576
Tweet on loklak: http://test.loklak.net/tweet?q=id:625234239055896576

![image](https://cloud.githubusercontent.com/assets/5436027/8893570/d512ac3a-33b2-11e5-9f19-c67357ea1f36.png)

Example 2
Original: https://twitter.com/MysteryOf7Seals/status/625266875153264640
Loklak: http://test.loklak.net/tweet?q=id:6252624495670108

[2015-07-27 04:33] sudheesh001 commented on #391
I don't think it's the link filter over here. The regex in the link filter
`/(https?:\/\/[^\s]+)/g` can successfully retrieve URLs which have a masked `#` present in them like `https://something.com/apple#apple`

[2015-07-27 04:35] aneeshd16 commented on #391
What if the url is `https://something.com/apple#`?

[2015-07-27 04:44] sudheesh001 commented on #391
Still seems to work, https://regex101.com/#javascript

[2015-07-27 04:46] aneeshd16 commented on #391
Okay, it does. What else could be the problem?

[2015-07-27 04:52] sudheesh001 commented on #391
In this, it looks like the mentions filter http://test.loklak.net/tweet?q=id:625262449567010817 and here http://test.loklak.net/tweet?q=id:625234239055896576 looks like the link. this is strange.

[2015-07-27 06:00] sudheesh001 opened #395 "Attach multiple images while uploading to twitter"
Multiple image attachments can be seen but they do not get uploaded that way.

[2015-07-27 06:02] sudheesh001 opened #396 "Reverse geocode the tweet location and show it from the lat, long coordiantes"
With reference to https://github.com/loklak/loklak_webclient/issues/355#issuecomment-124848940

[2015-07-27 06:09] zyzo commented on #206
I added a setting form to let users change data format. It is opened when clicking on
the gear icon :
![screenshot from 2015-07-27 12 38 23](https://cloud.githubusercontent.com/assets/6483446/8899548/17858026-3460-11e5-8aca-067592772122.png)

![screenshot from 2015-07-27 12 38 14](https://cloud.githubusercontent.com/assets/6483446/8899550/1b8921e6-3460-11e5-84f8-4857af696308.png)

Automatically sn

[2015-07-27 07:51] fuksi commented on #383
That is just a separation of code in angular. I had similar methods for creating map, both used in search & advanced search, so it seemed logical to separate the the code in a service. As I take on the /map view, I'll be using this service as well. The service's name along with its code comment are very clear, so I don't think an issue to inform this is necessary.

https://github.com/loklak/loklak

[2015-07-27 07:51] #383 closed

[2015-07-27 08:04] fuksi commented on #245
True that I can get the lastest tweet with the search servlet, except that clicking is an instant behavior, while loading the result from the server take 2-5 secs (not including plotting the point on the map). Although I will give it a try to implement it this way:
- When user logged in the main (home) view, get all user's followers/following already.
- After that, have also a background process t

[2015-07-27 08:15] mariobehling commented on #245
@fuksi in this feature, the goal is to plot the followers/followings on the map. Here we do not need to plot tweets on the map. How it works: The position on the map is created through the reference location in the profile.

You click on the persons picture and just see a short profile info. In a second step we can add two tweets below this info, but this can also be a future feature. For now see

[2015-07-27 08:19] fuksi commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/18f88e0860c8536051a1e51ef5611b469ede64e9

[2015-07-27 08:24] mariobehling commented on #206
Ok, let's iterate and get this going in the above way first. Thanks!

[2015-07-27 08:30] mariobehling commented on #396
It might be interesting to have this feature, but it is not what the comment in #355 is all about. The goal of issue #355 is to get an embedded map to show up as an attachment below the tweet, which the user can also change.

[2015-07-27 08:37] mariobehling commented on #395
This is already covered in https://github.com/loklak/loklak_webclient/issues/95

I am not sure, why you need to create an issue again to cover something that is already covered. Less issues and more code and tests would be great.

Such things should be taken care of when you develop the feature. This is part of the normal testing procedure. Please follow up on detailed tests here https://github.co

[2015-07-27 08:37] #395 closed

[2015-07-27 14:39] #328 closed

[2015-07-27 14:39] #382 closed

[2015-07-27 17:20] #266 closed

[2015-07-28 06:09] aneeshd16 opened #398 "Optimize image storage in server"
In the current implementation, every time an image is uploaded, it is converted to base64 and stored as a parameter of the wall object associated with the user. If the same image is uploaded again for another wall, the entire image data is stored in both places.

A simple solution is to take the md5 hash of the image data and store the hash in the wall object instead of the entire image. The actua

[2015-07-28 06:12] sudheesh001 commented on #158
Deployed at 3d0555820d8c2fbc45f3b27ab6deb3fd5b920add

[2015-07-28 08:52] fuksi opened #399 "A topology view"
Instead of creating a new view for searching followers, followings, we can create instead a random user's view, just like twitter: https://twitter.com/loklak_messages, except we can choose to provides all information in one page.

![image](https://cloud.githubusercontent.com/assets/6878677/8927168/367613ce-351e-11e5-8f08-8cbcda42b2c8.png)

- Center: tweets from that user, provided by search servle

[2015-07-28 09:04] mariobehling commented on #399
Yes, this is a good idea, but this feature integrates loklak even more with twitter. We need to consider to develop loklak into a more independent service. Offering features that twitter does not have is a good way to do this. So, please focus on the search view of followers and followings of a user first.

[2015-07-28 09:32] mariobehling commented on #359
I am assigning this to @fuksi. Let's try to solve this by using loklak instead of the twitter-API.

[2015-07-28 09:34] mariobehling commented on #245
This is also related to https://github.com/loklak/loklak_webclient/issues/359

[2015-07-28 09:37] mariobehling commented on #257
@sudheesh001 There has not been input from you as requested. Is there a related issue on the loklak server repo? I am assigning this to you. This is actually part of your project and we would expect you to follow up.

[2015-07-28 09:38] mariobehling commented on #292
Location does not show up in UI after location is shared. Feature is not fully implemented.

[2015-07-28 09:39] mariobehling commented on #357
No working example is available. Please provide screenshots and test info to see if this feature has been fully implemented.

[2015-07-28 09:42] mariobehling commented on #329
This feature does not work fully. Please close when this feature has been fully tested and confirmed to work on test site.

[2015-07-28 09:47] mariobehling commented on #389
What is the goal of this issue? This question is already covered in two other issues. Please show us some code instead of opening tons of issues. Relevant issues: https://github.com/loklak/loklak_webclient/issues/97 and https://github.com/loklak/loklak_webclient/issues/388 Please follow up there.

[2015-07-28 09:47] #389 closed

[2015-07-28 09:55] mariobehling commented on #287
Please provide screenshots. I do not see, that this issue has been solved.

![screenshot from 2015-07-28 11 54 47](https://cloud.githubusercontent.com/assets/1583873/8928563/89c39884-351f-11e5-810f-c01fd66b41a3.png)

[2015-07-28 10:09] #379 closed

[2015-07-28 10:10] mariobehling commented on #346
@fuksi @Orbiter Has this been solved?

[2015-07-28 14:40] aneeshd16 commented on #332
![image](https://cloud.githubusercontent.com/assets/5436027/8934314/b87fe21e-3564-11e5-9cfc-042b407abf72.png)

[2015-07-28 15:16] prasht63 commented on #287
@mariobehling The place name will only show up
when showing a tweet on a map:
if (and only if) the field location_source contains the exact string REPORT then write below the tweet text:
left-aligned a "place mark" (that thing like a upside-down drop)
right to the mark the text from the field place_name

Since the normal Tweets don't have REPORT as location_source so the location won't come in tho

[2015-07-28 15:34] prasht63 commented on #312
Plan of action:
A modal overlay will show all the stats regarding the followers.Something like this
![image](https://cloud.githubusercontent.com/assets/2105062/8935760/05c4d384-356c-11e5-9c79-72f307df9a73.png)

[2015-07-28 17:54] mariobehling commented on #332
Feature is not fully implemented as leaderboard does not show up in preview.

![screenshot from 2015-07-28 19 53 32](https://cloud.githubusercontent.com/assets/1583873/8939031/73f83c60-3562-11e5-99a1-6d93a3629692.png)

Compare to:

![screenshot from 2015-07-28 19 53 56](https://cloud.githubusercontent.com/assets/1583873/8939035/7b170576-3562-11e5-9bbc-c8793c733299.png)

[2015-07-28 18:11] mariobehling commented on #312
What do you plan to show in this statistics? We need to be able to distinguish between followers/followings/other data. A modal overlay might not be the best option.

We need a way to show
* [ ] statistics for followers using loklak data (not the twitter API!)
* [ ] statistics for following accounts using loklak data (not the twitter API!)
* [ ] statistics for other data e.g. IoT

A basic idea bel

[2015-07-28 18:16] prasht63 commented on #312
So shall we go with a new route something like /stats?
Currently I am using the data from Loklak only for follower.Once Loklak supports following info we can extend the stats to following too.
Data I have for followers is
1. Country wise %age distribution
2. City wise %age distribution

We can also show distribution in terms of follower's following, like how many your followers have following more

[2015-07-28 18:32] mariobehling commented on #312
Yes, that would be great. Please show us some mockups or design ideas. How do others do this? I have another sample below with a way to possibly select followers/followings/IoT data, but all of this are just drafts based on tweetsmap and I think it would be great to come up with something different/better.

![screenshot from 2015-07-28 20 05 32](https://cloud.githubusercontent.com/assets/1583873/8

[2015-07-28 19:34] prasht63 commented on #312
![image](https://cloud.githubusercontent.com/assets/2105062/8941498/98286094-358d-11e5-9022-f05073825191.png)
@mariobehling  I am thinking something like this.This will retain the design singularity by conforming with the wall design and we can show all the three as tabs

[2015-07-28 19:38] prasht63 commented on #312
So I have still one doubt, should I implement this screen as modal over the map page or should I create a new /stat route, for that we will have to add a item in top nav just like wall, map etc

[2015-07-29 05:00] prasht63 commented on #312
As per commit https://github.com/loklak/loklak_webclient/commit/fa4878a44ddfaf6e18a12e68ca02edc0c149b7d4 . Following things are done
- [ ] List of followers segregated country wise and ready for plotting via pie chart.
- [ ] List of followers location wise segregated and ready for plotting via pie chart.
- [ ] Top 5 most influential followers(based of the number of followers of them) retrieved and

[2015-07-29 08:37] mariobehling commented on #312
@prasht63 Please show us a page how your current idea looks like. How about adding it to test.loklak.net/analyze for now? Maybe add it on the top bar and let's think if this is the way to go. We need to consider a dashboard. Let's go step by step.

[2015-07-29 08:58] mariobehling opened #400 "Add Profanity Filter to Advanced Search Page"
Please see relevant issue here: https://github.com/loklak/loklak_server/issues/80#issuecomment-125884815

[2015-07-29 09:11] fuksi commented on #346
I didn't realize this issue until now.
I also noticed the issue and did a patch long time ago to fix this. The obstacle is when trying to delete the old map.

The solution is ( I don't think it the best, but it works ok for user experience), the application will detect if you already did a map search, and try to do a new map search, the url will be changed for the new search and the page is reload

[2015-07-29 19:52] prasht63 commented on #158
Deployed at 3d05558

[2015-07-29 20:16] mariobehling opened #403 "Reduce size of blue search info bar to 55 px height and adjust font size to fit in nicely"
![screenshot from 2015-07-29 22 15 00](https://cloud.githubusercontent.com/assets/1583873/8968743/78a27c70-363f-11e5-92cd-d743582e0871.png)

[2015-07-29 20:46] mariobehling commented on #312
or maybe we should rather call this "report" like loklak.net/report

[2015-07-29 21:14] prasht63 commented on #312
I have started with Analyze, will be finishing it in an hour or so. I will change it to report before sending a PR

[2015-07-29 22:05] prasht63 commented on #312
Developement status : On clicking analyze you are taken to a page where you see this, Through this input box you can see anyone's follower stats.By default it will show the logged in user's
![image](https://cloud.githubusercontent.com/assets/2105062/8971162/bdfd6470-366b-11e5-8294-4448538fdc2d.png)
Till now I have added only two graphs.Rest will add tomorow
![image](https://cloud.githubusercontent

[2015-07-30 06:00] sudheesh001 opened #404 "OAuth Shim fails to work behind a browser on a proxy network"
If the user is behind a proxy and setting up the loklak webclient, the oauth-shim fails with the error
[code]
at the URL during sign in
 `http://localhost:3002/oauthproxy?client_id=...........oauth_proxy%22%3A%22http%3A%2F%2Flocalhost%3A3002%2Foauthproxy%22%7D`

At the same time, when a tweet is posted, it hits a 502 Bad Gateway error. I couldn't find any document for how to make this proxy run wh

[2015-07-30 06:46] prasht63 commented on #312
@Added Top Influential Followers ,  city wise distribution . PR coming soon
![image](https://cloud.githubusercontent.com/assets/2105062/8977198/afffcb26-36b4-11e5-95ec-2399b62c0d53.png)

[2015-07-30 06:50] mariobehling commented on #312
I do not see which countries and cities are shown in the chart.

Which technology are you using?

[2015-07-30 06:54] prasht63 commented on #312
@mariobehling  I am using chart.js since it was already been used in Wall statistics so I did not have to include new libraries . Once you hover on each division of pie chart you will see it. You can see the behaviour here http://www.chartjs.org/docs/#doughnut-pie-chart

[2015-07-30 09:11] Orbiter commented on #287
@prasht63 closed this correctly according the requirements I made. However, the result does not turns out to be satisfying. The architecture to identify different cases for the usage of place names was lacking the case which we are looking for with @mariobehling comment. Therefore I added another location_source type in https://github.com/loklak/loklak_server/commit/f06053436ae9f679ffd811b02ba2b26

[2015-07-30 14:30] mariobehling opened #405 "Use loklak as a basis to show activity stream on home and map view - just like in the search"
Differences are for example the way pictures are shown. Data queried from loklak generates the original picture.

What is required to do this?
-> show tweets of following

Compare tweet shown in home view
![screenshot from 2015-07-30 16 27 37](https://cloud.githubusercontent.com/assets/1583873/8985548/3ea7f7ea-36d8-11e5-8820-0908a3db94ca.png)

and map view
![screenshot from 2015-07-30 16 27 14](ht

[2015-07-30 14:49] mariobehling opened #406 "Attach Activity Bar to the right side of the screen, get rid of bottom space, enable reload of tweets on bottom scroll"
Please
* [ ] attach activity bar on right hand side
* [ ] use bottom of the screen
* [ ] enable reload functionality on bottom scroll

![screenshot from 2015-07-30 16 43 32](https://cloud.githubusercontent.com/assets/1583873/8986097/d75621f4-36da-11e5-9ba7-e13be1f294b1.png)

[2015-07-30 18:34] mariobehling opened #407 "Test all Walls in different resolutions"
Please create a table for each display with different resolutions that you have tested and a screenshot of the test walls.

![img_20150730_202653](https://cloud.githubusercontent.com/assets/1583873/8991660/50dc7edc-36fa-11e5-9c99-5f4fa3aa3599.jpg)

[2015-07-30 21:48] fuksi opened #408 "Process authorized request to account servlet through Oauth Proxy"
For now we only have the use case of request to `account.json`, but let's make a foundation between modules so that we can add more cases in the future.

Based on what a request is authorized:
- user session's `oauth_token`
- user session's `oauth_token_secret`
(I choose these because these are the fields that, currently, saved for each user, `clien_id` doesn't seem to be there)

Implementation:

[2015-07-31 02:29] aneeshd16 commented on #408
This is similar to what I was thinking, but instead of having a dedicated `/authorized` endpoint, we can have middleware called `isAuthorized` which can be used on other routes as well.

[2015-07-31 06:22] zyzo commented on #324
This issue is implemented in the context of https://github.com/loklak/loklak_server/issues/84 & can be tested at http://loklak-client.danghaian.com/addConnection. Closing issue.

[2015-07-31 06:32] zyzo commented on #206
It is now possible to add Freifunk & FOSSASIA data via the interface. Please refer to :
* server side :  https://github.com/loklak/loklak_server/pull/77 https://github.com/loklak/loklak_server/pull/84
* client side : #285 #325 #394

[2015-07-31 06:32] #206 closed

[2015-07-31 06:42] mariobehling commented on #324
Update Frequency and Lifetime choices do not make sense ![screenshot from 2015-07-31 08 41 20](https://cloud.githubusercontent.com/assets/1583873/9002077/03e98122-3760-11e5-9c2a-c4f12c0d38ac.png)

[2015-07-31 06:46] mariobehling commented on #324
Please check if you can get some inspiration from twitterfeed.com for example.

![screenshot from 2015-07-31 08 45 40](https://cloud.githubusercontent.com/assets/1583873/9002145/97efb562-3760-11e5-8de9-32a1f232a3bc.png)

[2015-07-31 06:50] Orbiter commented on #408
The loklak_server should (if authentication is made right) only return account information for users which are authentified. Since 'user is authentified' is check in the loklak_webclient, this information must be passed to the server as additional call parameter. To be able to access the access.json servlet, the request must come from oauth-proxy, but the oauth-proxy must send along also the infor

[2015-07-31 08:24] Orbiter opened #411 "when searching for "from:<user>" show a user profile page"
If you see a search result and click on a users image, you now get a search page for the user, like
http://test.loklak.net/search?q=from:katemueser which is good. This should correspond to the user profile page of that user like https://twitter.com/katemueser.

We need such a page with all that information of the user on the page because we don't have otherwise a place to put a "FOLLOW" button on.

[2015-07-31 08:55] Orbiter opened #412 "Add a 'Follow' button to the /search?q=from:<user> view"
This applies ONLY if the user is logged in!

This is also a follow-up of https://github.com/loklak/loklak_webclient/issues/411 - implement that first.

Whenever a logged-in user views a search page with user details like `/search?q=from:<user>`, the page should also show a 'Follow' button if the logged-in user does NOT already is following the presented user. If the logged-in user IS already follo