[2015-04-30 11:44] sudheesh001 opened #1 "Integrate TravisCI to loklak_webclient"
It's a good thing to have the TravisCI integrated right from the start to enable test driven development.

[2015-04-30 12:30] sudheesh001 opened #2 "ERR! thrown in npm install, protocol errors and png-crush binary"
I am working behind a corporate firewall that blocks SSH and GIT:// protocol, but I can work with https://
As I was setting up this project I've noticed the following errors,
https://github.com/loklak/loklak_webclient/blob/master/package.json#L48&L54
[code]
Many universities with a proxy system block the SSH protocol for safety, the best would be to go with `git+https://`. The above errors can be

[2015-04-30 12:36] aneeshd16 commented on #2
Change the apiUrl in app/js/constants.js from "localhost:9001" to "loklak.org" and hopefully you should be able to run a search without having the server to run locally.

[2015-04-30 12:46] sudheesh001 commented on #2
@aneeshd16 I already have the local instance of the `loklak_server` running locally, looks like this is someother problem, I just sent a small fix at #3 which slightly relates to a part of the problem I experienced.

[2015-04-30 13:22] sudheesh001 opened #4 "Error in isparta installation from repository, broken tests/*"
During installation I encountered the following error for `isparta`
[code]
It also fails doing it directly from `npm` using `npm install isparta`
[code]
Not having this breaks `gulp test` and `gulp unit`, Is there a workaround ?

[2015-04-30 13:26] sudheesh001 commented on #1
Dependant on fixes in #4 - P1 fixes needed.

[2015-04-30 20:25] Orbiter opened #5 "feature: custom settings"
settings are currently inside app/js/constants.js
When this setting is changed, then it is overwritten with next git pull.
Is it possible to have a custom setting file which overwrites constants.js, like i.e. an additional file data/settings/constants.js which is not in git?

[2015-04-30 20:28] Orbiter opened #6 "feature: "About" menu item"
For the first going public we need a little it of in-app description. The minimum would be a single About menu entry in the top menu bar. Please create a About web page which is opened which clicked on the about menu entry. Please fill the page with 'lorem ipsum', I will fill it with an actual description.

[2015-04-30 20:38] Orbiter opened #7 "feature: Jumbotron welcome page"
There must be a simple index.html welcome page which shows on the first view what loklak is able to do.
The idea is:
- show a histogram of the tweet history to prove that we are capable to evaluate a huge number of tweets.
- show a search box so the user knows that it is possible to search all that data
The histogram is currently a kind of second step and is not necessary for a first version of th

[2015-04-30 20:49] Orbiter opened #8 "feature: search url with query in path"
It should be possible to mention loklak with links to search result pages. Therefore the search result page must be called with http-GET containing submitted attributes in the url as properties.

The twitter search page is at /search, we could use the same path. Lets use urls like
/search?q=fossasia&timezoneOffset=-120

[2015-04-30 23:38] Orbiter opened #9 "Create a framework page for message evaluation widgets"
The context of this feature is described in https://groups.google.com/d/msg/loklak/7azwyuslmTU/JXh0vrgXhSAJ

There should be a framework page for histogram and statistic table widgets. The feature requests for these widgets are in separate issues. The result should look like:

![message_evaluation_sketch](https://cloud.githubusercontent.com/assets/238730/7424468/b3fea152-efa1-11e4-8c6d-8bc85c09317

[2015-04-30 23:45] Orbiter opened #10 "Create a time histogram widget"
The context of this feature is described in https://groups.google.com/d/msg/loklak/7azwyuslmTU/JXh0vrgXhSAJ

The framework page for this feature is created with https://github.com/loklak/loklak_webclient/issues/9
There should be a widget which shows the date histogram that is delivered by the loklak_server backend using calls like http://loklak.org/api/search.json?q=spacex%20since:2015-04-01_17:10

[2015-04-30 23:48] Orbiter opened #11 "Create a statistic table widget"
The context of this feature is described in https://groups.google.com/d/msg/loklak/7azwyuslmTU/JXh0vrgXhSAJ

The framework page for this feature is created with https://github.com/loklak/loklak_webclient/issues/9
There should be a widget which shows the three top-windows in the following example:
![message_evaluation_sketch](https://cloud.githubusercontent.com/assets/238730/7424468/b3fea152-efa1-1

[2015-05-01 07:09] Orbiter opened #13 "TypeError: fs.existsSync is not a function"
When I follow the process in README, no page is shown in the browser. The firefox dev tools report
"TypeError: fs.existsSync is not a function"

Steps:
gulp dev
[09:04:41] Using gulpfile ~/git/loklak_webclient/gulpfile.js
[09:04:41] Starting 'clean'...
[09:04:41] Finished 'clean' after 17 ms
[09:04:41] Starting 'dev'...
[09:04:41] Starting 'styles'...
[09:04:41] Starting 'images'...
[09:04:41] Sta

[2015-05-01 07:22] Orbiter commented on #13
I checked with the other installation I made some days ago: while that was still working it behaved exactly the same after a git pull as I wrote above. One of the latest commits must have broken the app!

[2015-05-01 09:13] Orbiter commented on #10
Thats the code I used for the time histogram in YaCy, maybe this helps. Feel free to copy from it:

<link rel="stylesheet" href="/env/morris.css">
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.js"></script>
<script>
	document.getElementById("datehistogram").style = "height:200px";
	dates_in_content_dts = [#{element}#"#[name]#","#[count]#"#(nl)#::,#(/nl)##{/element}#];
	var par

[2015-05-01 10:15] sudheesh001 commented on #13
Reinstalling the code all fresh
[code]
Able to reproduce the problem. Should be something about the new library. Fixes on its way

[2015-05-01 11:24] sudheesh001 commented on #1
It looks the whole setup installs flawlessly without throwing errors during installation of the isparta module. Errors during installation on Mac OS X machines needs to be investigated.

The log is [here](https://gist.github.com/sudheesh001/60fcda375add80001a3f)

[2015-05-01 13:01] #6 closed

[2015-05-01 15:57] Orbiter commented on #13
thank you, it works again!

[2015-05-02 10:11] aneeshd16 commented on #13
@sudheesh001 , the page opens, however the console shows this:

TypeError: fs.readFileSync is not a function
    at Object.module.exports.config (http://localhost:3001/js/main.js:34938:37)
    at Object.<anonymous> (http://localhost:3001/js/main.js:35:19)
    at Object.B:\Projects\GSOC 15\loklak_webclient\app\js\constants.js._process (http://localhost:3001/js/main.js:43:4)
    at s (http://localho

[2015-05-02 10:43] sudheesh001 commented on #13
@aneeshd16 Strange, I couldn't perform the search even in the start, I thought it was just a dummy placeholder.

[2015-05-02 18:15] fuksi commented on #9
Is anyone already working on this? If not I'm assigning it to myself.

[2015-05-03 00:52] Orbiter commented on #9
thats the right spirit!

[2015-05-03 00:58] Orbiter commented on #13
The search was not a dummy placeholder at the first place. It actually worked and you got a nice result page. Now, if I try to search anything at the jumbotron search field, nothing happens in the browser. The log shows:
"GET /undefinedsearch.json?callback=angular.callbacks._5&q=search 200 2.435 ms - 462"

[2015-05-03 03:39] sudheesh001 commented on #4
Tested the setup which runs clean on
1. Ubuntu
2. Fedora

Only breaks on Mac OS X with the following error
[code]

[2015-05-03 03:41] sudheesh001 commented on #2
Tested the setup which runs clean on
1. Ubuntu
2. Fedora

Only breaks on Mac OS X with the following error
[code]

[2015-05-03 03:45] aneeshd16 commented on #13
I'm working on a different way to store and get constants which ties in nicely with angular, fix soon.

Regards
Aneesh Devasthale

-----Original Message-----
From: "Michael Peter Christen" <notifications@github.com>
Sent: ‎03-‎05-‎2015 06:28
To: "loklak/loklak_webclient" <loklak_webclient@noreply.github.com>
Cc: "Aneesh Devasthale" <aneeshdevasthale@gmail.com>
Subject: Re: [loklak_webclient] TypeE

[2015-05-03 09:17] #13 closed

[2015-05-03 12:12] Orbiter commented on #5
The latest commit breaks my installation. Aneesh, did you test that? How can be our environment so different?

Orbiter:loklak_webclient admin$ npm install
npm WARN package.json karma-firefox-launcher@0.1.4 No README data
Orbiter:loklak_webclient admin$ gulp dev
[14:08:00] Using gulpfile ~/git/loklak_webclient/gulpfile.js
[14:08:00] Starting 'clean'...
[14:08:00] Finished 'clean' after 23 ms
[14:08

[2015-05-03 12:14] aneeshd16 commented on #5
Hello, I also changed the readme :)
You need to create a custom_configFile.json by copying configFile.json.

[2015-05-03 13:33] Orbiter commented on #5
oh ok, sorry may fault. It works now! Thank you!

[2015-05-03 13:33] #5 closed

[2015-05-03 13:40] Orbiter opened #18 "get attributes in URL for search result page"
I would like to see the query attributes (including time zone offset) in the get- attribute values of the url. That means a search result page path should look like
[code]
The reaso for such a feature is, that it must be possible to bookmark a loklak-Address or send it around with other media (like email etc) With the current search page, this is not possible.

Please make the servlet name exactly

[2015-05-03 13:41] Orbiter commented on #7
Thank you that looks great, but the search results should not appear below the jumbotron, it should be a separate result page. See also: https://github.com/loklak/loklak_webclient/issues/18

[2015-05-03 13:46] Orbiter opened #19 "loklak icon in top left menu corner"
Please add the yellow loklak icon to all the web pages into the main menu line at the top left position.
Please use (one of) the following graphics (copy it from there):
https://github.com/loklak/loklak_server/blob/master/html/artwork/loklak_icon_yellow_64x64.gif
https://github.com/loklak/loklak_server/blob/master/html/artwork/loklak_icon_yellow_64x64.png

The image should be clickable and should

[2015-05-03 13:48] Orbiter commented on #11
who is working on this?

[2015-05-03 13:48] Orbiter commented on #10
who is working on this?

[2015-05-03 13:50] Orbiter commented on #9
you probably need input from the feature assignees of
https://github.com/loklak/loklak_webclient/issues/11 and
https://github.com/loklak/loklak_webclient/issues/10
Please get in contact and try to organize together what you need from each other

[2015-05-03 13:52] aneeshd16 commented on #10
@Orbiter I am working on this.

[2015-05-03 14:07] sudheesh001 commented on #11
I am working on this.

[2015-05-03 19:14] Orbiter opened #22 "debian installation problem"
on debian 7.8 I get:
[code]
thats on the root server for loklak.net

[2015-05-03 19:25] fuksi commented on #22
It's probably because of ```npm install``` process. Try this if you haven't and ```npm install```again. It solved my problem on ubuntu.
[code]
(Source) [http://stackoverflow.com/questions/21168141/can-not-install-packages-using-node-package-manager-in-ubuntu]

[2015-05-03 19:29] Orbiter commented on #22
[code]
was already installed!

[2015-05-03 21:13] Orbiter commented on #10
Thats already great, I just tweetet a screenshot: https://twitter.com/0rb1t3r/status/594946162530111488

- what is not needed: time selection on 5-minute basis. That was a misunderstanding. Selection on hourly basis is sufficient (and good!)
- what could be good: subtitels under the histogram for more times so it's better to see in screenshots that the horizontal scale is time

[2015-05-03 21:18] Orbiter commented on #6
I am working on the text content of the page. I would like to add an image, can you tell me in which directory to put the image? maybe create one with name 'images'

[2015-05-04 04:00] smokingwheels commented on #22
just try this to reinstall it.
apt-get remove nodejs
apt-get purge nodejs

Purge is identical to remove except that packages are removed and purged. Purge meaning that any configuration files are deleted too.

[2015-05-04 04:22] sudheesh001 commented on #22
@smokingwheels is right, purging and reinstalling should work or link the `which nodejs` path to `/usr/bin/node`

[2015-05-04 16:18] Orbiter commented on #11
I just learned that it is not called 'tweeters' but 'twitterers' .. please change that word :)

[2015-05-04 18:30] Orbiter commented on #10
I posted an update on twitter: https://twitter.com/0rb1t3r/status/595293466957094912
What is not yet working: if you use the shared link, the Date Fields say "Invalid Date".
- Can you move the date from the url into the select field?
- can you enlarge the date field with a bit so the date is better visible? Don't make them too wide so the input line aligns with the histogram

[2015-05-04 18:35] aneeshd16 commented on #10
@Orbiter its working fine on my end. For example, this share link: http://localhost:3001/statistics?q=youtube&since=2015-04-01_01:00&until=2015-05-01_06:00 works, the correct dates automatically come in the date boxes.
Will enlarge the date fields so that the date is visible.

[2015-05-04 18:41] Orbiter commented on #10
Ah, looks like a browser dependency! I am using firefox - does not work. Tested this with chrome: works!
Safari: does NOT work.

Please test again with firefox (and maybe safari, if you have a mac)

[2015-05-04 18:42] aneeshd16 commented on #10
That was unexpected. Thanks! Will test.

[2015-05-04 18:45] Orbiter commented on #11
what happened with this feature, it was read? Please integrate with the statistic histogram, we need this tomorrow... :)

[2015-05-04 18:59] fuksi commented on #11
Just started continuing on this, I hope I can integrate before midnight (10pm here GMT +3). Trying the new master, ```npm install``` really take time though ;)

[2015-05-04 19:28] Orbiter commented on #10
here is another problem: I was able to run the webclient on loklak.net:

http://loklak.net:3001/statistics?q=rp15&since=2015-05-01_00:00&until=2015-05-07_23:00

However, if you call the url, the recommended community-url has still the localhost path in it:
http://localhost:3001/statistics?q=rp15&since=2015-05-01_00:00&until=2015-05-07_23:00

[2015-05-04 19:29] Orbiter commented on #22
thank you all, the webclient is finally running on loklak.net (temporary, will move away the port 3001 later)
http://loklak.net:3001/statistics?q=rp15&since=2015-05-01_00:00&until=2015-05-07_23:00

[2015-05-04 19:29] #22 closed

[2015-05-04 19:33] aneeshd16 commented on #10
You need the change the `domain` environment variable in `custom_configFile.json` to loklak.net.
I just committed some changes in b1865d936ba566eec58f7aa0dd0c5a6cf47b4c7b, fixed the "Invalid Date" issue and stretched the input boxes to show the full date.
Tested with Chrome, Firefox and even IE. Should work with Safari as the part that resolves the dates is now not dependent on the browser, but on

[2015-05-04 19:48] Orbiter commented on #10
ah yes, my fault. fixed it. your fix for the date also worked! Thank you!

What I still wish, is the url in the url line. I know that this somehow the angular.js/node.js style of doing things. If you make the 'Search' button into a regular http get, that should already work through re-loading. Bad idea?

[2015-05-04 19:54] aneeshd16 commented on #10
I wish for that too! Spent a lot of time on getting the url to change without reloading, before finally committing whatever changes i had and promising myself to look for a solution. A solution definitely exists, we are just yet to find it. It could turn out to be very simple.

I thought about making the 'Search' button into a regular http get, but it kinda defeats the purpose of having a solid AJ

[2015-05-04 21:09] Orbiter commented on #10
args! I deployed the latest change on loklak.net and the histogram is missing!

[code]
tried with http://loklak.net:3001/statistics?q=rp15&since=2015-05-01_00:00&until=2015-05-07_23:00

[2015-05-04 22:18] smokingwheels opened #27 "Search end date drop down wont disappear after time is selected ."
On http://loklak.net:3001/statistics
A Minor problem.
After selecting end date and time the drop down menu is still there until the search button is clicked.
Change the statistics end date a second time the selection menu wont disappear until you click some where else on the page or the search button.

Would it be a good idea once the date and end time is selected the client goes to a search autom

[2015-05-05 00:14] smokingwheels opened #28 "Sharing a link from Facebook puts %3A in the : in the time value"
A post from Facebook when url is copied
http://loklak.net:3001/statistics?q=smokingwheels&since=2015-04-01_06%3A00&until=2015-05-12_13%3A00
Fails to return any results.

Linkedin has a shorten link and the client fails to have any results
link https://lnkd.in/bBqyR3y
Seems to be only working from the home page now after I tried the links.

Facebook seems to attach an ID to a link as well see pic
!

[2015-05-05 04:09] aneeshd16 commented on #10
@Orbiter I have tried to fix in the latest commit, but haven't been able to test it.
Also, do not deploy all files to the server. We are not using node yet, and our final output is just a few static HTML/CSS/JS files. Run `gulp prod`, and just deploy the contents of the `build` directory onto the server.

[2015-05-05 04:11] aneeshd16 commented on #28
@smokingwheels to solve this issue, i am urlencoding all the parameters when generating the share link, and then decoding them again when the link is used.
Good find! I should've used urlencoding from the start.

[2015-05-05 07:48] smokingwheels opened #29 "Dates along the bottom of the histogram are not showing."
On Firefox 37.0.2 on win 2003 the dates selection (axis/scale) at the bottom is cutoff the histogram.
In Win 7 same version of Firefox it displays correctly.
A minor problem.

![histo ff 2003 date cut off](https://cloud.githubusercontent.com/assets/11748913/7468665/d53cec44-f33d-11e4-89a8-91dde8976587.PNG)

[2015-05-05 13:08] Orbiter commented on #11
Thank you Phuc, its looking great! What I wonder is, if this looks better if we replace the percentage with the actual number of tweets. Or can we have both? like "456 = 7%"

[2015-05-05 13:10] Orbiter commented on #9
thank you, good work!

[2015-05-05 13:10] #9 closed

[2015-05-05 13:11] Orbiter commented on #10
that did not work. If I open index.html then nothing happens, not even an error in firefox debugger. Is it necessary to host the  build directory or can I open it as file?

[2015-05-05 13:14] Orbiter commented on #10
One more point: can you print out the total number of all messages (= sum it up) of the histogram? maybe somewhere below, but not in an extra line to save space. Like
2015-05-05 14:59  Tweet Count: 42
Total Tweet Count 2015-05-05 14:59 - 2015-05-05 15:00: 734

[2015-05-05 13:16] Orbiter commented on #7
Thank you, I will fill in the text content

[2015-05-05 13:16] #7 closed

[2015-05-05 13:16] Orbiter commented on #8
this one is similar to the statistiscs page

[2015-05-05 13:18] Orbiter commented on #19
this one is a bit important because I want to add a graphic to the about page and I don't know where to put the image. This feature would show me where to put that.

[2015-05-05 13:19] Orbiter commented on #29
I see the same effect but I can constantly reproduce how to make them to appear:
- copy the share link and paste it into the url line
- the same graphics appears but with the dates below
Thats somehow a strange effect

[2015-05-05 15:52] smokingwheels commented on #29
When searching and pasting the link it works now on both.
http://loklak.net:3001/statistics?q=youtube&since=2015-05-01_06%3A00&until=2015-05-06_10%3A00
A few times the results page just had the search, start and end date and nothing below but it is all working now.

Should the Browser sync disconnect banner and then sync reconnect banner comes again when asking for results?

[2015-05-06 03:39] sudheesh001 commented on #10
@Orbiter The build/* directory needs to be hosted using some kind of an http server, like
`python -m SimpleHTTPServer` or `http-server -o` or Apache :+1:

[2015-05-06 11:58] Orbiter commented on #10
I tried that but it did not work! loklak.net is now alive with the gulp dev environment.

[2015-05-06 11:59] Orbiter commented on #10
I believe we can consider this feature as implemented and you all did a good job working together as a team. This is fun! Thank you!

[2015-05-06 11:59] #10 closed

[2015-05-06 12:00] Orbiter commented on #11
Good work, lets close this feature to move forward to even more epic things :)

[2015-05-06 12:00] #11 closed

[2015-05-06 12:02] Orbiter commented on #29
I believe this is solved, my latest test was successful. If anybody sees the effect again, please report the browser type you used.

[2015-05-06 12:02] #29 closed

[2015-05-06 12:04] Orbiter commented on #27
I support smokinwheels suggestion in part: lets close the selector when the time is selected, but don't search automatically. I believe that would be confusing. But the selector should be closed. Can the search button then be highlighted?

[2015-05-06 12:07] Orbiter opened #30 "Show images which are embedded in search result timeline"
The timeline currently does not show images when they are embedded in the tweet. The json result includes the image path. Please deeply embed these in the results. They maybe need to be resized.

[2015-05-06 12:09] aneeshd16 commented on #10
Michael, using the `gulp dev` environment won't work because of browser sync. It wont be able to handle multiple clients. You can try opening it in two different tabs and you'll see that any thing you type will be synced across to the other tab.

We need a web server for this. I'll search for a concrete solution for this.

[2015-05-06 13:00] aneeshd16 commented on #10
@Orbiter I have set it up temporarily here: http://loklak.parseapp.com It can also be redirected to loklak.net. I've used a node environment for this which rewrites all incoming urls to the index.html file.

Setting up an angular application requires a web server that does URL rewriting manually OR some sort of automatic URL rewriting configuration on the server. This should help: http://stackover

[2015-05-06 14:02] julianfox commented on #30
Hey, i will try to manage it.

[2015-05-06 14:20] Orbiter commented on #30
:thumbsup:

this is feature in the context of the milestone-plan at https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ

[2015-05-06 14:28] Orbiter opened #31 "clone the search interface to a new view, called "wall""
following the steps to the new milestone at https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ
there is a preparation step necessary to be able to simultanously work on the twitter wall and the search interface: clone the "search" view to a "wall" view.

This looks like a simple thing to do, still I want to mention it to prevent irritation wether or not the existing search inter

[2015-05-06 14:35] Orbiter opened #32 "render the first, top message in the "wall" LARGE"
This feature has the target to reach the milestone at
https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ
it also is based on https://github.com/loklak/loklak_webclient/issues/31

We want to see the first/top message in the timeline VERY LARGE. To show the message in a large form, increase the image size (take the large one, 400x400, link like
https://pbs.twimg.com/profile_images

[2015-05-06 14:42] Orbiter commented on #31
Also: there shall be NO top headline bar, and no menu. This page is considered to run in a browser kiosk / full screen mode.

[2015-05-06 14:45] Orbiter opened #34 "display a large loklak icon at the top of the left column of the wall"
This feature has the target to reach the milestone at
https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ
it also is based on https://github.com/loklak/loklak_webclient/issues/31

The large yellow loklak icon shall be in the top left corner of the wall, inside the left column. Right below the icon shall be the line  ```<code>loklak</code> wall```. Both shall be clickable and link

[2015-05-06 14:50] Orbiter opened #35 "special display of search term on the wall (aka: tell people what the hashtag is)"
This feature has the target to reach the milestone at
https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ
it also is based on https://github.com/loklak/loklak_webclient/issues/31 and https://github.com/loklak/loklak_webclient/issues/34

When the wall is showed the first time, it should NOT display a search input box any more (in contrast to a normal search page), because a wall u

[2015-05-06 15:03] Orbiter opened #36 "refresh the timeline in the wall"
This feature is part of the milestone target at https://groups.google.com/forum/#!msg/loklak/7azwyuslmTU/q9ueCSgwjZUJ
Because this feature changes the content of the top-tweet, it is based on the feature https://github.com/loklak/loklak_webclient/issues/32

The wall shall re-load itself. The refresh period shall be based on the number, given in the search result json search_metadata.period which i

[2015-05-06 15:17] Orbiter commented on #34
please use https://github.com/loklak/loklak_server/blob/master/html/artwork/loklak_icon_yellow.png

[2015-05-06 15:28] Orbiter commented on #32
the given image link path  in the loklak json actually always ends '_bigger'. if you replace 'bigger' with 400x400 or 200x200 you get the picture which is bigger than 'bigger' :)

[2015-05-06 16:00] julianfox commented on #36
This feature is only for the wall view, right ? not the search view ?

[2015-05-06 18:59] Orbiter commented on #36
right, this is only for the wall, not the search view.

[2015-05-07 06:02] Orbiter opened #37 "show the statistics "top twitterers", "top mentions", "top hashtags" in wall"
This feature builds up on https://github.com/loklak/loklak_webclient/issues/31

The statistic widgets from the statistic view shall be displayed in the left column of the wall, below the hashtag line (see https://github.com/loklak/loklak_webclient/issues/35 ).

The refresh time of the widgets must be independent from the update cycle of the wall. While the wall updates in a period as given in the

[2015-05-07 06:17] Orbiter opened #38 "Registration of Twitter user accounts"
loklak shall be authorized to act as twitter application. This shall enable loklak to tweet in the users name. Possible applications are
- create statistics and tweet these (automatically or manually)
- cross-tweeting (i.e. writing messages within the loklak environment and loklak pushes them to twitter)
- producing 'enriched' tweets (i.e. with attached better location coordinates, more text, more

[2015-05-07 06:31] Orbiter commented on #38
Assigned this to Julian because Mario told me that Julian said that this is easy to do :blush:

@julianfox
- currently the loklak_webclient can be hosted statically, does an account verification need a running node.js environment? Or can this also be done in the loklak_server?
- where are the account credentials stored? If a node.js environment stores that, what kind of technology is doing that?
-

[2015-05-07 13:20] julianfox commented on #38
Hey,
The best way to do it for me is to use a token based auth with a lib like https://github.com/sahat/satellizer
You do not need to use node.js, we can manage it with the loklak_server.

Satellizer provide a good java exemple for the server side: https://github.com/sahat/satellizer/tree/master/examples/server/java

In this way, the account credentials is stored in db managed by the server side s

[2015-05-07 18:45] fuksi commented on #2
I was able to reproduce the error on a fresh OSX and this is how I fixed it:

- [Just in case] I updated NPM just in case brew
[code]
- Main fix, System Darwin error would relate to the CLI environment of OSX, the could mean ```node-gyp``` failed to rebuild the CLI. Xcode CLI might not be enough, so I chose the lesser chosen option: install Xcode.

Then it just work.

[2015-05-07 19:20] Orbiter commented on #2
as this is Mac OS only related: I am working on Mac OS too, but I never had a problem. Maybe because Xcode was already installed previously.

[2015-05-07 19:23] Orbiter commented on #38
I had a look at satellizer; looks like a small library. Maybe I can replace the database they use elasticsearch and a text dump (for a backup).

[2015-05-07 19:34] Orbiter commented on #30
I just tested your code and it looks good. Still: image display needs some enhancements, like:
- if there are more than one image, its not optimal to write them all in a column below each other. Maybe they fit side-by-side in a row, but maybe their format is not good for that. Because we don't know the actual size, we cannot know the orientation and size of these images in advance. Is there a libr

[2015-05-07 19:35] fuksi commented on #28
@smokingwheels, is this issue solved? Let's close it :+1:

[2015-05-08 09:29] #28 closed

[2015-05-09 12:52] julianfox commented on #38
Yes of course, i think you can use what you want, but i never used Satellizer yet,

[2015-05-09 13:18] mariobehling commented on #38
@julianfox So, how can we get started here? Could you help to implement a first version?

[2015-05-09 13:50] julianfox commented on #38
Yes of course, i am working on the wall right now, may be this feature can be the next step ? This have to be implemented before the openTech ?

[2015-05-09 14:04] mariobehling commented on #38
It would be nice to implement it before the OpenTechSummit, but the twitter wall is the most important.

[2015-05-09 18:39] mariobehling opened #39 "How can we support different languages a) in the interface and b) for tweets"
Also think of services like Weibo in China, which we want to support. Any services in your region apart from twitter? Please let us know and we could have a chet how to support them as well.

[2015-05-10 09:02] Orbiter commented on #30
I found two solutions to display images in a proper way:
- to properly fit the images side-by-side in each row, as thumbnails, you can use https://github.com/desandro/masonry
- to enlage these images and show (several) in a slide show, you can use https://github.com/dimsemenov/PhotoSwipe

If you like, use alternatives to these libraries but those looked right when I looked around what we can use t

[2015-05-10 12:06] #19 closed

[2015-05-10 12:51] sudheesh001 commented on #1
Build information: https://travis-ci.org/sudheesh001/loklak_webclient/builds/61964763

the test file checks if the build/** folder is complete but since `gulp dev` runs infinitely instead of just building it, the travis build information at the end displays Failed but the first pass where Travis doesn't really complain.

Do we merge this ? @Orbiter  @mariobehling

[2015-05-10 12:53] sudheesh001 commented on #2
Thanks, `brew update` seems to have fixed the problem, upgrade `npm` threw an error `Error: No such file or directory - /usr/local/Cellar/node` I then realized that I had this placed somewhere else, linked them up and everything works perfectly.

Closing this issue. Thank you @fuksi and @Orbiter

[2015-05-10 12:53] #2 closed

[2015-05-10 13:25] sudheesh001 opened #42 "Some profile pictures on search query throw 404 errors"
An example URL is as follows
`https://pbs.twimg.com/profile_images/586512026672893954/WNMdBaR0_bigger.jpg`

Even when separately opened, the browsers shows a broken image, but on the same tab, the favicon shows the 16x16 version of the profile image.

![screen shot 2015-05-10 at 4 25 15 pm](https://cloud.githubusercontent.com/assets/4545925/7554411/3607e1c2-f731-11e4-87d9-d7b21fad131a.png)

[2015-05-10 13:35] #31 closed

[2015-05-10 13:51] sudheesh001 commented on #27
Considering the way they're currently behaving, like linked options i.e. Steps as
- Fill the 1st datetime
- Jump automatically to 2nd datetime
- Fill the 2nd datetime

Currently what is happening is
- Repeats the selection of 2nd datetime

It'd be best if the selection is present onto the `Submit` query button so that pressing an `Enter` can do the required job rather than it be closed.

[2015-05-10 14:15] sudheesh001 commented on #35
@Orbiter Do we use a specific URL like `/wall?q=IPL` if we want to avoid the search input box in the wall/ page ? Currently I've just cloned the search functionality to wall. If we decide on how the URL has to be taken, I can proceed.

[2015-05-10 14:16] sudheesh001 commented on #35
![screen shot 2015-05-10 at 5 15 33 pm](https://cloud.githubusercontent.com/assets/4545925/7554634/34dda1e0-f738-11e4-9eb1-f8a1daef4b50.png)

Locally i've the commit which displays the heading search query. Currently the wall is as follows.

[2015-05-10 14:47] julianfox commented on #35
Hey @sudheesh001 i an working also on this, i already did the live update mechanism and the fact that the first tweet is highlight

[2015-05-10 14:49] julianfox commented on #35
I'll try to make a pull request this evening or tomorrow evening

[2015-05-10 14:49] julianfox commented on #42
+1

[2015-05-10 15:51] Orbiter commented on #42
I can open the image you gave without problem. Even the larger version with url
https://pbs.twimg.com/profile_images/586512026672893954/WNMdBaR0_200x200.jpg
can be loaded.

[2015-05-10 15:56] julianfox commented on #42
I can open this one, but i have a lot of 404 errors when i use the search

[2015-05-10 16:00] sudheesh001 commented on #42
I can open the images after a long time on the same browser and immediately after hitting a 404 on a different browser. Looks like they have something which denies us from loading so many images. What is the workaround ?

[2015-05-10 16:27] Orbiter commented on #42
caching at the server can help, but loading only through the server won't do because then the server gets the attention from twitter which will cause a blocking of the server.

What we need is a caching at the server while that server never loads the images. The client (the browser!) would need to send loaded images back to the server so the server can provide that cache to the next client.

Addit

[2015-05-10 19:15] Orbiter commented on #35
@julianfox :+1: :+1:

@sudheesh001 yes, the suggested URL would be great. After the first time the input was made, the input box should not be shown any more.

[2015-05-10 19:16] Orbiter commented on #31
thank you!

[2015-05-10 19:20] Orbiter commented on #1
automatic testing is good. Does this add additional work on you, when commiting code? Or does it simply create an alarm if something goes wrong?

[2015-05-10 21:52] Orbiter commented on #39
This is actually two challenges:
- how to integrate different message services (i.e. Weibo)
- how to handle different languages (i.e. translate them automatically)

the first challenge can be realized in the loklakserver: add another scraper. The data structures in loklak are prepared to handle different sources (including 'self': messages generated within loklak)

The second challenge is difficul

[2015-05-10 21:54] Orbiter commented on #27
yes, thats good! Can you please change it that way?

[2015-05-11 07:26] sudheesh001 commented on #1
As of now its designed to just create an alarm if something goes wrong. No additional work during commits as of now.

[2015-05-11 10:21] Orbiter commented on #1
ok fine! lets close this to tidy up things. Please reopen if testing must be enhanced

[2015-05-11 10:21] #1 closed

[2015-05-11 10:22] Orbiter commented on #4
I am working on Mac all the time and I never had an issue here! Lets close this!

[2015-05-11 10:22] #4 closed

[2015-05-11 13:50] julianfox commented on #32
For the first message, do we display the images ?

[2015-05-11 13:56] Orbiter commented on #32
yes, please!

[2015-05-11 18:32] Orbiter opened #45 "Wall search box shall appear only once"
The wall shall NOT show the search box, once the box was used to input a search term.

If the wall was selected from the menu, it MUST show the box.

[2015-05-11 18:42] sudheesh001 commented on #45
We can simplify this by using `/wall?q=FOSSASIA` rather than keeping track of a the button from which the user has bounced. Another possibility in case we want to retain the search box is to `hide` the box as soon as the query is sent, Which one do you think is a good option ?

[2015-05-11 19:41] julianfox commented on #45
@sudheesh001 i used the second solution in my last commit... but may be we can add a button for make another search ?

[2015-05-12 03:00] #45 closed

[2015-05-12 03:01] sudheesh001 commented on #45
@julianfox Done, Added the button to make a new search. :smile:

[2015-05-12 03:30] #34 closed

[2015-05-13 09:36] Orbiter commented on #32
I tested this and it looks good!

but...when the entries below the large image is updated, the whole list loads again. That should be done more smoothly, like shifting them on the screen below.

[2015-05-13 09:38] Orbiter commented on #36
This is working well, but the update does not shift the entries, it just reloads the whole page.
Can you make this with animations, like move the content down and place the first on top?

[2015-05-13 12:02] sudheesh001 opened #49 "First large image on wall pixelates."

[2015-05-13 18:26] julianfox commented on #32
Oh, normally there is a transition animation, you have no animation at all ?

[2015-05-13 18:27] julianfox commented on #36
It's already done, it's weird that you can't see it...

[2015-05-13 18:28] julianfox commented on #49
Yes! I no this issue, i have to take the bigger profile picture from twitter and not the standard one... I will try to do it before tomorrow...

[2015-05-14 06:13] sudheesh001 commented on #35
Fixed the `/wall?q=`, Fixes the wall functionality at fa579871791cb847fcb7af154b8f6783d6ac6453

[2015-05-14 06:13] #35 closed

[2015-05-14 08:57] fuksi commented on #8
Done and merged in 8665b76cefb9844a5e0dd82a96dbc0932bd40510

[2015-05-14 08:57] #8 closed

[2015-05-14 09:03] fuksi opened #51 "Underlying Angular infdig error on multiple searches."
The search url works fine. When you search for a term, the url will be updated according to the term (so then we can share the link).

![image](https://cloud.githubusercontent.com/assets/6878677/7611021/108ff6ae-f98a-11e4-8c80-86928f293695.png)

The new statuses are updated, but there a short flickering when loading, caused by ```Error :[$rootScope:infdig]```

Refer to #48 for the original pull re

[2015-05-14 09:07] fuksi commented on #18
@Orbiter , I believe this was also solved in merge #48  for feature #8. You can test this with the master HEAD.

[2015-05-14 09:07] #18 closed

[2015-05-14 09:19] sudheesh001 commented on #51
@fuksi The problem is with the HTML templating somewhere because of which the `$digest()` iterations reach and hit the 10 iterations mark before aborting. Is [this](http://stackoverflow.com/questions/14376879/error-10-digest-iterations-reached-aborting-with-dynamic-sortby-predicate) of any help ?

[2015-05-14 16:03] #51 closed

[2015-05-14 16:14] fuksi commented on #51
@sudheesh001 Thanks for the troubleshoot links, I understand a bit more about $digest now. The problem was when a new path is updated, routing is triggered as well. So when we clicked ```Search```, it wasn't ```vm.update``` who do the job, but the template was reloaded before ```statuses```  was even updated. Because it was reloaded with the new params, the result we got is from ```angular.element

[2015-05-15 07:52] mariobehling opened #52 "Research twitter wall designs"
The twitter wall was on display yesterday at the OpenTechSummit. Lots of people added content, because they saw the wall. We now need to improve the design, e.g. text was too small for the wall. Please research how other twitter walls display tweets and post links and screenshots of twitter walls here.

[2015-05-15 08:14] sudheesh001 commented on #52
At the moment we have a vertical scroll animate and the main tweet on top, what we could do is rather, use horizontal scroll animate and show the large tweet in the centre and fade out up or down with another tweet taking over, that way the main tweet is always the `center of attraction`
What say @fuksi ?

[2015-05-16 07:28] aneeshd16 commented on #30
Is anyone working on this? I am unable to add photoswipe, any help would be nice. :)

[2015-05-16 07:38] mariobehling commented on #52
@sudheesh001 It is easier to imagine what you propose, if you offer a wireframe of something similar. Also, it would be great, if you could each of you put a screenshot here of other existing twitter wall services. This would help us to understand what design options we have.

[2015-05-16 07:39] aneeshd16 commented on #52
@sudheesh001 That sounds good.
I have another suggestion. Currently, as new tweets come, they keep on adding to the list. After a while, this list would undoubtedly become very long. Since the wall is supposed to be used in a desk/kiosk mode, why not just limit the list to 3 tweets or so? There will be one main tweet, as a `centre of attraction` as you mentioned, and just three below it. Older twe

[2015-05-16 07:43] mariobehling commented on #52
@sudheesh001 Yes, it is a possibility. We could also have a small menu on top, that appears when you go to the top with your cursor. Here people could configure options. BUT: Let us all take a step back, please and look at existing walls to understand how they function in regards to the interface and appearance.

I would like to see screenshots and short wrap ups of 10 different twitter walls here

[2015-05-16 07:50] julianfox commented on #52
A good exemple: http://tweetwall.com
Ux/design totally different... But it's the core feature of this company, so i am pretty sure that know what is the best solution for this :-)

[2015-05-16 11:39] sudheesh001 commented on #52
Other examples are
- http://www.tweetbeam.com/show?query=loklak
![screen shot 2015-05-16 at 2 35 13 pm](https://cloud.githubusercontent.com/assets/4545925/7665968/265c8bf4-fbd9-11e4-9168-29df4733f1ee.png)

- http://www.activitywalls.com/?h=Loklak&c=fc1fff666 (Needs to authenticate app)
![screen shot 2015-05-16 at 2 34 22 pm](https://cloud.githubusercontent.com/assets/4545925/7665970/360694fa-fbd9-

[2015-05-16 16:28] fuksi commented on #36
There're already some animations. Let's close this!

[2015-05-16 16:29] fuksi commented on #30
I can work on this over the weekend *assigned to myself*

[2015-05-16 18:08] #36 closed

[2015-05-17 05:39] aneeshd16 commented on #52
Mockup for twitter wall 1
![page 1](https://cloud.githubusercontent.com/assets/5436027/7669240/1202412e-fc85-11e4-8f34-e905122583ad.jpg)

[2015-05-17 05:42] aneeshd16 commented on #52
Mockup for twitter wall 1, opacity is important
![page 2](https://cloud.githubusercontent.com/assets/5436027/7669245/819e9294-fc85-11e4-936b-1a779115e0fd.jpg)

[2015-05-17 07:50] #27 closed

[2015-05-17 08:06] aneeshd16 commented on #52
Mockup for twitter wall 3
![page 1](https://cloud.githubusercontent.com/assets/5436027/7669599/ae6a615e-fc99-11e4-8746-5053b482b0c7.png)

[2015-05-17 09:17] #49 closed

[2015-05-17 09:18] sudheesh001 commented on #32
The first message in the wall is comparatively larger than the rest. I think this can be closed safely, if this needs more discussion, please feel free to reopen.

[2015-05-17 09:18] #32 closed

[2015-05-17 09:33] mariobehling opened #54 "Mockups for Twitter wall"

[2015-05-17 09:39] mariobehling commented on #52
Hi @sudheesh001 Good ideas for mockups, but this issue is dedicated to research about twitter walls. Mockup should go into another issue. Let's stay with the topic of issues, please. I added an issue for you here https://github.com/loklak/loklak_webclient/issues/54

@everyone Please have a look around, if there also maybe already an existing twitter wall or several twitter walls, that we might be

[2015-05-17 09:40] sudheesh001 commented on #54
Aneesh has uploaded a few twitter wall mockups. :+1:
![1](https://cloud.githubusercontent.com/assets/4545925/7669846/7655989a-fc91-11e4-8d11-531246dd366c.jpg)
![2](https://cloud.githubusercontent.com/assets/4545925/7669847/78237ae8-fc91-11e4-9114-78d4297f2f34.jpg)
![3](https://cloud.githubusercontent.com/assets/4545925/7669848/7a600bb4-fc91-11e4-8fcf-89d975bb6318.png)

A few design inspiration sou

[2015-05-17 09:41] sudheesh001 commented on #52
@mariobehling https://github.com/EightMedia/TwitterFontana , This looks promising.

[2015-05-17 11:39] aneeshd16 commented on #52
There seems to be two kinds of twitterwalls:
*Display one tweet at a time utilizing most of the screen http://twitterfontana.com/
*Display a queue of tweets, with new tweets getting added to the top. https://confwall.com/archived/54c565df1e7ea9e310691b0e
(This could also include a special highlighted tweet, like in the mockups me and @sudheesh001 posted.)

Although the first option looks aesthetic

[2015-05-17 11:47] mariobehling commented on #52
@sudheesh001 @aneeshd16 Give us some screenshots.
Other questions to consider: What technologies are they using? How easy is it to set them up? Could we possibly integrate them with Loklak? What options do those twitterwalls have for the users e.g. can the user change the display time of feeds, start date of tweet postings. Is there an option to exclude certain tweets or users? Is it possible to d

[2015-05-17 12:33] fuksi commented on #52
Based on the mentioned examples above I suggest that the wall consists of 3 components:

![loklakwall](https://cloud.githubusercontent.com/assets/6878677/7670284/2ebf779c-fca7-11e4-8a5a-15aabf2b07b5.png)

- Centre of attraction: the newest tweet.
- A stream of tweets: the minor purpose of these is to show to capability of loklak, and also from this, the users can quickly see how popular is the cur

[2015-05-17 12:57] fuksi commented on #30
@aneeshd16
Only 1 part of photoswipe can be installed with ```npm install photoswipe```. We'll need to copy and place ```photoswipe-ui-default.js``` in the components to be included as well ( and the rest of css stuffs).

Please pull and check the new branch ```feat_photoswipe```. You'll need to ```npm install```again. It's not finished yet. The ```createPhotoSwipe``` in ```controllers/wall.js```

[2015-05-19 14:04] aneeshd16 commented on #52
1. We do have a variety of options now, I especially liked @fuksi 's suggestion that shows images, the centre of attraction and the tweet stream in the same page, without making it too messy or cluttered.

2. Additional options like filters can be hidden in a popup linked to something like a gear icon. All the options that @mariobehling mentioned are supported by the server and have already been i

[2015-05-20 04:20] sudheesh001 commented on #30
Closed by #55

[2015-05-20 04:20] #30 closed

[2015-05-20 13:25] aneeshd16 opened #56 "Masonry images overlap tweets below them in the wall"
When a tweet moves from the highlight position to the first position in the list, it overlaps the tweet below it.

[2015-05-20 13:27] sudheesh001 opened #57 "Photoswipe button content displaced on retina displays"

[2015-05-20 13:30] aneeshd16 commented on #57
@sudheesh001 , this 86152c93a27958a9c02e4ab2a59c4fc1d50b43fa doesnt solve it?

[2015-05-20 14:14] sudheesh001 commented on #57
![screen shot 2015-05-20 at 5 13 26 pm](https://cloud.githubusercontent.com/assets/4545925/7727748/9c933d4e-ff13-11e4-8de9-2467d992f5ef.png)

Seems to be fixed but dislocated on the screen, the last tab moves out of the screen on the Mac retina, works fine on a non-retina display.

[2015-05-20 14:37] Orbiter opened #58 "Statistics page display only after second click on 'Search'"
The statistic page does not load upon first click on 'Search', only on second.
Steps to reproduce:
- open /statistics
- enter a search term, a start date and a end date
- click on 'Search'
-> effect: the url changes (good!) but no statistics is shown (bad!)
- don't change any settings and simply click a second time on 'Search'
-> effect: the statistics are shown

..should show when the first time

[2015-05-20 14:44] aneeshd16 commented on #58
@Orbiter could you please check your Network log? I've been getting `Status Code:503 your request frequency is too high errors` lately from the loklak server, making a request again is usually successful. Are you also getting 503's?

[2015-05-20 14:45] Orbiter opened #59 "Check availability of profile pictures and fail-over option"
This feature shall be implemented for the search page but shall also be applicable for all other places in loklak_webclient, where a profile image is needed.

We currently have the problem that some profile pictures are not loaded from Twitter in all cases. In case that a load from twitter is not possible, we need an alternative image. That image shall be provided by the loklak_server back-end.
Th

[2015-05-20 15:15] Orbiter commented on #59
the placeholder images had been uploaded with commit https://github.com/loklak/loklak_webclient/commit/23a6223113833c5cb3ccdb8b5f385c98c3446d7b
Please use the correct one according to the actual profile image size that shall be displayed (currently only the _bigger version)

[2015-05-20 15:39] Orbiter opened #60 "loklak search page: identical to twitter search result"
Please visit http://search.twitter.com and do a search. The loklak search result page must look exactly like that result page

[2015-05-20 15:50] sudheesh001 commented on #60
Can I assign this to myself ? @fuksi already has quite a lot of work to do, it'd be nicer to share the load :smile:

[2015-05-20 16:07] mariobehling opened #61 "Loklak Projects - Tweets, Wall, Search frontend"
This is a plan for summer projects for each student. Please provide input and feedback.

Project 1: Loklak Tweets (Sudheesh) - Goal of this project is to fully develop the functionality to tweet on loklak and set up loklak as a twitter app (so, we can tweet on both platform). Also implement additional features including adding attachments (images, videos, maps, location data, code e.g. pastebin li

[2015-05-20 17:05] Orbiter commented on #60
This is the umbrella feature for the plan in https://github.com/loklak/loklak_webclient/issues/61

It is honorable that you step in for @fuksi to share the load and it shows also how good you work as a team-member! ..but we would like to separate tasks for each of you: the separation and also the scrum reports will make it transparent how the personal load is.

[2015-05-20 18:00] aneeshd16 commented on #52
I have been assigned the wall feature, and would like to use the one proposed by @fuksi
![loklakwall](https://cloud.githubusercontent.com/assets/6878677/7670284/2ebf779c-fca7-11e4-8a5a-15aabf2b07b5.png)

But i would like to get some opinions and feedback from @loklak/loklak_developers, especially from @mariobehling and @Orbiter :)

[2015-05-20 18:35] mariobehling commented on #52
@aneeshd16 Let's have a chat about this. Please ping me on Gitter.

[2015-05-20 19:27] Orbiter opened #62 "all designs must display properly in very low resolutions, i.e. 1024 × 768"
When we first started the wall at ots15, the available screen resolution for the projector on a VGA cable was very limited. The wall was very messed up, full of window sliders and images moved below other design elements. This is a typical situation that you encounter when using unknown and possible old hardware during conferences. Therefore I believe its important that we have a general rule, tha

[2015-05-20 21:23] Orbiter opened #63 "loklak Tweets - compose tweets with new rich content attachment categories, e.g. embedded maps or code with loklak"
This is an umbrella feature for the project definition in https://github.com/loklak/loklak_webclient/issues/61
The idea is, that users like to tweet rich data but don't have support for such attachments from twitter. Examples are:
- identify and attach exact geographic coordinates and maps
- attach video and/or audio content
- attach larger texts with simple markdown (i.e. https://guides.github.co

[2015-05-20 21:27] Orbiter commented on #42
I believe we must work around this problem since I suspect that twitter rejects access to the images.
The solution is proposed in https://github.com/loklak/loklak_webclient/issues/59
Since there is no actual software error here, I close the issue.

[2015-05-20 21:27] #42 closed

[2015-05-20 21:29] Orbiter commented on #37
consider this feature as 'hold on' since we currently discuss different wall designs which may make this feature superfluous.

[2015-05-20 21:31] Orbiter commented on #38
lets do that now: Julian, whats necessary for the server back-end? What shall it store. How do we organize sessions once a user has logged in?

[2015-05-21 06:43] #57 closed

[2015-05-21 06:45] sudheesh001 commented on #54
I think we should start with using the https://almsaeedstudio.com/AdminLTE bootstrap template, its really clean and pretty easy to customize, Fontana is great too. @fuksi @aneeshd16

[2015-05-21 07:31] mariobehling commented on #54
@sudheesh001 Good input I like this theme. The idea to get this twitter wall started is to follow existing designs of services like tweetwall.com. So, will help us to get to a first stable version without having to decide on a lot of detailed questions.

After the first version, we should implement additional features, e.g. an image only view, adding more statistics, adding other services etc.

@a

[2015-05-21 07:32] mariobehling commented on #39
@sudheesh001 What are your ideas here?

[2015-05-21 08:42] fuksi opened #64 "Render unfiltered results for Search Frontend"
1. Normal tweets without links or pictures #64
 + Avatar, Screen_name, tweet's age **X**
 + Onclick: show created time, full date, and Detail (to open tweetlink) **X**
 + Action list: Reply, Retweet, Favorite, More (Copy link, Embed tweet) **X**

2. Tweet with images: #64
 + For a single image, if size is bigger than 506 x 203 create a thumbnail of 506 x 203 **X**
 + With multiple images, create m

[2015-05-21 08:45] fuksi opened #65 "Render unfiltered results including Top/All"
![screen shot 2015-05-21 at 11 44 39](https://cloud.githubusercontent.com/assets/6878677/7744787/ca7ff580-ffae-11e4-8842-e731677fa3b7.png)

[2015-05-21 09:03] fuksi opened #66 "Integrate a background process for loading newer tweets"
A feature taken from twitter search. Sorry for the strange language. :) It means "20 more results"

![screen shot 2015-05-21 at 12 02 03](https://cloud.githubusercontent.com/assets/6878677/7745113/57ed10d6-ffb1-11e4-8fa4-a32f90652466.png)

[2015-05-21 09:13] fuksi opened #67 "Filter search result by photos"

[2015-05-21 09:18] fuksi opened #68 "Filter by people, news, videos"
Consider more details from loklak_server

For people, need description to out put like this.
![image](https://cloud.githubusercontent.com/assets/6878677/7745324/0bf73240-ffb3-11e4-8193-fcdbc62771e8.png)

Video: Need video thumb and source
Uutiset: Find a filter database for "news" tweets if possible

[2015-05-21 09:39] julianfox commented on #38
I thinks that the best solution is to use Satellizer as i said, so for the server back-end, we can use the actual back-end and reproduce this: https://github.com/sahat/satellizer/tree/master/examples/server/java

What do you think about this solution ?
If it's ok on your side, i can implement the front-end side

[2015-05-21 09:51] julianfox commented on #54
+1

[2015-05-21 10:26] julianfox commented on #38
Here a complete description of the workflow: https://github.com/sahat/satellizer/wiki/Login-with-OAuth-2.0

[2015-05-21 10:36] julianfox commented on #38
@sudheesh001 you wrote about passportjs in your last daily scrum, what the pros and cons for you about Satellizer vs Passportjs ?

Can we share data between the front-end and the back-end with Passportjs ?

[2015-05-21 11:13] sudheesh001 commented on #38
@julianfox I've never used either, I'll experiment with them and report back.

[2015-05-21 11:19] sudheesh001 commented on #38
@julianfox I've started a separate fork of this web_client in Python using flask, it'll be functioning exactly the same way as our current repo is with the same functionality within the next few commits, it should be easier to do the DB and the twitter integrations from there, how about we try that and pitch it to rebase this project and continue, we're still starting off so changing the technolog

[2015-05-21 11:26] Orbiter commented on #38
sounds good

[2015-05-21 11:27] aneeshd16 commented on #38
Twitter auth will also be used by the wall, so that users can login, create and store different twitter walls. Please create the db and auth to accommodate the wall as well.

[2015-05-21 12:35] mariobehling commented on #62
Other tweetwalls actually can adapt to different screen sizes. Please try to ensure this here as well.

[2015-05-21 14:01] Orbiter commented on #68
There is already a field in the json that will be filled with video links, once video links can be added through our own edit input. The field is called "videos" and will contain an array of links, like the "images" field. Same with audio, the field will be called "audio".

[2015-05-21 14:04] Orbiter commented on #67
the loklak_server already provides  a filter option to produce only search results containing images: just add a " /image" to the user's query.

[2015-05-21 14:07] Orbiter commented on #68
filtering is analogous to the '/image' modifier for video: add a ' /video' to the query to restrict the results to only tweets which contain videos.

[2015-05-21 14:10] Orbiter commented on #60
please add feature requests to loklak_server if you need them for this feature (I believe we need that for people search)

[2015-05-21 17:12] aneeshd16 opened #70 "Redesign the landing page for the wall"
* Have a big call to action button to start creating a wall
* Links to other loklak pages
* Show a list of features offered by the wall

This issue will be updated as the wall grows.

[2015-05-21 17:12] aneeshd16 opened #71 "Create a getting started view for the wall"
This view will contain all the options and customizations that can be used to create a wall.

Options offered are:
* Name of the event
* Date of the event
* Main hashtag
* Additional hashtags, keywords or @users
* Choice of 4 base layouts: list, masonry, or centre of attraction with tweet
* Choice of wall with (tweets with and without images)/(tweets with no images)/(tweets with images)
* Customiz

[2015-05-21 17:15] aneeshd16 opened #72 "Implement the base layouts in the wall"
The base layouts are:
* list: linear, similar to search results
* masonry: a stacked view in which tweets are arranged in a brick like structure
* centre of attraction with tweet stream: the latest tweet occupies a large area of the screen, with a smaller section for older tweets

[2015-05-21 17:16] aneeshd16 opened #73 "Show statistics in the wall"
A toggle should control the display of a statistics view which would appear in a sidebar. Will contain "top twitterers", "top mentions", "top hashtags" and a histogram(if possible).
From #37

[2015-05-21 17:17] aneeshd16 opened #74 "User account management"
* Implement authentication (from #38)

[2015-05-21 18:58] sudheesh001 commented on #58
Reproducable error. Need to search twice before the stats show up.

[2015-05-22 12:05] julianfox commented on #38
ok perfect, go for it

[2015-05-23 10:09] #54 closed

[2015-05-24 11:33] mariobehling commented on #63
@sudheesh001 Create a list of features and add information about technology and milestones. Please include the following:

a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
c) Technologies used

Proposed Milestones

    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone 3, Due by July

[2015-05-24 11:34] mariobehling opened #75 "loklak twitter wall frontend"
Create a list of features and add information about technology and milestones. Please include the following:

a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
c) Technologies used

Proposed Milestones

    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone 3, Due by July 25, 2015

[2015-05-24 11:35] mariobehling commented on #60
Create a list of features and add information about technology and milestones. Please include the following:

a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
c) Technologies used

Proposed Milestones

    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone 3, Due by July 25, 2015

[2015-05-25 02:46] sudheesh001 opened #76 "Remove lint errors in gulp lint and livereload on the sass"
In case of errors in the code, the livereload of gulp automatically lints and throws up a lot of linting errors and warnings indicating no standardisation in the way the JS code is written, Since we're using jshint by default, it's best if all the JS components are linted accordingly as mentioned in the `.jshintrc` file of the application.

[2015-05-25 03:11] sudheesh001 opened #78 "/search throws up empty images in the response."

[2015-05-25 03:12] #76 closed

[2015-05-26 04:33] aneeshd16 opened #80 "Implement twitter auth on the node server"
Used passportjs (passportjs.org) to create a basic twitter authentication flow on a node/express server. The routes are:
/auth/twitter to begin login
/auth/twitter/callback callback URL
/account page once the user has logged in
The session is automatically managed by express.

Further objectives
* Store and read the keys from the config file
* Scaffolding code for storing user credentials

[2015-05-26 05:35] aneeshd16 opened #81 "Modify gulp configuration to start a node server"
Also restart the server when any server file changes

[2015-05-26 18:10] sudheesh001 commented on #81
@aneeshd16 This looks good, the gulp node is now working perfectly, I think the best thing to do as of now is to remove the keys that you've committed with the application. I think we should parse that for later, but as of now this goes well. I am launching a PR and the review is a conditional `r+` here from me because this is the barebone which will anyway undergo changes

[2015-05-26 18:12] aneeshd16 commented on #81
The auth part will be done in #80, which also includes moving the keys to the configuration file.

[2015-05-26 18:12] #81 closed

[2015-05-26 18:15] sudheesh001 opened #83 "Move keys and other sensitive application related information to a separate config file"
As of now we have a naming convention of `custom_configFile.json`. So this config file deals with the front end, Inside the `server/` we need to have another config file for the twitter app details and stuff, for convention sake let us call it `config.temp.json` with the instruction to be

`cp server/serverconfig.temp.json server/serverconfig.json`, Needs to be implemented with #80 as discussed.

[2015-05-26 18:25] aneeshd16 commented on #83
Used custom_configFile.json to store the keys.

[2015-05-26 18:28] sudheesh001 opened #84 "npm throws error for no readme package on 0.0.0 version of the server package."

[2015-05-26 18:31] sudheesh001 commented on #83
a8aa6e6 needs to ensure that the server is always run as
[code]
and cannot work through
[code]
results in throw of
[code]
We need to fix this for later too if possible or start the node server through a shell command from the application root than from a folder.

[2015-05-26 18:36] #84 closed

[2015-05-26 18:37] sudheesh001 commented on #83
Closed as Fixed.

[2015-05-26 18:37] #83 closed

[2015-05-26 20:45] mariobehling commented on #39
I have some interest from friends in Asia who would like to add Loklak as an additional service to their web services. We need a strategy for loklak localization. Please provide more input.

[2015-05-27 04:44] aneeshd16 commented on #39
Does localization here refer to just the language of the loklak frontend, or also translation of tweets?

[2015-05-27 05:59] sudheesh001 commented on #39
If only the front end has to be translated, what we could do is to have a seperates `locales` file where each of the string is present, we can then replace the string based on the browser default language of the user.

Tweeting in a particular language (support of unicode) I guess shouldn't be a problem if the tweets can be stored with the loklak_server and posted to twitter. When it comes to auto

[2015-05-27 09:05] julianfox commented on #39
For angular localization, the best is to use https://github.com/angular-translate/angular-translate, about the fact to create a automatic translation of tweets that sound weird...

[2015-05-27 09:16] mariobehling commented on #39
@julianfox If Angular translate covers the translation of all frontend components, it sounds good to me.

[2015-05-27 12:08] fuksi commented on #39
I went through the first video of the [angular-translate]( https://github.com/angular-translate/angular-translate) and I don't think it's going to cover anything. Like many other multi-lang plugins, it can provide us only the services and interfaces, for us to input our translation, and then the translations are labor work.

Implementation example (although it's recommended to use a json containin

[2015-05-27 12:11] mariobehling commented on #39
Ok, just to clarify: My main question is the support of the interface language and the possibility to insert tweets in different languages. Regarding the translation of tweets - this is not my main concern or focus currently. Although it sounds interesting. So, if we can change the interface language, that is already great. Thank you!

[2015-05-27 13:07] Orbiter commented on #39
the loklak_server uses UTF-8 for tweets everywhere and alternative charsets are supported, so that should not be an issue

[2015-05-27 16:27] sudheesh001 commented on #39
I think its possible to translate and have the i18n using angular translate for all the strings that are present in the application interface.

[2015-05-27 16:36] sudheesh001 commented on #39
As far as I see it, its best to have a seperate locales file and its internal files as follows
[code]
As newer files are added, using the file system `fs` of nodejs we can get all the names of modules by getting the list of files and stripping the `.json` and all the contents in them being ` key - value ` pair will just be binded to the front end. It can directly be served from the server itself i

[2015-05-27 18:00] Orbiter commented on #38
The loklak_server now provides storage of authentication. If you run your own loklak_server, you can call i.e.
[code]
...to push a consumer key and secret.
To retrieve that information, call
[code]

[2015-05-27 20:45] Orbiter opened #86 "Error: Cannot find module 'cookie-parser'"
app (everything/anything) crashes upon start :(

I did a pull on main, did a "npm install", then "gulp dev" and got
[code]

[2015-05-28 04:16] sudheesh001 commented on #86
@Orbiter You need to do the `npm install` in two different location, firstly in the `loklak_webclient` folder and again in the `server/` folder.

[2015-05-28 06:56] Orbiter commented on #86
ah ok, please add such information to the README, just did that in https://github.com/loklak/loklak_webclient/commit/fab0e2eb125fe677e1db6c9f98bfa8faab1e0d20

[2015-05-28 06:56] #86 closed

[2015-05-28 07:31] Orbiter opened #87 "TypeError: OAuthStrategy requires a consumerKey option"
I did npm install in / and /server and started gulp dev in /
That resulted in
[code]

[2015-05-28 09:23] julianfox commented on #87
You have to create a Twitter app at https://apps.twitter.com

Set the twitterConsumerKey var in custom_configFile.json to set the Consumer Key (API Key) from your Twitter app
Set the twitterConsumerSecret var in custom_configFile.json to set the Consumer Secret from your Twitter app

I updated the Readme about it

[2015-05-28 10:15] sudheesh001 commented on #87
Fixed via 54dd21744ccf43049d8a78ebee8e6c734eabc170

[2015-05-28 10:36] Orbiter commented on #87
This is not the complete solution. I expect that parts of the application, which do not use or need a twitter app key should work without the configuration of a consumer key+secret

[2015-05-28 12:02] #87 closed

[2015-05-28 15:50] Orbiter commented on #38
according to current discussion, the storage of consumer keys is done statically only once and the backend stores the oauth tokens. This was now changed with https://github.com/loklak/loklak_server/commit/4f2b31ea5f8d524332edfb8c9b267cb1f670090e
New calls are:

write:
[code]
read:
[code]

[2015-05-28 18:54] #65 closed

[2015-05-28 22:12] fuksi opened #88 "Integrate search view AdminLTE theme."
Discuss with others what's the role of Navbar, Sidebar, and UserSetting of the AdminLTE, and integrate the search view accordingly.

[2015-05-28 22:14] fuksi opened #89 "Enable live view (wall)"
![image](https://cloud.githubusercontent.com/assets/6878677/7872351/07b8d2c2-05a0-11e5-9237-ef8ab9d1c9c9.png)

[2015-05-28 22:14] fuksi opened #90 "Enable all filters and advanced search"
List all filters and advanced search filters when pass Milestone 1

[2015-05-29 07:59] Orbiter commented on #64
whenever you need a functionality from https://github.com/loklak/loklak_server don't hesitate to write a feature issue there, please!

[2015-05-29 22:17] mariobehling commented on #88
Updating on the status as discussed on twitter. Awesome!
![screen-shot-2015-05-23-at-7 21 55-pm](https://cloud.githubusercontent.com/assets/1583873/7893758/3857a11c-0661-11e5-9b0d-69027bd3ac6a.png)
![screen-shot-2015-05-23-at-7 22 15-pm](https://cloud.githubusercontent.com/assets/1583873/7893759/388bdcc0-0661-11e5-90b5-f8527e12bfea.png)
![screen-shot-2015-05-23-at-7 23 07-pm](https://cloud.githubu

[2015-05-30 02:00] sudheesh001 opened #92 "POST tweets to twitter after user authentication from the loklak app"

[2015-05-30 02:06] sudheesh001 opened #93 "Implement tweets with geo tagging and post to twitter (just like twitter)"
- Add geolocations to tweets
- Fetch both the geo tag hash and the actual  location and also POST it to the loklak_server
- Alternatively let the user choose the location

Added by Mario: This functionality is identical to the way twitters displays location information for tweets.

@Orbiter , In case I get the locations of the tweets from twitter, it can be retrieved in both the hash format as wel

[2015-05-30 02:10] sudheesh001 opened #94 "Allow tweet attachments e.g. code as markdown content on loklak"
We can allow tweets to share their tweet in markdown which can be shown appropriately on loklak. Users should also be able to `compose` tweets in markdown and sent it to twitter.

- @Orbiter @mariobehling Discussion needed on if these tweets should be stripped of their markdown attributes and sent to Twitter in plain text without markdown, in that case how how do we store two seperate tweets.

eg.

[2015-05-30 02:11] sudheesh001 opened #95 "Attach images to the posted tweets"
- Image uploads, images can be jpg, png, gif

[2015-05-30 02:19] sudheesh001 opened #96 "Strip EXIF data from images that are going to be uploaded through the app."
@Orbiter The questions to consider here through out the process of discussion of implementation of this feature are

- [ ] Is there a client side service / node service which could be used to strip the EXIF from the images
- [ ] If we do it for each image that's being uploaded, the speed of the application is hampered as the image only uploads after streaming the EXIF information
- [ ] Do we uploa

[2015-05-30 02:26] sudheesh001 opened #97 "Cross posts all posts to twitter to loklak server"
Large tweets that can be displayed on the `loklak_webclient` app which might include markdown and images have to be also sent to twitter but should redirect the users via a shortener share link that goes along with the tweet post so that the tweet can be viewed on loklak app.

eg. Lorem Ipsum  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa

[2015-05-30 02:28] sudheesh001 opened #98 "Implement view of a single tweet using the `id_str`"
Just like the wall and the search options, twitter also can show up individual tweets on the page, we need to implement something similar too. Please also check #97 as a part of this, a part of the problem that needs to be considered while doing this is present there.

[2015-05-30 02:28] Orbiter commented on #93
The Google service for location resolution from the name is too fuzzy and it is also a bad dependency for loklak. Here is what I propose to attach exact locations to loklak rich messages:

- we must be compatible to 'normal' twitter tweets
- we therefore must add exact location information within the tweet text
- we therefore need a syntax to express exact locations
- an openstreetmap url provides

[2015-05-30 02:29] sudheesh001 opened #99 "Implement a logged in session holding all the oauth params active after login."

[2015-05-30 02:36] Orbiter opened #100 "Show all tweets created by loklak with rich content attachments within the search results."
While the search results should be identical to twitter search result views, we want to make use of our own abilities and show the rich content of special tweets that are developed in https://github.com/loklak/loklak_webclient/issues/63

This means, you should share your work to visualize the rich-content tweets. This affects the following formats:
- identify and attach exact geographic coordinate

[2015-05-30 02:38] Orbiter commented on #93
this affects https://github.com/loklak/loklak_webclient/issues/100 - please share the work for the display of geotagged tweets

[2015-05-30 02:57] Orbiter commented on #96
The question, wether or not EXIF has to be stripped must be discussed. There can be two reasons to do that: (1) the official version is, that this is a privacy feature. I don't believe that. The actual picture reveals much more privacy than some details in the exif text (2) I believe that twitter fears, that the exif data is artifically constructed to move along more data than wanted.

For now, I

[2015-05-30 03:21] Orbiter commented on #97
Most important: there are no 'large tweets', only normal 140 character, twitter-compatible tweets with large-text attachments!

For the large-text attachment, I suggest to use http://lab.lepture.com/editor/ https://github.com/lepture/editor for the markdown. Thats easy and compatible to the markdown used here in github.

To publish such a tweet, you do two things:
- push the tweet with the markdow

[2015-05-30 03:50] Orbiter commented on #95
see https://github.com/loklak/loklak_webclient/issues/96 for proposed process

[2015-05-30 03:51] Orbiter commented on #94
see https://github.com/loklak/loklak_webclient/issues/97 for proposed process and markdown editor.

[2015-05-30 05:16] mariobehling commented on #97
@sudheesh001 Thank you @Orbiter for clarifying. In order not to confuse this, I suggest to call any data that does not relate to the 140 characters "attachments". Please help to change this.

[2015-05-30 05:24] mariobehling commented on #97
@Orbiter Thanks for clarifying again on gitter. I changed the title of the issue "Allow attachments to be cross posted to twitter"

[2015-05-30 05:53] mariobehling commented on #94
Just to be sure: The tweet itself, just works in the same way as twitter. There is no additional markdown.

BUT: We have the option of additional rich text attachments and here we can have an editor. As mentioned by @Orbiter please refer to #97

[2015-05-30 06:40] aneeshd16 commented on #99
PassportJS has code to automatically handle this. Will close after tests.

[2015-05-30 07:31] aneeshd16 commented on #99
Tested. Once a user is logged in, the user can visit `/account`, and a session is maintained across browser tabs. Any route that needs an authenticated user can simply use the `ensureAuthenticated` middleware.

[2015-05-30 07:31] #99 closed

[2015-05-30 07:55] aneeshd16 opened #102 "Ability to store created twitter walls with the account"
* User should be able to create a set of twitter walls with different configurations and have them associated with the user's account.
* Requires support from loklak_server for storage.
* Since the accounts servlet can be accessed only through localhost, this requires support through oauth-proxy

[2015-05-30 07:57] aneeshd16 opened #103 "Dashboard view for twitter wall users"
Once a user has logged in and created customized twitter walls, they should be able to view, start and edit them.
* Show a dashboard view with user created twitter walls
* Options to edit a created twitter wall

[2015-05-30 08:11] aneeshd16 commented on #75
Milestone 1: (main objective is to get a minimal wall working)
* Set up a landing page for the wall (#70)
* Set up a getting started page that will ask the user for options and create the wall accordingly (#71)
* Create a base layout. (#72). I would start with implementing the linear (list) layout first, and then other layouts if possible within the timeline.

Milestone 2: (Personalization)
* User

[2015-05-30 08:41] Orbiter commented on #102
I propose to store the configuration together with authentication json in a property 'apps'. Thats already implemented! Set apps to a json like
[code]
so every loklak app can add their property too.

[2015-05-30 08:43] aneeshd16 commented on #102
Perfect! Is there a limit on how much data can be stored? Lets say, if i wanted to store a base64 image inside the JSON, would it be okay?

[2015-05-30 09:54] fuksi commented on #60
Features and tasks :

Layout from to #60 and integrated with AdminLTE.

Detail requirement (**X is done**):

### MILESTONE 1 TARGET: able to render all available kinds of tweet.

1. Normal tweets without links or pictures
 + Avatar, Screen_name, tweet's age **X**
 + Onclick: show created time, full date, and Detail (to open tweetlink) **X**
 + Action list: Reply, Retweet, Favorite, More (Copy link

[2015-05-30 10:08] fuksi commented on #98
How it works currently on twitter is when you clicked for  ```Details```, the individual tweet is opened in a separate window/tab. If we create this view as a new state, e.g. ```/tweet/some_ID```, it's totally possible, except the fact that mark up on ```/search?q=...``` is gone, and the user have to do the search again (says he/she wants to back to the search results).

I suggest the we can creat

[2015-05-30 10:10] fuksi commented on #97
@sudheesh001 I just posted a new suggestion about the new route for individual tweet on #98

[2015-05-31 04:57] aneeshd16 commented on #98
@fuksi We can have two views:
1. An isolated tweet view. `/tweet/some_ID` if someone has linked to that individual tweet.
2. A popup modal like you suggested if someone wants to view the tweet from a search result.

[2015-05-31 11:10] fuksi commented on #98
Agree. I'll create an issue for this in my feature, and close this issue when i'm done :)

[2015-06-01 04:41] aneeshd16 commented on #72
Linear Layout:
![image](https://cloud.githubusercontent.com/assets/5436027/7906308/7bdc1c88-0846-11e5-92d2-d341866f7b90.png)
Need to find a way to isolate the view.

[2015-06-01 05:00] sudheesh001 commented on #98
As @aneeshd16 suggested, its best to go with both. an isolated view so that someone can directly land onto the tweet and also the popup modal in case someone clicks on a tweet on the tweet homepage

[2015-06-01 05:36] sudheesh001 commented on #96
@Orbiter So we deliver the image to `loklak_server` which gives us the URL of the image, which we'd be sending to twitter right, Will twitter be able to open this like an image embed in the tweet or just share a link ? Is the image storage service already present on the `loklak_server` ?

[2015-06-01 05:43] sudheesh001 commented on #72
@aneeshd16 Looks great so far, How about a small change, put the main hashtag in the center and the event name to the left side and put something like `Powered by Loklak` in the blue area at the right side with a smaller text, that'd give a beautiful UI UX when the sidebar is collapsed, Also, At the same time keep the right side of the grid like
[code]
We'll try to put up live visualizations over

[2015-06-01 05:45] aneeshd16 commented on #72
@sudheesh001 , i want to remove the sidebar and topbar altogether for the wall. It is not required when the wall is on.

[2015-06-01 05:49] sudheesh001 commented on #72
@aneeshd16 I think opening this page with the sidebar collapsed by default should do well, the `3 bar` icon is what many users know as menu and it'd be great to have the navigation there itself than to clutter the top navigation, Lets keep the top nav bar for the user profile and different other settings or notifications.
The default collapsed view would be perfect for organizations using our twee

[2015-06-01 05:53] aneeshd16 commented on #72
I was basically aiming for this
![image](https://cloud.githubusercontent.com/assets/5436027/7906943/5c0a5ab4-0850-11e5-96dd-612d508c1c4b.png)

Having a clean view without navigational links. When running in kiosk mode, on a big screen, navigation is not really necessary and adds some clutter. What do you think?

[2015-06-01 05:56] mariobehling commented on #72
@sudheesh001 @aneeshd16 Let's think about the use case: The wall should work for logged in user and for anonymous users. You can have an event with several walls in different rooms and you want your tweet wall to be displayed everywhere. It is not necessary to login. How can we make this unique? How do others do this? On tweetwall.com they do a subdomain for example e.g. xyzevent.tweetwall.com. Wh

[2015-06-01 05:59] aneeshd16 commented on #72
@mariobehling , since we are starting with only anonymous users, (Authenticated users are in milestone 2), I propose we put all the parameters in the URL.
`/wall/display?eventName=abcd&mainHashtag=loklak...`
The URL would look very messy, but since it will be running in full screen, it wont be visible.

[2015-06-01 06:06] sudheesh001 commented on #72
@aneeshd16 That's exactly how I wanted it to be too. the right side instead of leaderboard lets have piecharts / other visualizations.
@mariobehling I think using `/wall?event=fossasia&hashtag=fossasia` would serve this purpose.

How about providing the wall with the functionality from the authenticated user to control the wall settings or use different widgets, One great plugin most conferences n

[2015-06-01 06:09] mariobehling commented on #72
@aneeshd16 This is a nice feature, but how can I go back later and change the wall? I can do it in the URL, but most users won't be aware and know how to do it. Maybe something like an autohiding top bar would be good and a link "Wall Preferences".

[2015-06-01 06:11] aneeshd16 commented on #72
Exactly. On the same page, there will be maybe a gear icon somewhere, which will lead back to the configuration screen.

[2015-06-01 06:17] mariobehling commented on #72
@sudheesh001 Yes, we want widgets to choose from on the leaderboard. That is the idea. Regarding anonymous and logged in users. The wall is already defined through the URL. For logged in users we can have the option "save wall" and provide them with a shorter URL, that they can share.

So, for the question "who controls the view", it does not matter, cause it is defined in the URL.

[2015-06-01 06:19] sudheesh001 commented on #72
so @aneeshd16 Are you suggesting that we offer the gear option for preferences for the application to any of the authenticated users or owner to one specific user ? Are we going to dedicate a specific /wall to a user so that only he/she can make the preference changes ?

Why not going for this instead ? `/username/wall?`
That way the wall can be accessed by the username and is registered to them w

[2015-06-01 06:20] mariobehling commented on #72
@aneeshd16 In the URL maybe instead of the eventname, we should have a unique ID number here. Also, we can also imagine a wall for other use cases, not just events. Think of advertising, company walls, sports etc.

[2015-06-01 06:21] aneeshd16 commented on #72
Both authenticated and anon users will get the same wall and same url. Only difference will be that authenticated users will be able to save that URL with their account. How's that sound?

[2015-06-01 06:22] mariobehling commented on #72
@aneeshd16 sounds good to me. And a future feature is a unique URL they can save as well.

[2015-06-01 06:28] aneeshd16 commented on #72
1. @mariobehling , the string "Event Name" will not be displayed on the wall. Users can enter whatever they want in the `eventName` and even leave it blank.

For eg: If i enter "This is my wall" in `eventName`, it wont be displayed as
`Event Name: This is my wall`
It will be displayed only as
`This is my wall`.

In this way, the `eventName` field can contain the name of a brand, product, company o

[2015-06-01 06:45] mariobehling commented on #72
@aneeshd16
1. The question is then what is the unique URL? There must be one unique identifier in the URL. The unique identifier should be a number, that is generated in the system. Several different events, brands, products can have the same name in different countries. So the name should not be the unique identifier. I also prefer to avoid "eventName" as we are not only targetting events. If pos

[2015-06-01 06:50] aneeshd16 commented on #72
Why do need an unique URL? If all the parameter fields are same, then the same wall will be displayed, irrespective of who creates it. And that is the desired result, I guess.

I think I am missing your point on this though :)

[2015-06-01 07:33] mariobehling commented on #72
I was following other thoughts - that you generate an id based on the name of the event. Ok, got it now. Ok, good idea, excited to see the result!

[2015-06-01 18:24] aneeshd16 opened #106 "How to deliver results with OR operation of parameters"
Currently, when a search query is sent to `api/search.json`, it returns only results which contain ALL the query parameters.
For eg, if if my query is `q=@aneeshd16 #loklak``, it would return tweets containing BOTH the @aneeshd16 mention and the #loklak hashtag. This also corresponds to twitter's own search where an AND operation is used.

However, the desired functionality is an OR operation. Res

[2015-06-01 19:03] sudheesh001 commented on #63
### Feature List
1. Enable the application and user capability to post tweets to twitter
2. Enable geo location and tweets coupled with geolocation to be posted to twitter
3. Enable displaying the geo location marker on our application via open street maps.
4. Integrate markdown support to tweets and send them to loklak_server, retrieve the image and post to twitter
5. Attaching video / audio cont

[2015-06-01 19:46] aneeshd16 opened #107 "Implement short URL's for long (and messy) wall URL's"
Wall URL's will be long and tamper prone: ` /wall/display?eventName=abcd&mainHashtag=loklak...`
This feature will create a unique ID for that URL and store it in the backend. Loklak server already has provisions for storing arbitrary data using the `apps` object.

For eg:
`/wall/display?id=some_id` will redirect to `/wall/display?eventName=abcd&mainHashtag=loklak...`
We can also have something lik

[2015-06-02 06:40] aneeshd16 commented on #56
No longer relevant.

[2015-06-02 06:40] #56 closed

[2015-06-02 18:18] aneeshd16 opened #108 "Set up a preview of the wall's design on the wall configuration page"
Related to #71
Create a preview of the wall's design.
Options are:
* Layout style
* Header colour
* Header position (Top/Bottom)

This also involves creating image assets to use in the preview.

[2015-06-02 18:30] sudheesh001 commented on #80
Hi @aneeshd16 ,

I've pulled from upstream and tried to see if this is working and maintaining a session, I am facing the following problems.

Firstly,
[code]
All the Twitter consumer keys and other details for the app are correct, at times It lands me to an `ERR CONNECTION REFUSED`

``` GET http://loklak.net:3000/auth/twitter/callback?oauth_token=<TOKEN>&oauth_verifier=<Other secure stuff> net::E

[2015-06-02 19:45] aneeshd16 commented on #80
@sudheesh001 , please check if your keys are in `custom_configFile.json` and not `configFile.json`. Also see if you can `console.log()` them. Apart from this I cant think of what might be causing this since the auth code is unchanged. Its most likely a problem in reading the keys.

[2015-06-03 04:54] sudheesh001 commented on #80
I have the keys present in the `custom_configFile.json` itself, Still reproducing the same error, the CONNECTION REFUSED after doing /auth/twitter

[2015-06-03 04:57] aneeshd16 commented on #80
My config file looks like this
[code]
In index.js, after line 7, can you do a `console.log(config);` and see what happens?

[2015-06-03 05:03] sudheesh001 opened #109 "Post on behalf of an organization for allowed members"
I was speaking to a few members of the Mozilla community about loklak and how for the upcoming events we could use this as a tweet wall and a stat analyzer, They came up with a requirement which they believed would be important for most other open source organizations who want to use this platform.

Say for example, Mozilla India signs up with our service, they have the option of setting a few of

[2015-06-03 05:05] sudheesh001 commented on #80
I am able to get all the details, my hosts file has 127.0.0.1 aliased to loklak.net, so my twitterCallbackUrl is `http://loklak.net:3000/auth/twitter/callback`

[2015-06-03 08:40] mariobehling opened #110 "Implement a realtime display of tweets on a map"
The user select a region on the map and loklak_server delivers coordinates with a geoJSON to be displayed. The map shall then draw markers on the map and pop up small text speech bubbles containing the tweet text. Your part is it, to identify new tweets and animate them (not all at once) if more than one is new. This is repeatet again after a give time has passed (time is given in the server respo

[2015-06-03 15:47] prasht63 commented on #110
### Idea
The idea is to develop a standalone tool to let the user draw a box on the map using drag action and then display realtime tweets in the bounding area.This will be coupled with a Search feature at a later stage where the user will be able to filter by Country,City,Places.

###Features
* A standalone tool which a user can without any login.
* A user can select a area on map by drawing a re

[2015-06-03 16:53] sudheesh001 opened #111 "CSS Breaks happening after adminLTE integration"
After the latest patch, the adminLTE strangely disappeared for me and it reverted back to the older template with the gray and black borders. I've informed this to @aneeshd16 in the morning when we were discussing and tried to set up a new instance on my local machine, I am encountering the following error now

[code]

[2015-06-03 17:22] prasht63 commented on #111
It happened with me too, in my case it was I think due to network connectivity error, because once I reconnected to net it was working fine.

[2015-06-03 18:32] aneeshd16 commented on #111
Same here. Happens only once, a retry usually fixes it.

[2015-06-03 20:39] fuksi commented on #111
This error is not so critical, it's because of the current version of gulp-sass. Though I don't think we should increase the version no. to a higher one just to fix these.

Before gulp dev, do a  ```npm clean cache```, and then ```gulp dev```.
I just use this 'cause I'm very lazy
[code]

[2015-06-04 06:44] mariobehling commented on #110
Looks good to me as a start. Would be great to see mockups. Regarding the "draw function of a rectangle", I am not sure why we need to draw a rectangle. Just show all the tweets available for a hashtag (or several) or other relevant searches in a specific area.

[2015-06-04 08:57] prasht63 commented on #110
As discussed with Michael we are doing this as a standalone feature initially so should we create a new repo on loklak or should I start with a new branch in loklak_webclient?

[2015-06-04 08:58] prasht63 commented on #110
The need for a rectangle is to select a area as per users requirement.That feature what you are saying will be present by default.I will soon upload mockups then it will be a lot clearer.

[2015-06-04 09:28] sudheesh001 commented on #110
I think you should go with a new branch, that'll make it easier to keep all the issues in one place rather than scattering across different areas.

[2015-06-04 09:50] aneeshd16 commented on #111
As i understand, doing an `npm clean cache` deletes the global npm cache, wouldn't it slow down things when you do an `npm install` later?

[2015-06-04 10:07] sudheesh001 commented on #111
I am still facing the same issue.

[2015-06-04 10:15] Orbiter commented on #59
This feature will be supported by loklak_server issue https://github.com/loklak/loklak_server/issues/31

[2015-06-04 19:09] Orbiter commented on #107
wouldn't be a loklak_server-internal link shortener be a good solution for that? I believe a link shortener within loklak was on the list what we wanted to do.
@mariobehling whats your suggestion?

[2015-06-04 19:21] Orbiter commented on #106
OR support has to be exactly the same as implemented in twitter. This is not yet supported in loklak_server. While this looks simple in the first place, it's not if you consider that the solution must be a complete implementation of any logical term parsing and normal form generation out of that to create an appropriate elasticsearch query.
The implementation has already startet; tracked with issu

[2015-06-04 19:22] Orbiter commented on #102
There is no limit yet. Should we set one?

[2015-06-04 19:30] Orbiter commented on #100
Are there already fine-specified issues for this umbrella-feature? If not, please open these issues.
You get support for the content of cross-posted tweets by the backend. There will be servlets to create preview-images for rich tweets:
- for tweets with locations: https://github.com/loklak/loklak_server/issues/39
- for large texts with markdown: https://github.com/loklak/loklak_server/issues/40
-

[2015-06-04 19:32] Orbiter commented on #100
see also: https://github.com/loklak/loklak_webclient/issues/97

[2015-06-04 19:33] aneeshd16 commented on #106
I am not familiar with elasticsearch, so I can't comprehend the complexity, but great to know that this will be implemented!

[2015-06-04 19:33] Orbiter commented on #97
for cross-posting, there will be support by loklak_server to create content to be posted to twitter as image.
The issues in loklak_server are:
- for tweets with locations: https://github.com/loklak/loklak_server/issues/39
- for large texts with markdown: https://github.com/loklak/loklak_server/issues/40
- for image attachments: https://github.com/loklak/loklak_server/issues/42

[2015-06-04 19:34] Orbiter commented on #96
not yet, it will be delivered in an generic 'asset' servlet which may store even more data types. see: https://github.com/loklak/loklak_server/issues/42

[2015-06-04 19:36] Orbiter commented on #95
storage of such images will be with https://github.com/loklak/loklak_server/issues/42

[2015-06-04 19:38] Orbiter commented on #94
for the text preview, there will be support by loklak_server, see https://github.com/loklak/loklak_server/issues/40 - this image shall be attached to the cross-posted tweet to twitter

[2015-06-04 19:40] aneeshd16 commented on #102
Other apps (like the ones rendering images of maps) would store any amounts of images with an account. While there is no need for setting a limit now, there could be space constraints later. I am not sure about this, I leave that to you.

[2015-06-04 19:45] Orbiter commented on #102
maps shall not be stored in that way but generated on-the-fly using the feature in https://github.com/loklak/loklak_server/issues/39

[2015-06-05 02:32] sudheesh001 commented on #94
@Orbiter What is the API usage for this feature on the loklak_server ?

[2015-06-05 02:44] sudheesh001 commented on #111
Fixed this issue, another problem that I noticed is that running `gulp dev` instead of `node server/index.js` opens up the page on 3000 port rather than the 3001 port. We should default the opening up of the browser tab with port 3001 on `gulp dev` too

[2015-06-05 02:51] sudheesh001 opened #112 "side Navbar on collapse should show loklak logo instead of word text"
Will fix this by tonight,

[2015-06-05 07:16] aneeshd16 commented on #111
@sudheesh001 , how did you solve it?

About running on different ports, it works right now, so why change it?

[2015-06-05 08:19] sudheesh001 commented on #111
I think the problem was that the node server when started, is just serving the content that has to be served, It was strangely by default not running the gulp dev and recompiling all the less files / css files to the build/ directory, a new clone fixed the problem

[2015-06-05 08:19] #111 closed

[2015-06-05 12:16] Orbiter commented on #94
a stub for the feature was just uploaded and is life. Use the following attributes:
The GET/POST (preferred: POST) parameters are:
text:the markdown text; must include line breaks for line breaks in the resulting image
color_text: RGB color of the text
color_background: RGB color of the text background
padding: number of pixels around the text (leave empty for default number 3)
uppercase:boolean (

[2015-06-05 17:28] aneeshd16 opened #114 "Set up a production environment so that the webclient can be deployed"
Since, we now also use a node server, deploying just the `build` directory won't do.
Running the node server independently (without `gulp dev`) shows a ENOENT error, as it now has a different root path. I have two possible solutions:
a. `gulp prod` should copy all files within the `server` directory to a `deploy` directory and the frontend code is generated in `deploy/build` directory. This separa

[2015-06-05 19:31] #88 closed

[2015-06-05 19:34] #64 closed

[2015-06-05 19:35] fuksi opened #115 "Render tweets with video"
+ Show link/thumbnail at first, load video as tweets are in focus
 + If video is tweet video, use iframe with given source in loklak result
 + Else:
  - Show logo, source of video (Youtube, Vimeo, Fp, etc..)
  - Request for embeded url of a html5-video-container

[2015-06-05 19:39] fuksi opened #116 "Render tweet with attached link"
+ Link is shortenned, by e.g., bit.ly, and already included in the tweet text
 + Debug the link (like Facebook Debugger) to get appropriate thumbnail and description
 + If "debuggable", remove link from the text. Define arbitrarily what will be showned along with the link, with the information got from the debugger

[2015-06-05 21:48] Orbiter commented on #97
for the retrieval of preview images for cross-posting, see the description of https://github.com/loklak/loklak_server/issues/39#issuecomment-109448270 for cross-posted maps

[2015-06-06 08:03] aneeshd16 opened #117 "Enable topbar for all users and sidebar+topbar for logged in users"
All users will have a topbar that will have the main menu items like
* Home
* About
* Search
* Wall

Logged in users will also have a sidebar that will contain account related links.

### Implementation
Will use `ng-if` and `ng-class` directives to selectively hide/show elements based on a variable defined in the root scope.
The var is `root.sidebarEnabled` defined in `js/on_run.js`. The default v

[2015-06-06 08:03] fuksi opened #118 "Create a modal for creating a new tweet."
- Create a button to create a new tweet
- When click on button, pop up a modal (like tweet-modal) with a form to submit a new tweet.

[2015-06-06 08:04] fuksi opened #119 "Create a initial view for unauthorized users / to log in"
Create a new route to login from frontpage
and a modal to login directly from the current view.

** Updated: details **
When accounts feature is completed from #74 and others:
- Create a global directive to manage authentification status, ran higest priority when load page
- If not loggin:
   - Show a initial view like e.g. https://github.com/loklak/loklak_webclient/issues/119#issuecomment-1216890

[2015-06-06 08:51] aneeshd16 commented on #117
This has been solved. Will be there in the next pull request.

[2015-06-06 09:34] mariobehling opened #120 "Propose Service/Projects to aggregate for loklak as search and tweet engine for the Internet of Things"
As a first step we are supporting twitter in loklak. Additional data providers can be other web services or machines - The Internet of Things. A core functionality in loklak is the aggregation of machine readable data, the evaluation of the data, and the conversion to human readable structure that are useful. These can be displayed in views such as a) maps with points, lines, colored areas etc., b

[2015-06-06 09:58] sudheesh001 commented on #88
@fuksi Amazing work. It looks beautifully flat now :heart_eyes:

[2015-06-06 10:06] sudheesh001 commented on #80
@aneeshd16 I am still facing this issue, Can you help me resolve this as this is required for me to progress with the rest of my work, Here's the complete stack trace
[code]

[2015-06-06 10:07] Orbiter commented on #114
Good that you open this issue. What I want to do is:
- not care about a branch. I want to deploy the main branch automatically, so please shift into main whatever is safe to run.
- I want to make your progress visible, even if it's incomplete or not functional at that time. If the function is a stub and not working, just write on it 'this is a stub, not working yet' (in the interface) so everybody

[2015-06-06 10:22] fuksi opened #121 "Create a authenticated session with JWT"
Authentification from other project should be finished at this point.
Use JWT to maintain session between views.

[2015-06-06 10:44] fuksi opened #122 "Conversations in search view"
From twitter search, you can browse the conversation and reply to a certain tweet in the conversation.
Technically they are not 'replies', they are just tweet, that mention at least the OP and related to a certain tweet.

With only status ID, I can't yet evaluate the relations between tweets to make a conversation.
@Orbiter what do you think?

Quick example: https://twitter.com/codinghorror/status

[2015-06-06 10:46] fuksi opened #123 "Create a modal to retweet tweet"
This can only be a modal, not a view. A separate view would remove the context of the action "retweet".

[2015-06-06 10:49] fuksi opened #124 "Extra action on tweets"
Enable user to favorite a tweet
Enable user to also share the link via mutliple social media
Other than share link, user should be able to export current view, e.g. ```/search``` or ```/wall``` or ```/tweet```...

[2015-06-06 10:59] sudheesh001 commented on #114
I think using github deployment hooks https://developer.github.com/guides/delivering-deployments/ is the best way, but this means the following

#### Advantages
1. One time setup to the server from the master branch
2. Easy to put up a few setup scripts so that the shell file / deployment script can automatically do all its operations and do the required setup of the new code on the server
3. Secu

[2015-06-06 11:34] mariobehling commented on #120
Let's collect some service where we can get data:

Yet Another Haze Index (Yahi) http://rolandturner.com/yahi/ | http://rolandturner.com/yahi/developers | https://github.com/rolandturner/yahi

Freifunk-Karte http://www.freifunk-karte.de/ | https://github.com/ffansbach/nodelist

Sahana Eden Disaster Management: E.g. http://nepal.sahana.io/eden/req/req

Ebola Data Availability: http://eden.sahanafou

[2015-06-06 12:13] fuksi opened #125 "Analyze the composition of twitter search results"
The default results of twitter search are composed with different parts, which are inserted to the general results. Analyze the logic behind those parts, and create new issues to implement those:

Those part includes:
1. Accounts
![image](https://cloud.githubusercontent.com/assets/6878677/8019566/526ad594-0c5e-11e5-8699-503d5d5e5b94.png)
2. Most? favorited
![image](https://cloud.githubusercontent.

[2015-06-06 12:39] sudheesh001 commented on #125
Wouldn't this be better for the server to keep mining the information it has and serve the information accordingly in its responses ?

[2015-06-06 12:53] fuksi commented on #125
Take [this search](https://twitter.com/search?q=%23vow&src=typd&vertical=default) for example
I'm guessing that loklak server is only mining the ```Live``` view, tweet by tweet. The ```Top``` views are organized differently. In fact I don't know how it is evaluated, like, tweet with most reply first, or with most retweet first... It's might be too much/inefficient for the server to mine the ```Top

[2015-06-06 12:55] sudheesh001 commented on #122
:+1:

[2015-06-06 12:56] fuksi opened #126 "Enable user to choose color for their AdminLTE themes"
AdminLTE can be changed by included a different theme color css file and change class in body.
- Enable the options
- Combine all color theme css file to reduce http requests.

[2015-06-06 13:21] #80 closed

[2015-06-06 14:29] Orbiter commented on #122
right now I don't have a data structure ready to have references for the conversation. The only option I see right now is, to simulate a conversation history by just doing a query for the name of the conversation starter, like here: search for @codinghorror and restrict it with from:<date> to the date of the conversation starter and with until:<date> to a date not more than 24h after the conversat

[2015-06-06 16:12] prasht63 opened #128 "Top NavBar does not collapse on Screen Resize"
![image](https://cloud.githubusercontent.com/assets/2105062/8020324/4d2310ae-0c92-11e5-908b-677882284774.png)

[2015-06-06 19:08] fuksi commented on #59
@Orbiter, this is now ready from the front end.
Currently, it will use the given img as the placeholder.
The current parameter for the request to the server is
[code]
Please open this issue again when server is ready, and comment here if the query url structure changes.
Cheers!

[2015-06-06 22:13] sudheesh001 commented on #38
Can be closed after trials patching https://github.com/loklak/loklak_server/issues/43
Currently the auth maintains sessions and throws error
`The user was not saved in loklak_server. Handle this error` which is present at https://github.com/loklak/loklak_webclient/blob/76eccf6a7c6a17cadc67df98ad89e4cff997a043/server/index.js#L73

[2015-06-06 22:14] sudheesh001 commented on #128
The responsiveness is breaking because of the right side bar i believe.

[2015-06-07 07:12] fuksi commented on #116
Summarize the steps:
- Create a directive inside status directive to contain the debugged result with separate template.
- In the new directive recipe, pass in current status text, filter text to get external link
- Meanwhile, create a service in SearchService to debug the link
- Successful debugging should result embedding tags
- Interpolate the tags
Profit!

[2015-06-07 07:25] aneeshd16 commented on #128
It is because of the right side bar. Works fine when only top nav is present.
![image](https://cloud.githubusercontent.com/assets/5436027/8023023/4a0ac056-0d14-11e5-9ae3-cd406d51a70f.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8023026/510c82f4-0d14-11e5-959e-79e73afd8df4.png)

[2015-06-07 09:38] fuksi commented on #114
I'd like to emphasize that no matter what the process is, the node server will be restarted very server related deployment. But an automation script could not determine itself, if the patch is server related. For e.g. if I just push some css change, it shouldn't do ```npm install; node server.js..```

I suggest moving the node server to a submodule, then it is ran/deployed separately. And the auto

[2015-06-07 16:18] Orbiter opened #130 "app crashed - Error: Cannot find module 'request'"
I cannot test or deploy main because it crashes.
[code]

[2015-06-07 16:32] aneeshd16 commented on #130
Did you also do an `npm install` inside the server directory?

[2015-06-07 16:41] aneeshd16 commented on #114
This article looks to be helpful
http://seanvbaker.com/using-git-to-deploy-node-js-sites-on-ubuntu/

[2015-06-07 17:36] Orbiter commented on #130
oh no ...
ok its working!

[2015-06-07 17:36] #130 closed

[2015-06-07 19:07] aneeshd16 opened #131 "Angular controllers fail to work on gulp prod"
The problem is that some parts are minified. And the code that uses those parts is not able to understand the minified form.
This gives a possible solution. Need to check.
http://stackoverflow.com/questions/18950181/javascript-error-unknown-provider-tprovider-t-after-rails-minification-angul

[2015-06-07 19:25] aneeshd16 commented on #131
Linked to #114

[2015-06-07 20:47] mariobehling commented on #109
@sudheesh001 Let's build a MVP (minimum viable product first). This can come later.

[2015-06-07 22:38] fuksi commented on #131
Done with pull https://github.com/loklak/loklak_webclient/pull/132

[2015-06-07 22:51] fuksi opened #133 "Gulp prod errror"
@loklak/loklak_developers

At the moment we can't deploy on live because of this error.
If you can at least try to deploy ```gulp prod``` with the latest master to see if the error is environment related.

@julianfox, this seems to be original gulp related, do you have any info on this?
[code]
http://i.imgur.com/Gy2xFf5.png

P/s: It works fine with my remote server, fresh ubuntu14.04, npm 1.3.10,

[2015-06-08 06:12] prasht63 commented on #128
So do we need side bar? For now I have solved this with side bar.Should I submit a pull request it for review?
![image](https://cloud.githubusercontent.com/assets/2105062/8028885/60a11ac6-0dd3-11e5-8244-49031c444656.png)

[2015-06-08 06:12] sudheesh001 commented on #120
Data Govt of India - https://data.gov.in/
Socrata Data sets - http://www.socrata.com/top-open-data-datasets/
Weather data - http://www.wunderground.com/weather/api/
Weatherbase - http://www.weatherbase.com/
World bank - http://search.worldbank.org/api/v2/projects
NASA  - https://data.nasa.gov/developer

[2015-06-08 06:17] sudheesh001 commented on #128
@prasht63 Good work.
Tip: An easier way for you to test responsiveness is by using Chrome's inspector instead of resizing the screen :+1:
Press Ctrl + Shift + I and in the inspector box that pops up, next to the search icon, there'll be a mobile icon, Click on that to toggle responsiveness on/off. Once you click on it, you'll have a black ruler on top and left side and a drop down.
![responsive](h

[2015-06-08 06:29] mariobehling commented on #133
@fuksi what is the link to your remote server?

[2015-06-08 06:31] prasht63 commented on #128
Yes I do use it, but the emulator on my browser is not working fine after update.Anyways thanks for the info I will stick to it.
Also whats the status on sidebar? Should I send a pull request?

[2015-06-08 06:35] aneeshd16 commented on #128
The sidebar has been disabled by default by the latest merge. I am not sure how the sidebar will be used, it's still under discussion. But you can commit the responsive sidebar all the same if it works okay.

[2015-06-08 06:37] sudheesh001 commented on #128
@prasht63 Yeah sure, PR the sidebar, I'll review it, if its responsive and works, there's no reason not to add it in.

[2015-06-08 07:14] mariobehling opened #134 "Import open data continuously and script account creation in loklak"
Let's think of how we can add information from Open Data portals and the Internet of things to loklak. As loklak will get more useful organizations will add data to loklak themselves. For the beginning we need to make the service useful and add data we find automatically.

I see the following steps. How do we automate these?

1. Crawl the web with our search engine and find suitable JSON files for

[2015-06-08 07:23] fuksi commented on #133
Here is a static one: http://users.metropolia.fi/~dinht/build/
I'll turn on the another in a moment.

[2015-06-08 07:32] mariobehling commented on #133
empty page for me

[2015-06-08 07:36] prasht63 commented on #120
Earthquake Data :
http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php

On Mon, Jun 8, 2015 at 11:42 AM, Sudheesh Singanamalla <
notifications@github.com> wrote:

[2015-06-08 09:57] mariobehling opened #137 "Change top bar to reflect twitter top bar / delete left sidebar"
At the moment AdminLET is our basis for development. But: This is just a way to start. We need to develop our own design and should reflect current design standards of twitter. The three column layout should also work for us. The LTE sidebar is not fitting into this design.

1. Please change our top bar to reflect the twitter top bar and include search.
2. Please delete the left sidebar.

[2015-06-08 10:04] aneeshd16 commented on #71
Shelved temporarily.

[2015-06-08 10:05] aneeshd16 commented on #70
Shelved temporarily.

[2015-06-08 10:05] #70 closed

[2015-06-08 11:29] sudheesh001 commented on #78
Not reproducible now.

[2015-06-08 11:29] #78 closed

[2015-06-08 11:36] mariobehling commented on #92
@sudheesh001 I do not find an issue where you implement authentication for loklak. Am I missing something? What is the status on authentication?

[2015-06-08 11:38] fuksi commented on #131
@loklak/loklak_developers
This is not solved. I'm opening this again.
If we can't find a solution, I suggest that we don't minify main.js when deploying for now.

**P/s i was also advised not to minify angular at all**

[2015-06-08 11:54] mariobehling commented on #126
At the moment we don't know if AdminLTE is the future. We probably need a designer to make a new theme. Therefore the theme color for AdminLTE has a lower priority.

[2015-06-08 11:57] mariobehling opened #138 "Implement user accounts and authentication"
Please align the implementation of user accounts and authentication with other related tasks. Before we can authenticate with twitter, we need to be clear about how we implement authentication in loklak. What are your suggestions? This is kind of a basic feature that has a high priority.

[2015-06-08 12:14] mariobehling commented on #92
Related issue https://github.com/loklak/loklak_webclient/issues/138

[2015-06-08 12:16] aneeshd16 commented on #138
### General Notes
1. Sign in using Twitter has been done. Navigate to `/auth/twitter` and the auth flow begins.
2. After auth, the `req.user` object contains all the user data including token and token_secret.
3. User data is also sent to loklak_server after login. Keys and user profile data can be retrieved thereafter.
4. For implementing any kind of twitter related actions, I would recommend to

[2015-06-08 12:21] mariobehling commented on #138
@aneeshd16 What is missing? How can the user sign in at loklak?

Do you mean? - http://loklak.net/auth/twitter

[2015-06-08 12:36] sudheesh001 commented on #138
@mariobehling Yeah that's how the user logs in.

[2015-06-08 12:37] sudheesh001 commented on #92
@mariobehling Authentication and getting the basic server was implemented by me and Aneesh since most of it was overlapping work. Once that was complete, that patch fixes the ability to post to twitter.

[2015-06-08 12:39] mariobehling commented on #138
@sudheesh001 Did you try that link? Not working atm.

[2015-06-08 12:40] mariobehling commented on #92
@sudheesh001 Where can I try that out? Did you contribute that to main? Please set up a client on a server of yourself, where everyone can try out your current developments.

[2015-06-08 12:41] sudheesh001 commented on #138
Yes it works on local, are the app keys and secrets put correctly on the application config as well as the twitter app ? I documented the details into the readme file.

[2015-06-08 12:42] sudheesh001 commented on #92
Yes @mariobehling It's already present in the main
bf72c93608e4d20512d9fb0dcefd2d79754c066c
0678b3f5196470f9b366c14141cf909bf6850bca
373df97ff4801a0eb482aa02ceeab82a89caea08 (Patched it together that night, Auth layer here)

[2015-06-08 12:47] prasht63 commented on #138
@Mario I think currently due to #131
<https://github.com/loklak/loklak_webclient/issues/131> and #133
<https://github.com/loklak/loklak_webclient/issues/133>
http://www.loklak.net is not working properly.

On Mon, Jun 8, 2015 at 6:11 PM, Sudheesh Singanamalla <
notifications@github.com> wrote:

[2015-06-08 12:47] mariobehling commented on #138
Look, everyone should deploy a test version on an online server, where we all can test. We already had a discussion about local vs. online yesterday. Time is limited and it is not my goals to figure out server setups. I would like to test stuff. Issues should only be closed when they clearly work online on loklak.net as well. Does this make sense to you?

[2015-06-08 12:48] mariobehling commented on #138
@prasht63 have you set up the client on a server of yourself yet?

[2015-06-08 12:50] mariobehling commented on #138
@prasht63 Could you help to fix this, please?

[2015-06-08 12:52] prasht63 commented on #138
yes I have set it up <http://prasht63loklak.eu-gb.mybluemix.net/> but its
not working properly. I am looking as soon as I have running one I will
post it on the group.

On Mon, Jun 8, 2015 at 6:18 PM, Mario Behling <notifications@github.com>
wrote:

[2015-06-08 13:08] prasht63 commented on #128
Since this has already been solved with the latest commit.So closing.

[2015-06-08 13:22] mariobehling commented on #138
@prasht63 Where are the map parts that you made? How can I test and access it?

[2015-06-08 13:33] prasht63 commented on #138
Hi
currently its not online.I am trying to put it online.If you have
loklak_webclient locally set up, you can go to localhost:3000/map to access
it.For the preview you can see the screen shots I am attaching here.[image:
Inline image 1]

On Mon, Jun 8, 2015 at 6:52 PM, Mario Behling <notifications@github.com>
wrote:

[2015-06-08 13:35] mariobehling commented on #138
I can always set it up locally, but my interest is to see loklak running on a server. At the moment, it looks like none of the devs is able to set up a loklak server running without issues on the web. @/all Please keep it up! Hope to see some progress today.

[2015-06-09 02:23] sudheesh001 opened #141 "Production issues with modules not found errors"
[code]
@aneeshd16 @fuksi @prasht63

[2015-06-09 05:33] sudheesh001 commented on #131
@fuksi I think its best not to minify the files at all, Let us serve them directly without going through the minifying process, I've been working on this too since morning, its just because of the minifying that all the issues throw up. Can we exclude main.js from being minified.

[2015-06-09 05:35] aneeshd16 commented on #131
@sudheesh001 , the size difference is too much. Minified files are ~700KB, while i think the unminified are around 4MB.

[2015-06-09 05:46] sudheesh001 commented on #131
As of now lets prioritze, saving bandwidth isn't really the issue right now, it can be an optimizationm, we need to get the functionality up and running faster. Lets clean up later, the npm install process is also humongous with lots of libraries, it seriously needs a cleanup.

[2015-06-09 05:47] sudheesh001 opened #142 "Clean up unused libraries with the npm install packages."
The repository is bulky as of now with lots of packages, we are not sure if we're even using all the packages, this definitely needs a clean up.

[2015-06-09 06:29] fuksi commented on #141
```npm cache clean``` worked for me

[2015-06-09 06:31] aneeshd16 commented on #142
Agree. Can you test and then document?

[2015-06-09 06:58] prasht63 commented on #131
@Sudheesh +1
On Jun 9, 2015 11:16 AM, "Sudheesh Singanamalla" <notifications@github.com>
wrote:

[2015-06-09 07:11] fuksi commented on #131
I'll still try out some approaches today. 4.4mb to 700kb is a big difference. Chrome dev tools literally freezed 10-15s to interpret the whole thing locally, but on live, it was only 1-2s.

[2015-06-09 09:12] mariobehling commented on #137
Any update?

[2015-06-09 09:38] sudheesh001 commented on #137
Was stuck with the deployment problem, Will fix this after the discussion with @aneeshd16

[2015-06-09 09:46] sudheesh001 opened #143 "Add a login via twitter button to the UI/UX targeting /auth/twitter on a Lightbox"

[2015-06-09 14:55] Orbiter commented on #106
issue can be closed here because there is no action on the side of loklak_webclient required. The coding on server side is tracked in https://github.com/loklak/loklak_server/issues/41

[2015-06-09 14:55] #106 closed

[2015-06-09 14:57] Orbiter commented on #58
I close this because we are doing a redesign now an the issue does not apply any more. If the new pages show the same issue, it should be opened again.

[2015-06-09 14:57] #58 closed

[2015-06-09 14:57] Orbiter commented on #62
This feature shall apply independently of time. Therefore it also applies for Milestone 1

[2015-06-09 14:59] Orbiter commented on #52
Thank you for the research, I close this now because we have a strategy for the wall now. @mariobehling please reopen if disagree on strategy.

[2015-06-09 14:59] #52 closed

[2015-06-09 15:01] Orbiter commented on #114
temporary assigned to @aneeshd16 .. please rotate each 2 weeks

[2015-06-09 15:05] Orbiter commented on #141
[code]
```npm cache clean```did *not* worked for me

[2015-06-09 15:16] prasht63 commented on #141
Try with sudo . Sometimes due to administrator rights I got EACCES erros

[2015-06-09 15:23] Orbiter commented on #141
tried this as well just now, same result.

[2015-06-09 15:43] fuksi commented on #131
Done with #144

[2015-06-09 15:43] #131 closed

[2015-06-09 15:44] fuksi commented on #116
Done with #139

[2015-06-09 15:44] #116 closed

[2015-06-09 15:44] fuksi commented on #115
Done with #139

[2015-06-09 16:00] fuksi commented on #122
I can't go with this hack now, because

- In a search result, a particular user tends to appear again and again as he/she posts tweet regularly. 24h would mix up things
- Some reply start with @codinghorror, some are just mentioning him in a totally separated tweet, and then there are also RT.

I set this as low priority since default search result doesn't show conversation as the moment, unless t

[2015-06-09 16:04] aneeshd16 commented on #117
Closed by c286aac5589ac772b90973722a09f94b1ace7d01

[2015-06-09 16:04] #117 closed

[2015-06-09 16:49] sudheesh001 commented on #138
This is already implemented and tested on my production server.
loklak.cloudapp.net:3001/auth/twitter/

[2015-06-09 17:05] mariobehling commented on #138
@sudheesh001 I think you have a different understanding, what it means, that a feature is implemented. I would like to see a login button on the top right or a login page. After I login I get the features for logged in users. How can I login in the user interface? How is this feature integrated in the UI?

[2015-06-09 17:10] mariobehling commented on #117
Where can I see the deployed version for testing? Did you take into account the that we had decided to not use a sidebar as shown in LTE but rather a twitter like sidebar?

[2015-06-09 17:30] sudheesh001 commented on #138
@mariobehling I think you're talking about #143 I seperated the UI UX issue of the login from the implementation of user authentication.

[2015-06-09 17:53] mariobehling commented on #138
@sudheesh001 Thanks for clarifying. Please feel free to cross-reference such links in future. Cheers!

[2015-06-09 17:55] mariobehling commented on #143
Login via twitter can be done similar to Pinterest for example with a lightbox. On the right hand side, we are getting at the moment user "Alexander Pierce". Here should be a login button and as soon as logged in the name of the person that is logged in and next to it the picture.

[2015-06-09 18:08] mariobehling opened #146 "Set up loklak on test.loklak.net"

[2015-06-09 18:08] sudheesh001 commented on #93
@Orbiter I am currently encountering 404 errors on
`http://loklak.org/vis/map.png?text=Test&mlat=1.28373&mlon=103.84379&zoom=18&width=512&height=256`

[2015-06-09 18:33] sudheesh001 commented on #95
@Orbiter Is the server ready to handle this ? Or should the tweet be directly sent over to Twitter instead using their media upload API ?

If this has to be done via loklak server as planned, do we move the milestone ?

[2015-06-09 19:30] Orbiter commented on #95
this is not implemented on server side, lets move the milestone.

[2015-06-09 19:40] aneeshd16 commented on #71
![image](https://cloud.githubusercontent.com/assets/5436027/8067748/51fab438-0f0d-11e5-8627-a375c604d4e2.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8067754/5fe58b18-0f0d-11e5-9204-79a4698c898c.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8067765/6c001bac-0f0d-11e5-89c4-dad3aa070a2b.png)

[2015-06-09 19:40] Orbiter commented on #93
the peer was not upgraded. now its working

[2015-06-09 19:46] aneeshd16 commented on #108
![image](https://cloud.githubusercontent.com/assets/5436027/8067765/6c001bac-0f0d-11e5-89c4-dad3aa070a2b.png)

[2015-06-09 19:55] aneeshd16 opened #149 "Implement twitter-like sidebar for logged in users"
The sidebar should be "Column 1" of the three column layout shown below.
![loklak-home](https://cloud.githubusercontent.com/assets/1583873/8065412/93fe4a9c-0ee1-11e5-9e23-15bffe5412de.png)
Related to #117

[2015-06-09 19:57] aneeshd16 commented on #117
@mariobehling I have created a new issue for the twitter-like sidebar. #149
The main objective of this issue was to introduce the topbar and hide the AdminLTE sidebar.

[2015-06-09 20:01] aneeshd16 commented on #71
@Orbiter , `Additional hashtags, keywords or @users` is pending support from loklak_server https://github.com/loklak/loklak_server/issues/41. All the other options have been implemented in PR https://github.com/loklak/loklak_webclient/pull/148. Can I shift the milestone?

[2015-06-09 21:58] Orbiter commented on #128
if I resize the search window it does not look nice, there is something broken in the top right corner.
Browser: Firefox

![topnav](https://cloud.githubusercontent.com/assets/238730/8070660/49de4e5e-0f03-11e5-8006-7027ab051839.png)

[2015-06-09 22:03] Orbiter commented on #115
good work!

[2015-06-09 22:05] Orbiter commented on #112
The navbar on top does not show the loklak logo. Its not visible if the topbar is not collapsed and not if it is collapsed.

[2015-06-09 22:08] Orbiter commented on #98
The single view does not show media, i.e. videos which is visible in the column view.
Example: http://aneesh-ojl02abl.cloudapp.net:3000/tweet?q=id:608394531856359424

[2015-06-09 22:08] Orbiter commented on #98
please add all media views to the single tweet view

[2015-06-09 22:16] Orbiter commented on #59
Ok I will reopen this issue as soon as https://github.com/loklak/loklak_server/issues/31 is implemented

[2015-06-09 22:20] Orbiter commented on #138
I don't have had the experience that I was able to log into twitter from the loklak_webclient interface since there is not even a log-in button. I expect that there is a button which I can click on, then authentify and finally see the loklak webinterface which shows that I am logged in.

[2015-06-09 22:22] Orbiter commented on #143
related to https://github.com/loklak/loklak_webclient/issues/138
I did not have seed this button yet. According to the issue-close-policy, someone else than you @sudheesh001 must close this issue after a review. From the front-ends which are running now, I cannot see this button and I am not able to see that this is working

[2015-06-09 22:36] Orbiter commented on #110
I shifted this to milestone 2 because the backend, providing the locations for the map does not yet enrich the tweets with geolocations. The backend issue is at https://github.com/loklak/loklak_server/issues/45

[2015-06-09 22:43] Orbiter commented on #125
this is a good idea but maybe it's better to get the top tweets from the loklak_server backend which has full access to the search index. The difference betweet top tweets and live tweets is, that top tweets have a popularity-rank. It's not so easy to detect that but your idea using retweet_count and favourite_count is good. But you cannot see so many tweets as the backend can see.

Lets do it in

[2015-06-09 23:08] Orbiter commented on #71
This is unrelated to https://github.com/loklak/loklak_server/issues/41 because all the options you have must be combined in conjunction. This is the standard operator if you simply search for all the entities, separated with space which is already implemented.

[2015-06-09 23:09] Orbiter commented on #71
However, I think your wall settings are nice!

[2015-06-10 05:10] sudheesh001 commented on #143
Hi @Orbiter It was reviewed and merged by @aneeshd16 in d586e1f79b7760159252577c2ac1f1d479e2b9aa

I don't know why github closed it as me. Please check https://github.com/loklak/loklak_webclient/pull/147
![297376fe-0f0c-11e5-9282-1b691704f04f](https://cloud.githubusercontent.com/assets/4545925/8075354/28b055a6-0f5d-11e5-9af7-024ff2cbbbd4.png)

[2015-06-10 05:12] sudheesh001 commented on #138
@Orbiter The login button is present in the top right corner with the latest commit
![297376fe-0f0c-11e5-9282-1b691704f04f](https://cloud.githubusercontent.com/assets/4545925/8075363/4d79a0fe-0f5d-11e5-86bb-4d6bf100819a.png)

[2015-06-10 05:45] sudheesh001 commented on #133
This issue seems to be fixed. `gulp prod` works perfectly and as expected and documented doesn't start the node server but prepares the content for serving. Closing this.

[2015-06-10 05:45] #133 closed

[2015-06-10 06:15] mariobehling commented on #143
Where can I test this? It would be good you update your the app on your server http://loklak.cloudapp.net:3001/

[2015-06-10 06:25] mariobehling commented on #92
Where can I try out this feature? Where is a button to tweet in the interface?

[2015-06-10 06:39] mariobehling commented on #137
This works in the version for users, that are not logged in. However as soon as logged in, there is another design at the moment.

[2015-06-10 06:39] Orbiter commented on #143
I just tried this on http://loklak.cloudapp.net:3001 and I cannot push the button.
Furthermore, the font of the button is different *and* ugly. Why?

[2015-06-10 06:58] Orbiter opened #150 "npm warnings in fresh clone"
I deleted my local clone of loklak_webclient and cloned it again.
I also deleted my ~/.npm files to get a fresh start.
 Then I started ```npm install```in loklkal_webclient home path and got:
[code]
This process should start without warnings.
Question: is this related to node or is it related to loklak?
- If this is related to node and cannot be supressed, close this issue.
- if this is related to

[2015-06-10 07:01] fuksi commented on #92
Hi, I had my time researching for the solution for authentification and here it is:

About the current solution:
- Authentification is served in a different node server (```/search```, ```/view```.. are different from ```/account```, ```/auth/twittet```
- Authenticated session has effect only in that server and its view
- We can't integrate angular with this server.

To have authentifcation in our

[2015-06-10 07:11] mariobehling commented on #112
![loklak-home](https://cloud.githubusercontent.com/assets/1583873/8076804/83287cfa-0f50-11e5-9c2a-f9bf8701f80e.png)
I am confused about this issue. Simply follow the screenshot. There is no traditional sidebar but a three column layout.

[2015-06-10 07:13] Orbiter opened #151 "version `GLIBC_2.14' not found required by imagemin-jpegtran"
I did a complete fresh install, removed all npm stuff in my home folder, killed all processes, run all npm install commands and when I started ```gulp prod```I get the following error:
[code]
..while ```gulp dev```works.
I checked that no other process is running (```killall node```)

[2015-06-10 07:14] Orbiter commented on #133
I did not get this error any more after a fresh installation, however, I got a new one: https://github.com/loklak/loklak_webclient/issues/151

[2015-06-10 07:18] sudheesh001 commented on #151
@fuksi Any idea ?

[2015-06-10 10:19] Orbiter commented on #110
Just right now I have send you a test file containing a loklak search result with geolocation details.
As an example, here is one record:
[code]

Right now, there is one important attribute for the visualization of markers: ```location_mark```
I attach two locations in the json:
- the center of the location in ```location_point```
- if the location is a point, the value in ```location_radius```is

[2015-06-10 10:20] Orbiter commented on #110
I added the priority label since this was intended for milesone 1 but was shifted since my input was missing. Now it should be the next thing to implement.

[2015-06-10 10:42] Orbiter commented on #110
map extractions for a bounding box are implemented in the backend with feature https://github.com/loklak/loklak_server/issues/47

[2015-06-10 12:00] Orbiter commented on #110
a live version can be tested now with https://github.com/loklak/loklak_server/issues/45#issuecomment-110718582

[2015-06-10 14:16] aneeshd16 commented on #108
Solved in https://github.com/loklak/loklak_webclient/pull/148

[2015-06-10 14:16] #108 closed

[2015-06-10 15:16] Orbiter commented on #71
I added a function in loklak_server which makes it possible for you to fullfill the "tweets with no images" requirement: it's now possible to add an '-' in front of all constraints (all search modifiers starting with '/') to invert the search constraint. https://github.com/loklak/loklak_server/commit/2b8759b8c9c3be65e8aed96b0c459a6abb5dcfa9

Example: you can search for images of cats using ```cat

[2015-06-10 15:17] aneeshd16 commented on #71
Awesome! I'll do the required changes shortly.

[2015-06-10 16:05] aneeshd16 commented on #143
@Orbiter , fbf5033896e87be11253a205504560b99f5ab495 should fix it.
View it here http://aneesh-ojl02abl.cloudapp.net:3001/

[2015-06-10 17:03] Orbiter commented on #143
ok button works, but is this a Lightbox? I expected something that is 'floating' over loklak. The log-in you get here looks like you have left loklak and something is wrong.
Can you make this log-in floating?

[2015-06-10 17:47] Orbiter commented on #151
I'm stuck here. Do we need the module /home/loklak/loklak_webclient/node_modules/gulp-imagemin/node_modules/imagemin/node_modules/imagemin-jpegtran/node_modules/jpegtran-bin/vendor/jpegtran ?

[2015-06-11 03:00] aneeshd16 commented on #143
Yep, @sudheesh001 is on it. I just fixed the button not getting clicked problem

[2015-06-11 04:59] aneeshd16 commented on #114
Here is my deploy.sh
[code]
pm2 works perfectly fine for me. However, I suggest manually starting this script instead of automating it with github webhooks.
Reason: `gulp prod` fails sometimes (due to race conditions, I think), but completes successfully after retrying. If something can be developed that automatically retries `gulp prod` on errors, that would be excellent.

[2015-06-11 06:02] prasht63 commented on #150
I suggest we discuss once what all packages we are using right now for our web client.There are many node modules which came with the boiler plates which are outdated(I guess the boilerplate has not been updated) and cause conflicting dependencies.As stated in #142 .
As of this I think this is due to node cause I could not reproduce it on my system.
@aneeshd16 @sudheesh001 @fuksi Lets discuss a ti

[2015-06-11 06:02] #150 closed

[2015-06-11 06:04] aneeshd16 commented on #150
istanbul is a code coverage reporter. Not required as of now. Although it would be a good idea to write tests in the future.
Agree with @prasht63 .

[2015-06-11 06:18] aneeshd16 commented on #142
I used this https://www.npmjs.com/package/depcheck to check our dependencies. It returned this:
[code]

I think we can safely remove these:
[code]
Not sure about the others.

*Also, can we document a few tests to be done for each of the different modules: search, wall, twitter auth, maps so that we can check if this works*

[2015-06-11 06:29] aneeshd16 commented on #128
Currently, our site doesn't look very good on small screens.
AdminLTE renders the search bar in the top nav as follows:
![image](https://cloud.githubusercontent.com/assets/5436027/8101078/34ad8480-1031-11e5-9183-a4573c03aaca.png)
I will push this feature in the next commit.

[2015-06-11 06:32] Orbiter opened #154 "Twitterwall showing messages in wrong order"
when I start a wall, the most recent tweets are shown first and then older tweets are shown.

[2015-06-11 06:33] aneeshd16 commented on #154
@Orbiter that was what I intended. After starting the wall, as soon as someone tweets, its given priority and shown earlier than other tweets. This gives the wall a *real time* effect. Can we have a discussion about the required functionality?

[2015-06-11 06:41] sudheesh001 commented on #142
I think @prasht63 Is using angular-leaflet-directive and other leaflet related things.

[2015-06-11 06:44] aneeshd16 opened #155 "Use angular to render the /account page instead of node ejs"
When the user logs in, the user is navigated to `/account`. This page is rendered by the node ejs engine which renders `server/views/index.ejs`. This page is separate from our angular application and thus needs to be updated separately when we update the design of our app.

### Proposal
* Make a new route in angular for `/account`
* Define an angular service that should be able to detect if a user

[2015-06-11 06:45] aneeshd16 commented on #142
I think he is not using the directive but using the original library, uhh directly. @prasht63 please clarify.

[2015-06-11 06:46] Orbiter opened #156 "horizontal layout of twitterwall does not use full width of screen"
currently the default wall view does not use the full screen. Please consider that people will view this in full screen only and therefore the wall must use all space it gets.

Example:
![wall1](https://cloud.githubusercontent.com/assets/238730/8101317/20317c66-1016-11e5-91ac-c1bea85458f9.png)
If you use the full width, some more vertical space is available because more text fits into one line. Th

[2015-06-11 06:50] aneeshd16 commented on #156
That space has been left blank so that statistics (top twitterers, top hashtags etc, histogram) can be displayed there. I'll open a issue for that.
Users should have the option to disable statistics. In that case, the entire width will be utilized.
Thanks for pointing this out!

[2015-06-11 06:53] Orbiter commented on #156
ok good point with statistics. Thats true, if the statistics are wanted, the space must be left out.
Please add an option for this in the wall settings.

[2015-06-11 07:01] #137 closed

[2015-06-11 07:03] aneeshd16 commented on #156
Related #73

[2015-06-11 07:06] prasht63 commented on #142
Not using the angular-leaflet-directive , full of bugs. Will remove it in
the latest commit.

On Thu, Jun 11, 2015 at 12:15 PM, Aneesh Devasthale <
notifications@github.com> wrote:

[2015-06-11 07:17] Orbiter commented on #150
@prasht63 as you closed this, the answer to the question is "this is related to node and cannot be supressed". correct? If not, reopen this issue as bug and remove the 'question' tag.

[2015-06-11 08:01] fuksi opened #157 "Changing method of authentication."
@loklak/loklak_developers

I mentioned that I'll implement a client-side auth with hello.js, and here it is.

http://46.101.145.49:3000/

Click signup to login, and it should returns where you are without changing location. And then you'll have a authorized session for a period of time, until you click logout. This session will be also available to the global scope of the angular application (I di

[2015-06-11 08:16] mariobehling opened #158 "Deploy latest version of main branch"
Please update test.loklak.net to the latest version of web app. After deployment make a screenshot of a logged in user and assign task to person for next day.

- [x] 11 June	Prashant
- [x] 12 June	Phuc
- [x] 13 June	Sudheesh
- [x] 14 June	Aneesh
- [x] 15 June	Prashant
- [x] 16 June	Phuc
- [x] 17 June	Sudheesh
- [x] 18 June	Aneesh
- [x] 19 June	Prashant
- [x] 20 June	Phuc
- [x] 21 June	Sudheesh
- [

[2015-06-11 08:38] fuksi commented on #98
Done yesterday with https://github.com/loklak/loklak_webclient/pull/152

[2015-06-11 09:07] aneeshd16 commented on #157
Tested, works beautifully. Solves a lot of problems regarding authenticated users since it also maintains a session. It would also resolve #155.
Instead of https://auth-server.herokuapp.com/, we can use https://www.npmjs.com/package/oauth-shim so that we do not have any external dependencies. Advantages/side effects:
* We can have the angular app and auth-server as two different entities.
* The an

[2015-06-11 09:10] sudheesh001 commented on #155
Doing this would still suppot `ejs` right ? Breaking that would cause serious issues and lots of extra computation from our side to keep the elements in the right places.

[2015-06-11 09:11] aneeshd16 commented on #155
@sudheesh001 see #157

[2015-06-11 09:15] prasht63 commented on #158
+1

[2015-06-11 09:15] sudheesh001 commented on #157
:+1:

[2015-06-11 09:16] sudheesh001 commented on #158
:+1:

[2015-06-11 09:16] aneeshd16 commented on #158
+1

[2015-06-11 09:25] fuksi commented on #158
+1

[2015-06-11 09:25] Orbiter commented on #151
The ```npm install``` log has errors in it related to this issue:
[code]

[2015-06-11 09:35] Orbiter commented on #151
I installed nasm and actually jpegtran was compiled from source
[code]

[2015-06-11 09:40] aneeshd16 commented on #151
@Orbiter , does this help? http://askubuntu.com/a/421795

[2015-06-11 09:47] Orbiter commented on #151
now installed ```dh-autoreconf``` since there is a dependency on ```autoreconf```:
[code]

[2015-06-11 09:58] Orbiter commented on #151
wow. that did the job!
[code]
Thats the solution: https://github.com/loklak/loklak_webclient/commit/8cadcb7d19cc0ec6de9e3ebd05f5ca73261be7c3

[2015-06-11 09:58] #151 closed

[2015-06-11 10:24] fuksi commented on #146
Move to #158

[2015-06-11 10:31] Orbiter commented on #146
test.loklak.net must be assigned in DNS setting

[2015-06-11 10:34] Orbiter commented on #146
http://test.loklak.org/ is now working … but thats not the place where it should be. I just did that to test if port rerouting works. still test.loklak.net must be assigned by @mariobehling

[2015-06-11 11:39] aneeshd16 commented on #141
Can we close this now?

[2015-06-11 11:44] Orbiter commented on #141
related to https://github.com/loklak/loklak_webclient/issues/151

[2015-06-11 11:44] #141 closed

[2015-06-11 12:30] Orbiter opened #160 "link single view tweets with date on tweet"
The single-view of tweets https://github.com/loklak/loklak_webclient/issues/98 shall be linked on the date of the tweet. Thats exactly the same in twitter.

[2015-06-11 12:39] Orbiter commented on #154
The wall actually has two phases:
- when it is first started, it shows all tweets which come from the search result
- when the wall reloads the next tweets, it shows all new tweets.

shure the wall shall be real-time, but that does not mean to show the tweets in the wrong order! why should the wall first show the most recent tweet and then older tweets?

[2015-06-11 12:43] Orbiter opened #161 "Top-Bar Design is broken when window is resized"
The effect is different in case how small you make the window. This is not related to 'responsiveness', it is just badly formatted:

case 1:
![break1](https://cloud.githubusercontent.com/assets/238730/8107221/141e13a8-1048-11e5-9d25-c9335dd48388.png)

case 2:
![break2](https://cloud.githubusercontent.com/assets/238730/8107227/197a2634-1048-11e5-8230-0fdd0c17b26d.png)

[2015-06-11 12:46] Orbiter commented on #161
assigned to @prasht63 as your current worklist is much smaller

[2015-06-11 12:48] Orbiter commented on #37
This feature is still valid. Please integrate this into the wall as intended and as an option. This is related to https://github.com/loklak/loklak_webclient/issues/156#issuecomment-111016380

[2015-06-11 12:49] Orbiter commented on #156
this is related to https://github.com/loklak/loklak_webclient/issues/37 -- if the user wants to show the statistics, show it in the empty space. If the user does not want it, extend the tweet to fill up the space.

[2015-06-11 12:53] Orbiter commented on #62
@prasht63 I assigned this to you because you currently have the least workload. Please look around in _all_ the features and identify resizing-problems. Then, either fix them as you see them or if the issue is more complex, open an issue and assign it to the corresponding developer.

[2015-06-11 12:55] Orbiter commented on #61
Project 4: Map View of messages. (Prashant Kiran) This is strongly related to https://github.com/loklak/loklak_webclient/issues/120 because its (also!) the visualization of IoT data.

[2015-06-11 13:01] aneeshd16 commented on #154
The search results are sorted by created_at. The most recent one is at the top. Currently the following happens:
* a sorted array of tweets is maintained (`nextStatuses`). The most recent tweet is the first tweet.
* The initial search results are sorted by default, so `nextStatuses` becomes the same as the search results array.
* Another function (`$interval`) gets the first tweet from `nextStatus

[2015-06-11 13:24] mariobehling commented on #92
@sudheesh001 the questions and discussions on this issue are ongoing. So, I am reopening this issue. What is your feedback on @fuksi's comments?

Please also add a tweet button to the top right and a light box for tweeting like at twitter.

Please take out the text on the page

Please follow the design of twitter and show the tweets of the accounts the user follows. See below:
![loklak-home](https

[2015-06-11 13:59] mariobehling commented on #154
@aneeshd16 These are questions, we need to think about and test it. Maybe for the beginning we can just follow the design of existing walls. How does tweetwall.com handle this for example?

[2015-06-11 14:13] fuksi commented on #160
![image](https://cloud.githubusercontent.com/assets/6878677/8108624/40bc3590-105a-11e5-8920-8eca68af9169.png)

On twitter. First you have to click around the area to show accurate time and date, then it is the word `Details` where clicking would open new tweet in the link. Done with 81425e641be9f5b131688a522bb19c20a2444052

[2015-06-11 14:13] fuksi commented on #160
Also live at http://gofullstack.me:3001/

[2015-06-11 15:07] Orbiter opened #162 "provide search suggestions at all search input boxes"
The backend loklak_server provides a suggestion api based on the search request which had been submitted so far. This is the api request:
[code]
to get suggestions for 'beer'. The response looks like:
[code]
The only field which you must evaluate is 'query'.

[2015-06-11 15:15] Orbiter commented on #110
@prasht63 I don't see a use for a bounding box. I consider that every time the user changes the view on the map, the map submits a search request to loklak_server containing the view as bounding box. See https://github.com/loklak/loklak_server/issues/47 for details.

[2015-06-11 16:32] aneeshd16 commented on #154
@mariobehling , @Orbiter See this link http://kjsxs2fk.tweetwall.com/?preview=cats Tweetwall did the following:
* It showed the last three latest tweets.
* I tweeted, and my tweet appeared on the wall.
* It did not show older tweets.
* unless someone tweets, the tweetwall remains static.

[2015-06-11 17:07] mariobehling commented on #154
@aneeshd16 I would say, we go with this for now and think about next steps. Tweetwall is just one example. I think the static option is not the final solution.

[2015-06-11 17:09] aneeshd16 commented on #154
Just clarifying, do you mean go with what we have currently or go with tweetwall?

[2015-06-11 17:13] mariobehling commented on #154
Where can I test it?

[2015-06-11 17:17] aneeshd16 commented on #154
It should be available on almost all deployments. test.loklak.net works fine. This is the direct link to a created wall: http://test.loklak.net/wall/display?layoutStyle=1&headerColour=%2310405e&headerPosition=Top&headerForeColour=%23FFFFFF&eventName=myEvent&mainHashtagText=selfie&mainHashtag=%23loklak

[2015-06-11 17:56] aneeshd16 commented on #157
Unfortunately, the custom oauth-shim oauth proxy server requires https. If https is not possible on our deployment, then we can go with https://auth-server.herokuapp.com/. However, it is an external dependency and may/may not be reliable.

[2015-06-11 18:03] Orbiter commented on #154
arrr https://github.com/loklak/loklak_webclient/issues/154#issuecomment-111195310 the wall only shows tweets in the right order :ghost:

[2015-06-11 18:24] Orbiter commented on #114
good hint to use pm2! However, I would like to see code changes in main as soon as possible in test.loklak.net so everybody can see what is happening without wasting time to deploy their own main in that moment. If it is not too complex to create automated deployment on test.loklak.net, please do.

[2015-06-11 18:37] aneeshd16 commented on #157
deployed here. http://aneesh-ojl02abl.cloudapp.net:3001/
Please test.

[2015-06-11 19:15] fuksi commented on #157
Tested, also works locally as expected.

[2015-06-11 22:27] mariobehling commented on #146
Working now, so closing it. Cheers.

[2015-06-11 22:27] #146 closed

[2015-06-11 22:33] mariobehling commented on #107
Well, a link shortener and short system ID-Links are two different things for me. A link shortener can always be implemented. A loklak_server-internal link shortener - what would be necessary for that? Can it be used for other things as well?

[2015-06-12 04:50] aneeshd16 commented on #154
I am still not sure about the order we need to follow. Our current wall or Tweetwall's? Thanks.

[2015-06-12 05:30] Orbiter commented on #107
I believe we discovered that we need a link shortener if we provide to tweet from loklak. Links attached in our own links must be shortened to b usable for the users. Therefore a shortener service is obligatory. When we discussed the point, you said that we then also should have our own shortener.

[2015-06-12 06:28] aneeshd16 commented on #156
:+1:

[2015-06-12 06:38] prasht63 commented on #157
Tested. Good to go from my side :+1:

[2015-06-12 06:43] prasht63 commented on #158
@fuksi you are up for today :+1:

[2015-06-12 06:45] prasht63 commented on #62
Sure

[2015-06-12 06:46] prasht63 commented on #128
@aneeshd16 you working on this?

[2015-06-12 06:47] aneeshd16 commented on #128
No, you can do it. Got a lot on my plate already :)

[2015-06-12 06:49] prasht63 commented on #128
No problem ! Keep up the good work!

On Fri, Jun 12, 2015 at 12:17 PM, Aneesh Devasthale <
notifications@github.com> wrote:

[2015-06-12 06:50] prasht63 commented on #128
Moving it to #161

[2015-06-12 06:50] #128 closed

[2015-06-12 07:21] fuksi opened #163 "Documentation for new auth method"
- Documentate gulp tasks
- How to configurate new oauth

[2015-06-12 07:26] fuksi commented on #157
It's decided then. Move to merge #164.

[2015-06-12 07:26] #157 closed

[2015-06-12 08:02] mariobehling commented on #154
I think keep it with tweetwall.

[2015-06-12 09:26] mariobehling opened #165 "Add settings page and improve top right display of user"
Please follow the twitter design with e.g.
* no name needed on top right
* clickable picture
* more

![twitter-pic-settings](https://cloud.githubusercontent.com/assets/1583873/8127272/c931ae00-10f5-11e5-8304-ab7cfba34678.png)

[2015-06-12 09:40] mariobehling opened #166 "Add tweet box after clicking on top right tweet button"
Just compare with twitter and also add icons for additional attachments e.g. maps.
![tweet-now](https://cloud.githubusercontent.com/assets/1583873/8127496/a40191ac-10f7-11e5-9d96-ea288adee9a2.png)

[2015-06-12 09:46] mariobehling commented on #71
@aneeshd16 Hi, what is the status?
a) of the saved wall or beginners tab
b) of the lightbox implementation

compare e.g.
![tweetwall-0](https://cloud.githubusercontent.com/assets/1583873/8127616/95eca060-10f8-11e5-9591-2a8ebd8e8062.png)

[2015-06-12 10:04] aneeshd16 commented on #71
1. The saved walls feature will be done only after user auth is complete. We just finished auth a few hours back. In terms of design I am aiming for exactly the same design you posted. This will take a few days as I need to get acquainted with hello.js.
2. Till now, the view had been done without a lightbox (screenshots above). All that can be moved into a lightbox. Will try to do this by EOD.

[2015-06-12 10:55] Orbiter opened #168 "Read user profile images from json"
This is a question in relation of the issue https://github.com/loklak/loklak_webclient/issues/59 (to be reopened):
- when the loklak_server was able to provide an user image, it will also store the image in a cache for further usage
- that cache will be the user information within the user account
- the image would be a base64-encoded string
- when the front-end receives search entries, it will al

[2015-06-12 11:12] mariobehling opened #169 "Merge Wall and Map and offer map as an option in the final choice of design."

[2015-06-12 11:16] mariobehling commented on #168
This issue is also related to https://github.com/loklak/loklak_webclient/issues/165

[2015-06-12 11:31] aneeshd16 commented on #71
The 4th option in design->layouts will be a map. Related to #169

[2015-06-12 11:31] mariobehling opened #170 "Add map as display option for tweets"
Insert a map search here.

![search-options](https://cloud.githubusercontent.com/assets/1583873/8129233/615875f4-1107-11e5-84aa-40e2176c3e4e.png)

[2015-06-12 12:05] Orbiter commented on #59
The backend issue https://github.com/loklak/loklak_server/issues/31 is implemented. Please use the following URL to access the cache on the server-side:
[code]
This means you must submit two parameters to the ```/api/proxy.png``` servlet:
- screen_name: the user name id
- url: the url that you want to load from twitter

[2015-06-12 12:08] Orbiter commented on #168
Yes it is related to https://github.com/loklak/loklak_webclient/issues/165 !!

The backend-service has been implemented now in https://github.com/loklak/loklak_webclient/issues/59 but with this issue it would not even be necessary to access the backen-proxy or twitter itself, because the image could be embeded into the user data. If this is possible with the proposed base64 encoding, it will be do

[2015-06-12 12:28] aneeshd16 commented on #168
Base64 would work, no problems. This can be easily done.

[2015-06-12 13:21] Orbiter commented on #168
Ok, thank you @aneeshd16 !!
Then I have one further question, which is connected: if the loklak_webclient has successfully read an user image (without usage of the proxy), can the loklak_webclient submit this to loklak_server for storage in a base64 encoded string with a POST request?

[2015-06-12 15:07] Orbiter commented on #59
The latest version of loklak_server can now attach images inside the user information encoded with base64. Therefore, the following task shall be done in front of the process as described in https://github.com/loklak/loklak_webclient/issues/59#issue-78554023
- each ```user```object now may contain a ```profile_image```property which contains a large base64 string with the user image. If this prope

[2015-06-12 15:12] Orbiter commented on #59
the complete process now is:

- for each ```user``` object check if the field ```profile_image```  exist. If it exist, decode it with base64 and display it as png -> ready
- show the placeholder image
- a javascript function shall try to load the image from twitter
- if the image from twitter arrives, show it -> ready
- if the image does not arrive, call the loklak_server with ```/api/proxy.png?sc

[2015-06-12 15:14] Orbiter commented on #168
if this is possible, the new process described in https://github.com/loklak/loklak_webclient/issues/59#issuecomment-111522188 will slightly be changed.

[2015-06-12 15:26] aneeshd16 commented on #168
@Orbiter, it is certainly possible but i wouldn't go with it. A search gave me the following way to convert an image to base64:
* create a html canvas element
* draw the image on the canvas
* get the base64 string from the canvas.

So if there are 100 results in a search, this process will have to be repeated 100 times, not to mention making 100 requests to the server.
Sure, it can be done, but I

[2015-06-12 15:36] Orbiter commented on #168
hm, ok it's strange that the other way around (base64->image easy, image->base64 complex) is so different. However, there is also a security issue about user images if we would do that. Therefore forget about the latest idea, but we still then draw images from base64 of the backend.
Further steps are described in https://github.com/loklak/loklak_webclient/issues/59#issuecomment-111522188 ..thank y

[2015-06-12 15:36] #168 closed

[2015-06-12 15:37] aneeshd16 commented on #168
:+1:

[2015-06-12 15:46] mariobehling commented on #90
Add link to "more options"
![search-adv-link](https://cloud.githubusercontent.com/assets/1583873/8133841/efbfdb20-112a-11e5-8cb3-47f493b3a98a.png)

And set up page with search parameters
![advanced-search](https://cloud.githubusercontent.com/assets/1583873/8133845/fafad486-112a-11e5-81e9-f500c6f12f69.png)

[2015-06-12 16:46] mariobehling commented on #107
@Orbiter What is the priority on that? I would add that to M3. We need to find a suitable short domain.

[2015-06-12 17:45] prasht63 commented on #161
Option 1:
![image](https://cloud.githubusercontent.com/assets/2105062/8136005/dc1cf890-1158-11e5-8317-121099fc8e73.png)
![image](https://cloud.githubusercontent.com/assets/2105062/8136019/eeefdd3e-1158-11e5-91a5-4396d39a6e38.png)

Option 2 :
![image](https://cloud.githubusercontent.com/assets/2105062/8135956/8433fdea-1158-11e5-8bd8-7276b7810290.png)
![image](https://cloud.githubusercontent.com/ass

[2015-06-12 18:05] Orbiter commented on #107
this has low priority since we can apply this later, even after GSoC just by changing server processes. But meanwhile everyone has to use an explicit shortener, like bit.ly or use the raw url.

[2015-06-12 18:28] aneeshd16 commented on #71
LIghtbox:
![image](https://cloud.githubusercontent.com/assets/5436027/8137141/ce7fd53a-115e-11e5-820e-039b2cdc0f83.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8137149/db58b5ec-115e-11e5-83c0-c0553084a4e0.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8137153/e67c1ebe-115e-11e5-9b68-7d22964347b0.png)

Some small changes left. I will open a PR tomorrow.

[2015-06-13 06:31] aneeshd16 opened #171 "Send Twitter oauth_token and oauth_token_secret to loklak_server after authentication"
Utilize this: https://github.com/MrSwitch/node-oauth-shim#capture-access-tokens
in `oauth-proxy` to intercept the tokens and send it to loklak_sever.
Issue on loklak_server: https://github.com/loklak/loklak_server/issues/26

[2015-06-13 06:34] Orbiter opened #172 "use settings from the loklak_server"
settings in loklak_webclient shall be overwritten with those as delivered by the server using the feature https://github.com/loklak/loklak_server/issues/48

[2015-06-13 06:52] aneeshd16 commented on #172
Currently, `js/constants.js` reads constants from the local file `custom_configFile.json`. It needs to be modified to read the json from `<loklak_server_url>/api/settings.json`. Properties will be added/overwritten as appropriate.

[2015-06-13 06:53] sudheesh001 commented on #161
I am currently changing this to fit with the design changes that are mentioned in #112 .

[2015-06-13 07:05] prasht63 commented on #161
@sudheesh001  changing what?

[2015-06-13 07:51] Orbiter commented on #172
The settings servlet is implemented. To test it, just call http://localhost:9000/api/settings.json

To write settings within the server, edit the file data/settings/customized_config.properties
and add settings in the following way:
- if you want a setting
[code]
add the following line to ```customized_config.properties```:
[code]

[2015-06-13 07:54] aneeshd16 commented on #172
@Orbiter , will this file get committed every time?
for eg, we had,
* configFile.json : Default settings to act as an example (in repo)
* custom_configFile.json: Custom settings, (not in repo)

What is the equivalent in loklak_sever?

[2015-06-13 08:32] sudheesh001 commented on #143
@mariobehling @Orbiter Since the login is now happening through a click and the info being showed up in the nav bar do we still need this for the user as a lightbox ? The sessions are maintained even after the browser tab is closed and reopened at a later time.

I've rather pushed the tweet method to be onto a lightbox modal so that the user can post it from any page he's visiting in the applicati

[2015-06-13 08:56] #163 closed

[2015-06-13 09:01] #112 closed

[2015-06-13 09:13] mariobehling commented on #143
What is "this" exactly? If you talk about the interface, it is easier to understand screenshots/mockups.

Regarding the login, twitter is our first method, but it is best to follow the model of Pinterest. I already mentioned Pinterest a few times. Did you have a chance to try it out? Please login to Pinterest with FB and then see what is the following process. They will sign you up with an account

[2015-06-13 09:17] sudheesh001 commented on #143
@mariobehling Could you check this ? http://loklak.cloudapp.net:3001 the sign in is basically a click on the top navigation bar button which says Sign Up. Are we still going with this ? (This was updated to be this way after the integration of the new hello.js authentication system by @fuksi ) The angular bindings of the user information after login is available in the top nav, should the function

[2015-06-13 09:20] sudheesh001 commented on #161
The top nav bar has been changed in the latest commit, please proceed on the responsiveness accordingly.

[2015-06-13 09:26] mariobehling commented on #143
@sudheesh001 Ok, how about this: We iterate. For now we keep it like that. Looks good to me. We need to discuss how we handle accounts and sign in through FB, G+ as well.

Regarding the start page, please compare this with twitter. Which is the relevant issue number here to discuss this? At the moment you post "your recent tweets" on the home screen, which is not the expected content. This should

[2015-06-13 09:27] mariobehling commented on #143
@sudheesh001 Also:
1. The sign in button does not change the display of the cursor when I go over the button. Please correct.
2. No need to display the username on the top .
(It is easy, just follow the design of twitter, please.)

[2015-06-13 09:28] sudheesh001 commented on #149
![screen shot 2015-06-13 at 1 57 46 pm](https://cloud.githubusercontent.com/assets/4545925/8143802/89164c1c-11dc-11e5-9fb4-400aab4e53f7.png)

Current implementation, leaving the right side for the Trends to come up, This just got merged to master after review by @aneeshd16 and @prasht63 , merged by  @prasht63

Please close this in case this is what we were looking for

[2015-06-13 09:28] aneeshd16 opened #174 "Implement a redirecting page during the auth flow"
Currently after logging in, we are not using any redirecting page. So after logging in, a page like this is shown:
![image](https://cloud.githubusercontent.com/assets/5436027/8143803/8af4a650-11dc-11e5-8d44-0918c331466c.png)

Need to implement a new redirect page.

[2015-06-13 09:31] mariobehling commented on #161
![twitter-topbar](https://cloud.githubusercontent.com/assets/1583873/8143814/9303cfc8-11bf-11e5-83d6-68cbe5341293.png)
Please take some time to take attention to details. Our top bar starts to be clotted for no reason. Compare with twitter, please and change it accordingly.

[2015-06-13 09:32] mariobehling commented on #161
Also check how you can take care of the logout, please:

![logout-button](https://cloud.githubusercontent.com/assets/1583873/8143818/eb8e3bba-11bf-11e5-8fd3-57744f9450b0.png)

[2015-06-13 10:06] sudheesh001 commented on #143
Okay, After discussing with aneesh I had put it there because I didn't want the home page to look empty. It's great if the recent tweets go to `/username` as suggested.

[2015-06-13 10:32] sudheesh001 commented on #174
Fixed in 55b22641d6bb11548f6ad7fc559f5c3bd315871d

[2015-06-13 10:32] #174 closed

[2015-06-13 10:47] aneeshd16 commented on #171
Fixed in 55b22641d6bb11548f6ad7fc559f5c3bd315871d

[2015-06-13 10:48] mariobehling commented on #143
Common @sudheesh001. Please do not put the work you are expected to do on me. We discussed several times, that the expected behaviour in loklak is in most cases similar to twitter.

Could you check this out yourself how it is? E.g. check your own account: https://twitter.com/sudheesh001

How does this work for anonymous and logged in users? We expect the same behaviour in loklak.

Could you help u

[2015-06-13 16:00] sudheesh001 commented on #172
@Orbiter I am not really sure if publishing the twitter consumer secret is a good idea, anyone can query that API on the server and get the twitter key and secret.

[2015-06-13 16:06] mariobehling commented on #172
What is a better solution?

[2015-06-13 16:11] sudheesh001 commented on #172
I think its best to keep this dependency with the webclient as we are doing now, in a custom file or as environment variables which can be accessed by `process.env.` but I tested that before and then @aneeshd16 and I reverted it to a custom file.

These values are constants and depend on if someone is deploying all of them individually. Giving them a custom config file means that we are giving the

[2015-06-13 16:14] mariobehling commented on #172
Twitter is only one service we will support and we do not want to depend on twitter, if they shut us out at some point, like they have done with other services. Login with twitter is just the start, so users can login. After that we need our own system with user accounts. What do you suggest to achieve this?

[2015-06-13 16:19] sudheesh001 commented on #172
I think the safest way around this problem over a long term along with login with twitter would be to also have a regular signup feature so that the users can signup with their information as follows
[code]
Additional information could be something like `integrations`
[code]

[2015-06-13 16:21] mariobehling commented on #172
@sudheesh001 Can you check out the way it works for Pinterest, please? I mentioned this a few times already. I wonder, when you will check it out.

At Pinterest a user logs in first login with e.g. FB and then you get an email to confirm your account. What do we have to do to implement this. Can you please try this out at Pinterest once?

[2015-06-13 17:25] sudheesh001 commented on #38
Implemented and reviewd as of 55b22641d6bb11548f6ad7fc559f5c3bd315871d

[2015-06-13 17:25] #38 closed

[2015-06-13 18:59] aneeshd16 commented on #154
Solved in 2405abb4f9d4ce0f43d6a9a0d6f05a83493ce490
Will deploy and make it available for testing in the next PR after completing #71

[2015-06-14 03:05] sudheesh001 opened #178 "Regression - Modals and lightboxes broken after wall changes"
@aneeshd16 The changes made in 2da28c39fc35e416da030eee2bf5b5bdb3db1679

https://github.com/loklak/loklak_webclient/commit/2da28c39fc35e416da030eee2bf5b5bdb3db1679#diff-7ab7e672fb1c96b2cd0c3795ae50e1bdR1692

Have broken the default modals, so now the modals don't appear as they have to be
Ideally should appear like
![screen shot 2015-06-14 at 8 33 27 am](https://cloud.githubusercontent.com/assets/

[2015-06-14 03:21] sudheesh001 commented on #143
Dependant on https://github.com/loklak/loklak_webclient/issues/119

[2015-06-14 03:22] sudheesh001 commented on #166
https://github.com/loklak/loklak_webclient/issues/118 Describes the technical process
Partially implemented in https://github.com/loklak/loklak_webclient/issues/143 with changes to top nav bar and the tweet button's availability to user in any page when logged in.

I see that this also has the Add photo and Add location as we wanted, @prasht63 can you take on that once the code so far is merged, t

[2015-06-14 03:37] sudheesh001 commented on #166
@prasht63 #179 has the required views, if you could review that and if that goes well, then you can continue with the `Add photo` and `Add location` buttons as assigned.

[2015-06-14 03:38] sudheesh001 commented on #178
@aneeshd16 merging #179 will break the wall, breaking the default CSS isn't really a good idea as it may affect a lot of things in the application. Maybe you could use the same classes but extend it with an extra `.wall` ? Would that be good ?

[2015-06-14 05:52] prasht63 commented on #178
So I am merging Pull #179 . @aneeshd16 @sudheesh001 please discuss about the wall. That issue can be solved as @sudheesh001 suggested.

[2015-06-14 06:11] #161 closed

[2015-06-14 06:15] fuksi commented on #162
@prasht63 why is this closed?

[2015-06-14 06:20] #178 closed

[2015-06-14 06:20] prasht63 commented on #162
Oh Sorry , I mistyped the issue #161 to #162 . My bad

[2015-06-14 07:36] fuksi commented on #68
Query with `/video` does return result with status, in which most does not contain video at all, but only photos, some article link
Try for example:
![image](https://cloud.githubusercontent.com/assets/6878677/8147678/f637a95e-1280-11e5-9abc-24ccdf91d490.png)
![image](https://cloud.githubusercontent.com/assets/6878677/8147680/0204debe-1281-11e5-98bf-17453bb47614.png)

@aneeshd16. @Orbiter would you

[2015-06-14 09:17] Orbiter opened #180 "Clean up code; remove unnecessary libraries"
This is a general requirement during development with low priority if you are not finished (code which is not needed at that time may be needed later) but it is a needed with high priority for the final version that only such libraries are inside the app which are necesary.

This is therefore a milestone 4 feature for all parts of the application

[2015-06-14 09:48] sudheesh001 commented on #158
@mariobehling Integrated these dates into the google loklak calendar so that there's no chance that someone might miss it.

[2015-06-14 09:50] Orbiter commented on #63
To provide a storage back-end for rich tweets the loklak_server now provides an 'asset' servlet.
Documentation is here: https://github.com/loklak/loklak_server/issues/42#issuecomment-111807139

[2015-06-14 09:59] Orbiter commented on #68
Its possible that video links are not recognized yet and therefore not searchable with constraints. I will have a look and fix it.

[2015-06-14 15:09] fuksi commented on #67
Done with https://github.com/loklak/loklak_webclient/pull/164 , commits on 12/4

[2015-06-14 15:48] sudheesh001 commented on #118
Fixed via #179

[2015-06-14 15:48] sudheesh001 commented on #119
Fixed via #179

[2015-06-14 15:51] sudheesh001 commented on #166
@prasht63 Please continue with the changes needed in the tweet box. #179 has been merged.

[2015-06-14 16:35] aneeshd16 commented on #143
Closed via #179

[2015-06-14 16:35] #143 closed

[2015-06-14 16:35] aneeshd16 commented on #165
Closed via #179

[2015-06-14 16:35] #165 closed

[2015-06-14 16:35] aneeshd16 commented on #149
Closed via #179

[2015-06-14 16:35] #149 closed

[2015-06-14 17:33] sudheesh001 commented on #142
I used https://www.npmjs.com/package/npm-check and ended up with this result.
[code]

[2015-06-14 18:14] Orbiter commented on #68
furthermore, loklak also recognizes youtube and vimeo links, attached to tweets. You must imlement a case selection where you distinguish native mp4 links and links to vimeo and youtube.

[2015-06-14 18:37] Orbiter commented on #119
This view is shown without user interaction when loklak.net is opened. This is not wanted. Log-in shall happen if the user clicks on log-in or if the user tries to access a function which needs log-in.

[2015-06-14 18:44] Orbiter commented on #118
The tweet button is not working in Firefox.
This is also not finished at all! Have a look to the original 'New Tweet' window:
![newtweet](https://cloud.githubusercontent.com/assets/238730/8149912/14095202-12d6-11e5-9f32-e1716d42127a.png)
- the window is floating
- you can add attachments (Pictures, for us also: also Loction, Text, Audio, Video)
Thats what is expected here!

[2015-06-14 18:48] Orbiter commented on #98
This is completely broken now, maybe after a style change! Why don't you see these effects yourself?
Please also add the view of movie attachments:
- the field 'videos' now contains an array of video content
- if the field 'videos' is filled, the field 'images' contain poster-Images for the videos
- the videos-Field may contain: mp4 video files, youtube links (youtube.com and youtu.be) and vimeo l

[2015-06-14 18:50] Orbiter commented on #67
I cannot see this function any more, the twitter search result view is broken

[2015-06-14 18:59] Orbiter commented on #138
Right now, no user account data is present in the loklak_server database which means that the /api/account.json servlet was never called. As long as we don't have account data of the user, this issue is not solved!

[2015-06-14 19:01] Orbiter commented on #160
At this time, all tweets are not only completely broken, also the date cannot be clicked any more!

[2015-06-14 19:01] Orbiter commented on #171
I don't have any account data in the database of loklak_server, so this cannot be solved!

[2015-06-14 19:08] Orbiter commented on #172
@sudheesh001 https://github.com/loklak/loklak_webclient/issues/172#issuecomment-111724203 yes the keys should not be available in the public. Therefore I made them accessible from localhost only. That means that these informations can only be read from the oauth_proxy and not from the client's browser. Is that an issue? That means that the settings are overwritten for the oauth_proxy only, which i

[2015-06-14 19:09] Orbiter commented on #172
@mariobehling if the loklak_server gets the user account details from the webclient, it can retrieve the other user details as well. But at this time we don't have this because loklak_webclient still does not access the /api/account.json servlet!

[2015-06-14 19:17] Orbiter commented on #134
I suggest to add different types of data step-by-step. I.e. first add geojson data. To do that, we can provide a 'submit' function in loklak where a user can simply paste an url with geojson content. This can then be submitted to the loklak_server backend which takes care of the import process.

Other types of content can be added later. Possible i.e.: geo-rss

The addressed identification of such

[2015-06-14 19:25] Orbiter commented on #122
I can follow your criticism, however I cannot see any other way to go unless we use the twitter api to retrieve the 'real' conversation. I will investigate a way to identify conversation details from the scraper and also to add a field for a conversation history. Maybe also a different query constraint or modifier is necessary.
Related issues in loklak_server: https://github.com/loklak/loklak_serv

[2015-06-14 19:28] Orbiter commented on #102
The account servlet can now be only accessed from localhost for security reason. Please check if this affects your architecture. Maybe this servlet must be retrieved through a proxy, i.e. the oauth_proxy (if applicable)

[2015-06-14 19:36] Orbiter commented on #96
the asset servlet is now present! We must now discuss how the cross-posting process shall happen.

[2015-06-14 19:38] Orbiter commented on #95
the server is now able to handle attachments for rich tweets using the /api/asset servlet
See example in https://github.com/loklak/loklak_server/issues/42 how to use that

[2015-06-14 19:39] Orbiter commented on #93
please start working on this!

[2015-06-14 21:23] fuksi commented on #68
Regardless of the filter, I'm using a debugging server (also a node process, is not yet included in the repo), which take the link and debug it. It can recognize videos from most of the page that support, except twitter native video. Good thing to know that loklak can recognizes server.Example of the debugging api.

http://gofullstack.me:8061/oembed?url=https://www.youtube.com/watch?v=cdG_T6ufcbE

[2015-06-14 22:12] Orbiter commented on #68
The feature is online http://loklak.org/api/search.json?timezoneOffset=-120&q=%2Fvideo

[2015-06-15 02:45] sudheesh001 commented on #118
@Orbiter The aim of this issue was to get the Tweet modal up, https://github.com/loklak/loklak_webclient/issues/166 focuses on the finer details like the photo attachments and locations. I've commented there too.

Since we're on a design change I don't really mind if this issue is left open.

[2015-06-15 04:45] aneeshd16 commented on #171
@Orbiter , my locally running loklak_server has data. Is there any way to clear/delete the existing data so that i can test if new data is being added?

[2015-06-15 04:46] aneeshd16 commented on #102
I'll edit the issue.

[2015-06-15 05:07] aneeshd16 commented on #138
Will be solved after #171

[2015-06-15 05:10] aneeshd16 commented on #142
I would not recommending updating packages as it can totally break our setup. We would need to update and test each package one by one to see if the setup still works.

[2015-06-15 05:45] sudheesh001 commented on #142
@aneeshd16 I would say, lets not update at all but lets focus on removing the ones `NOT USED`

[2015-06-15 05:50] sudheesh001 commented on #93
Moving to @prasht63 temporarily so that I can work on the new stable design.

[2015-06-15 05:54] sudheesh001 commented on #92
Moving to @prasht63 temporarily until complete design changes are made.

[2015-06-15 06:03] sudheesh001 opened #181 "Design changes"
The tracker issue for all the design changes that have to be made.

[2015-06-15 13:05] aneeshd16 commented on #142
Alright, but since this is not causing any issues/problems now, I would give this low priority. Let this issue remain open, we can do this later. How about changing the milestone for this?

[2015-06-15 13:08] aneeshd16 commented on #142
Related #180

[2015-06-15 13:26] Orbiter commented on #171
If there is any account data stored, that would show up in the file data/accounts/account*.txt - but currently that file is empty - on test.loklak.net

[2015-06-15 16:17] fuksi commented on #98
Fixed, along with adding video. #182

[2015-06-15 18:46] Orbiter commented on #171
retested this with latest deploy on test.loklak.net - works! great!

[2015-06-15 18:46] #171 closed

[2015-06-15 18:53] sudheesh001 commented on #138
#171 merged and checked, this is good to close.

[2015-06-15 18:53] #138 closed

[2015-06-15 19:16] fuksi commented on #67
It's fixed. The cause was from an unsolved conflict in some merge, in which break the css syntax, so style wasn't included at all!

[2015-06-15 19:16] #67 closed

[2015-06-15 19:16] #98 closed

[2015-06-15 19:42] fuksi commented on #59
I did a quick test and the result is that, for user of image request from twitter failed, requests to loklak server will fail too.

### Quick demonstration: here I have search listing accounts, so I'd know which to test.
http://gofullstack.me:3001/search?q=%23loklak%2B%2Faccounts&timezoneOffset=-180

#### Images those are unsuccessfully loaded from twitter, would deal with the same result from lok

[2015-06-15 20:51] fuksi commented on #170
@mariobehling, can you elaborate the map search features? Then I would understand the requirement, and compare it with the capability of loklak server, in order to design the feature. Of course I can elaborate on this myself, but I also want to know your opinion and expectation

For example:
- Is the result a list of statuses or a map? (I can't yet imagine how to implement a map here)
- Is the sea

[2015-06-16 05:45] fuksi commented on #160
Not all this time :) Just a merge conflict wasn't resolved, results in breaking the main.css:
dbda5a00cf8029fb6ef0440cfbe177a2d0973d07
Already fixed.

[2015-06-16 07:22] fuksi opened #183 "Implement locally debugging service."
I've been using a service on my host to debug link. Now is time to implement it locally. Service is just a simple node app with express. More about it here: https://iframely.com/

Example use service:
http://gofullstack.me:8061/oembed?url=https://www.youtube.com/watch?v=LuBOjdwqOtc

Service is currently used to debug link in `search` view, however, it is also expected to be used in other views inc

[2015-06-16 09:19] mariobehling commented on #170
We are considering different options for this feature. For the beginning just show a map here and show all tweets with location information on the map.

[2015-06-16 09:21] mariobehling commented on #170
Regarding the search criteria. A location can be a search criteria, but it does not have to be. If I search e.g. for loklak, just show all tweets - wherever they were posted - on the map.

[2015-06-16 10:42] fuksi commented on #170
@Orbiter, I see in the API there a way to request with the arg `near`, in what format should the parameter is? E.g. `near=Helsinki`?

In the result, I can't find a property that can be used to determine the coordinate of a status? Is the loklak server supporting any other properties soon?

[2015-06-16 11:12] Orbiter commented on #170
It's really easy:
- display always a map (with or without any results), by default with world-view, filling the complete window width below the search result type selection tab
- add the ```/location``` constraint to the search request (like you add ```/image```for images)
- the search result will contain only items with ```location_point```attributes
- draw markers on the map where the ```locatio

[2015-06-16 11:14] Orbiter commented on #170
- if the user changes the view on the map (i.e. zoom), add the ```bbox```constraint to the search query according to https://github.com/loklak/loklak_server/issues/47

[2015-06-16 11:17] Orbiter commented on #170
To get test data, follow instructions in https://github.com/loklak/loklak_server/issues/45

[2015-06-16 11:27] aneeshd16 commented on #59
@Orbiter , @fuksi this can be a possible solution: http://avatars.io/
In short, this service claims that they will always return the correct URL of the profile image.
Eg: http://avatars.io/twitter/aneeshd16?size=large leads to http://pbs.twimg.com/profile_images/610447150422560768/m777s_is_bigger.jpg
Simply remove '_bigger' in the URL to get the full size image.

[2015-06-16 12:32] aneeshd16 commented on #59
Additionally this page tells us why we are getting these errors:
https://dev.twitter.com/overview/general/user-profile-images-and-banners
Scroll down to `Outdated profile images`. The scraper stored the url of the user when it scraped the tweet. However we can easily get the newest profile url by using https://dev.twitter.com/rest/reference/get/users/show since we now also have auth tokens.

### P

[2015-06-16 12:37] sudheesh001 commented on #59
Great find @aneeshd16 But I think its better if the loklak_server does this than the client, that way we know that the server always has the updated images, Maybe it could be a cron service which runs regularly to make these updates. What do you think @fuksi @Orbiter @prasht63 ?

[2015-06-16 13:49] Orbiter commented on #59
a cronjob or similar is out of question. We already have over 8 million users in our database and there is no point checking them all the time.
What we can do: use the proposed update process in case that the /api/proxy is unable to retrieve the image. That would mean: no changes on your side.

[2015-06-16 16:42] mariobehling commented on #59
@aneeshd16 Yes, great find, but this app is in Beta and we probably have to pay later. I do not think it is magic to get avatars from Twitter and if that does not work from Gravatar. Supporting Gravatar should be a feature for the future anyways. Not sure, if that is high on the list right now. What we need is a working prototype to get users. So, the current approach seems sufficient.

[2015-06-16 16:43] mariobehling commented on #59
As the implementation here is ongoing, I do not understand why this issue is closed. I am reopening it and assign it to M2. If this issue is supposed to be closed, please explain why and create a new issue for a specific feature instead of continuing on a closed issue.

[2015-06-16 16:45] mariobehling commented on #59
Oh sorry. I think I got confused by the label "closed" at some point. I see that this issue is open, but it was not in M2 yet. Cheers.

[2015-06-16 18:18] sudheesh001 commented on #63
Personal tasks to do
- [ ] Fire up the blogs and link the blog to the personal website.
- [ ] Reach out to more developers and audience.
- [ ] Build a project presentation so that I can pitch for it in upcoming tech meetups nearby.

[2015-06-16 18:35] Orbiter commented on #59
The image will be provided by the loklak_server using @aneeshd16 idea to load the latest url from twitter directly. This requires that a twitter api library must be included in the loklak_server (shall be done anyway) to load that information. The issue is tracked with https://github.com/loklak/loklak_server/issues/51

While this is implemented, this feature is in hold-on state. If the proxy provi

[2015-06-16 18:47] mariobehling commented on #158
@fuksi and all, please leave a comment after you deployed the latest version every day. So we know when to test. Cheers!

[2015-06-16 18:48] Orbiter commented on #115
I just added the recognition of vine.co video links, please embed those videos as well.

[2015-06-16 18:49] Orbiter commented on #68
hint: vine.co links are now also recognized - to be embedded as well

[2015-06-16 18:53] mariobehling commented on #68
Wow! Now we are talking! This is cool.

[2015-06-16 19:24] fuksi commented on #158
2 successful deployment. One at midday at commits c4922153aa659d59f2477af8f23efdfc00eb062d, at just now at 01bd909d99353862d1fd003015f466cc26255263
It helps a lot if the responsible member of that day is informed about straight commits to master. Cheers!

[2015-06-16 19:27] fuksi commented on #115
No need to open this, all results without filters will be rendered automatically, doesn't matter what kind of links they have. Quick test on live: http://test.loklak.net/search?q=%23vine&timezoneOffset=-180

[2015-06-16 19:27] #115 closed

[2015-06-16 19:28] fuksi commented on #68
Noted.

[2015-06-17 04:59] aneeshd16 commented on #71
![image](https://cloud.githubusercontent.com/assets/5436027/8199930/35008258-14db-11e5-919b-d6b26a3f2d71.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8199934/39db3566-14db-11e5-91a0-ef5dd5dc1563.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8199939/3fe4bae0-14db-11e5-9bcb-8a036341f5b7.png)

Now you can open the wall configuration modal directly from the displ

[2015-06-17 05:00] aneeshd16 commented on #72
![image](https://cloud.githubusercontent.com/assets/5436027/8199954/6ea794ec-14db-11e5-9e77-f55891b844d9.png)
![image](https://cloud.githubusercontent.com/assets/5436027/8199956/749243e8-14db-11e5-976b-b6be58c95dae.png)
Added a full screen button that toggles full screen view.

The wall config modal can be directly opened from the display page: https://github.com/loklak/loklak_webclient/issues/71#

[2015-06-17 05:01] fuksi commented on #183
Iframely is an embeded API, just like the famous embed.ly, except it's open source and support just as many domains. Repo here: https://github.com/itteco/iframely

We have been using iframely for a while with a service running in my host and is hardcoded into our repo. [Example link](http://gofullstack.me:8061/oembed?url=https://www.youtube.com/watch?v=LuBOjdwqOtc). Now it is implemented on branch

[2015-06-17 05:41] aneeshd16 commented on #183
Good find, it will be awesome to embed all kinds of things.
`I can't solve the problem with node-gyp on Windows > 8.1 yet`
If you have visual studio 2013, just add `--msvs_version=2013` at the end of your `npm install` command.
` you have to be in the iframely folder to run the command`
try `node iframely/server`

Overall it looks good!

[2015-06-17 06:35] sudheesh001 commented on #183
Looks good. :+1:

[2015-06-17 08:34] fuksi opened #184 "Add docs for debugging service"
Related #183. Modify README.md accordingly

[2015-06-17 10:04] fuksi commented on #183
@aneeshd16, thank you for the msvs fix. It works! Will add it to docs soon.

[2015-06-17 10:19] fuksi commented on #183
About why running inside iframely folder. If we run server.js outside the folder. None of the plugin would be included. And of course the server will run, but the result won't be what we wanted

![image](https://cloud.githubusercontent.com/assets/6878677/8204699/20bf55ae-14f3-11e5-842a-d05c902bf11e.png)

The log should be like this for the service to work properly.

![image](https://cloud.githubus

[2015-06-17 12:18] Orbiter commented on #170
MUCH MORE test data now in the search index because automatic detection is now implemented

[2015-06-17 13:46] Orbiter commented on #170
@fuksi https://github.com/loklak/loklak_webclient/issues/170#issuecomment-112382684 the location is now in the field location_mark. There are two location fields: location_point (thats where the center of the position is) and location_mark (thats where the marker on the map shall be painted).
Both fields have  [longitude, latitude] assigned.

[2015-06-17 17:10] sudheesh001 commented on #158
Deployed at 4160756776aee794bf5b49251c2eb187b1cf7022
Screens running
- 27424.production
- 27331.iframely

[2015-06-18 06:13] fuksi commented on #183
Done with the merge above

[2015-06-18 06:13] #183 closed

[2015-06-18 06:13] fuksi commented on #184
Done.

[2015-06-18 06:13] #184 closed

[2015-06-18 06:17] Orbiter opened #189 "Live Tweet Text Validation (character count)"
When the user enters a new tweet, every key-down must cause that a javascript function is triggered to evaluate if the tweet is valid. A tweet must comply with twitters character counting rules as defined in https://dev.twitter.com/overview/api/counting-characters

According to https://dev.twitter.com/overview/t.co every link is 20 characters long.

The validation process must:
- identify all link

[2015-06-18 06:24] Orbiter opened #190 "Extended Live Tweet Text Validation - Text Ranking"
This is a follow-up to https://github.com/loklak/loklak_webclient/issues/189
At this time this is not a feature but a question. If the question is positively answered, this issue turns into a feature, to be implemented after https://github.com/loklak/loklak_webclient/issues/189

The tweet validation process shall call a api servlet at loklak_server which does extended validation of the tweet. This

[2015-06-18 10:43] aneeshd16 commented on #114
This is more or less the same as #158. Can we close this?

[2015-06-18 10:51] sudheesh001 commented on #172
Implemented with the merge after @prasht63 review.
@loklak/loklak_developers please make sure you make the change of the settings to the server so that there are no issues and the application doesn't break.

[2015-06-18 10:56] sudheesh001 commented on #114
@aneeshd16 We're sticking to the `screen` services to run forever rather than using pm2, makes the application have one less dependency.
As mentioned in https://github.com/loklak/loklak_webclient/issues/158#issuecomment-112879801 , the only thing we need to do is properly name our screen sessions. That'd make it easier for others to easily deploy.

I'll write a noob's intro to screen as a seperate

[2015-06-18 11:13] aneeshd16 commented on #114
@sudheesh001 , pm2 will automatically do two things:
1. Clustering. Automatically makes use of the multiple cores on the system
2. Automatic restarting of the app if it crashes.

I don't know if `screen` does that, but my experience with pm2 has been very positive.

[2015-06-18 12:44] Orbiter commented on #172
please read my comment at https://github.com/loklak/loklak_webclient/commit/92e614caa65a22e31440cdc9c6f49778c7c2fcb9#commitcomment-11745965 and reopen if this can be done. I think there was a misunderstanding.

[2015-06-18 13:27] Orbiter opened #193 "Search term shall be visible in search input box"
When a search is done, the search term shall be the default value in the search box when the search result is shown. Currently it is always empty. Displaying the editable search term in the search box is also the same behaviour in search.twitter.com.

[2015-06-18 14:09] Orbiter opened #194 "links in tweets of search results cannot be clicked"
links in tweets must be detected and rendered as clickable links in tweets. The link colour must be identical to the links for hashtags and the link text must be underlined.
When a link is clicked, the corresponding page shall open in a new tab (not replace the same page; i.e. with target="_blank")

[2015-06-18 14:11] Orbiter opened #195 "link hashtags in search results not to twitter; link them to loklak"
at this time a hashtag in loklak search results are enabled as links. That is good, but the link goes to twitter. Instead, the link shall go to loklak. (and search in loklak)

[2015-06-18 16:24] #89 closed

[2015-06-18 17:18] sudheesh001 commented on #155
@aneeshd16 Is this still related ? the /account used to be the place the tweet functionality used to work from, #92 reference solves that problem because now we don't need a specific route to tweet but rather the tweet functionality is present in everypage as its integrated with the lightbox modal that appears from top nav bar. If this is what is the required functionality, I believe this bug is g

[2015-06-18 18:06] aneeshd16 commented on #158
Deployed at https://github.com/loklak/loklak_webclient/commit/6f45107b460e506d3d8a884dfd48144db94ca05a
Screens running

27424.production
27331.iframely

[2015-06-18 18:26] #114 closed

[2015-06-18 18:29] aneeshd16 commented on #155
yep, this issue does not make sense now. Closing.

[2015-06-18 18:29] #155 closed

[2015-06-19 07:50] fuksi commented on #68
Done with merge #192

[2015-06-19 07:50] #68 closed

[2015-06-19 08:25] fuksi opened #198 "Add a separate settings file for social credentials. Add new documentation"
Remove `twitterConsumerSecrent` from `custom_configFile.json` (and of course from configFile.json), and move it to a new file, e.g. `custom_socialCreds.json`

`Gulp settings` should request from server `api/settings.json` to **UPDATE** the social credentials
- If fields are already there in  `custom_socialCreds.json`, update it with new value from the response result.
- If fields are new, append t

[2015-06-19 08:30] Orbiter commented on #198
This is a misunderstanding of https://github.com/loklak/loklak_webclient/commit/92e614caa65a22e31440cdc9c6f49778c7c2fcb9#commitcomment-11745965
There shall not be a separation of credentials and other settings, there shall only be the option that the server may be able to overload the given settings. Therefore this issue is void.
Please work on re-opened https://github.com/loklak/loklak_webclient/

[2015-06-19 08:30] #198 closed

[2015-06-19 08:32] Orbiter commented on #172
Don't trash the `custom_configFile.json` when overloading them with settings from loklak_server. The data received from the `/api/settings.json` shall just overload the values that the servlet provides, not all settings. You can i.e. do this by writing to `custom_configFile_server.json` instead `custom_configFile.json` and also load this during start-up.

[2015-06-19 10:36] mariobehling opened #199 "Compare and Research the Twitter js and css stack with the loklak stack"
Look at a normal page of twitter and have a look at the frontend stack. They are using:
analytics.js
boot.js
init.js
profile.js
timeline.js
twitter_core.css
twitter_more1.css
twitter_more2.css

What are the pros and cons of using some of them for loklak?

[2015-06-19 12:23] aneeshd16 commented on #199
analytics.js is google analytics. All the other js files are minified and cannot be used by us.

We cannot directly use those css files as they are too huge to inspect manually. However, we can see which UI elements on twitter use which classes, and then use those specific classes in our app.

[2015-06-19 12:40] sudheesh001 commented on #199
There'd be a small problem with the JS files because of two reasons
1. Its minified
2. It'll definitely have more twitter related stuff in it which we need to see and remove.

I am sure we can easily go with the CSS files, that's the on going work in #181

[2015-06-19 13:30] Orbiter opened #200 "iframely: imgur images are not displayed"
test http://test.loklak.net/search?q=imgur&timezoneOffset=-120
as far as I understood the iframely integration such links to imgur should be shown as in the result

[2015-06-19 15:43] #195 closed

[2015-06-19 15:47] mariobehling commented on #181
Ok, thanks for your comments in the other issue. Please let us know what is the progress. No comments in this issue make it look like there is nothing going on. We really need a better design.

[2015-06-19 15:50] mariobehling commented on #199
Ok, just take the parts that are needed, but try to stay with the same naming conventions and let us know, if you make other decisions. And: I am not saying we should copy the complete code. That would not make sense, but we can follow tech decisions e.g. should we use init.js or timeline.js for anything? We have some similar features to twitter and if twitter uses some technologies it means they

[2015-06-19 15:55] mariobehling commented on #199
@sudheesh001 I see 14 css files when i look at the wall creation page. Can you also look into cosolidating things? e.g. unite wall styles in loklak_wall.css or something?
![loklakcss](https://cloud.githubusercontent.com/assets/1583873/8257218/5068fcdc-16ac-11e5-8d9f-a938ed26ecfd.png)

[2015-06-19 15:57] aneeshd16 commented on #154
I believe this is solved. It now follows the same behavior as that of tweetwall.

[2015-06-19 15:59] aneeshd16 commented on #189
This is a nice package that could help us for this:
https://www.npmjs.com/package/twitter-text

[2015-06-19 18:53] #154 closed

[2015-06-20 06:07] fuksi commented on #193
Done with #201

[2015-06-20 06:07] #193 closed

[2015-06-20 06:09] fuksi commented on #170
Own note: Add new mark up from #202

[2015-06-20 10:37] mariobehling commented on #169
I have discussed this again with Michael as well. The Item in the navigation bar should stay with the name "Wall", but in the final design tab of the wall, we could change the name to "design & views" or just "views". @aneeshd16 Or do you have better suggestions?

[2015-06-20 12:40] aneeshd16 commented on #169
The third tab page contains these options:
* Choice of layouts
* Choice of header colour
* Choice of header position

"Design & views" sounds good, but maybe the text is too big? It would look like this:
![image](https://cloud.githubusercontent.com/assets/5436027/8267272/205d1ed0-1777-11e5-92b6-a9904cda4322.png)

How about "Preview"?
![image](https://cloud.githubusercontent.com/assets/5436027/8267

[2015-06-20 12:50] mariobehling commented on #169
Yeah! Preview is probably much better. Thank you!

[2015-06-20 14:31] mariobehling opened #205 "Implement Connect function for services, IoT and data sources and show them on the loklak map"
Goal of this project is to be able to display all kinds of data on a map and to tweet it. Some data should only show up in the private user account (e.g. locations of contacts, private calendars). Other data might also be displayed publicly e.g. Internet of Things (think of a weather station on people's balcony).

The map page should show followers/following and tweets of the user and his follower

[2015-06-20 15:14] mariobehling opened #206 "Implement a Data Source Interface and add the data from the FOSSASIA and Freifunk Api to loklak through the interface"
Here is an idea draft how data can be added through the interface.
![loklak-datasources-connect-services](https://cloud.githubusercontent.com/assets/1583873/8267842/8eb5f954-176f-11e5-8fa4-7c98fe2f9c9a.png)

This issue is related to https://github.com/loklak/loklak_webclient/issues/205